<venda_detblock>
<li id="nav<venda_pageref1>" class="nav-<venda_pageref1>"><a href="<venda_dispview page=<venda_pageref1>>"><venda_pagename1></a></li>
</venda_detblock>
<div class="box helpNavigation">
    <div class="box-header"><h4><venda_text id=desktop.heading.questions></h4></div>
    <ul id="helpNavigation" class="box-body">
        <venda_detail>
    </ul>
</div>

<script type="text/javascript">
    $(function() {
        if($(".crumbtrail .prod-name").length > 0){
            var ref = document.location.toString();
            ref = ref.substr(ref.lastIndexOf("/") + 1);
            $("#nav"+ref+"").addClass("highlight")
        }
    });
</script>