<div class="helpNavigation box js-orderhistory">
    <div class="box-header"><h4><venda_text id=desktop.heading.order_history></h4></div>
    <div class="box-body">
        <ul>
            <li class="js-vieworderhistory"><a href="<venda_codehttps>?ex=co_wizr-myaccount&log=22&step=orderhistory"><venda_text id=desktop.button.view_order_history></a></li>
        </ul>
    </div>
</div>

<div class="helpNavigation box js-accountdetails">
    <div class="box-header"><h4><venda_text id=desktop.heading.account_details></h4></div>
    <div class="box-body">
        <ul>
            <li class="js-emailpwd"><a href="<venda_codehttps>?ex=tl_user-myform&layout=myaccount&htxt=<venda_htxt mode=make,pass=change>"><venda_text id=desktop.button.edit_email_password></a></li>
            <li class="js-billingadd"><a href="<venda_codehttps>?ex=tl_user-myform&layout=myaccount&htxt=<venda_htxt mode=make,addr=change>"><venda_text id=desktop.button.edit_billing_details></a></li>
            <venda_tpcomment><!--li class="js-profile"><a href="<venda_codehttps>?ex=tl_user-myform&layout=myaccount&param1=profile"><venda_text id=desktop.button.edit_profile></a></li--></venda_tpcomment>
            <li class="js-comms hide"><a href="<venda_codehttps>?ex=tl_user-myform&layout=myaccount&htxt=<venda_htxt mode=make,comm=change>"><venda_text id=desktop.button.edit_communication_options></a></li>
            <li class="js-storecredit hide"><a href="<venda_codehttps>?ex=tl_user-myform&layout=myaccount&param1=storecredit"><venda_text id=desktop.button.view_remaining_store_credit></a></li>
            <li class="js-addbook"><a href="<venda_codehttps>?ex=co_wizr-myaccount&log=22&step=addressbook"><venda_text id=desktop.button.view_address_book></a></li>
        </ul>
    </div>
</div>