<venda_block label=45,invtpublish=1>
<li>
	<div>
	<a href="<venda_dispview invt=<venda_invtref>>"><venda_invtname></a>
	</div>
	<div id="tab<venda_invtref>_tooltip" class="js-rviTooltip" style="display:none"><a href="<venda_dispview invt=<venda_invtref>>">
		<venda_block label=11,med-xsmall=notnull><venda_media rec=invt,type=pict,key=xsmall></venda_block label=11>
		<venda_block label=12,med-xsmall=null>
		<img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/no_image_xsmall.gif" alt="<venda_text id=desktop.info.no_product_image_productlist>">
		</venda_block label=12></a>
	</div>
</li>
</venda_block label=45>