<venda_block label=814,mode=value,<venda_setting type=ebiz,name=tracktagcoremetrics>=1>
// set var for coremetrics                          
stepName="<venda_curstep>";

names=new Array("custId", "custEmail", "custCity", "custState", "custZip", "custCntry");
values=new Array(userEmail, userEmail, "<venda_sescity>", "<venda_sesstate>", "<venda_seszipc>", emailStep,emailFlag);
cmCreateRegistrationTag(values[0], values[1], values[2], values[3], values[4], values[5]);
<!-- cmCreateEmailRegistrationTag -->
</venda_block label=814>
