
<div id="box-basket" class="js-toggle-basket hide-for-small box box-basket" style=" visibility: hidden;">
    <div>
    <h3 class="box-header text-center"><venda_text id=desktop.heading.item_your_order></h3>
    <div class="minicartDetailWrapper-checkout">
        <div class="box-body minicart-inner">
            <div id="minicart-header" class="minicart-header">
                <div class="scroll buttonUp"><i class="icon-up-marker"></i></div>
            </div>

            <venda_block label=52,mode=value,<venda_shopcart mode=getqty>!=0>
                <div id="basketWrapper" class="basketWrapper">
                    <div id="basketHolder" class="basketholder large-24 columns"><venda_order shopcart=1,template=minicart_detail_checkout></div>
                </div>
            </venda_block label=52>

            <venda_block label=53,mode=value,<venda_shopcart mode=getqty>=0>
                <div class="small-24 columns">
                    <span id="minicart_empty" class="minicart_empty"><venda_text id=desktop.info.shopping_cart_empty></span>
                </div>
            </venda_block label=53>

            <div id="minicart-footer" class="minicart-footer">
                <div class="scroll buttonDown"><i class="icon-down-marker icon-large"></i></div>
                <venda_minicart template=minicartItemsTotal>
                <venda_block label=101,workflow!=instore>
                <div class="text-right minicart-buttons"><a class="button small secondary" href="<venda_codehttp>?ex=co_wizr-shopcart&log=22"><venda_text id=desktop.button.view_shopping_cart></a></div>
                </venda_block label=101>
            </div>
        </div>
    </div>
</div>
</div>