<div id="orderreceipt" class="<venda_workflow> <venda_curstep> pad-side">
	<div class="main-header marg-bottom">
		<h1 class="nomarg"><venda_text id=desktop.heading.order_receipt></h1>
	</div>
	<venda_block label=1,errors=notnull><h2 class="alert-box alert radius" data-alert=""><venda_errors></h2></venda_block label=1>
	<div class="row">
	<div class="large-12 columns marg-bottom">
		<p><venda_text id=desktop.info.order_receipt_thankyou> <venda_text id=desktop.info.order_receipt_confirmation_email></p>
		<p><venda_text id=desktop.info.order_receipt_order_number> <strong class="js-ohordnum"><venda_ohordnum></strong></p>
	</div>
	<div class="large-12 columns text-right hide-for-small marg-bottom"><a href="#" onclick="window.print();return false;" class="button secondary"><venda_text id=desktop.button.print_this_page></a></div>
	</div>
	<venda_tpcomment><!-- Start: Package Summary --></venda_tpcomment>
		<venda_detblock1>
		<div class="row js-productItem js-pkindex-<venda_pkindex>">
			<div class="large-12 columns box-right">
				<venda_block label=46,pkshipreq!=1><venda_tpcomment><!-- No condition available for digital downloads so JS is required to display this text --></venda_tpcomment>
				 <div class="panel"><p class="js-giftcertText"><venda_text id=desktop.info.order_details_services_and_gift_certificates></p>
				 <p class="js-downloadText" style="display:none"><venda_text id=desktop.info.digital_product></p></div>
				  </venda_block label=46>
				<venda_block label=47,pkshipreq=1>
					<!-- start delivery address -->
					<div class="box box-checkout">
						<div class="box-header">
						<venda_block label=601,mode=value,<venda_pkcompany>!=c/o <venda_setting type=ebiz,name=name>><h4><venda_text id=desktop.heading.delivery_address></h4></venda_block label=601>
						<venda_block label=602,mode=value,<venda_pkcompany>=c/o <venda_setting type=ebiz,name=name>><h4><venda_text id=desktop.heading.deliver_to_store></h4></venda_block label=602>
						</div>

						<div class="box-body">
							<p class="vcard js-column">
								<venda_block label=displayNormalAddress,mode=value,<venda_pksmref0>!=storefree>
								<span class="fn"><venda_block label=181,pktitle=notnull><venda_block label=pktitle_miss,pktitle=Miss><venda_text id=desktop.form.title.miss></venda_block label=pktitle_miss><venda_block label=pktitle_mrs,pktitle=Mrs><venda_text id=desktop.form.title.mrs></venda_block label=pktitle_mrs><venda_block label=pktitle_mr,pktitle=Mr><venda_text id=desktop.form.title.mr></venda_block label=pktitle_mr><venda_block label=pktitle_ms,pktitle=Ms><venda_text id=desktop.form.title.ms></venda_block label=pktitle_ms> </venda_block label=181><venda_pkfname><venda_block label=77,pkmname=notnull> <venda_pkmname></venda_block label=77> <venda_pklname></span><br>
								<venda_block label=71,pkcompany=notnull><span class="org"><venda_pkcompany></span><br></venda_block label=71>
								<span class="adr">
									<span class="street-address"><venda_block label=182,pknum=notnull><venda_pknum> </venda_block label=182><venda_block label=183,pkaddr1=notnull><venda_pkaddr1><br></venda_block label=183>
									<venda_block label=72,pkaddr2=notnull><venda_pkaddr2><br></venda_block label=72></span>

									<!-- if country is US or US entities display this formatting -->
									<venda_block label=999,mode=value,<venda_pkcntry>=United States,<venda_pkcntry>=United States Non-48,<venda_pkcntry>=United States Armed Forces,operator=or>
									<venda_block label=184,pkcity=notnull><span class="locality"><venda_pkcity></span>, </venda_block label=184>
									<venda_block label=185,pkstate=notnull><span class="region"><venda_pkstate></span> </venda_block label=185><span class="postal-code"><venda_pkzipc></span><br>
									</venda_block label=999>

									<!-- if country is NOT US or US entities display this formatting -->
									<venda_block label=9991,mode=value,<venda_pkcntry>!=United States,<venda_pkcntry>!=United States Non-48,<venda_pkcntry>!=United States Armed Forces,operator=and>
									<venda_block label=184,pkcity=notnull><span class="locality"><venda_pkcity></span><br></venda_block label=184>
									<venda_block label=185,pkstate=notnull><span class="region"><venda_pkstate></span> </venda_block label=185><span class="postal-code"><venda_pkzipc></span><venda_block label=1234,pkstate=notnull,pkzipc=notnull,operator=or><br></venda_block label=1234>
									</venda_block label=9991>

									<venda_block label=56,pkcntry=notnull><span class="country-name"><venda_pkcntry></span></venda_block label=56>
								</span>
								<venda_block label=43,pkarea=notnull,pkphone=notnull,operator=or><br><span class="tel"><venda_block label=100,mode=value,<venda_setting type=ebiz,name=hidearea>!=1><venda_block label=11,pkarea=notnull><venda_pkarea>&nbsp;</venda_block label=11></venda_block label=100><venda_block label=12,pkphone=notnull><venda_pkphone></venda_block label=12></span></venda_block label=43>
								</venda_block label=displayNormalAddress>
								<venda_block label=displayStoreAddress,mode=value,<venda_pksmref0>=storefree>
								<venda_extflds exfldtype=order,ref=<venda_ohrfnbr>,template=orxtDisplayCustInfo,type=exfields/order,group=14,displayonly=1><venda_extflds exfldtype=order,ref=<venda_ohrfnbr>,template=orxtDisplayStoreDelivery,type=exfields/order,group=15,displayonly=1>
								</venda_block label=displayStoreAddress>
							</p>
						</div>
					</div>
					<!-- end delivery address -->
				</venda_block label=47>
			</div>
			    <venda_tpcomment><!-- Start: Contact Details --></venda_tpcomment>
			    <venda_tpcomment><!-- Remove the contact details box if the payment type is PayPal --></venda_tpcomment>
			    <venda_block label=notpaypal,ohpaytype!=12>
			    <div id="contactdetails" class="large-12 columns box-left">
			    	<div class="box box-checkout marg-bottom">
			            <div class="box-header">
			            	<h4><venda_text id=desktop.heading.billing_address></h4>
			            </div>
			            <div class="box-body">
					<p class="vcard js-column">
						<span class="fn"><venda_block label=ohtitle_miss,mode=value,<venda_ohtitle>=Miss><venda_text id=desktop.form.title.miss></venda_block label=ohtitle_miss><venda_block label=ohtitle_mrs,mode=value,<venda_ohtitle>=Mrs><venda_text id=desktop.form.title.mrs></venda_block label=ohtitle_mrs><venda_block label=ohtitle_mr,mode=value,<venda_ohtitle>=Mr><venda_text id=desktop.form.title.mr></venda_block label=ohtitle_mr><venda_block label=ohtitle_ms,mode=value,<venda_ohtitle>=Ms><venda_text id=desktop.form.title.ms></venda_block label=ohtitle_ms> <venda_ohfname><venda_block label=77,mode=value,<venda_ohmname>=notnull> <venda_ohmname></venda_block label=77> <venda_ohlname></span><br>
						<venda_block label=76,mode=value,<venda_ohcompany>=notnull><span class="org"><venda_ohcompany></span><br></venda_block label=76>
						<span class="street-address">
							<span><venda_block label=71,mode=value,<venda_ohnum>=notnull><venda_ohnum> </venda_block label=71><venda_ohaddr1><br>
							<venda_block label=74,mode=value,<venda_ohaddr2>=notnull><venda_ohaddr2><br></venda_block label=74></span>

							<!-- if country is US or US entities display this formatting -->
							<venda_block label=999,mode=value,<venda_ohcntry>=United States,<venda_ohcntry>=United States Non-48,<venda_ohcntry>=United States Armed Forces,operator=or>
							<span class="locality"><venda_ohcity></span>, <venda_block label=75,mode=value,<venda_ohstate>=notnull><span class="region"><venda_ohstate></span></venda_block label=75> <span class="postal-code"><venda_ohzipc></span><br>
							</venda_block label=999>

							<!-- if country is NOT US or US entities display this formatting -->
							<venda_block label=9991,mode=value,<venda_ohcntry>!=United States,<venda_ohcntry>!=United States Non-48,<venda_ohcntry>!=United States Armed Forces,operator=and>
							<span class="locality"><venda_ohcity></span><br>
							<venda_block label=751,mode=value,<venda_ohstate>=notnull><span class="region"><venda_ohstate></span></venda_block label=751> <span class="postal-code"><venda_ohzipc></span><venda_block label=1234,mode=value,<venda_ohstate>=notnull,<venda_ohzipc>=notnull,operator=or><br></venda_block label=1234>
							</venda_block label=9991>

							<span class="country-name"><venda_ohcntry></span>
						</span>
						<span id="contactDetails-usemail" class="email"><noscript><venda_usemail></noscript></span>
						<venda_block label=43,oharea=notnull,ohphone=notnull,operator=or><br><span class="tel"><venda_block label=100,mode=value,<venda_setting type=ebiz,name=hidearea>!=1><venda_block label=11,oharea=notnull><venda_oharea>&nbsp;</venda_block label=11></venda_block label=100><venda_block label=12,ohphone=notnull><venda_ohphone></venda_block label=12></span></venda_block label=43>
					</p>

				    	</div>
				    </div>
				</div>
			    </venda_block label=notpaypal>
			    <venda_tpcomment><!-- End: Contact Details --></venda_tpcomment>
	            </div><!-- end row-->
		<div>
			<venda_block label=470,pkshipreq=1>
			<venda_detblock3>
				<div class="order-receipt-<venda_shipmethod> thickmarg-bottom">
					<span><strong><venda_shipname></strong></span><br>
					<span><venda_page page=<venda_shipmethod>></span>
				</div>
			</venda_detblock3>
			<div class="box box-checkout marg-top">
				<div class="box-header">
					<h4><venda_text id=desktop.heading.delivery_options></h4>
				</div>
				<div class="box-body js-deliveryoptions">
					<venda_detail3>
					<a title="<venda_text id=desktop.info.more_info_title>" target="_blank" class="marg-top js-doDialog" href="<venda_dispview page=deliveryinfo>" data-size="medium"><venda_text id=desktop.button.more_info_delivery></a>
				</div>
			</div>
			</venda_block label=470>
		</div>

	<div class="box box-checkout <venda_block pkshipreq!=1> order-noship</venda_block>">
            <div class="box-header">
            	<h4><venda_text id=desktop.info.item_your_order></h4>
            </div>
            <div class="box-body<venda_block label=472,pkshipreq!=1> order-noship</venda_block label=472>">
		<table cellpadding="0" cellspacing="0" summary="<venda_text id=desktop.info.items_table_summary>" title="<venda_text id=desktop.info.items_table_title>" class="small-24 table-checkout text-left">
		<thead>
			<tr>
				<th scope="col" class="pad-topbottom show-for-small" colspan="2">
	        <span><venda_text id=desktop.info.item_description></span>
	      </th>
	      <th scope="col" class="pad-topbottom hide-for-small">
					<span><venda_text id=desktop.info.item_description></span>
				</th>
				<th scope="col" class="nopad hide-for-small">
					<div class="row nomarg">
						<div class="large-7 columns th-prod-name hide-for-small"><span>name</span></div>
						<div class="large-6 columns hide-for-small text-right nopad js-rrp"><span><venda_text id=desktop.info.price_msrp></span></div>
						<div class="large-6 columns hide-for-small text-right"><span><venda_text id=desktop.info.price_each></span></div>
						<div class="large-5 columns hide-for-small text-center"><span><venda_text id=desktop.info.qty></span></div>
					</div>
				</th>
				<th scope="col" class="text-right nopad" width="85">
					<span><venda_text id=desktop.info.total_price></span>
				</th>
			</tr>
		</thead>
		<tbody>
				<script type="text/javascript">
				var vbmParentTrack = "";
				var vbmParentPrices = "";
				var vbmParentQty = "";
			</script>
	<venda_detblock2><venda_tpcomment><!-- start: Product Information (detblock2) --></venda_tpcomment>
		<script type="text/javascript">
				for(var i=0;i<<venda_oiqty>;i++) {
					vbmParentTrack += "<venda_block label=606,invtparef!=null><venda_invtparef></venda_block label=606><venda_block label=607,invtparef=null><venda_invtref></venda_block label=607>,";	}
				for(var i=0;i<<venda_oiqty>;i++) {
					vbmParentPrices += "<venda_oisub>,";
					vbmParentQty += "<venda_oiqty>,"; }
			</script>
		<tr class="prod<venda_block label=433,invtivtype=download> js-downloadProduct</venda_block label=433>">
			<venda_tpcomment><!-- normal product image --></venda_tpcomment>
                    <venda_block label=21,med-setsmall=notnull>
                        <venda_block label=22,mode=value,<venda_media rec=invt,type=pict,key=setsmall,img=no,medatr=yes>=notnull>
                            <venda_tpcomment><!--if 'set' prefix with att association value--></venda_tpcomment>
                            <td class="prod-image"><venda_media rec=invt,type=pict,key=setsmall,medatr=yes></td>
                        </venda_block label=22>
                        <venda_block label=23,mode=value,<venda_media rec=invt,type=pict,key=setsmall,img=no,medatr=yes>=null>
                            <venda_block label=231,med-small=notnull>
                                <venda_tpcomment><!--use key=small--></venda_tpcomment>
                            <td class="prod-image"> <venda_media rec=invt,type=pict,key=small></td>
                            </venda_block label=231>
                            <venda_block label=232,med-small=null>
                                <venda_tpcomment><!--use noimage graphic if 'small' is null--></venda_tpcomment>
                                <td class="prod-image"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/no_image_small.gif" alt="<venda_text id=desktop.info.no_product_image>"></td>
                            </venda_block label=232>
                        </venda_block label=23>
                    </venda_block label=21>
					<venda_block label=24,med-setsmall=null>
						<venda_tpcomment><!--if not 'set' prefix - no alt. images functionality--></venda_tpcomment>
						<venda_block label=25,med-small=notnull>
							<venda_tpcomment><!--use key=small--></venda_tpcomment>
							<td class="prod-image"><venda_media rec=invt,type=pict,key=small></td>
						</venda_block label=25>
						<venda_block label=26,med-small=null>
							<venda_tpcomment><!--use noimage graphic if 'small' is null--></venda_tpcomment>
							<td class="prod-image"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/no_image_small.gif" alt="<venda_text id=desktop.info.no_product_image>"></td>
						</venda_block label=26>
					</venda_block label=24>

		<td class="prod-details text-left">
		        	<div class="row nomarg">

		            <div class="large-7 columns nopad">
		            	<h2 class="prod-name"><venda_oiivname></h2>
				<venda_block label=152,oiship=1>
					<venda_block mode=value,label=121,<venda_extflds exfldtype=orderitem,group=0,template=oixtDownload,type=exfields/orderItem,ref=<venda_invtref>,displayonly=1>&lt;2,<venda_extflds exfldtype=orderitem,group=0,template=oixtDownload,type=exfields/orderItem,ref=<venda_invtref>,displayonly=1>&gt;0>
						<a class="button small" href="<venda_codehttps>?ex=co_wizr-downloadasset&oirfnbr=<venda_oirfnbr>&invtref=<venda_invtref>&step=downloadasset&curstep=downloadasset&mode=process" target="_blank"><venda_text id=site.downloadasset.download_now></a>
					</venda_block label=121>
					<venda_block mode=value,label=1522,<venda_extflds exfldtype=orderitem,group=0,template=oixtDownload,type=exfields/orderItem,ref=<venda_invtref>,displayonly=1>&gt;1>
						<a class="downloadLink button small js-doDialog" href="<venda_codehttps>?ex=co_wizr-downloadasset&oirfnbr=<venda_oirfnbr>&invtref=<venda_invtref>&step=downloadasset&curstep=downloadasset" data-size="medium"><venda_text id=site.downloadasset.view_downloads></a>
					</venda_block label=1522>
				</venda_block label=152>
		                    	<div class="small-24 large-12 left">
		                        	<venda_block label=sku,oiitype!=3><p class="prod-sku"><small><venda_text id=desktop.info.sku>: <venda_invtref></small></p></venda_block label=sku>
		                    	</div>

	                    		<venda_block label=45,oiitype=3>
					<div class="small-24 large-24 left">
		                    		<p>
						<venda_text id=desktop.info.giftcert_sent_to>

						<venda_block label=880,gcexpires=notnull><br>
						<venda_text id=desktop.info.expiry_date>: <venda_block label=88,mode=value,<venda_setting type=ebiz,name=mmdddates>!=1><venda_gcexpires></venda_block label=88><venda_block label=89,mode=value,<venda_setting type=ebiz,name=mmdddates>=1><venda_dateformat type=digit,format=mm/dd/yyyy,suffix=0,date=<venda_gcexpires>></venda_block label=89>
						</venda_block label=880>

					<br>
						<venda_text id=desktop.info.message>: <venda_oicmt>
						<!-- <br>From: <strong><venda_gcfrom></strong> -->
					</p>
				</div>
				</venda_block label=45>

		                    	<venda_block label=52,oiitype!=3>
			                    	<venda_block label=111,invtatt1=notnull,invtatt2=notnull,invtatt2=notnull,invtatt4=notnull,operator=or>
							<div class="prod-options small-24 large-12 left marg-bottom">
								<venda_block label=456,invtatt1=notnull><div><venda_invtatrlbl1>: <venda_invtatt1></div></venda_block label=456>
								<venda_block label=457,invtatt2=notnull><div><venda_invtatrlbl2>: <venda_invtatt2></div></venda_block label=457>
								<venda_block label=458,invtatt3=notnull><div><venda_invtatrlbl3>: <venda_invtatt3></div></venda_block label=458>
								<venda_block label=459,invtatt4=notnull><div><venda_invtatrlbl4>: <venda_invtatt4></div></venda_block label=459>
							</div>
					</venda_block label=111>
					<venda_block label=221,oigwrefqty=notnull>
						<div class="small-24 large-24 left">
							<venda_tpcomment><!-- Start: Gift wrapping --></venda_tpcomment>
							<hr />
							<p>
								<venda_block label=42,oiqty!=1><venda_text id=desktop.info.giftwrapping_items_wrapped> </venda_block label=42>
								<venda_block label=43,oiqty=1><venda_text id=desktop.info.giftwrapping_items_wrapped> </venda_block label=43>
							</p>
							<p><venda_inventory ref=<venda_oigwref>,temp=productName></p>
							<venda_block label=456,oicmtmsgqty=notnull>
								<span><venda_text id=desktop.info.message>:</span> <span><venda_oicmt></span>
							</venda_block label=456>
							<venda_tpcomment><!-- End: Gift wrapping --></venda_tpcomment>
						</div>
					</venda_block label=221>
					<venda_block label=225,invtpreorder=notnull>
						<div class="small-24 large-24 left pad-top">
							<p><venda_text id=desktop.info.att_preorder> <venda_block label=88,mode=value,<venda_setting type=ebiz,name=mmdddates>!=1><venda_invtreleasedy>/<venda_invtreleasemn>/<venda_invtreleaseyr></venda_block label=88><venda_block label=89,mode=value,<venda_setting type=ebiz,name=mmdddates>=1><venda_invtreleasemn>/<venda_invtreleasedy>/<venda_invtreleaseyr></venda_block label=89></p>
						</div>
					</venda_block label=225>
				</venda_block label=52>
		            </div>
		            <div class="large-6 columns js-prod-rrp nopad">
	 			<venda_block label=174,mode=value,<venda_invtmsrp>=notnull,<venda_invtmsrp>!=<venda_invtsell>,<venda_oiitype>!=3> <span class="product-pricewas"><venda_currsym><venda_invtmsrp1></span>
		                	<br><span class="js-product-pricesaving save" data-currsym="<venda_currsym>" data-rrp="<venda_invtmsrp>" data-price="<venda_invtsavingonmsrp>" data-percent="<venda_invtsavingonmsrppercent>">Save <venda_currsym><venda_invtsavingonmsrp> (<venda_invtsavingonmsrppercent>%)</span></venda_block label=174>
		                	<venda_block label=175,mode=value,<venda_invtmsrp>=null,<venda_invtmsrp>=<venda_invtsell>,<venda_oiitype>=3,operator=or>&nbsp;</venda_block label=175>
		            </div>
		            <div class="large-6 columns hide-for-small text-right">
		            	<span><venda_ohcursym><venda_oisub></span>
		            </div>
		            <div class="large-5 columns prod-quantity nopad">
		                <span class="show-for-small marg-top"><venda_text id=desktop.info.small.qty>: <venda_oiqty></span>
		                <span class="hide-for-small"><venda_oiqty></span>
		            </div>

		</div><!-- end row-->
		</td>
		<td class="prod-total text-right"><venda_ohcursym><venda_oiextsub></td>
		</tr>
		<venda_tpcomment><!-- End: detblock2 - Product Information --></venda_tpcomment>
		<venda_inctemplate name=cmCreateShopAction9Tag,type=tracking/coremetrics>
		</venda_detblock2>

		<venda_detail2>
		</tbody>
		</table>
		</div>
		</div>
		</venda_detblock1>

	    <venda_detail1>
		<venda_tpcomment><!-- End: Package Summary --></venda_tpcomment>

		<venda_tpcomment><!-- Start: Order Summary --></venda_tpcomment>
	<div id="ordersummary" class="box box-checkout">
	    	<div class="box-header"><h4><venda_text id=desktop.heading.order_totals></h4></div>
	    	<div class="box-body nopad">
         			<div class="pad">
			<table class="small-24 text-left table-checkout table-summary" summary="<venda_text id=desktop.info.order_totals_summary>" title="<venda_text id=desktop.info.order_totals_title>">
				<tr>
					<td scope="row" class="text-left"><venda_text id=desktop.info.subtotal></td>
					<td class="text-right form-value"><venda_ohcursym><venda_ohsub></td>
				</tr>
				<tr>
					<td scope="row" class="text-left"><venda_text id=desktop.info.delivery_cost></td>
					<td class="text-right form-value"><venda_ohcursym><venda_ohship></td>
				</tr>
				<venda_block label=64,showdiscount=1>
				<!-- start discount -->
				<tr>
					<td scope="row" class="text-left"><venda_text id=desktop.info.discount></td>
					<td class="text-right form-value">-<venda_ohcursym><venda_ohdisc></td>
				</tr>
				<!-- end discount -->
				</venda_block label=64>
				<venda_block label=91,ohtax!=0.00,ohtax=notnull>
				<tr>
					<td scope="row" class="text-left"><venda_text id=desktop.info.estimated_tax></td>
					<td class="text-right form-value"><venda_ohcursym><venda_ohtax></td>
				</tr>
				</venda_block label=91>
				<venda_block label=68,ohgwtot&gt;0>
					<tr>
						<td scope="row" class="text-left"><venda_text id=desktop.info.giftwrapping></td>
						<td class="text-right form-value"><venda_ohcursym><venda_ohgwtot></td>
					</tr>
				</venda_block label=68>
				<venda_taxbreakdown ohrfnbr=<venda_ohrfnbr>,template=shipTaxBreakDown>
				<venda_block label=66,enablefreeorder=1>
						<venda_block label=661,ohbal=0.00>
						<input type="hidden" name="ohpaytype" value="8">
							<tr>
								<td scope="row" class="text-left"><venda_text id=desktop.info.free_order></td>
							</tr>
						</venda_block label=661>
				</venda_block label=66>
			</table>
		         	</div>
		         	<div>
			<table class="small-24 text-left table-checkout table-summary nomarg" summary="<venda_text id=desktop.info.order_totals_summary>" title="<venda_text id=desktop.info.order_totals_title>">
				<tr class="ordertotal">
					<th scope="row" class="text-left"><venda_text id=desktop.info.order_total><venda_block label=191,ohtaxinc!=0.00,ohtaxinc=notnull><span> <venda_text id=desktop.info.including_vat></span></venda_block label=191></th>
					<td class="text-right"><strong><venda_ohcursym><venda_ohtot></strong></td>
				</tr>
			</table>
         			</div>
			<venda_block label=65,showaccount=1,storecreditused&gt;0.00,creditused&gt;0.00,operator=or>
				<venda_block label=82,enablestorecredit=1,creditused&gt;0.00,operator=or>
				<div class="pad">
				<table class="small-24 text-left table-checkout table-summary" summary="<venda_text id=desktop.info.order_totals_summary>" title="<venda_text id=desktop.info.order_totals_title>">
					<venda_block label=80,showpayments=null>
						<input type="hidden" name="ohpaytype" value="4">
					</venda_block label=80>
					<input type="hidden" name="usestorecredit" value="1">
					<venda_block label=70,creditused&gt;0.00>
						<tr>
							<td scope="row" class="text-left"><venda_text id=desktop.info.store_credit_used><venda_block label=41,storecredit&gt;0.00> <span class="credit-avail-remain">(<venda_text id=desktop.info.store_credit_remaining> <venda_ohcursym><venda_storecredit>)</span></venda_block label=41></td>
							<td class="text-right form-value"><venda_ohcursym><venda_creditused></td>
						</tr>
					</venda_block label=70>
					<venda_block label=171,ohpaytype!=12>
					<venda_tpcomment><!--
					Have to hide this from view when paytype=PayPal because ohbal incorrectly translates to 0.00
					See https://support.venda.com/browse/SHOW-325 and remove comment 171 when Dev fixes issue
					--></venda_tpcomment>
					<tr>
						<td scope="row" class="text-left"><div><venda_text id=desktop.info.store_credit_balance_paid></td>
						<td class="text-right form-value"><strong><venda_ohcursym><venda_ohbal></strong></td>
					</tr>
					</venda_block label=171>
				</table>
     				</div>
				</venda_block label=82>
			</venda_block label=65>

		 </div>

	    </div>

		<venda_tpcomment><!-- End: Order Summary --></venda_tpcomment>

		<venda_tpcomment><!-- Start: Promotions --></venda_tpcomment>
		    <!-- detblock9/detail9 needed here -->
		<venda_tpcomment><!-- End: Promotions --></venda_tpcomment>

		<div id="paymentdetailSection" class="box box-checkout paymentdetailSection">
		    <venda_tpcomment><!-- 255b and c expand or not the Payment Options Display depending whether the payment is Paypal (ohpaytype=12) or not --></venda_tpcomment>

	        		<div class="box-header"><h4><venda_text id=desktop.heading.payment_details></h4></div>
			<div class="box-body">
			        	<venda_tpcomment><!-- Start: Payment Details --></venda_tpcomment>
			        	<div id="paymentdetails" class="js-payment-details">
			        	<venda_paymenttypes templatetype=paytype/frontend,template=paymenttypes_display,ohrfnbr=<venda_ohrfnbr>>
			        	<venda_tpcomment><!-- VPS should ideally use this tag (with correct "templatetype" location), but the below is backward-compatible in case VPS disabled:
						venda_paymenttypes templatetype=paytype/frontend,template=paymenttypes_display,ohrfnbr=<venda_ohrfnbr> --></venda_tpcomment>
				</div>
			        	<venda_tpcomment><!-- End: Payment Details --></venda_tpcomment>
		 	</div>

		</div>

    <div id="buttons">
		<a class="button success right thickmarg-bottom" href="<venda_dispview page=home>"><venda_text id=desktop.button.return_shop></a>
		<venda_block label=83,mode=value,<venda_glxt mode=get,name=glxtusertype>!=p,<venda_ohpaytype>!=12>
		<venda_block label=300,mode=value,<venda_setting type=ebiz,name=skipsecondlogin>=1><a class="button left marg-bottom secondary myaccountButton" href="<venda_codehttps>?ex=co_wizr-myaccount"></venda_block label=300><venda_block label=301,mode=value,<venda_setting type=ebiz,name=skipsecondlogin>!=1><a href="<venda_codehttps>?ex=co_wizr-register"></venda_block label=301><venda_text id=desktop.button.my_account></a>
		</venda_block label=83>
    </div>

<venda_tpcomment><!-- Used for checkout step indicators --></venda_tpcomment>
<venda_tpxt mode=set,name=curstep,value=step5>
<venda_tpcomment><!-- Used for html title --></venda_tpcomment>
<venda_tpxt mode=set,name=title,value=<venda_text id=desktop.heading.order_receipt>>

<venda_inctemplate name=workflowSteps,type=tracking/shared>
<venda_inctemplate name=orderReceipt,type=tracking/shared>
</div>




<!-- Start of Affiliate Window (7things media) tags-->
 
<!-- Image Pixel Tracking - Mandatory --> <span id="img-pixel-tracking"> </span>
 <script>
 SubTotal=<venda_ohsub> 
 v2=<venda_ohtaxinc>;
 VatRate= 1.2;
 VatChargeRemoval= SubTotal/VatRate; 
 Withouttax=VatChargeRemoval.toFixed(2);
 //Withouttax=v1-v2 ;
   
document.getElementById("img-pixel-tracking").innerHTML = '<img src="https://www.awin1.com/sread.img?tt=ns&tv=2&merchant=6620&amount='+Withouttax+'&cr=GBP&ref=<venda_ohordnum>&parts=DEFAULT:'+Withouttax+'&vc=&ch=aw&testmode=0" border="0" width="0" height="0">';
 
 //<![CDATA[ /*** Do not change ***/"
 var AWIN = {}; 
 
 


 AWIN.Tracking = {}; AWIN.Tracking.Sale = {}; 
 /*** Set your transaction parameters ***/ 
 AWIN.Tracking.Sale.amount = Withouttax; 
 AWIN.Tracking.Sale.orderRef = '<venda_ohordnum>'; 
 AWIN.Tracking.Sale.parts = 'DEFAULT:'+Withouttax; 
 AWIN.Tracking.Sale.voucher = ''; 
 AWIN.Tracking.Sale.currency = 'GBP'; 
 AWIN.Tracking.Sale.test = '0'; 
 AWIN.Tracking.Sale.channel = 'aw'; 
 //]]>"
 </script> 
<!-- End of Affiliate Window (7things media) tags-->


