<venda_detblock5>
<venda_block label=41,oiwizcode=null>
    <input type="hidden" name="oiord" value="<venda_invtref>">
    <input type="hidden" name="<venda_cartfield name=deleteline>" value="">

    <tr class="prod js-oiindex-<venda_oiindex> js-invtref-<venda_invtref>">
        <venda_block label=111,invtatt1=notnull>
            <venda_tpcomment><!--product has attributes--></venda_tpcomment>
            <venda_block label=21,med-setxsmall=notnull>
                <venda_block label=22,mode=value,<venda_media rec=invt,type=pict,key=setxsmall,img=no,medatr=yes>=notnull>
                    <venda_tpcomment><!-- if 'set' prefix with att association value--></venda_tpcomment>
                    <td class="prod-image"><a href="<venda_dispview invt=<venda_invtparef>>"><venda_media rec=invt,type=pict,key=setxsmall,medatr=yes></a></td>
                </venda_block label=22>
                <venda_block label=23,mode=value,<venda_media rec=invt,type=pict,key=setxsmall,img=no,medatr=yes>=null>
                    <venda_tpcomment><!--if 'set' prefix without att association value--></venda_tpcomment>
                    <venda_block label=231,med-xsmall=notnull>
                        <venda_tpcomment><!--use key=xsmall--></venda_tpcomment>
                        <td class="prod-image"><a href="<venda_dispview invt=<venda_invtparef>>"><venda_media rec=invt,type=pict,key=xsmall></a></td>
                    </venda_block label=231>
                    <venda_block label=232,med-xsmall=null>
                        <venda_tpcomment><!--use noimage graphic if 'xsmall' is null--></venda_tpcomment>
                        <td class="prod-image"><a href="<venda_dispview invt=<venda_invtparef>>"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/no_image_xsmall.gif" alt="<venda_text id=desktop.info.no_product_image>"></a></td>
                    </venda_block label=232>
                </venda_block label=23>
            </venda_block label=21>
            <venda_block label=24,med-setxsmall=null>
                <venda_tpcomment><!--if not 'set' prefix - no alt. images functionality--></venda_tpcomment>
                <venda_block label=25,med-xsmall=notnull>
                    <venda_tpcomment><!--use key=xsmall--></venda_tpcomment>
                    <td class="prod-image"><a href="<venda_dispview invt=<venda_invtparef>>"><venda_media rec=invt,type=pict,key=xsmall></a></td>
                </venda_block label=25>
                <venda_block label=26,med-xsmall=null>
                    <venda_tpcomment><!--use noimage graphic if 'xsmall' is null--></venda_tpcomment>
                    <td class="prod-image"><a href="<venda_dispview invt=<venda_invtparef>>"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/no_image_xsmall.gif" alt="<venda_text id=desktop.info.no_product_image>"></a></td>
                </venda_block label=26>
            </venda_block label=24>
        </venda_block label=111>

        <venda_block label=113,invtatt1=null>
            <venda_tpcomment><!-- non-attributes--></venda_tpcomment>
            <venda_block label=31,med-xsmall=notnull>
                <venda_tpcomment><!--if not 'set' prefix - no alt. images functionality --></venda_tpcomment>
                <td class="prod-image"><a href="<venda_dispview invt=<venda_invtref>>"><venda_media rec=invt,type=pict,key=xsmall></a></td>
            </venda_block label=31>
            <venda_block label=32,med-xsmall=null>
                <venda_tpcomment><!--without key=xsmall--></venda_tpcomment>
                <td class="prod-image"><a href="<venda_dispview invt=<venda_invtref>>"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/no_image_xsmall.gif" alt="<venda_text id=desktop.info.no_product_image>"></a></td>
            </venda_block label=32>
        </venda_block label=113>

        <td class="prod-details text-left">
        <div class="row">

            <div class="large-7 columns nopad">
                <venda_block label=113,invtatt1=null,,oiitype!=3>
                    <h2 class="prod-name"><a href="<venda_dispview invt=<venda_invtref>>"><venda_invtname></a></h2>
                </venda_block label=113>
                <venda_block label=111,invtatt1=notnull>
                    <h2 class="prod-name"><a href="<venda_dispview invt=<venda_invtparef>>"><venda_invtname></a></h2>
                </venda_block label=111>

                <p class="prod-sku"><small><venda_text id=desktop.info.sku>: <venda_invtref></small></p>
                <venda_extflds exfldtype=orderitem,group=1,template=oixtDisplay,type=exfields/orderItem,ref=<venda_invtref>,displayonly=1><venda_extflds exfldtype=orderitem,group=2,template=oixtDisplay,type=exfields/orderItem,ref=<venda_invtref>,displayonly=1>
                <venda_block label=115,oiitype=3>
                <p>
                    <span><venda_text id=desktop.info.gift_cert> <venda_text id=desktop.info.giftcert_sent_to_shopcart></span><br>
                    <venda_block label=870,oicmt=notnull><span><venda_text id=desktop.info.message>: <venda_oicmt></span></venda_block label=870>
                </p>
                </venda_block label=115>
                <div class="prod-options marg-topbottom">
                    <venda_block label=456,invtatt1=notnull>
                    <div><venda_invtatrlbl1>: <venda_invtatt1></div></venda_block label=456>
                    <venda_block label=457,invtatt2=notnull>
                    <div><venda_invtatrlbl2>: <venda_invtatt2></div></venda_block label=457>
                    <venda_block label=458,invtatt3=notnull>
                    <div><venda_invtatrlbl3>: <venda_invtatt3></div></venda_block label=458>
                    <venda_block label=459,invtatt4=notnull>
                    <div><venda_invtatrlbl4>: <venda_invtatt4></div></venda_block label=459>

                    <venda_extflds exfldtype=orderitem,group=1,template=oixtDisplay,type=exfields/orderItem,ref=<venda_invtref>,displayonly=1><venda_extflds exfldtype=orderitem,group=2,template=oixtDisplay,type=exfields/orderItem,ref=<venda_invtref>,displayonly=1>
                </div>
                <p class="prod-remove hide-for-small">
                    <a href="#" class="js-removeItem" data-trackEvent="Shopping" data-role="button" data-line="<venda_cartfield name=deleteline>" data-wizard="shopcart"><venda_text id=desktop.button.remove></a>
                </p>
            </div>



            <div class="large-6 columns js-prod-rrp nopad">
                <venda_block label=174,mode=value,<venda_invtmsrp>=notnull,<venda_invtmsrp>!=<venda_invtsell>,<venda_oiitype>!=3> <span class="product-pricewas"><venda_currsym><venda_invtmsrp1></span><br>
                <span class="js-product-pricesaving save" data-currsym="<venda_currsym>" data-rrp="<venda_invtmsrp>" data-price="<venda_invtsavingonmsrp>" data-percent="<venda_invtsavingonmsrppercent>" data-qty="<venda_oiqty>"><strong>Save <venda_currsym><venda_invtsavingonmsrp> (<venda_invtsavingonmsrppercent>%)</strong></span></venda_block label=174>
                <venda_block label=175,mode=value,<venda_invtmsrp>=null,<venda_invtmsrp>=<venda_invtsell>,<venda_oiitype>=3,operator=or>&nbsp;</venda_block label=175>
            </div>

            <div class="large-6 columns hide-for-small text-right"><span><venda_currsym><venda_invtsell></span></div>

            <div class="large-5 columns prod-quantity nopad">
                <venda_block label=117,oiitype=3><span class="marg-side"><venda_oiqty></span>
                <input type="hidden" name="<venda_cartfield name=setqty>" id="form<venda_cartfield name=setqty>" value="<venda_oiqty>">
                </venda_block label=117>
                <venda_block label=116,oiitype!=3>
                <div class="js-custom text-center">
                    <select name="<venda_cartfield name=setqty>" id="form<venda_cartfield name=setqty>" class="js-update" data-qty="<venda_oiqty>">
                        <option value="1"<venda_block label=11,oiqty=1> selected</venda_block label=11>>1</option>
                        <option value="2"<venda_block label=12,oiqty=2> selected</venda_block label=12>>2</option>
                        <option value="3"<venda_block label=13,oiqty=3> selected</venda_block label=13>>3</option>
                        <option value="4"<venda_block label=14,oiqty=4> selected</venda_block label=14>>4</option>
                        <option value="5"<venda_block label=15,oiqty=5> selected</venda_block label=15>>5</option>
                        <option value="6"<venda_block label=16,oiqty=6> selected</venda_block label=16>>6</option>
                        <option value="7"<venda_block label=17,oiqty=7> selected</venda_block label=17>>7</option>
                        <option value="8"<venda_block label=18,oiqty=8> selected</venda_block label=18>>8</option>
                        <option value="9"<venda_block label=19,oiqty=9> selected</venda_block label=19>>9</option>
                    </select>
                </div>
                </venda_block label=116>
            </div>
            <div class="js-product-type" style="display:none;"><venda_invtivtype></div>
            </div>
        </td>

        <td class="prod-price prod-total text-right">
                <venda_currsym><venda_oiextprice>
                <p class="prod-remove">
                    <a href="#" class="js-removeItem show-for-small" data-trackEvent="Shopping" data-role="button" data-line="<venda_cartfield name=deleteline>" data-wizard="shopcart"><venda_text id=desktop.button.remove></a>
                </p>
        </td>
    </tr>

</venda_block label=41>
</venda_detblock5>