<venda_detblock>
<li>
	<div>
		<venda_block label=10,med-catimage1=notnull> <a href="<venda_dispview icat=<venda_icatref1>>"><venda_media rec=icat1,type=pict,key=catimage,border=0></a></venda_block label=10>
		<a href="<venda_dispview icat=<venda_icatref1>>"><span><venda_icatname1></span></a>
	</div>
</li>
</venda_detblock>

<div class="main-header thinmarg-bottom">
    <h1 class="cat-header nomarg text-center"><venda_icatname></h1>
	<venda_block label=desc,med-catimage=notnull,icatsdesc=notnull,operator=or>
	<div class="cat-sdesc hide-for-small">
		<venda_block label=441,med-catimage=notnull>
			<div class="row nomarg"><div class="large-12 columns thickpad-top"><venda_icatsdesc></div><div class="large-12 columns" style="background:url(<venda_media rec=icat,type=pict,key=catimage,img=no>) no-repeat right;background-size: 100% auto;padding-bottom: 27%;"></div></div>
		</venda_block label=441>
		<venda_block label=442,med-catimage=null><venda_icatsdesc></venda_block label=442>
	</div>
	</venda_block label=desc>
</div>

<venda_page page=<venda_icxtcategorypage>>

<venda_inctemplate name=catslider,type=widgets>

<div class="row">
    <div class="large-12 columns">
        <p class="panel text-center">Promotion Panel</p>
    </div>
    <div class="large-12 columns">
        <p class="panel text-center">Promotion Panel</p>
    </div>
</div>

<ul id="categorylist" class="categorylist large-block-grid-4 small-block-grid-2 text-center">
<venda_detail>
</ul>

<venda_inctemplate name=catfeatslider,type=widgets>

<venda_block errors=notnull><h2 class="alert-box alert radius" data-alert=""><venda_errors></h2></venda_block>

<venda_tpxt mode=set,name=track,value=categorylist>
<!-- tpxt used for showing the bestseller products based on current category -->
<venda_tpxt mode=set,name=categorySearch,value=<venda_icatref>>
