<script type="text/javascript">
<!--
var delta=1;
var zoom=new Array(5000,10000,25000,50000,100000);
function zoomMap(inc) {
	newdelta=delta+inc;
	if (newdelta<0) {
		alert("<venda_text id=site.store_locator.js_validation.cannot_zoom_in>");
		return;
	} else if (newdelta>4) {
		alert("<venda_text id=site.store_locator.js_validation.cannot_zoom_out>");
		return;
	} else {
		delta=newdelta;
	}
	document.getElementById('mapimg').src="http://www.multimap.com/clients/gif.cgi?client=<venda_setting type=ebiz,name=multimapminiref>&pc=<venda_strykey1>&height=300&width=300&scale="+zoom[delta];
}
window.location = "<venda_ebizurl>/page/storelocator?loc=<venda_stxtcity>&lat=<venda_stxtlatitude>&lng=<venda_stxtlongitude>&active=0&tk=true&hs=true&storeid=<venda_stryref>";
// -->
</script>

<div id="storedetails">

	<venda_tpcomment><!-- this title will only display if user has arrived at store details via url like /stry/dummyproduct1 --></venda_tpcomment>

	<venda_block label=50,med-map=notnull><div class="storedetails-img"><venda_media rec=stry,type=pict,key=map,border=0,class=storemap></div></venda_block label=50>
	<div class="storedetails-info">
	<venda_tpcomment><!-- Multimap mini --></venda_tpcomment>
	<venda_block label=13,mode=value,<venda_setting type=ebiz,name=setstorelocatormap>=multimapmini,<venda_setting type=ebiz,name=multimapminiref>=notnull>
	<div class="multimap">
	<p><img src="http://www.multimap.com/clients/gif.cgi?client==<venda_setting type=ebiz,name=multimapminiref>&pc=<venda_strykey1>&width=300&height=300&scale=10000" id="mapimg" alt="<venda_stryname>" border="0"></p>
	<p><a href="#" onclick="zoomMap(-1); return false"><venda_text id=site.store_locator.zoom_in></a> | <a href="#" onclick="zoomMap(1); return false;"><venda_text id=site.store_locator.zoom_out></a></p>
	</div>
	</venda_block label=13>

	<venda_tpcomment><!-- Google Map Basic --></venda_tpcomment>
	<venda_block label=14,mode=value,<venda_setting type=ebiz,name=setstorelocatormap>=googlemapsbasic,<venda_setting type=ebiz,name=googlemapsapikey>=notnull>
	<div id="gmap_errors"></div>
	<div id="gmap_canvas"></div>

	<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=<venda_setting type=ebiz,name=googlemapsapikey>" type="text/javascript"></script>
	<script src="http://www.google.com/uds/api?file=uds.js&amp;v=1.0&amp;key=<venda_setting type=ebiz,name=googlemapsapikey>" type="text/javascript"></script>
	<script src="<venda_supportdir>/js/Venda/Widget/GStoreLocatorBasic.js" type="text/javascript"></script>

	<script type="text/javascript">
	Venda.Widget.GStoreLocatorBasic.icon.image = "<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/marker.png";
	Venda.Widget.GStoreLocatorBasic.icon.shadow = "<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/markershadow.png";
	Venda.Widget.GStoreLocatorBasic.defaultMapType = <venda_setting type=ebiz,name=setgooglemapsmaptypebasic>;
	Venda.Widget.GStoreLocatorBasic.zoomLvl = <venda_setting type=ebiz,name=setgooglemapsstartzoombasic>;
	Venda.Widget.GStoreLocatorBasic.notSupportedMsg = '<venda_text id=site.googlemapstorelocator.googlemaps_not_supported.error>';

	<venda_block label=17,mode=value,<venda_setting type=ebiz,name=showgooglemapsatellite>=1>
	Venda.Widget.GStoreLocatorBasic.showSatellite = true;</venda_block label=17>
	<venda_block label=18,mode=value,<venda_setting type=ebiz,name=showgooglemaphybrid>=1>
	Venda.Widget.GStoreLocatorBasic.showHybrid = true;</venda_block label=18>
	<venda_block label=19,mode=value,<venda_setting type=ebiz,name=showgooglemapinfowindows>=1>
	Venda.Widget.GStoreLocatorBasic.showInfo = true;</venda_block label=19>

	Venda.Widget.GStoreLocatorBasic.storeAddress = "<venda_block label=120,stxtadd1=notnull><venda_stxtadd1></venda_block label=120><venda_block label=121,stxtadd2=notnull> <venda_stxtadd2></venda_block label=121><venda_block label=122,stxtadd3=notnull> <venda_stxtadd3></venda_block label=122><venda_block label=123,stxtadd4=notnull> <venda_stxtadd4></venda_block label=123><venda_block label=124,stxtadd5=notnull> <venda_stxtadd5></venda_block label=124>";

	Venda.Widget.GStoreLocatorBasic.infoAddress = "<span class=mapinformation><venda_block label=120,stxtadd1=notnull><venda_stxtadd1><br></venda_block label=120><venda_block label=121,stxtadd2=notnull><venda_stxtadd2><br></venda_block label=121><venda_block label=122,stxtadd3=notnull><venda_stxtadd3><br></venda_block label=122><venda_block label=123,stxtadd4=notnull><venda_stxtadd4><br></venda_block label=123><venda_block label=124,stxtadd5=notnull><venda_stxtadd5></venda_block label=124></span>";

	Venda.Widget.GStoreLocatorBasic.init('gmap_canvas',Venda.Widget.GStoreLocatorBasic.storeAddress);
	Venda.Widget.GStoreLocatorBasic.addUnLoadEvent(GUnload);
	</script>
	</venda_block label=14>
	<div id="tag-stxtlatitude" style="display:none;"><venda_stxtlatitude></div>
	<div id="tag-stxtlongitude" style="display:none;"><venda_stxtlongitude></div>
	<h3><div></div><venda_stryname></h3>
	<div class="storedetail-detail">
		<venda_block label=20,stxtadd1=notnull><venda_stxtadd1>,</venda_block label=20>
		<venda_block label=21,stxtcity=notnull><venda_stxtcity>,</venda_block label=21>
		<venda_block label=22,stxtpostcode=notnull><venda_stxtpostcode> </venda_block label=22>
		<venda_block label=23,stxtcountry=notnull><venda_stxtcountry> </venda_block label=23>
		<venda_block label=9,stxtphone=notnull><br>Tel: <a href="tel://<venda_stxtphone>"><venda_stxtphone></a></venda_block label=9>

	<venda_block label=10,strydesc1=notnull><h4><venda_text id=site.store_locator.mobile.store_opening_times></h4><div><venda_strydesc1></div></venda_block label=10>
	<venda_block label=41,stxtfacilities=notnull><h4><venda_text id=site.store_locator.mobile.store_facilities></h4><div><venda_stxtfacilities></div></venda_block label=41>
	<venda_block label=42,stxtdepartments=notnull><h4><venda_text id=site.store_locator.mobile.store_departments></h4><div><venda_stxtdepartments></div></venda_block label=42>
	<venda_block label=43,stxtdirection=notnull><h4><venda_text id=site.store_locator.mobile.store_findus></h4><div><venda_stxtdirection></div></venda_block label=43>
	<venda_block label=44,stxtcomment=notnull><h4><venda_text id=site.store_locator.mobile.store_comment></h4><div><venda_stxtcomment></div></venda_block label=44>
	</div>
	</div>
</div>
<venda_block label=815,mode=value,<venda_setting type=ebiz,name=tracktaghitbox>=1><!--HBX tracking if business field checked-->
<venda_inctemplate name=hbxlocalvars7,type=includes/tracking>
</venda_block label=815>
