<venda_detblock>
<li>
    <div class="js-prod-image prod-image">
        <venda_block label=10,med-catimage1=notnull><a href="<venda_dispview icat=<venda_ref1>>"><venda_media rec=icat1,type=pict,key=catimage,border=0></a></venda_block label=10>
    </div>
</li>
</venda_detblock>
<venda_block label=1,cattot&gt;0>
<div class="product-slider">
    <ul id="catSlider" class="slider js-slider small-block-grid-2" data-display="4" data-direction="horizontal" data-slidenum="3" data-duration="0.5" data-viewmore="<venda_text id=desktop.button.view_more>" data-viewless="<venda_text id=desktop.button.view_less>"><venda_detail></ul>
</div>
</venda_block label=1>