<div class="categorylist">
    <div class="main-header">
        <h1 class="cat-header"><venda_icatname></h1>

        <venda_block label=catdesc,icatsdesc=notnull>
        <div class="cat-sdesc marg-topbottom hide-for-small"><venda_icatsdesc></div>
        </venda_block label=catdesc>

        <venda_tpcomment><!-- show Youtube if avalable --></venda_tpcomment>
        <venda_block label=catyoutube,icxtcategoryvideo!=>
        <div class="flex-video widescreen cat-vdo"><iframe width="630" height="350" src="<venda_icxtcategoryvideo>?wmode=transparent" frameborder="0" wmode="Opaque" allowfullscreen></iframe></div>
        </venda_block label=catyoutube>

        <venda_tpcomment><!-- show image if Youtube not available --></venda_tpcomment>
        <venda_block label=catimage,med-catimage=notnull,icxtcategoryvideo=>
        <div class="cat-image">
            <venda_block label=hasBannerLink,icxtcatbannerlink!=><a href="<venda_icxtcatbannerlink>" class="cat-banner-link"><img src="<venda_media rec=icat,type=pict,key=catimage,img=no>"></a></venda_block label=hasBannerLink>
            <venda_block label=noBannerLink,icxtcatbannerlink=><img src="<venda_media rec=icat,type=pict,key=catimage,img=no>"></venda_block label=noBannerLink>
        </div>
        </venda_block label=catimage>
    </div>

    <div class="cat-page hide-for-small"><venda_page page=<venda_icxtcategorypage>></div>

    <div class="cat-slider-box hide-for-small"><venda_inctemplate name=catfeatslider,type=widgets></div>

    <div class="cat-page hide-for-small"><venda_page page=<venda_icxtcategorypage2>></div>
</div>

<venda_block errors=notnull><h2 class="alert-box alert radius" data-alert=""><venda_errors></h2></venda_block>

<venda_tpxt mode=set,name=track,value=categorylist>
<!-- tpxt used for showing the bestseller products based on current category -->
<venda_tpxt mode=set,name=categorySearch,value=<venda_icatref>>