<div class="box box-section socialbookmark">

    <div class="box-body">

    	<ul id="socialButtons" class="social-buttons show-for-desktop">
            <li class="social-facebook left">
                <div id="tag-fbAppId" style="display:none"><venda_setting type=ebiz,name=ebxtfbappid></div>
                <div id="fb-root"></div>
                <fb:like href="<venda_dispview invt=<venda_invtref>>" send="true" layout="button_count"></fb:like>
            </li>
    		<li class="social-twitter twitter left">
                <a href="https://twitter.com/share"
                    data-url="<venda_dispview invt=<venda_invtref>>"
                    data-via="<venda_ebxttwitterID>"
                    data-text="<venda_invtname>"
                    data-related="<venda_ebxttwitterRelated>"
                    data-lang="<venda_sessionlanguage>"
                    data-hashtags="<venda_invtivtype>,<venda_invtbrand>"
                    class="twitter-share-button">
                </a>
            </li>
            <li class="social-googleplus googlePlus left">
                <div class="g-plusone" data-size="medium"></div>
            </li>
            <li class="social-pinterest">
                <a href="http://pinterest.com/pin/create/button/?url=<venda_dispview invt=<venda_invtref>>&media=<venda_media rec=invt,type=pict,key=large,img=no>" class="social-pin-it-button" count-layout="horizontal"></a>
            </li>
    	</ul>
   	    <ul class="social-buttons inline-list hide-for-desktop">
            <li class="small-social-facebook"><a href="https://www.facebook.com/sharer/sharer.php?u=<venda_encode><venda_dispview invt=<venda_invtref>></venda_encode>" target="_blank"><i class="icon-facebook icon-3x"></i></a></li>
            <li class="small-social-twitter"><a href="https://twitter.com/share?url=<venda_encode><venda_dispview invt=<venda_invtref>></venda_encode>" target="_blank"><i class="icon-twitter icon-3x"></i></a></li>
            <li class="small-social-pinterest">
                <a href="http://pinterest.com/pin/create/link/?url=<venda_dispview invt=<venda_invtref>>&media=<venda_media rec=invt,type=pict,key=large,img=no>" target="_blank" class="social-pin-it-button" count-layout="horizontal"><i class="icon-pinterest icon-3x"></i></a>
            </li>
            <li class="small-social-googleplus">
                <a href="https://plus.google.com/share?url=<venda_encode><venda_dispview invt=<venda_invtref>></venda_encode>" target="_blank"><i class="icon-google-plus icon-3x"></i></a>
            </li>
    	</ul>

    </div>
</div>
