<!-- venda_search tag starts -->
<venda_block label=notprivatesale,icatcatref0!=privatesale>
    <venda_search categories=<venda_icatref>,sort=sequence_<venda_icatref>:name,order=asc:asc,perpage=<venda_itemsperpage>>
</venda_block label=notprivatesale>

<venda_block label=privatesale,icatcatref0=privatesale>
    <venda_block label=notLogin,ustype!=R>
        <div class="large-24 columns">
            <venda_page page=privatesale_landing>
        </div>
    </venda_block label=notLogin><venda_tpcomment><!-- if not login, display private sale --></venda_tpcomment>

    <venda_block label=login,ustype=R>
        <venda_search categories=<venda_icatref>,sort=sequence_<venda_icatref>:name,order=asc:asc,perpage=<venda_itemsperpage>,displayoutofstock=1>
    </venda_block label=login>
</venda_block label=privatesale>
<!-- venda_search tag ends -->

<venda_tpcomment><!-- This tpxt is a workaround for not having <venda_icatref> --></venda_tpcomment>
<venda_tpxt mode=set,name=categorySearch,value=<venda_icatref>>

<venda_tpcomment><!-- Used for product compare widgets/compareItems/compareItems.html  --></venda_tpcomment>
<venda_tpxt mode=set,name=track,value=productlist>
<venda_block label=41,mode=value,<venda_setting type=ebiz,name=showcompareproductlist>=1>
<venda_block label=501,mode=value,<venda_setting type=ebiz,name=setalwaysshowcompare>!=1><venda_tpxt mode=set,name=comparecatref,value=<venda_icatref>></venda_block label=501>
<venda_block label=502,mode=value,<venda_setting type=ebiz,name=setalwaysshowcompare>=1><venda_tpxt mode=set,name=comparecatref,value=allcategory></venda_block label=502>
</venda_block label=41>

<div id="parentCatName" style="display:none;"><venda_icatname></div>
<div id="parentCatLDesc" style="display:none;"><venda_icatldesc></div>
<div id="parentCatRef" style="display:none;"><venda_icatref></div>
