<p class="emails-table-footer" style="text-align:center;width:700px;"><a href="<venda_serveradd>/bin/venda?ex=co_wizr-comingsoon&param1=comingsoon&bsref=tkmaxx"><img style="width:92%;" src="<venda_serveradd>/content/ebiz/tkmaxx/resources/images/footer_email.png" alt="TK Maxx" border="0"></a></p>