<venda_block label=paypal,profile_provider=Paid by Paypal>
<venda_tpcomment><!-- PayPal --></venda_tpcomment>
<div class="box pad">
<p class="nomarg"><venda_text id=desktop.info.paypal_paid></p>
<venda_block label=paypalemail,payer_email=notnull>
<span id="tag-displayPaypal-usemail" style="display:none"><venda_payer_email></span>
<p><strong><venda_text id=desktop.info.paypal_email>:</strong> <span id="displayPaypal-usemail"><venda_payer_email></span></p>
</venda_block label=paypalemail>
</div>
</venda_block label=paypal>

<venda_block label=cba,profile_provider=Checkout By Amazon>
<venda_tpcomment><!-- Checkout By Amazon --></venda_tpcomment>
<div class="box pad">
<span id="tag-displayCBA-usemail" style="display:none"><venda_payer_email></span>
<p class="nomarg"><venda_text id=desktop.info.cba_paid></p>
<venda_block label=cbaemail,payer_email=notnull>
<p><strong><venda_text id=desktop.info.cba_email>:</strong> <span id="displayCBA-usemail"><venda_payer_email></span></p>
</venda_block label=cbaemail>
</div>
</venda_block label=cba>

<venda_tpcomment><!--
These are always null for PayPal, so look CBA-specific
<venda_block label=1,payer_name=notnull>payer name = '<venda_payer_name>'</venda_block label=1>
<venda_block label=2,payer_email=notnull>payer email = '<venda_payer_email>'</venda_block label=2>
<venda_block label=3,provider_ordernum=notnull>provider ordnum = '<venda_provider_ordernum>'</venda_block label=3>
--></venda_tpcomment>