<venda_tpcomment><!-- tag values used for tell a friend, emwbis, write and read a review popups --></venda_tpcomment>
<div id="tag-ebizref" style="display:none;"><venda_setting type=ebiz,name=ref></div>
<div id="tag-ebizurl" style="display:none;"><venda_ebizurl></div>
<div id="tag-invtref" style="display:none;"><venda_invtref></div>
<div id="tag-invtname" style="display:none;"><venda_invtname></div>
<div id="tag-currsym" style="display:none;"><venda_currsym></div>

<venda_tpcomment><!-- Dictionary translations required for attributes JS --></venda_tpcomment>
<div id="attributes-stockNA" style="display:none;"><venda_text id=desktop.validation.selection_not_available></div>
<div id="attributes-stockOut" style="display:none;"><venda_text id=desktop.validation.selection_out_of_stock></div>
<div id="attributes-productselected" style="display:none;"><venda_text id=desktop.validation.you_have_selected></div>
<div id="attributes-productstatus" style="display:none;"><venda_text id=desktop.validation.please_select_colon></div>
<div id="attributes-only" style="display:none;"><venda_text id=desktop.validation.only></div>
<div id="attributes-left" style="display:none;"><venda_text id=desktop.validation.left></div>
<div id="attributes-optionDefault" style="display:none;"><venda_text id=desktop.validation.please_select_multi_dot></div>
<div id="attributes-tooltip" style="display:none;"><venda_text id=desktop.validation.is_out_of_stock></div>
<div id="attributes-backorder" style="display:none;"><venda_text id=desktop.validation.backorder_text></div>
<div id="attributes-preorder" style="display:none;"><venda_text id=desktop.validation.preorder_text></div>
<div id="attributes-quantity" style="display:none;"><venda_text id=desktop.validation.enter_quantity></div>
<div id="attributes-chooseVariant" style="display:none;"><venda_text id=desktop.validation.choose_variant></div>
<div id="attributes-addThisProduct" style="display:none;"><venda_text id=desktop.validation.add_this_product></div>
<div id="attributes-addAllProduct" style="display:none;"><venda_text id=desktop.validation.add_all_product></div>
<div id="attributes-noneChecked" style="display:none;"><venda_text id=desktop.validation.none_checked></div>

<venda_tpcomment><!-- VCP switch settings required for attributes JS --></venda_tpcomment>
<div id="OutOfStockThreshold" style="display: none;"><venda_setting type=ebiz,name=emailmebackthreshold></div><venda_tpcomment><!-- Out of Stock Threshold --></venda_tpcomment>
<div id="DoNotBackorder" style="display: none;"><venda_setting type=ebiz,name=nobackorderedinclude></div><venda_tpcomment><!-- Do not dispatch backordered items (checked == no backorder)--></venda_tpcomment>
<div id="emwbisType" style="display: none;"><venda_setting type=ebiz,name=emailmebackcriteria></div><venda_tpcomment><!-- Email me when back in stock criteria (ETA / Release Dates): 4 options: none, eta, release, eta and etarelease --></venda_tpcomment>
<div id="stockchecking_basket" style="display: none;"><venda_setting type=ebiz,name=stockchecking_basket></div><venda_tpcomment><!-- Confirm Stock Availability at basket --></venda_tpcomment>
<div id="stockchecking_orderconfirm" style="display: none;"><venda_setting type=ebiz,name=stockchecking_orderconfirm></div><venda_tpcomment><!-- Confirm Stock Availability at Confirm screen --></venda_tpcomment>

<div class="row prod-quick-view">
    <div class="large-9 columns">
		<div class="prod-image-altview">
			<div id="image_<venda_invtuuid>" class="prod-detail-image">
				<div id="productdetail-image" class="large-24">
					<venda_block label=10,med-medium=notnull>
					<venda_media rec=invt,type=pict,key=medium>
					</venda_block label=10>
					<venda_block label=11,med-medium=null>
					<img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/no_image_medium.gif" alt="<venda_text id=desktop.info.no_product_image>">
					</venda_block label=11>
				</div>
            </div>

            <div class="productdetail-altview"><ul id="productdetail-altview" class="prod-detail-slider" data-display="4" data-direction="horizontal" data-slidenum="1" data-duration="0.5" data-equalheight=""></ul></div>
        </div>
        <venda_inctemplate name=alternateviewScript,type=invt>
    </div>

	<div class="large-15 columns prod-details js-quickbuyDetails">
		<h2><venda_invtname></h2>
		<venda_block errors=notnull><h3 class="alert-box alert radius" data-alert=""><venda_errors></h3></venda_block>

		<div class="prod-desc">
			<span class="prod-sku" itemprop="productID"><span><venda_text id=desktop.info.sku>:</span> <venda_invtref></span>
			<venda_block label=12,invtdesc1=notnull><p class="prod-invtdesc1"><venda_invtdesc1></p></venda_block label=12>
			<venda_block label=13,invtdesc2=notnull><p class="prod-invtdesc2"><venda_invtdesc2></p></venda_block label=13>
			<venda_block label=14,invtdesc3=notnull><p class="prod-invtdesc3"><venda_invtdesc3></p></venda_block label=14>
			<venda_block label=15,invtdesc4=notnull><p class="prod-invtdesc4"><venda_invtdesc4></p></venda_block label=15>
		</div>

			<venda_block label=130,invtatrtot&gt;0>
			<venda_inctemplate name=attributeData,type=invt>
			<venda_mediagrid template=alternateviewGrid>
			</venda_block label=130>

			<form name="form" action="<venda_codehttp>" method="get" name="addproductform" id="addproductform">
				<input type="hidden" name="log" value="22">
				<input type="hidden" name="mode" value="add">
				<input type="hidden" name="curpage" value="">
				<input type="hidden" name="next" value="">
				<input type="hidden" name="layout">

				<!-- "ex" sends user to basket if "co_wizr-shopcart" - or leaves on current page if "co_disp-shopc" -->
				<!-- will sends user to basket by default - "Add to Basket" button changes "ex" value and leaves on current page (unless js disabled) -->
				<input type="hidden" name="ex" value="co_wizr-shopcart">

				<!-- "buy" defines sku to add if "ex" is "co_disp-shopc" -->
				<input type="hidden" name="buy" value="<venda_invtref>">
				<!-- "invt" defines next step if "ex" is "co_disp-shopc" (sends to home page without this field) - could be set to send to any icat or page instead -->
				<input type="hidden" name="invt" value="<venda_invtref>">

				<!-- "ivref" defines sku to add if "ex" is "co_wizr-shopcart" -->
				<input type="hidden" name="ivref" value="<venda_invtref>">

				<venda_tpcomment><!-- start: price - if product doesn't have attributes --></venda_tpcomment>

				<div class="prod-detail-content js-oneProduct" id="oneProduct_<venda_invtuuid>">

					<venda_block label=16,chkatt=null>
					<div class="prod-pricedetails">
					<venda_inctemplate type=includes,name=priceFormat>
					<div class="row">
	                    <div class="large-24 columns marg-bottom"><venda_extflds hideempty=0,realseq=0,template=pdxtPromos,group=7,ref=<venda_invtref>></div>
	                </div>
					<venda_inctemplate type=includes,name=multibuy>
					</div>
					</venda_block label=16>
					<venda_tpcomment><!-- end: price - if product doesn't have attributes --></venda_tpcomment>

					<venda_block label=17,chkatt=notnull>
					<venda_tpcomment><!-- start: price - if product does have attributes --></venda_tpcomment>
					<div class="js-oneProductContent">
						<div class="js-attributesPrice js-attrFeedback">
							<venda_inctemplate type=includes,name=priceFormat>
							<venda_block label=showmultibuy,invtatrminsubsell=0.00,invtatrmaxsubsell=0.00><venda_inctemplate type=includes,name=multibuy></venda_block label=showmultibuy>
						</div>
						<venda_tpcomment><!-- end: price - if product does have attributes --></venda_tpcomment>
					</venda_block label=17>

					<div class="box box-section">

						<venda_block label=200,chkatt=notnull>
						<div class="box-header js-attrFeedback">
							<span id="productselected"></span>
						</div>
						<div class="box-body">
						<venda_tpcomment><!-- start: attributes dropdown --></venda_tpcomment>
							<div id="attributeInputs" class="attribute-inputs">
								<venda_block label=21,selatt1=notnull>
								<div class="row thinpad-top">
	                                <div class="small-4 columns"><label for="att1"><venda_att1>:</label></div>
	                                <div class="small-20 columns"><select name="att1" id="att1_<venda_invtuuid>"><option value=""><venda_text id=desktop.info.please_select> <venda_att1></option><venda_selatt1></select></div>
	                            </div>
								</venda_block label=21>
								<venda_block label=22,selatt2=notnull>
								<div class="row thinpad-top">
									<div class="small-4 columns"><label for="att2"><venda_att2>:</label></div>
									<div class="small-20 columns"><select name="att2" id="att2_<venda_invtuuid>"><option value=""><venda_text id=desktop.info.please_select> <venda_att2></option><venda_selatt2></select></div>
								</div>
								</venda_block label=22>
								<venda_block label=23,selatt3=notnull>
								<div class="row thinpad-top">
									<div class="small-4 columns"><label for="att3"><venda_att3>:</label></div>
									<div class="small-20 columns"><select name="att3" id="att3_<venda_invtuuid>"><option value=""><venda_text id=desktop.info.please_select> <venda_att3></option><venda_selatt3></select></div>
								</div>
								</venda_block label=23>
								<venda_block label=24,selatt4=notnull>
								<div class="row thinpad-top">
									<div class="small-4 columns"><label for="att4"><venda_att4>:</label></div>
									<div class="small-20 columns"><select name="att4" id="att4_<venda_invtuuid>"><option value=""><venda_text id=desktop.info.please_select> <venda_att4></option><venda_selatt4></select></div>
								</div>
								</venda_block label=24>
							</div>

						<venda_tpcomment><!-- end: attributes dropdown --></venda_tpcomment>


						<venda_block label=25,pdxtatrtype=grid>
							<div id="key">
								<h3><venda_text id=desktop.info.key></h3>
								<ul class="small-block-grid-2 large-block-grid-4">
	                                <li><div class="icon"><i class="icon-ok"></i></div> <venda_text id=desktop.info.in_stock></li>
	                                <li><div class="icon"><i class="icon-remove"></i></div> <venda_text id=desktop.info.out_of_stock></li>
	                                <li><div class="icon"><i>LS</i></div> <venda_text id=desktop.info.low_stock></li>
	                                <li><div class="icon"><i>P</i></div> <venda_text id=desktop.info.item_preorder></li>
	                                <li><div class="icon"><i>B</i></div> <venda_text id=desktop.info.no_of_weeks></li>
	                                <li><div class="icon"><i class="icon-envelope"></i></div> <venda_text id=desktop.info.email_me_when_back_in_stock></li>
                            	</ul>
							</div>
						</venda_block label=25>
						</div>
					</div>
					<div class="box box-section prod-detail-buttons">
						<div class="box-header js-attrFeedback js-stockFeedbackBox">
							<span id="productstatus"><venda_text id=desktop.info.please_make_selection></span>
							<span id="stockstatus"></span> <span id="atrononhandholder" style="display:none"><venda_text id=desktop.info.only><span id="atronhand"></span><venda_text id=desktop.info.left></span>
						</div>
					</venda_block label=200>
					<div class="box-body">
						<venda_block label=30,invtpreorder=notnull>
						<venda_tpcomment><!-- if future release date --></venda_tpcomment>
						<p class="nomarg"><venda_text id=desktop.info.not_yet_released></p>
                    	<p><venda_text id=desktop.info.release_date></p>
						</venda_block label=30>

						<venda_tpcomment><!-- start: buyControl div --></venda_tpcomment>

						<venda_block label=nonatt,chkatt=null>
						<venda_tpcomment><!-- NON-ATTRIBUTE --></venda_tpcomment>
						<venda_block label=251,invtavail&gt;0>
							<!-- if in stock -->
							<venda_extflds exfldtype=orderitem,group=1,template=oixtSet,type=exfields/orderItem,ref=<venda_invtref>>
							<venda_extflds exfldtype=orderitem,group=2,template=oixtSet,type=exfields/orderItem,ref=<venda_invtref>>

							<venda_tpcomment><!-- start: button link image --></venda_tpcomment>
							<div class="row prod-detail-buttons">
                            <div class="large-8 columns prod-quantity">
                                <div class="row nomarg thinpad-top">
                                    <div class="small-8 large-14 columns"><label for="qty"><venda_text id=desktop.info.qty>: </label></div>
                                    <div class="small-16 large-10 columns"><input name="qty" id="qty" type="number" value="1" size="3" maxlength="3" class="js-qty"></div>
                                </div>
                            </div>
							<!-- if product doesn't have attributes -->
							<venda_block label=34,invtpreorder!=1>
							<div class="large-9 columns prod-add">
								<venda_tpcomment><!-- Add to basket, PreOrder - change js-addproduct to js-buynow for buy now button --></venda_tpcomment>
								<button type="submit" class="success radius button expand js-addproduct" id="js-submitadd"><venda_text id=desktop.button.addtobasket></button>
							</div>
							</venda_block label=34>
							<venda_block label=35,invtpreorder=1>
							<div class="large-16 columns prod-preorder">
								<!-- pre-order with add to basket functionality (stay on the same page) - change js-addproduct to js-buynow for buy now button -->
								<button type="submit" class="success radius button expand js-preorder js-addproduct" id="js-submitpreorder"><venda_text id=desktop.button.preorder></button>
							</div>
							</venda_block label=35>
						</venda_block label=251>

						<venda_block label=26,invtavail&lt;1>
						<venda_tpcomment><!-- if out of stock --></venda_tpcomment>
						<span><venda_text id=desktop.info.out_of_stock></span>
						<venda_block label=167,etadyleft&gt;0><span><venda_text id=desktop.info.eta_date>></span></venda_block label=167>
						<a href="<venda_dispview invt=<venda_invtref>>?temp=emailinstock" title="<venda_text id=desktop.button.email_when_in_stock>" id="emwbis_link" class="button"><venda_text id=desktop.button.email_when_in_stock></a>
						</venda_block label=26>
						</venda_block label=nonatt>

						<venda_block label=att,chkatt=notnull>
						<venda_tpcomment><!-- ATTRIBUTE --></venda_tpcomment>
						<venda_block label=252,invtatrinstock&gt;0>
							<!-- if in stock -->
							<venda_extflds exfldtype=orderitem,group=1,template=oixtSet,type=exfields/orderItem,ref=<venda_invtref>>
							<venda_extflds exfldtype=orderitem,group=2,template=oixtSet,type=exfields/orderItem,ref=<venda_invtref>>

							<venda_tpcomment><!-- start: button link image --></venda_tpcomment>
								<div id="addproductbox" class="row">
									<div id="qtybox" class="large-8 columns prod-quantity">
			                            <div class="row nomarg thinpad-top">
			                                <div class="small-8 large-14 columns"><label for="qty"><venda_text id=desktop.info.qty></label></div>
			                                <div class="small-16 large-10 columns"><input name="qty" id="qty" type="number" value="1" size="3" maxlength="3" class="js-qty"></div>
										</div>
									</div>
									<div class="large-9 columns prod-add">
										<venda_tpcomment><!-- Add to basket, PreOrder - change js-addproduct to js-buynow for buy now button --></venda_tpcomment>
										<button type="submit" class="success radius button expand js-addproduct" id="js-submitadd"><venda_text id=desktop.button.addtobasket></button>
									</div>
								</div>

								<venda_tpcomment><!-- EMWBIS --></venda_tpcomment>
								<a id="emwbis_link" href="<venda_dispview invt=<venda_invtref>>?temp=emailinstock" title="<venda_text id=sdesktop.button.email_when_in_stock>" class="button radius expand js-doDialog" style="display:none" rel="nofollow"><venda_text id=desktop.button.email_when_in_stock></a>

								<venda_tpcomment><!-- use this instead if you want pre-order with buy now functionality (go to basket page)
								<button type="submit" class="success radius button expand js-addproduct js-preorder" id="js-submitpreorder"><venda_text id=desktop.button.preorder></button> --> </venda_tpcomment>
							<venda_tpcomment><!-- end: button link image --></venda_tpcomment>
						</venda_block label=252>

						<venda_block label=262,invtatrinstock&lt;1>
						<venda_tpcomment><!-- if out of stock --></venda_tpcomment>
						<span><venda_text id=desktop.info.out_of_stock></span>
						<venda_block label=167,etadyleft&gt;0><span><venda_text id=desktop.info.eta_date>></span></venda_block label=167>
						<a href="<venda_dispview invt=<venda_invtref>>?temp=emailinstock" title="<venda_text id=desktop.button.email_when_in_stock>" id="emwbis_link" class="button"><venda_text id=desktop.button.email_when_in_stock></a>
						</venda_block label=262>
					<venda_tpcomment><!-- end: buyControl div --></venda_tpcomment>

					<div class="js-attributesForm" id="quickBuyDetails" style="display: none;"><venda_pdxtatrtype></div>
					<div id="invtref" style="display: none;"><venda_invtref></div>
					<div id="attributeNames" style="display: none;">
						<div id="att1"><venda_att1></div>
						<div id="att2"><venda_att2></div>
						<div id="att3"><venda_att3></div>
						<div id="att4"><venda_att4></div>
					</div>
					<div id="invtrelease" style="display: none;"><venda_invtrelease></div>
					</div><venda_tpcomment><!--eo box-body --></venda_tpcomment>
					</div><venda_tpcomment><!--eo box --></venda_tpcomment>
					</venda_block label=att>
				</div>
			</form>
			<a href="<venda_dispview invt=<venda_invtref>>" class="secondary button right marg-top"><venda_text id=desktop.button.more_info></a>

		</div><venda_tpcomment><!--eo prod-desc --></venda_tpcomment>
	</div><venda_tpcomment><!--eo prod-details --></venda_tpcomment>
</div><venda_tpcomment><!--eo row --></venda_tpcomment>
<venda_inctemplate type=includes,name=addedProductNotify>
<script type="text/javascript">
    jQuery(function() {
        jQuery("body").trigger("quickview-loaded");
    });
</script>
