<div class="<venda_workflow> <venda_curstep>" id="<venda_curstep>">
	<div class="main-header marg-bottom">
		<h1 class="nomarg"><venda_text id=desktop.heading.giftwrapping></h1>
	</div>
	<div>

		<venda_block label=1,errors=notnull><h2 class="alert-box alert radius" data-alert=""><venda_errors></h2></venda_block label=1>

		<form method="post" name="<venda_curstep>form" action="<venda_codehttps>" id="giftwrap" class="js-custom">
		<venda_tpcomment><!-- Core parameters --></venda_tpcomment>
		<input type="hidden" name="ex" value="co_wizr-<venda_workflow>" />
		<input type="hidden" name="workflowid" value="<venda_workflowid>" />
		<input type="hidden" name="curstep" value="<venda_curstep>" />
		<input type="hidden" name="trrfnbr" value="<venda_userinfo><venda_sesid></venda_userinfo>" />
		<input type="hidden" name="mode" value="process" />
		<venda_block errors=null><input type="hidden" name="curlayout" value="checkout" /></venda_block>
		<input type="hidden" name="step" value="ordersummary" />

		<venda_tpcomment><!-- Start: Available Styles --></venda_tpcomment>
		<venda_detblock1>
			<tr class="js-wrapdetail">
					<td class="js-<venda_gwname>"><venda_gwname></td>
					<td class="js-sell<venda_gwname>"><venda_gwsell></td>
					<td class="js-img<venda_gwname>"><venda_media rec=gwrp></td>
			</tr>
		</venda_detblock1>

		<div style="display:none">
			<h2><venda_text id=desktop.info.giftwrapping_style_available></h2>
			<table summary="<venda_text id=desktop.info.giftwrapping_summary1>" title="<venda_text id=desktop.info.giftwrapping_summary1_title>" class="small-24 large-24">
				<thead>
				<tr>
					<th scope="col"><venda_text id=desktop.info.name></th>
					<th scope="col"><venda_text id=desktop.info.cost></th>
					<th scope="col"><venda_text id=desktop.info.image></th>
				</tr>
				</thead>
				<tbody>
				<venda_detail1>
				</tbody>
			</table>
		</div>
	<venda_tpcomment><!-- End: Available Styles --></venda_tpcomment>

	<venda_tpcomment><!-- Start: Wrapped Items --></venda_tpcomment>
	<venda_detblock2>
		<venda_detail3>
	</venda_detblock2>

	<venda_detblock3>
		<tr class="js-gw-<venda_oirfnbr> prod">
			<td class="prod-details text-left" valign="top">
				<div><strong><venda_invtname><venda_block label=111,invtatt1=notnull> (<venda_invtatt1><venda_block label=112,invtatt2=notnull>,&nbsp;<venda_invtatt2></venda_block label=112><venda_block label=113,invtatt3=notnull>,&nbsp;<venda_invtatt3></venda_block label=113><venda_block label=114,invtatt4=notnull>,&nbsp;<venda_invtatt4></venda_block label=114>)</venda_block label=111></strong></div>

				<div class="vcard marg-top">
					<span class="fn"><venda_block label=title_miss,title=Miss><venda_text id=desktop.form.title.miss></venda_block label=title_miss><venda_block label=title_mrs,title=Mrs><venda_text id=desktop.form.title.mrs></venda_block label=title_mrs><venda_block label=title_mr,title=Mr><venda_text id=desktop.form.title.mr></venda_block label=title_mr><venda_block label=title_ms,title=Ms><venda_text id=desktop.form.title.ms></venda_block label=title_ms> <venda_fname> <venda_lname></span><br />
					<span class="adr">
						<span class="street-address"><venda_block label=71,num=notnull><venda_num> </venda_block label=71><venda_addr1><venda_block label=72,addr2=notnull> <venda_addr2></venda_block label=72></span><br />
						<span class="locality"><venda_city></span><br />
						<venda_block label=42,state=notnull><span class="region"><venda_state></span><br /></venda_block label=42>
						<span class="postal-code"><venda_zipc></span><br />
						<span class="country-name"><venda_cntry></span>
					</span>
				</div>
			</td>
			<td class="js-wrapitem prod-wrap-item large-18">
				<div class="large-18 columns">
					<div class="row">
						<div class="large-6 columns">
                            <label for="formgw-<venda_oirfnbr>" class="inline right"><venda_text id=desktop.info.giftwrapping></label>
                        </div>
                        <div class="large-18 columns">
                        	<venda_block label=4,invtnogw!=1><select name="gw-<venda_oirfnbr>" id="formgw-<venda_oirfnbr>" data-oirfnbr="<venda_oirfnbr>"><venda_selectgiftwrap></select></venda_block label=4>
	                    	<venda_block label=5,invtnogw=1><venda_text id=desktop.info.giftwrapping_not_available></venda_block label=5>
	                    </div>
					</div>
                    <div class="row">
                		<div class="large-6 columns">
                			<label for="formcm-<venda_oirfnbr>" class="inline right"><venda_text id=desktop.info.message></label>
                		</div>
                		<div class="large-18 columns">
                			<venda_block label=7,invtnogwmsg!=1><textarea name="cm-<venda_oirfnbr>" id="formcm-<venda_oirfnbr>" data-oirfnbr="<venda_oirfnbr>" rows="3" cols="20"><venda_oicmt></textarea><p class="helptext text-left"><span class="js-textMsgCount-<venda_oirfnbr> js-textMsgCount">80</span> <venda_text id=desktop.info.characters_remaining></p></venda_block label=7>
                			<venda_block label=8,invtnogwmsg=1><venda_text id=desktop.info.giftwrapping_not_available></venda_block label=8>
                		</div>
                	</div>
				</div>
				<div class="large-6 columns">
					<div class="js-gwimg text-left"></div>
					<div class="js-gwsell marg-top text-left"></div>
				</div>
			</td>
		</tr>
	</venda_detblock3>

	<input type="hidden" name="textcount">
	<table summary="<venda_text id=desktop.info.giftwrapping_summary2>" title="<venda_text id=desktop.info.giftwrapping_summary2_title>" class="small-24 large-24">
		<thead>
			<tr>
				<th scope="col"><venda_text id=desktop.info.product></th>
				<th scope="col" class="text-center"><venda_text id=desktop.info.giftwrapping_options></th>
			</tr>
		</thead>
		<tbody>
			<venda_detail2>
		</tbody>
	</table>
	<venda_tpcomment><!-- End: Wrapped Items --></venda_tpcomment>
		<div id="buttons" class="row thickpad-bottom">
		<div class="large-12 columns right text-right marg-bottom"><input type="submit" value="<venda_text id=desktop.button.continue>" class="button" /></div>
		<div class="large-12 columns"><a class="button secondary" href="<venda_wizurl step=ordersummary,mode=display,param1=<venda_bsref>,callonly=yes>"><venda_text id=desktop.button.cancel></a></div>
		</div>
	</form>
</div>

<venda_tpcomment><!-- Used for checkout step indicators --></venda_tpcomment>
<venda_tpxt mode=set,name=curstep,value=step4>
<venda_tpcomment><!-- Used for html title --></venda_tpcomment>
<venda_tpxt mode=set,name=title,value=<venda_text id=desktop.heading.giftwrapping>>
<venda_inctemplate name=workflowSteps,type=tracking/shared>
</div>