<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" href="/apple-touch-icon.png">
<link rel="stylesheet" href="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/css/app.css">
<link rel="stylesheet" href="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/css/styles.css">
<!--[if IE 7]> <link rel="stylesheet" href="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/css/ie7.css"> <![endif]-->
<!--[if IE 8]> <link rel="stylesheet" href="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/css/ie8.css"> <![endif]-->
