<venda_block label=814,mode=value,<venda_setting type=ebiz,name=tracktagcoremetrics>=1>
<venda_block label=857,workflow!=login,curstep!=billtologin>
<venda_block label=6529,mode=value,<venda_tpxt mode=get,name=track>!=orad-itemship>
<venda_block label=6539,mode=value,<venda_tpxt mode=get,name=track>!=user-myform>
<script type="text/javascript">
<!--// set var for coremetrics                          

names=new Array("custId", "custEmail", "custCity", "custState", "custZip", "custCntry");
<venda_userinfo>
values=new Array("<venda_usemail>", "<venda_usemail>", "<venda_sescity>", "<venda_sesstate>", "<venda_seszipc>", "<venda_sescntry>");
</venda_userinfo>
<venda_block label=771,param1=notnull>
cmCreateRegistrationTag(values[0], values[1], values[2], values[3], values[4], values[5]);
</venda_block label=771> 
<venda_block label=773,mode=value,<venda_workflow>=checkout>
cmCreateRegistrationTag(values[0], values[1], values[2], values[3], values[4], values[5]);
</venda_block label=773> 
// -->
</script>
<!-- cmCreateRegistrationTag -->
</venda_block label=6539>
</venda_block label=6529>
</venda_block label=857>
</venda_block label=814>