<venda_tpcomment><!-- This template is accessed if there was an error when clicking the link in the password reset email --></venda_tpcomment>
<div id="emailpasswordreset" class="row">

    <div class="small-24 columns large-18 push-2">
        <div>
            <h1><venda_text id=desktop.heading.email_password_reset></h1>
            <venda_block errors=notnull><h2 class="alert-box alert radius" data-alert=""><venda_errors></h2></venda_block>
            <p><venda_text id=desktop.info.email_password_reset></p>
            <p></p>
        </div>
        <form action="" method="post" id="emailpasswordresetform">
            <fieldset>
                <div class="row">
                    <div class="large-8 columns resetpwdiv"><label for="email" class="inline right"><venda_text id=desktop.form.email> <span class="hidescreenreadersafe"><venda_text id=desktop.form.required></span></label></div>
                    <div class="large-16 columns pword"><input type="email" name="email" id="email" value="" required="required" autofocus="autofocus"></div>
                </div>
            </fieldset>
            <div><venda_tpcomment><!-- Cancel link needs to go to correct workflow - there is no way of determining this right now --></venda_tpcomment>
                <a href="<venda_codehttps>?ex=co_wizr-register&bsref=<venda_bsref>&step=login" class="button" id="cancelreminder"><venda_text id=desktop.button.cancel></a>
                <input type="submit" value="<venda_text id=desktop.button.email_password_reset>" id="passwordsent" class="button right" />
            </div>
        </form>
    </div>

<venda_tpxt mode=set,name=trackingstep,value=emailpasswordreset>
<venda_inctemplate name=workflowSteps,type=tracking/shared>
<venda_tpcomment><!-- Used for html title --></venda_tpcomment>
<venda_tpxt mode=set,name=title,value=<venda_text id=desktop.heading.email_password_reset>>
</div>