<li class="prod prod-accessory">
	<div class="prod-image">
		<venda_block label=141,med-<venda_setting type=ebiz,name=setaccessoryimagekey>=notnull>
		<a href="<venda_dispview invt=<venda_invtref>>"><venda_media rec=invt,type=pict,key=<venda_setting type=ebiz,name=setaccessoryimagekey>></a>
		</venda_block label=141>
		<venda_block label=142,med-<venda_setting type=ebiz,name=setaccessoryimagekey>=null>
		<a href="<venda_dispview invt=<venda_invtref>>"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/no_image_<venda_setting type=ebiz,name=setaccessoryimagekey>.gif" alt="<venda_text id=desktop.info.no_product_image>"></a>
		</venda_block label=142>
	</div>
	<div class="prod-details">
		<h4 class="prod-name"><a href="<venda_dispview invt=<venda_invtref>>"><venda_invtname></a></h4>
		<div class="prod-pricedetails">
		<venda_inctemplate type=includes,name=priceFormat>
		</div>
	</div>
</li>