<div class="product-slider" style="display:none;">
    <h3 class="titleline"><span><venda_text id=desktop.heading.featured_products></span></h3>
    <div class="product-slider">
        <venda_category temp=featprods,ref=<venda_icatref>fp,rec=icat>
    </div>
</div>