<venda_block label=814,mode=value,<venda_setting type=ebiz,name=tracktagcoremetrics>=1>
<!-- BEGIN COREMETRICS SUPPORT -->

<script language="javascript1.1" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/tracking/coremetrics/v40/eluminate.js" type="text/javascript">
</script>

<script language="javascript1.1" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/tracking/coremetrics/cmdatatagutils.js" type="text/javascript">
</script>

<venda_block label=851,mode=value,<venda_islive>=notnull><!-- Pull in the Live client ID on Live-->
<script type="text/javascript">var cm_ClientID = "<venda_setting type=ebiz,name=tracktagcoremetricsid>";</script>
</venda_block label=851>
<venda_block label=852,mode=value,<venda_islive>=null><!-- Pull in the TEST client ID if not live-->
<script type="text/javascript">var cm_ClientID = "<venda_setting type=ebiz,name=tracktagcoremetricstestid>";</script>
</venda_block label=852>

<venda_block label=857,mode=value,<venda_islive>=notnull><!-- only call the setProduction function on Live -->
<script language="javascript1.2" type="text/javascript">
<!--
cmSetProduction();
 //-->
</script>
</venda_block label=857>

<!-- END COREMETRICS -->
</venda_block label=814>

