<venda_tpcomment><!-- This bundle block MUST be left in place or the whole template will not translate --></venda_tpcomment>
<!-- bundle block
<venda_detblock_bundle>
	<venda_detblock_bundleditem>
		<!-- n/a -->
	</venda_detblock_bundleditem>
	<venda_detail_bundleditem>
</venda_detblock_bundle>
<venda_detail_bundle> 
-->
<venda_detblock_item>
	<venda_block label=12,invtpublish=1,invtref=notnull,ivtype!=3,operator=and>
	<venda_block label=111,invtatt1=notnull>
	<venda_tpcomment><!--If this IS an attribute product--></venda_tpcomment>
		<venda_invtname> - <venda_invtparef> - 
		<venda_text id=desktop.button.write_review>:
		<venda_dispview invt=<venda_invtparef>>?temp=submitpowerreview&pageId=<venda_invtparef>&layout=defaultnocolthree?pr_source=email
	</venda_block label=111>
	<venda_block label=113,invtatt1=null>
	<venda_tpcomment><!--If this IS NOT an attribute product--></venda_tpcomment>
		<venda_invtname> - <venda_invtref> - 
		<venda_text id=desktop.button.write_review>:
		<venda_dispview invt=<venda_invtref>>?temp=submitpowerreview&pageId=<venda_invtref>&layout=defaultnocolthree?pr_source=email
	</venda_block label=113>
    </venda_block label=12>
</venda_detblock_item>

<venda_detail_item>
