<div class="priceField calculateSaving price-<venda_invtref>">
	<venda_tpcomment><!-- NON ATTRIBUTE --></venda_tpcomment>
	<venda_block label=noatt,invtatrtot&lt;1>
		<venda_tpcomment><!-- no savings --></venda_tpcomment>
		<venda_block label=noatt_nosavings,mode=value,<venda_invtsavingonmsrp>=>
		<div class="priceLine1">
			<span class="product-price" itemprop="price"><venda_currsym><venda_invtsell></span>
		</div>
		<venda_block label=wasprice,mode=value,<venda_invtsavingonwas>!=>
		<span class="product-pricewas"><span class="was" id="atrwas"><venda_text id=site.was><venda_currsym><venda_invtwas></span></span>
		</venda_block label=wasprice>
		</venda_block label=noatt_nosavings>

		<venda_tpcomment><!-- savings --></venda_tpcomment>
		<venda_block label=noatt_savings,mode=value,<venda_invtsavingonmsrp>!=>
		<div class="priceLine1">
			<span class="product-price" itemprop="price"><venda_currsym><venda_invtsell></span>
			<span class="product-pricesaving"><span class="saveprice"></span></span>
		</div>
		<venda_block label=wasprice,mode=value,<venda_invtsavingonwas>!=>
		<span class="product-pricewas" id="atrwas"><venda_text id=site.was><venda_currsym><venda_invtwas></span></span>
		</venda_block label=wasprice>
		<span class="product-pricemsrp" id="atrmsrp"><venda_text id=site.msrp><span><venda_currsym><venda_invtmsrp></span></span>
		</venda_block label=noatt_savings>
	</venda_block label=noatt>


	<venda_tpcomment><!-- ATTRIBUTE --></venda_tpcomment>
	<venda_block label=att,invtatrtot&gt;0>
		<venda_tpcomment><!-- no savings --></venda_tpcomment>
		<venda_block label=att_nosavings,mode=value,<venda_invtatrminsubsell>=0.00,<venda_invtatrminsubsell>&gt;<venda_invtatrminsubwas>,<venda_invtatrminsubsell>=<venda_invtatrminsubwas>,operator=or>
			<venda_block label=att_nosavings_basic,mode=value,<venda_invtatrminsubsell>=0.00>
			<div class="priceLine1">
				<span class="product-price" id="price" itemprop="price"><venda_currsym><venda_invtsell></span>
				<venda_block label=hasMsrp,mode=value,<venda_invtsavingonmsrp>!=>
				<span class="product-pricesaving"><span class="saveprice"></span></span>
				</venda_block label=hasMsrp>
			</div>
			<venda_block label=wasprice,mode=value,<venda_invtsavingonwas>!=>
			<span class="product-pricewas"><span class="was" id="atrwas"><venda_text id=site.was><venda_currsym><venda_invtwas></span></span>
			</venda_block label=wasprice>
			</venda_block label=att_nosavings_basic>

			<venda_block label=att_nosavings_adv,mode=value,<venda_invtatrminsubsell>!=0.00>
			<venda_tpcomment><!-- same price --></venda_tpcomment>
			<venda_block label=att_nosavings_adv_sameprice,mode=value,<venda_invtatrminsubsell>=<venda_invtatrmaxsubsell>>
			<div class="priceLine1">
				<span class="product-price" id="price" itemprop="price"><venda_currsym><venda_invtatrminsubsell></span>
				<venda_block label=hasMsrp,mode=value,<venda_invtsavingonmsrp>!=>
				<span class="product-pricesaving"><span class="saveprice"></span></span>
				</venda_block label=hasMsrp>
			</div>
			</venda_block label=att_nosavings_adv_sameprice>

			<venda_tpcomment><!-- different price --></venda_tpcomment>
			<venda_block label=att_nosavings_adv_diffprice,mode=value,<venda_invtatrminsubsell>!=<venda_invtatrmaxsubsell>>
			<div class="priceLine1">
				<span class="product-price" id="price" itemprop="price"><venda_currsym><venda_invtatrminsubsell> - <venda_currsym><venda_invtatrmaxsubsell></span>
				<venda_block label=hasMsrp,mode=value,<venda_invtsavingonmsrp>!=>
				<span class="product-pricesaving"><span class="saveprice"></span></span>
				</venda_block label=hasMsrp>
			</div>
			</venda_block label=att_nosavings_adv_diffprice>
			</venda_block label=att_nosavings_adv>

			<!-- RT190795-->
			<venda_block label=hasMsrp,mode=value,<venda_invtsavingonmsrp>!=>
			<span class="product-pricemsrp" id="atrmsrp"><venda_text id=site.msrp><span><venda_currsym><venda_invtmsrp></span></span>
			</venda_block label=hasMsrp>
			<!-- End RT190795-->
		</venda_block label=att_nosavings>

		<venda_tpcomment><!-- savings --></venda_tpcomment>
		<venda_block label=att_savings,mode=value,<venda_invtatrminsubsell>!=0.00,<venda_invtatrminsubsell>&lt;<venda_invtatrminsubwas>,operator=and>
			<venda_block label=att_savings_basic,mode=value,<venda_invtatrminsubsell>=>
			<div class="priceLine1">
				<span id="product-price" class="price" itemprop="price"><venda_currsym><venda_invtsell></span>
			</div>
			</venda_block label=att_savings_basic>

			<venda_block label=att_savings_adv,mode=value,<venda_invtatrminsubsell>!=>
				<venda_tpcomment><!-- same price --></venda_tpcomment>
				<venda_block label=att_savings_adv_sameprice,mode=value,<venda_invtatrminsubsell>=<venda_invtatrmaxsubsell>>
					<div class="priceLine1">
						<span class="product-price" id="price" itemprop="price"><venda_currsym><venda_invtatrminsubsell></span>
						<venda_block label=hasMsrp,mode=value,<venda_invtsavingonmsrp>!=>
						<span class="product-pricesaving"><span class="saveprice"></span></span>
						</venda_block label=hasMsrp>
					</div>

					<venda_block label=att_savings_adv_sameprice_single,mode=value,<venda_invtatrminsubwas>=<venda_invtatrmaxsubwas>>
					<span class="product-pricewas"><span class="price" id="atrwas"><venda_text id=site.was><venda_currsym><venda_invtatrminsubwas></span></span>
					</venda_block label=att_savings_adv_sameprice_single>

					<venda_block label=att_savings_adv_sameprice_range,mode=value,<venda_invtatrminsubwas>!=<venda_invtatrmaxsubwas>>
					<span class="product-pricewas"><span id="atrwas"><venda_text id=site.was><span class="price"><venda_currsym><venda_invtatrminsubwas></span> - <span class="price"><venda_currsym><venda_invtatrmaxsubwas></span></span></span>
					</venda_block label=att_savings_adv_sameprice_range>

					<venda_block label=hasMsrp,mode=value,<venda_invtsavingonmsrp>!=>
					<span class="product-pricemsrp" id="atrmsrp"><venda_text id=site.msrp><span><venda_currsym><venda_invtmsrp></span></span>
					</venda_block label=hasMsrp>
				</venda_block label=att_savings_adv_sameprice>

				<venda_tpcomment><!-- different price --></venda_tpcomment>
				<venda_block label=att_savings_adv_diffprice,mode=value,<venda_invtatrminsubsell>!=<venda_invtatrmaxsubsell>>
					<div class="priceLine1">
						<span class="product-price" id="price" itemprop="price"><venda_currsym><venda_invtatrminsubsell> - <venda_currsym><venda_invtatrmaxsubsell></span>
						<venda_block label=hasMsrp,mode=value,<venda_invtsavingonmsrp>!=>
						<span class="product-pricesaving"><span class="saveprice"></span></span>
						</venda_block label=hasMsrp>
					</div>

					<venda_block label=att_savings_adv_diffprice_single,mode=value,<venda_invtatrminsubwas>=<venda_invtatrmaxsubwas>>
					<span class="product-pricewas"><span id="atrwas"><venda_text id=site.was><span class="price"><venda_currsym><venda_invtatrminsubwas></span></span></span>
					</venda_block label=att_savings_adv_diffprice_single>

					<venda_block label=att_savings_adv_diffprice_range,mode=value,<venda_invtatrminsubwas>!=<venda_invtatrmaxsubwas>>
					<span class="product-pricewas"><span id="atrwas"><venda_text id=site.was><span class="price"><venda_currsym><venda_invtatrminsubwas></span> - <span class="price"><venda_currsym><venda_invtatrmaxsubwas></span></span></span>
					</venda_block label=att_savings_adv_diffprice_range>

					<venda_block label=hasMsrp,mode=value,<venda_invtsavingonmsrp>!=>
					<span class="product-pricemsrp" id="atrmsrp"><venda_text id=site.msrp><span><venda_currsym><venda_invtmsrp></span></span>
					</venda_block label=hasMsrp>
				</venda_block label=att_savings_adv_diffprice>
			</venda_block label=att_savings_adv>
		</venda_block label=att_savings>
	</venda_block label=att>

	<venda_tpcomment><!-- Parent was price--></venda_tpcomment>
	<span style="display:none" id="parentwasprice"><venda_invtwas></span>
	<span style="display:none" id="parentsellprice"><venda_invtsell></span>
	<span style="display:none" id="parentsavemsrp"><venda_invtsavingonmsrp></span>
	<span style="display:none" id="parentsavemsrppercent"><venda_invtsavingonmsrppercent></span>
	<span style="display:none" id="maxsubmsrp"><venda_invtatrmaxsubmsrp></span>
</div>