<p style="font-family:Arial, Helvetica, Verdana, sans-serif; font-size:20px;color:#000;margin:0;">
    <venda_text id=desktop.info.dear> <venda_fname> <venda_lname>
    <venda_tpcomment>
       <!-- <strong>
            <venda_block label=title_miss,title=Miss>
                <venda_text id=desktop.form.title.miss>
            </venda_block label=title_miss>

            <venda_block label=title_mrs,title=Mrs>
                <venda_text id=desktop.form.title.mrs>
            </venda_block label=title_mrs>

            <venda_block label=title_mr,title=Mr>
                <venda_text id=desktop.form.title.mr>
            </venda_block label=title_mr>

            <venda_block label=title_ms,title=Ms>
                <venda_text id=desktop.form.title.ms>
            </venda_block label=title_ms>

            <venda_fname>

            <venda_block label=115,mname=notnull>
                <venda_mname>
            </venda_block label=115>

            <venda_lname>
        </strong> -->
        </venda_tpcomment>
    </p>
