	   <div id="storecredit">
       <h1><venda_text id=desktop.heading.store_credit></h1>
		<p><venda_text id=desktop.info.order_history_store_credit> <venda_currsym><venda_storecredit></p>
        </div>