<venda_detblock>
<li<venda_block label=25,itemcount1=1> class="prod-first"</venda_block label=25>>
	<div class="prod-image">
	<venda_block label=141,med-xsmall=notnull>
		<a href="<venda_dispview invt=<venda_packivref>>"><venda_media rec=invt,type=pict,key=xsmall></a>
	</venda_block label=141>
	<venda_block label=142,med-xsmall=null>
		<a href="<venda_dispview invt=<venda_packivref>>"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/no_image_xsmall.gif" alt="<venda_text id=desktop.info.no_product_image>"></a>
	</venda_block label=142>
	</div>
	<div class="prod-details">
		<p class="prod-name"><a href="<venda_dispview invt=<venda_packivref>>"><venda_block label=12,invtaltname=notnull><venda_invtaltname></venda_block label=12><venda_block label=13,invtaltname=null><venda_invtname></venda_block label=13></a> </p>
	</div>
</li>
</venda_detblock>
<div class="prod prod-subpackagesku">
<ul class="small-block-grid-2 large-block-grid-4"><venda_detail></ul>
</div>