<venda_detblock1>
    <venda_block label=101,ismultivalue=notnull>
        <venda_detblock_extvalue>
            <venda_block label=1001,exvalue=notnull>
                <div class="prod-promo"><a href="<venda_ebizurl>/search?q=*&pdxtpromos=<venda_exvalue>">
                <venda_block label=3for2,exvalue=buy3for2><venda_text id=desktop.info.promo_buy3for2></venda_block label=3for2>
                <venda_block label=buy1get1,exvalue=buy1get1><venda_text id=desktop.info.promo_buy1get1></venda_block label=buy1get1>
                <venda_block label=halfprice,exvalue=halfprice><venda_text id=desktop.info.promo_halfprice></venda_block label=halfprice>
                </a></div>
            </venda_block label=1001>
        </venda_detblock_extvalue>
        <venda_block label=31,isodd=1><span class="prod-promo-isodd"></venda_block label=31>
        <venda_block label=32,isven=1></venda_block label=32>
        <venda_detail_extvalue>
    </venda_block label=101>
</venda_detblock1>

<venda_detail1>