<venda_detblock_pageslist>
	<venda_block label=1111,mode=value,<venda_currentpage>=<venda_number>>
		<li class="current"><p class="page-button js-pagn-<venda_number>"><venda_number></p></li>
	</venda_block label=1111>
	<venda_block label=1112,mode=value,<venda_currentpage>!=<venda_number>>
		<li class="notcurrent"><a href="<venda_baseurl>&setpagenum=<venda_number><venda_block label=1128,mode=value,<venda_pgn_isviewall>=1>&isviewall=1</venda_block label=1128>&perpage=<venda_perpage>" class="page-button js-updatesearch js-pagn-<venda_number>" title="<venda_text id=desktop.info.pagn_go_to_page_y>"><venda_number></a></li>
	</venda_block label=1112>
</venda_detblock_pageslist>

<venda_detail_pageslist pgn_window_size=2>