<venda_detblock>
<venda_inventory ref=<venda_invtref1>,temp=featprods>
</venda_detblock>

<venda_block label=1,rectot&gt;0>
<ul id="featprodsSlider" class="slider js-slider small-block-grid-2" data-display="4" data-direction="horizontal" data-slidenum="4" data-duration="0.5" data-viewmore="<venda_text id=desktop.button.view_more_products>" data-viewless="<venda_text id=desktop.button.view_less_products>"><venda_detail></ul>
</venda_block label=1>