<venda_detblocknone>
<venda_block label=paypal,provider_name=paypal>
<venda_tpcomment><!-- PayPal (PayPal Express not supported) --></venda_tpcomment>
<fieldset class="f-<venda_provider_name> thickmarg-topbottom">
    <legend><venda_text id=desktop.info.pay_by_<venda_provider_name>></legend>
    <div class="row">
        <div class="large-24 columns">
            <div class="left">
                <label for="form<venda_provider_name>"><input type="radio" name="payment_id" value="<venda_payment_id>" id="form<venda_provider_name>" <venda_block label=55,payment_selected=1> checked="checked"</venda_block label=55><venda_block label=24,payment_hide_choice=1> style="display:none"</venda_block label=24>><span class="thinpad-side"><venda_text id=desktop.form.pay_by_paypal></span></label>
            </div>
            <div class="left">
                <img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/PayPal_mark_37x23.gif" alt="<venda_text id=desktop.info.paypal_logo>" id="paypallogo">
            </div>
        </div>
    </div>
    <br>
    <p class="nomarg"><venda_text id=desktop.info.paypal_1></p>
</fieldset>
<hr>
</venda_block label=paypal>

<venda_block label=cba,provider_name=cba>
<venda_tpcomment><!-- Checkout By Amazon --></venda_tpcomment>
<!-- <venda_glxt mode=set,name=payment_country,value=<venda_country>>
<venda_glxt mode=set,name=payment_id,value=<venda_payment_id>>
<venda_glxt mode=set,name=payment_merchant_id,value=<venda_merchant_id>> -->
<script type='text/javascript'>
var <venda_provider_name>_merchant_id = '<venda_merchant_id>';
var <venda_provider_name>_redirect_url = '<venda_app_redirect_url>';
var cba_basket_order = '<venda_cba_basket_order>';
var only_display = '<venda_display_only>';
var cba_regn_recreate = '<venda_cba_regn_recreate>';
</script>
</venda_block label=cba>

<venda_block label=notpaypal,provider_name!=paypal>
<venda_tpcomment><!-- NEEDS CLEANING UP - ONLY USED FOR CBA SO FAR --></venda_tpcomment>
        <venda_block label=source_basket,source=basket>
            <script type='text/javascript'>
                var cba_payment_id = '<venda_payment_id>';
            </script>
            <venda_inctemplate type=includes/none_paymethods/,name=<venda_provider_name>_basket>
        </venda_block label=source_basket>
        <venda_block label=source,source!=basket>
            <venda_inctemplate type=includes/none_paymethods/,name=<venda_provider_name>>
        </venda_block label=source>
</venda_block label=notpaypal>
</venda_detblocknone>

<venda_detailnone>