<venda_block label=45,invtpublish=1>
<li class="prod prod-search-results js-prod<venda_block label=attoutofstock,invtatrtot&gt;0,invtatrinstock&lt;1> prod-outofstock</venda_block label=attoutofstock><venda_block label=nonattoutofstock,invtatrtot&lt;1,invtavail&lt;1> prod-outofstock</venda_block label=nonattoutofstock>">
	<form name="form<venda_ref>" action="<venda_codehttp>" method="get" id="addproduct<venda_ref>form">
	<div id="comp-image<venda_invtref>" class="prod-image js-prod-image">
		<venda_block label=goldlabel,invtivtype=12,invtivtype=76,invtivtype=77,invtivtype=37,invtivtype=4,operator=or><!-- Gold Label products -->
			<div class="topbadge-image"><img class="topbadge goldlabel" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/gold_label.png" alt="Gold Label" /></div>
		</venda_block label=goldlabel>
		<venda_block label=leftbadge,pdxtleftbadge=notnull>
			<div class="leftbadge-image"><img class="leftbadge" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/<venda_pdxtleftbadge>" /></div>
		</venda_block label=leftbadge>
		<a class="js-moredetail" href="<venda_dispview invt=<venda_invtref>>" id="<venda_invtref>" data-defaultImage="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/no_image_<venda_setting type=ebiz,name=setsearchimagekey>.gif">
		    <venda_block label=4,med-<venda_setting type=ebiz,name=setsearchimagekey>=notnull>
		        <venda_media rec=invt,type=pict,key=<venda_setting type=ebiz,name=setsearchimagekey>>
		    </venda_block label=4>
		    <venda_block label=5,med-<venda_setting type=ebiz,name=setsearchimagekey>=null>
		        <img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/no_image_<venda_setting type=ebiz,name=setsearchimagekey>.gif" alt="<venda_text id=desktop.info.no_product_image>">
		    </venda_block label=5>
		</a>
		<venda_block label=attoutofstock2,invtatrtot&gt;0,invtatrinstock&lt;1><div class="prod-outofstock-text"><venda_text id=desktop.info.sold_out></div></venda_block label=attoutofstock2>
		<venda_block label=nonattoutofstock2,invtatrtot&lt;1,invtavail&lt;1><div class="prod-outofstock-text"><venda_text id=desktop.info.sold_out></div></venda_block label=nonattoutofstock2>
	</div>

	<div class="prod-details" id="details-<venda_invtref>">
	<div class="js-imgSource" style="display:none"><venda_block label=94,med-medium=notnull><venda_media rec=invt,type=pict,key=medium,img=no></venda_block label=94><venda_block label=95,med-medium=null><venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/no_image_medium.gif</venda_block label=95></div>
	<div class="onhandleft">
		<venda_block label=onhand5left,invtonhand=5><venda_text id=site.search_results.5left></venda_block label=onhand5left>
		<venda_block label=onhand4left,invtonhand=4><venda_text id=site.search_results.4left></venda_block label=onhand4left>
		<venda_block label=onhand3left,invtonhand=3><venda_text id=site.search_results.3left></venda_block label=onhand3left>
		<venda_block label=onhand2left,invtonhand=2><venda_text id=site.search_results.2left></venda_block label=onhand2left>
		<venda_block label=onhand1left,invtonhand=1><venda_text id=site.search_results.1left></venda_block label=onhand1left>
	</div>
	<p class="prod-brand"><a href="<venda_dispview invt=<venda_invtref>>"><venda_invtbrand></a></p>
	<h3 class="prod-name"><a class="js-moredetail" id="comp-name<venda_invtref>" href="<venda_dispview invt=<venda_invtref>>"><venda_invtname></a></h3>
	<venda_block label=850,pdxtswatch=1>
		<venda_mediagrid template=colourSwatch>
	</venda_block label=850>
	<venda_block label=25,invtdesc2=notnull><p class="prod-invtdesc2 js-prod-invtdesc2"><venda_invtdesc2></p></venda_block label=25>

			<div class="prod-pricedetails">
				<venda_tpcomment>
				<!----------------------------------------------------------------------------------->
				<!--! Multisku products (product type 'multisku') use pdxts to show pricing info  -->
				<!--  All other product types use the default pricing info                        -->
				<!----------------------------------------------------------------------------------->
				</venda_tpcomment>

				<venda_tpcomment><!-- Non-Multisku product type --></venda_tpcomment>
				<venda_block label=nonmultisku,invtivtype!=multisku,invtivtype!=multisku_ps>
					<venda_inctemplate type=includes,name=priceFormat>
				</venda_block label=nonmultisku>


				<venda_tpcomment><!-- Multisku product type --></venda_tpcomment>
				<venda_block label=multisku,invtivtype=multisku,invtivtype=multisku_ps,operator=or>
					<div class="priceField">
						<div class="product-price"><venda_pdxtourprice></div>
						<venda_block label=rrpprice,pdxtrrp=notnull><div class="product-pricemsrp"><venda_text id=site.msrp> <venda_pdxtrrp></div></venda_block label=rrpprice>
						<venda_block label=wasprice,pdxtwasprice=notnull><div class="product-pricewas"><venda_pdxtwasprice></div></venda_block label=wasprice>
					</div>
				</venda_block label=multisku>
			</div>

			<div class="large-24 columns"><venda_extflds hideempty=0,realseq=0,template=pdxtPromos,group=7,ref=<venda_invtref>,ivtype=<venda_invtivtype>></div>

			<venda_block label=att,invtatrtot&gt;0>
			<venda_tpcomment><!-- ATTRIBUTE --></venda_tpcomment>
				<venda_block label=att1,invtatrinstock&lt;1>
				<venda_tpcomment><!-- Out of Stock --></venda_tpcomment><!--p><span class="radius alert label"><venda_text id=desktop.info.out_of_stock></span></p-->
				<venda_tpcomment><!-- ETA --></venda_tpcomment><venda_block label=att3,etadyleft&gt;0><p><span class="radius secondary label"><venda_text id=desktop.info.eta_date></span></p></venda_block label=att3>
				<venda_tpcomment><!-- EMWBIS <p><a href="<venda_dispview invt=<venda_invtref>>?temp=emailinstock" title="<venda_text id=desktop.button.email_when_in_stock>"><venda_text id=desktop.button.email_when_in_stock></a></p> --></venda_tpcomment>
				</venda_block label=att1>
			</venda_block label=att>

			<venda_block label=10,invtatrtot&lt;1>
			<venda_tpcomment><!-- NON-ATTRIBUTE --></venda_tpcomment>
				<venda_block label=50,invtpreorder=1>
				<venda_tpcomment><!-- Release Date --></venda_tpcomment>
				<p class="prod-release"><venda_text id=desktop.info.release_date></p>
				</venda_block label=50>

				<venda_block label=40,invtavail&lt;1>
				<venda_tpcomment><!-- Out of Stock --></venda_tpcomment><!--p><span class="radius alert label"><venda_text id=desktop.info.out_of_stock></span></p-->
				<venda_tpcomment><!-- ETA --></venda_tpcomment><venda_block label=167,etadyleft&gt;0><p><span class="radius secondary label"><venda_text id=desktop.info.eta_date></span></p></venda_block label=167>
				<venda_tpcomment><!-- EMWBIS <p><a href="<venda_dispview invt=<venda_invtref>>?temp=emailinstock" title="<venda_text id=desktop.button.email_when_in_stock>"><venda_text id=desktop.button.email_when_in_stock></a></p> --></venda_tpcomment>
				</venda_block label=40>

				<venda_block label=51,invtavail&gt;0>

				<venda_tpcomment><!-- Add/Buy/Pre-order - In stock --></venda_tpcomment>
				<input type="hidden" name="ex" value="co_disp-shopc">
				<input type="hidden" name="bsref" value="<venda_bsref>">
				<input type="hidden" name="log" value="22">
				<input type="hidden" name="ivref" value="<venda_invtref>">
				<input type="hidden" name="buy" value="<venda_invtref>">
				<input type="hidden" name="mode" value="add">
				<input type="hidden" name="next" value="search"><venda_tpcomment><!--N.B. The next parameter is deprecated for search --></venda_tpcomment>
				<input type="hidden" name="curpage" value="search">
				<input type="hidden" name="layout" value="">
				<input type="hidden" name="curlayout" value="">
				<!--<div><label for="qty"><venda_text id=desktop.info.qty></label> <input name="qty" id="qty" type="text" size="3" maxlength="3" value="1"></div>-->

					<venda_block label=38,invtpreorder!=1>
					<venda_tpcomment><!-- Add to Basket --></venda_tpcomment><!--<input type="submit" id="addproduct<venda_invtref>" value="<venda_text id=desktop.button.addtobasket>">-->
					<venda_tpcomment><!-- Buy Now --></venda_tpcomment><!--<input type="submit" value="<venda_text id=desktop.button.buy_now>" onClick="document.form<venda_invtref>.ex.value='co_wizr-shopcart';">-->
					</venda_block label=38>
					<venda_tpcomment><!-- Pre-order - add to basket --></venda_tpcomment><venda_block label=39,invtpreorder=1><!--<input type="submit" value="<venda_text id=desktop.button.preorder>" class="button js-preorder">--></venda_block label=39>
					<venda_tpcomment><!-- For pre-order with buy now (go to basket page) <input type="button" value="<venda_text id=desktop.button.preorder>" class="button js-preorder" onClick="document.form<venda_invtref>.ex.value='co_wizr-shopcart';"> --></venda_tpcomment>

				</venda_block label=51>

				<venda_tpcomment><!-- Was/Saving --></venda_tpcomment>
				<venda_block label=11,invtsavingonwas=notnull,invtwas!=0.00>
				<!--<p class="prod-price-was"><span><venda_text id=desktop.info.price_was></span><venda_currsym><venda_invtwas></p>-->
				<!--<p class="prod-price-save"><span><venda_text id=desktop.info.price_save></span><venda_currsym><venda_invtsavingonwas></p>-->
				</venda_block label=11>
			</venda_block label=10>

<div class="hide-for-small">
<venda_block label=500,mode=value,<venda_setting type=ebiz,name=showcomparebutton>=1>
	<venda_block label=702,mode=value,<venda_tpxt mode=get,name=categorySearch>!=>
		<venda_block label=601,mode=value,<venda_setting type=ebiz,name=setalwaysshowcompare>!=1>
			<venda_block label=507,mode=value,<venda_tpxt mode=get,name=categorySearch>!=>
				<p class="prod-compare"><a href="#" onclick='AddtoCompare("<venda_invtivtype>","<venda_invtref>","comp-name<venda_invtref>","comp-image<venda_invtref>"); return false;'><venda_text id=desktop.button.add_to_compare></a></p>
			</venda_block label=507>
		</venda_block label=601>
		<venda_block label=602,mode=value,<venda_setting type=ebiz,name=setalwaysshowcompare>=1>
			<p class="prod-compare prod-<venda_setting type=ebiz,name=setcomparekeywordtrigger>"><a href="#" onclick='AddtoCompare("<venda_invtivtype>","<venda_invtref>","comp-name<venda_invtref>","comp-image<venda_invtref>"); return false;'><venda_text id=desktop.button.add_to_compare></a></p>
		</venda_block label=602>
	</venda_block label=702>

	<venda_block label=703,mode=value,<venda_tpxt mode=get,name=categorySearch>=>
		<venda_block label=603,mode=value,<venda_setting type=ebiz,name=setalwaysshowcompare>!=1>
			<venda_block label=508,mode=value,<venda_tpxt mode=get,name=categorySearch>!=>
				<p class="prod-compare"><a href="#" onclick='AddtoCompare("<venda_invtivtype>","<venda_invtref>","comp-name<venda_invtref>","comp-image<venda_invtref>"); return false;'><venda_text id=desktop.button.add_to_compare></a></p>
			</venda_block label=508>
	</venda_block label=603>
		<venda_block label=604,mode=value,<venda_setting type=ebiz,name=setalwaysshowcompare>=1>
			<p class="prod-compare prod-<venda_setting type=ebiz,name=setcomparekeywordtrigger>"><a href="#" onclick='AddtoCompare("<venda_invtivtype>","<venda_invtref>","comp-name<venda_invtref>","comp-image<venda_invtref>"); return false;'><venda_text id=desktop.button.add_to_compare></a></p>
		</venda_block label=604>
	</venda_block label=703>
</venda_block label=500>
</div>
	<venda_block label=104,invtsell2=notnull,invtatrminsubsell=0.00,invtatrmaxsubsell=0.00><p class="multibuy"><venda_text id=desktop.info.multi_buy_savings></p></venda_block label=104>
	 <venda_block label=reviews,mode=value,<venda_setting type=ebiz,name=powerreviews>=1,<venda_setting type=ebiz,name=powerreviewslocayta>=1><venda_tpcomment><!-- power reviews snippets for product reviews --></venda_tpcomment>
	<div class="reviewstar" id="prs-<venda_invtref>">
				<input type="hidden" class="pr_page_id" value="<venda_invtref>"/>
				<input type="hidden" class="pr_write_review" value="<venda_dispview invt=<venda_invtref>>?temp=submitpowerreview&pageId=<venda_invtref>"/>
				<input type="hidden" class="pr_read_review" value="<venda_dispview invt=<venda_invtref>>#readReview"/>
			</div>
		</venda_block label=reviews>
	</div>
	</form>
	<venda_block label=attoutofstock3,invtatrtot&gt;0,invtatrinstock&lt;1><div class="prod-outofstock-bg"></div></venda_block label=attoutofstock3>
	<venda_block label=nonattoutofstock3,invtatrtot&lt;1,invtavail&lt;1><div class="prod-outofstock-bg"></div></venda_block label=nonattoutofstock3>
</li>
</venda_block label=45>


