<div id="static-storelocator" class="row">
	<div id="search_info" class="large-24 columns">
		<h1><venda_text id=desktop.storeloc.heading></h1>
		<p><venda_text id=desktop.storeloc.subheading></p>
		<p><venda_text id=desktop.storeloc.subheading2></p>
	</div>
</div>
<div class="row">
<div class="storeloc_content large-24 columns">
<venda_block label=dts-lookup,mode=value,<venda_ebxtNGstoreloc>!=1>
<venda_tpcomment><!-- Deliver to Store - Google, Venda and Ajax --></venda_tpcomment>

<!-- jQuery templates -->
<script type="text/javascript" src="/content/ebiz/<venda_bsref>/resources/js/external/jquery-tmpl-min.js"></script>
<script src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/jsuri-1.1.1.js"></script>
<script src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/external/jquery-ui-1.8.23.custom.min.js"></script>
<!-- Google API includes -->
<script type="text/javascript" src="<venda_protocol>://www.google.com/jsapi"></script>
<venda_block label=11,ebxtgapikey!=>
	<!-- API KEY -->
	<script type="text/javascript" src="<venda_protocol>://maps.googleapis.com/maps/api/js?key=<venda_ebxtgapikey>&libraries=geometry&sensor=true&language=en"></script>
</venda_block label=11>
<venda_block label=12,ebxtgapikey=>
	<!-- NO API KEY -->
	<script type="text/javascript" src="<venda_protocol>://maps.googleapis.com/maps/api/js?libraries=geometry&sensor=true&language=en"></script>
</venda_block label=12>

<!-- Store locator script -->
<script type="text/javascript" src="/content/ebiz/<venda_bsref>/resources/js/Venda/Storelocator/storelocator-lookup.js"></script>

<!-- jQuery template -->
<script id="tkmaxx-head-tmpl" type="text/x-jquery-tmpl">
<div id="tk-storeheader">
	<div id="tk_tab" class="large-8 small-24"></div>
</div>
<div style="clear:both"></div>
<div id="tk-storecontent" class="box-body"></div>
</script>
<script id="homesense-head-tmpl" type="text/x-jquery-tmpl">
<div id="hs-storeheader">
	<div id="hs_tab" class="large-8 small-24"></div>
</div>
<div style="clear:both"></div>
<div id="hs-storecontent" class="box-body"></div>
</script>

<script id="tkmaxx-foot-tmpl" type="text/x-jquery-tmpl">
<div id="tk-storefoot">
	<div id="tk_empty">
		<p><venda_text id=desktop.storeloc.tk_empty></p>
	</div>
</div>
<div style="clear:both"></div>
</script>
<script id="homesense-foot-tmpl" type="text/x-jquery-tmpl">
<div id="hs-storefoot">
	<div id="hs_empty">
		<p><venda_text id=desktop.storeloc.tk_empty></p>
	</div>
</div>
<div style="clear:both"></div>
</script>

<script id="store-tmpl" type="text/x-jquery-tmpl">
<div class="store_search_result">
	<h5>${StoreName} - ${Dist} ${Unit}</h5>
	<div>
		<address>
		<div class="row">
			<div class="column small-24 large-18">
			<p>
			{{if AddressName}}
				${AddressName}
			{{/if}}
			{{if Address}}
				${Address}
			{{/if}}
			{{if Address2}}
				${Address2}
			{{/if}}
			{{if City}}
				${City}
			{{/if}}
			{{if PostCode}}
				${PostCode}
			{{/if}}
			-
			{{if Phone}}
			 ${Phone}
			{{/if}}
			</p>
			</div>
			<div class="column small-24 large-6">
			<p class="go_to_store left"><a href="${optionValue}" data-id="${StoreID}" data-ajax="false" data-dist="${Dist} ${Unit}" data-lat="${Latitude}" data-lng="${Longitude}" data-url="${optionValue}" data-storetype="${Key1}">Store Details</a></p>
			</div>
		</div>
		</address>
	</div>
</div>
</script>
</venda_block label=dts-lookup>

<venda_block label=dts-dropdown,mode=value,<venda_ebxtNGstoreloc>=1>
	<venda_tpcomment><!-- Deliver to Store - DropDown (Venda and Ajax) --></venda_tpcomment>

		<!-- Store locator - Fallback script -->
		<script type="text/javascript" src="/content/ebiz/<venda_bsref>/resources/js/Venda/Storelocator/storelocator-dropdown.js"></script>
</venda_block label=dts-dropdown>

<div id="tag-ebizurl" style="display:none;"><venda_ebizurl></div>
<div id="tag-selectastore" style="display:none;"><venda_text id=desktop.info.select_a_store></div>
<div id="tag-selectaregion" style="display:none;"><venda_text id=desktop.info.select_a_region></div>
<div id="tag-selectthisstore" style="display:none;"><venda_text id=desktop.button.select_store></div>
<div id="tag-storedetails" style="display:none;"><venda_text id=desktop.info.store_details></div>
<div id="tag-tel" style="display:none;"><venda_text id=desktop.form.phone.infowindow>:</div>
<div id="tag-distance" style="display:none;"><venda_text id=desktop.info.distance>: </div>
<div id="tag-back" style="display:none;"><venda_text id=desktop.button.back></div>
<div id="tag-openingtimes" style="display:none;"><venda_text id=desktop.info.openingtimes></div>
<div id="tag-dept" style="display:none;"><venda_text id=desktop.info.dept></div>
<div id="tag-directions" style="display:none;"><venda_text id=desktop.info.directions></div>
<div id="tag-durations" style="display:none;"><venda_text id=desktop.info.durations></div>
<div id="tag-nokeyword" style="display:none;"><venda_text id=desktop.info.nokeyword></div>
<div id="tag-nostoreselect" style="display:none;"><venda_text id=desktop.info.nostoreselect></div>
<div id="tag-enter_location" style="display:none;"><venda_text id=desktop.form.enter_location></div>
<div id="tag-storedetail-head-address" style="display:none;"><venda_text id=desktop.storeloc.storedetail.head.address></div>
<div id="tag-storedetail-head-phone" style="display:none;"><venda_text id=desktop.storeloc.storedetail.head.phone></div>
<div id="tag-storedetail-head-opening" style="display:none;"><venda_text id=desktop.storeloc.storedetail.head.opening></div>
<div id="tag-storedetail-head-facility" style="display:none;"><venda_text id=desktop.storeloc.storedetail.head.facility></div>
<div id="tag-storedetail-head-departments" style="display:none;"><venda_text id=desktop.storeloc.storedetail.head.departments></div>
<div id="tag-storedetail-head-storedirection" style="display:none;"><venda_text id=desktop.storeloc.storedetail.head.storedirection></div>
<div id="tag-storedetail-head-comment" style="display:none;"><venda_text id=desktop.storeloc.storedetail.head.comment></div>
<div id="tag-storedetail-getdirection" style="display:none;"><venda_text id=desktop.storeloc.storedetail.getdirection></div>
<div id="input-enter_location" style="display:none;"></div>

<div id="storelocator">
	<div id="storelookup">
			<div id="nav">
				<div class="row">
					<div class="column">
						<div class="show-for-small search-banner" id="findnearest">
								<i class="icon-locator icon-2x"></i> <venda_text id=desktop.info.findyournearest>
						</div>
					</div>
				</div>
			<div class="row search-section">
				<div class="show-for-small column">
				  <h5 class="js-togglebox active" data-toggle="address_holder" data-toggle-icon="icon-minus"><venda_text id=desktop.form.label.enter_location.townpostcode> <i class="icon-plus right icon-minus show-for-small"></i></h5>
				</div>

			<div id="address_holder" class="address_holder columns large-centered hide">
			<venda_block label=dts-lookup2,mode=value,<venda_ebxtNGstoreloc>!=1>

				<div class="row collapse search_criteria">
					<form name="storelocatorform" id="storelocatorform" class="storelocatorform" onsubmit="return false;" data-ajax="false">
						<div class="form_content large-24 small-24">
							<div class="large-6 columns tkmaxx-input" data-role="fieldcontain" id="addressdiv">
								<div class="label"><label for="address" class="hide-for-small"><venda_text id=desktop.form.label.enter_location.townpostcode></label></div>
								<div class="small-24 large-22">
								<input id="address" class="storelocator-input" name="address" type="text" value="<venda_text id=desktop.form.enter_location>" onfocus="if (this.value == '<venda_text id=desktop.form.enter_location>') {this.value = '';}; jQuery(this).removeClass('storelocator-input')" onblur="if (this.value == '') {this.value = '<venda_text id=desktop.form.enter_location>';}; jQuery(this).addClass('storelocator-input')">
								</div>
							</div>
							<div data-role="fieldcontain" class="large-6 columns small-12">
								<div class="label"><label for="address"><venda_text id=desktop.form.label.selectstores></label></div>
								<fieldset data-role="controlgroup" class="selectgroup" data-mini="true">
									<div class="columns">
											<div class="columns small-24 large-10">
												<input type="checkbox" name="tkmaxxstore" id="tkmaxxstore" checked="checked" />
												<label for="tkmaxxstore"><venda_text id=desktop.form.storeloc.tkmaxx></label>
											</div>
											<div class="columns small-24 large-14">
												<input type="checkbox" name="homesensestore" id="homesensestore" checked="checked" />
												<label for="homesensestore"><venda_text id=desktop.form.storeloc.homesense></label>
											</div>
									</div>
								</fieldset>
							</div>
							<div data-role="fieldcontain" class="large-6 columns small-12">
								<div class="label"><label for="address"><venda_text id=desktop.form.label.searchcountry></label></div>
								<fieldset data-role="controlgroup" class="selectgroup" data-mini="true">
									<div class="columns">
											<div class="columns small-24 large-6">
												<input type="radio" name="locationoption" id="locuk" value="uk" checked="checked" />
												<label for="locuk"><venda_text id=desktop.form.storeloc.uk></label>
											</div>
											<div class="columns small-24 large-18">
												<input type="radio" name="locationoption" id="locie" value="ie" />
												<label for="locie"><venda_text id=desktop.form.storeloc.ie></label>
											</div>
									</div>
								</fieldset>
							</div>
							<div id="pcsubmitdiv" class="large-3 columns tkmaxx-button-red left">
								<div class="label"><label for="address"></label></div>
								<a id="pcsubmit" class="button expand" data-ajax="false" data-role="button"><venda_text id=desktop.form.button_findstore></a>
							</div>
						</div>
					</form>
				</div>
				<div class="row collapse">
					<div class="small-24 columns">
						<div class="js-storeLocSelectHolder">
						</venda_block label=dts-lookup2>
					  	</div>
				  	</div>
			  	</div>
			</div>
		</div>
			<div id="js-loading" class="text-center thickmarg js-loading" style="display:none;"></div>
			<div class="row">
			<div id="storeNameHeading" class="columns"></div>
			<div id="mapContent" class="large-24 columns marg-bottom small-23"><div id="map_canvas"></div></div>
			<div id="mapDirectionsDetail" class="large-12 small-24 columns">
				<div id="store_info_primary_warning"></div>
				<div id="direction_print_top"><a href="javascript:window.print();"><venda_text id=desktop.storeloc.print_directions></a></div>
				<div id="store_info_primary"></div>
				<div id="direction_print_bottom"><a href="javascript:window.print();"><venda_text id=desktop.storeloc.print_directions></a></div>
			</div>
			<div class="large-12 small-24 columns">
				<div class="row">
					<div id="storeDetail_1" class="small-24 columns"></div>
					<div id="storeDetail_2" class="small-24 columns"></div>
				</div>
			</div>
			</div>

			<div class="row">
					<div id="storelocatorresults" class="">
						<div id="storelocatorresults-tkmaxx" class="large-12 small-24 columns"></div>
						<div id="storelocatorresults-homesense" class="large-12 small-24 columns"></div>
					</div>
			</div>
			<div id="buttonContainer"></div>

			<venda_tpcomment><!-- store main --></venda_tpcomment>
			<div id="store_main" class="row">
				<div id="col_1" class="large-10 columns">
					<div id="bgmap"><div id="showmap">
					<img name="all" src="/content/ebiz/tkmaxx/resources/images/map_dummy.png" width="327" height="368" border="0" id="all" usemap="#m_all" alt="" />
<map name="m_all" id="m_all">

<area shape="poly" coords="275,188,261,196,266,234,258,228,254,255,279,268,291,280,316,282,325,270,325,261,327,254,320,239,296,235,292,244,283,239,290,230,283,215,274,208,284,209,274,196,275,188" title="East" alt="East" regionid="east_on" />

<area shape="poly" coords="291,300,274,298,278,304,278,309,277,312,280,317,292,309,291,300" title="London" alt="London" regionid="london_on" />

<area shape="poly" coords="116,141,125,139,136,141,137,149,146,160,141,168,146,166,150,170,152,183,149,187,143,188,136,197,132,194,126,196,124,190,120,189,115,180,109,182,109,188,104,192,99,192,86,177,94,170,92,165,94,164,98,163,103,157,104,151,116,141" title="Northern Ireland" alt="Northern Ireland" regionid="north_ire_on" />

<area shape="poly" coords="218,145,229,124,238,132,249,168,263,175,254,178,243,174,237,182,225,186,218,145" title="North East" alt="North East" regionid="northeast_on" />

<area shape="poly" coords="216,146,224,185,229,197,225,198,225,204,237,219,237,230,232,229,219,239,213,238,202,223,203,220,211,225,204,216,206,211,204,206,204,198,208,197,210,191,205,189,202,194,198,192,190,175,195,159,216,146" title="North West" alt="North West" regionid="northwest_on" />

<area shape="poly" coords="114,138,103,150,102,156,97,163,92,163,90,166,92,170,83,175,90,189,99,194,104,194,109,191,110,186,113,183,120,191,124,192,124,198,132,198,137,201,134,203,130,201,128,203,137,232,133,234,139,253,134,262,132,276,125,283,131,290,93,295,77,310,67,310,57,317,44,321,32,322,30,319,22,320,29,311,28,309,13,314,5,314,20,305,14,305,9,307,4,305,2,300,6,295,17,293,20,289,0,289,0,285,8,280,22,283,19,280,18,274,22,273,20,266,30,260,39,239,29,227,25,231,15,224,15,215,25,215,22,209,29,208,33,202,25,202,23,199,24,185,19,184,22,181,42,181,47,187,53,183,62,186,64,179,73,167,59,166,58,162,71,161,74,147,84,139,95,136,107,133,114,138" title="Republic of Ireland" alt="Republic of Ireland" regionid="repub_ire_on" />

<area shape="poly" coords="161,1,176,5,203,1,202,10,183,29,190,41,225,39,232,47,214,99,201,111,211,108,223,113,230,121,217,143,197,153,182,160,174,158,175,166,163,161,163,168,154,155,168,134,156,115,148,139,142,140,149,88,140,89,134,81,142,75,147,54,143,52,144,34,157,33,152,26,161,1" title="Scotland" alt="Scotland" regionid="scotland_on" />

<area shape="poly" coords="273,296,295,299,308,293,314,284,291,282,277,270,259,283,243,284,243,301,237,303,246,320,244,333,248,335,254,329,267,334,285,329,293,330,321,312,321,301,302,304,300,300,294,302,293,310,280,319,275,313,277,306,271,300,273,296" title="South East" alt="South East" regionid="southeast_on" />

<area shape="poly" coords="212,299,217,284,217,278,222,274,241,285,241,301,236,301,236,306,244,320,241,334,235,335,237,340,223,341,211,335,198,342,196,352,191,358,180,352,165,353,157,362,158,365,153,367,148,362,141,364,139,362,145,358,150,358,159,344,169,338,171,325,176,325,179,323,178,317,193,314,201,317,208,316,212,299" title="South West" alt="South West" regionid="southwest_on" />

<area shape="poly" coords="162,249,174,234,186,227,197,226,205,230,211,240,201,254,200,260,205,266,201,273,214,286,210,300,203,308,193,308,183,300,175,303,174,300,179,298,171,294,165,296,159,300,150,294,148,288,160,282,164,277,168,278,178,269,179,260,176,246,168,249,162,249" title="Wales" alt="Wales" regionid="wales_on" />

<area shape="poly" coords="213,240,222,241,232,231,237,231,247,225,255,235,252,255,275,269,258,281,241,282,222,273,215,276,214,283,204,274,207,265,202,259,213,240" title="West Midlands" alt="West Midlands" regionid="west_mid_on" />

<area shape="poly" coords="225,187,238,184,243,176,252,179,264,177,272,187,259,195,265,231,257,225,255,232,248,223,238,228,239,219,228,204,227,199,232,198,225,187" title="Yorkshire" alt="Yorkshire" regionid="yorkshire_on" />

</map>
					</div></div>
					<!-- flashmap Ends -->
				</div>
				<!-- # col_1 -->
				<div id="col_2" class="large-14 columns">
						<div class="row">
							<div class="columns">
								<p><venda_text id=desktop.storeloc.introtext_a></p>
							</div>
						</div>
						<div class="row">

							<div class="store_splash large-12 columns">
								<img alt="TK Maxx: over 277 Stores" src="/content/ebiz/tkmaxx/resources/images/tk_store.jpg">
								<p>
								<strong><venda_text id=desktop.storeloc.introtext_b></strong><br><venda_text id=desktop.storeloc.introtext_c></p>
							</div>
							<div class="store_splash large-12 columns">
								<img alt="HomeSense: over 27 Stores" src="/content/ebiz/tkmaxx/resources/images/hs_store.jpg">
								<p>
								<strong><venda_text id=desktop.storeloc.introtext_d></strong><br><venda_text id=desktop.storeloc.introtext_e></p>
							</div>
							<!-- # Store Splash -->
						</div>
				</div>
				<!-- # col_2 -->
			</div>
			<venda_tpcomment><!-- end store main --></venda_tpcomment>
		</div>
</div>
</div>
</div><venda_tpcomment><!-- storeloc_content --></venda_tpcomment>