<venda_detblock_item>
<li id="<venda_invtref>">
	<input type="hidden" value="<venda_invtref>" name="invtref" />
	<input type="hidden" value="<venda_oiqty>" name="oioqty" />
</li>
</venda_detblock_item>

<ul id="minicart_skuqty"><venda_detail_item></ul>