<venda_tpcomment><!-- Template duplicate from the checkout workflow --></venda_tpcomment>
<venda_inctemplate name=addressbook,type=workflow/checkout>
<venda_block label=33,ustype!=R>
  <script language="javascript" type="text/javascript">  <venda_tpcomment>/* forward to log in page*/</venda_tpcomment>  window.location ="<venda_codehttps>?ex=co_wizr-register";  </script>
  <h1><venda_text id=desktop.heading.myaccount></h1>
    <p><venda_text id=desktop.info.orderhistory_login_message> <a href="<venda_codehttps>?ex=co_wizr-register"><venda_text id=desktop.button.log_in></a></p>
</venda_block label=33>