<!-- venda_search tag starts -->
<div id="content-search-body" class="small-24 columns content-search-body">
    <a id="content-top"></a>
       <venda_block label=333,totalresults!=0>
            <div class="main-header marg-bottom hide-for-desktop">
                <div class="search-header search-cat-name"><span><venda_icatname></span></div>
                <venda_block label=catdesc,icatsdesc=notnull><div class="expandable"><p class="search-cat-icatsdesc hide-for-small"><venda_icatsdesc></p></div></venda_block label=catdesc>
                <venda_block label=relatedcat,icatldesc=notnull><div class="search-cat-icatldesc hide-for-small"><venda_icatldesc></div></venda_block label=relatedcat>
            </div>
    </venda_block label=333>
<venda_block label=334,totalresults!=0>
    <nav id="sidebar" role="navigation" class="search-refine large-5 columns">
        <div id="box-refinelist" class="box thinmarg-topbottom hide-for-desktop">
            <div class="box-header">
                <h2 class="js-slidetoggle" data-slidetoggle="js-refinelist" data-slidetoggle-icon="icon-minus">Refine By<i class="icon-plus right"></i></h2>
            </div>
        </div>
        <div id="refinelist" class="js-refinelist" style="">
            <div id="term" class="box" ></div>
            <div id="collate" class="search-collate" ></div>
            <venda_page page=<venda_icatref>promobanners>
        </div>
    </nav>
    <!-- Filters zone: filters will be inserted inside div tag -->
</venda_block label=334>
    <section id="searchResults" role="main" class="search-results js-column large-19 columns">
        <venda_block label=345,totalresults!=0>
            <div class="main-header marg-bottom show-for-desktop">
                <h1 class="search-header search-cat-name"><span><venda_icatname></span></h1>
                <venda_block label=catdesc,icatsdesc=notnull><div class="expandable"><p class="search-cat-icatsdesc hide-for-small"><venda_icatsdesc></p></div></venda_block label=catdesc>
                <venda_block label=relatedcat,icatldesc=notnull><div class="search-cat-icatldesc hide-for-small"><venda_icatldesc></div></venda_block label=relatedcat>
            </div>
        <!-- Category/Search zone: search results will be inserted inside div tag -->
        <div lmzone="catpagezone" facetdomid="collate" filterdomid="term">
            <venda_tpcomment>
            <div style="margin-top:600px">
                <venda_detblock_results>
                    <venda_block label=serestrict2,pdxtrestrictsearchengine!=1>
                        <a href="<venda_dispview invt=<venda_invtref>>" title="<venda_invtdesc1>" ><venda_invtbrand> - <venda_invtname>, &pound;<venda_invtsell></a>
                    </venda_block label=serestrict2>
                </venda_detblock_results>

                <venda_detail_results>


            </div>
            </venda_tpcomment>
        </div>
        </venda_block label=345>

        <venda_block label=346,totalresults=0>
        <div class="search-body">
            <h1><venda_text id=desktop.heading.search_no_results></h1>
            <venda_block label=isKeyword2,mode=value,<venda_tpxt mode=get,name=categorySearch>=>
            <h2><venda_text id=desktop.info.search_your_search> <venda_block label=95,primarysearchtext=notnull><venda_text id=desktop.info.search_for> <span class="search-primary-search-text">"<span class="search-keyword-search-text"><venda_primarysearchtext></span>"</span> </venda_block label=95><venda_text id=desktop.info.search_no_results></h2>
            <p><venda_text id=desktop.info.search_no_results_help1></p>
            </venda_block label=isKeyword2>
        </div>
        </venda_block label=346>
    </section>
    <div style="display:none;" id="multirefine-tmpl">
        <label>
            <input type="checkbox" value="" class="js-updatesearch">
            <span class="js-facet"></span>
        </label>
    </div>
    <div id="loadingsearch" class="search-loading text-center" style="display:none;"><i class="icon-spinner icon-spin icon-5x"></i></div>
</div>
<venda_tpcomment><!-- Hidden tags for JS --></venda_tpcomment>
<div id="tag-error" style="display:none;"><venda_text id=desktop.info.search_error></div>
<div id="tag-primarysearchtext" style="display:none;"><venda_primarysearchtext></div>
<div id="tag-totalresults" style="display:none;"><venda_totalresults></div>
<venda_block label=347,totalresults!=0>
<venda_tpcomment><!-- only need to call cloudzoom here, not sitewide --></venda_tpcomment>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/external/cloudzoom.js"></script>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/Venda/Widget/handleCloudzoom.js"></script>
</venda_block label=347>
<!-- venda_search tag ends -->

<venda_tpcomment><!-- This tpxt is a workaround for not having <venda_icatref> --></venda_tpcomment>
<venda_tpxt mode=set,name=categorySearch,value=<venda_icatref>>

<venda_tpcomment><!-- Used for product compare widgets/compareItems/compareItems.html  --></venda_tpcomment>
<venda_tpxt mode=set,name=track,value=productlist>
<venda_block label=41,mode=value,<venda_setting type=ebiz,name=showcompareproductlist>=1>
<venda_block label=501,mode=value,<venda_setting type=ebiz,name=setalwaysshowcompare>!=1><venda_tpxt mode=set,name=comparecatref,value=<venda_icatref>></venda_block label=501>
<venda_block label=502,mode=value,<venda_setting type=ebiz,name=setalwaysshowcompare>=1><venda_tpxt mode=set,name=comparecatref,value=allcategory></venda_block label=502>
</venda_block label=41>

<div id="parentCatName" style="display:none;"><venda_icatname></div>
<div id="parentCatLDesc" style="display:none;"><venda_icatldesc></div>
<div id="parentCatRef" style="display:none;"><venda_icatref></div>
