<venda_tpcomment><!-- YOU ARE ONLY PERMITTED TO CHANGE THE ORDER OF THE INCTEMPLATE TAGS WITHIN THIS TEMPLATE. YOU MAY NOT ADD OR CHANGE ANY OTHER CODE. --></venda_tpcomment>

<venda_tpcomment><!-- START Standard postcode lookup --></venda_tpcomment>
<venda_block label=57,workflow=comingsoon>
<venda_tpcomment><!-- email-only registration --></venda_tpcomment>
<div id="comingsoon">
	<venda_block label=58,curstep=details>
	<venda_inctemplate type=wizr/wz_orzc-screen/comingsoon,name=details>
	</venda_block label=58>

	<venda_block label=59,curstep=confirm>
	<venda_inctemplate type=wizr/wz_orzc-screen/comingsoon,name=confirm>
	</venda_block label=59>
</div>
</venda_block label=57>
