<venda_block label=10,usgrref=admin,usgrref=venda,operator=or>
<!-- start admin bar -->
<div class="row notices" id="admin">
    <div class="large-24 columns">
        <div class="alert-box alert radius">
            <venda_text id=desktop.info.admin_warning> <a href="<venda_dispview page=home>?log=4"><venda_text id=desktop.info.admin_warning_log_out></a>
            <a class="close icon-remove"><span class="hidescreenreadersafe"><venda_text id=desktop.button.close></span></a>
        </div>
    </div>
</div>
<!-- end admin bar -->
</venda_block label=10>