<!--
    This is a stripped version of
    venda-support/templates/paytype/frontend/paymenttype_wz_orpayment_card/paymenttype_wz_orpayment_card.html
    to redirect the user to a third party during payment. The redirection happens
    in an iframe. It may not be completely covering all the edge-cases so it
    probably needs fine-tuning. The original template should serve as an example.
-->

<!--
    The second time we render this page we're coming back from the 3rd party
    but we're inside of the iframe so we have to break out.
-->
<venda_block label=2,paymentrefreshlocation=notnull>
<script type="text/javascript">
    if (top.location != "<venda_paymentrefreshlocation>") {
        document.body.style.display = 'none';
        top.location = "<venda_paymentrefreshlocation>";
    }
</script>
</venda_block label=2>

<!--
    The first time this is rendered we need to include the iframe pointing to
    the 3rd party html.
-->
<venda_block label=1,paymentrefreshlocation=null>
<div id="content-3dsecure">
	<div id="secure" class="secure">
		<div class="row">
		<div class="large-17 columns pad-right">
			<div class="secure-col-one hide-for-small marg-bottom">
				<h1><venda_text id=desktop.heading.payment_3dsecure></h1>
				<p><venda_text id=desktop.info.payment_3dsecure1></p>
				<p><venda_text id=desktop.info.payment_3dsecure2></p>
				<p><venda_text id=desktop.info.payment_3dsecure3></p>
				<p><venda_setting type=ebiz,name=area><venda_setting type=ebiz,name=phone></p>
				<p><a href="mailto:<venda_setting type=ebiz,name=email>"><venda_setting type=ebiz,name=email></a></p>
			</div>
			<div class="secure-col-two nopad secureframe marg-bottom">
				<div class="table-overflow">
				<iframe id="iframe" src="/paymentredirect/?workflowid=<venda_workflowid>" frameborder="0" width="480" height="480"></iframe>
				</div>
			</div>
		</div>

		<div class="large-7 columns">
		<venda_inctemplate name=orderitem_detail,type=includes>
		</div>
	</div>
	</div>
</div>

<venda_tpcomment><!--
- venda_curstep fails to translate on this template
- trackingstep tpxt used in templates/tracking/shared
--></venda_tpcomment>
<venda_tpxt mode=set,name=trackingstep,value=3dsecure>

<venda_inctemplate name=workflowSteps,type=tracking/shared><venda_tpcomment><!-- Include for tracking tags --></venda_tpcomment>
<venda_tpxt mode=set,name=curstep,value=step4><venda_tpcomment><!-- Used for checkout step indicators --></venda_tpcomment>
<venda_tpxt mode=set,name=title,value=<venda_text id=desktop.heading.payment_3dsecure>><venda_tpcomment><!-- Used for html title --></venda_tpcomment>
</venda_block label=1>
