<venda_block label=45,invtpublish=1>
		<venda_block label=10,invtref=notnull>
		<venda_block label=101,med-<venda_setting type=ebiz,name=setcompareimagekey>=notnull>
			<a href="<venda_dispview invt=<venda_invtref>>" ><venda_media rec=invt,type=pict,key=<venda_setting type=ebiz,name=setcompareimagekey>></a>
		</venda_block label=101>
		<venda_block label=102,med-<venda_setting type=ebiz,name=setcompareimagekey>=null>
			<a href="<venda_dispview invt=<venda_invtref>>" ><venda_text id=desktop.button.view_product></a>
		</venda_block label=102>
		<venda_block label=127,chkatt=null,invtavail&lt;1>
		<venda_tpcomment><!-- NON-ATTRIBUTE OUT OF STOCK --></venda_tpcomment>
		<p><venda_text id=desktop.info.out_of_stock></p>
		</venda_block label=127>
		<venda_block label=128,chkatt=notnull,invtatrinstock&lt;1>
		<venda_tpcomment><!-- ATTRIBUTE OUT OF STOCK --></venda_tpcomment>
		<p><venda_text id=desktop.info.out_of_stock></p>
		</venda_block label=128>
		</venda_block label=10>
	<p><a href="<venda_dispview invt=<venda_invtref>>" ><venda_invtname></a></p>
	<venda_inctemplate type=includes,name=priceFormat>
</venda_block label=45>
<venda_block label=46,invtpublish!=1>
<!-- unpublished -->
	<p><venda_invtname></p>
	<venda_block label=101,invtref=notnull>
		<venda_block label=1011,med-<venda_setting type=ebiz,name=setcompareimagekey>=notnull>
			<venda_media rec=invt,type=pict,key=<venda_setting type=ebiz,name=setcompareimagekey>>
		</venda_block label=1011>
		<venda_block label=1021,med-<venda_setting type=ebiz,name=setcompareimagekey>=null>
			<img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/no_image_<venda_setting type=ebiz,name=setcompareimagekey>.gif" alt="<venda_text id=desktop.info.no_product_image>">
		</venda_block label=1021>
	</venda_block label=101>
	<p><venda_currsym><venda_invtsell></p>
	<p><venda_text id=desktop.info.not_available></p>
</venda_block label=46>
