<div id="showRVI" class="product-slider">
	<ul id="rviProdsSlider" class="slider small-block-grid-2" data-display="4" data-direction="horizontal" data-slidenum="3" data-duration="0.5" data-viewmore="<venda_text id=desktop.button.view_more>" data-viewless="<venda_text id=desktop.button.view_less>"><venda_listrecords cookie=RVI,temp=recentlyViewedProductDetailDetblock,limit=4></ul>
</div>
