<li class="prod">
	<div class="prod-image">
		<venda_block label=141,med-small=notnull>
		<a href="<venda_dispview invt=<venda_invtref>>"><venda_media rec=invt,type=pict,key=small></a>
		</venda_block label=141>
		<venda_block label=142,med-small=null>
		<a href="<venda_dispview invt=<venda_invtref>>"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/no_image_search.gif" alt="<venda_text id=desktop.info.no_product_image_productlist>"></a>
		</venda_block label=142>
	</div>
	<div class="prod-details">
		<venda_tpcomment><!--p class="prod-brand"><venda_invtbrand></p--> <!-- not displaying on homepage and category page --></venda_tpcomment>
		<h3 class="prod-name"><a href="<venda_dispview invt=<venda_invtref>>"><venda_invtname></a></h3>
		<div class="prod-pricedetails">
			<venda_inctemplate type=includes,name=priceFormat>
		</div>
	</div>
</li>