<venda_detblock1>
<cr>
<venda_block label=40,pkshipreq=1>
==============================================================================<cr>
DELIVERY DETAILS<cr>
==============================================================================<cr><cr>

Recipient:<cr>
<venda_pktitle> <venda_pkfname> <venda_block label=75,pkmname=notnull><venda_pkmname> </venda_block label=75><venda_pklname><cr><cr>

Address:<cr>
<venda_block label=77,pkcompany=notnull><venda_pkcompany><cr></venda_block label=77>
<venda_pknum> <venda_pkaddr1><cr>
<venda_block label=72,pkaddr2=notnull><venda_pkaddr2><cr></venda_block label=72>

<venda_block label=999,mode=value,<venda_pkcntry>=United States,<venda_pkcntry>=United States Non-48,<venda_pkcntry>=United States Armed Forces,operator=or>
<venda_block label=184,pkcity=notnull><venda_pkcity>, </venda_block label=184>
<venda_block label=185,pkstate=notnull><venda_pkstate> </venda_block label=185><venda_pkzipc><cr>
</venda_block label=999>

<venda_block label=9991,mode=value,<venda_pkcntry>!=United States,<venda_pkcntry>!=United States Non-48,<venda_pkcntry>!=United States Armed Forces,operator=and>
<venda_block label=184,pkcity=notnull><venda_pkcity><cr></venda_block label=184>
<venda_block label=185,pkstate=notnull><venda_pkstate> </venda_block label=185><venda_pkzipc><venda_block label=1234,pkstate=notnull,pkzipc=notnull,operator=or><cr></venda_block label=1234>
</venda_block label=9991>

<venda_pkcntry>
<venda_block label=76,pkarea=notnull><cr><venda_pkarea> <venda_pkphone></venda_block label=76><cr><cr>

<venda_block label=41,pkshipmthd=notnull>
Delivery Method:<cr>
<venda_pkshipmthd><cr><cr>
</venda_block label=41>

<venda_extflds exfldtype=order,ref=<venda_ohrfnbr>,template=textEmailOrxfieldsDisplay,type=includes,group=1,displayonly=1><venda_extflds exfldtype=order,ref=<venda_ohrfnbr>,template=textEmailOrxfieldsDisplay,type=includes,group=2,displayonly=1><venda_extflds exfldtype=order,ref=<venda_ohrfnbr>,template=textEmailOrxfieldsDisplay,type=includes,group=3,displayonly=1><venda_extflds exfldtype=order,ref=<venda_ohrfnbr>,template=textEmailOrxfieldsDisplay,type=includes,group=4,displayonly=1><venda_extflds exfldtype=order,ref=<venda_ohrfnbr>,template=textEmailOrxfieldsDisplay,type=includes,group=5,displayonly=1><venda_extflds exfldtype=order,ref=<venda_ohrfnbr>,template=textEmailOrxfieldsDisplay,type=includes,group=6,displayonly=1><venda_extflds exfldtype=order,ref=<venda_ohrfnbr>,template=textEmailOrxfieldsDisplay,type=includes,group=7,displayonly=1><venda_extflds exfldtype=order,ref=<venda_ohrfnbr>,template=textEmailOrxfieldsDisplay,type=includes,group=8,displayonly=1>
</venda_block label=40>
==============================================================================<cr>
ITEMS<cr>
==============================================================================<cr><cr>
<venda_detail2>
</venda_detblock1>

<venda_detblock2>
<venda_oiivname> 
<venda_block label=111,invtatt1=notnull> (<venda_invtatt1><venda_block label=112,invtatt2=notnull>, <venda_invtatt2></venda_block label=112>)</venda_block label=111>
<venda_block label=221,oigwref=notnull> (gift wrapped)</venda_block label=221>
<venda_extflds exfldtype=orderitem,group=1,template=textEmailOixfieldsDisplay,type=includes,ref=<venda_invtref>,displayonly=1><venda_extflds exfldtype=orderitem,group=2,template=textEmailOixfieldsDisplay,type=includes,ref=<venda_invtref>,displayonly=1>
 (<venda_oisub> <venda_ohcur>) x <venda_oiqty> = <venda_oiextsub> <venda_ohcur>
	(
	<venda_block label=10,oistatus=2><venda_text id=site.order_status.in_progress></venda_block label=10>
	<venda_block label=11,oistatus=3><venda_text id=site.order_status.released_for_delivery></venda_block label=11>
	<venda_block label=12,oistatus=4><venda_text id=site.order_status.backordered></venda_block label=12>
	<venda_block label=13,oistatus=5><venda_block label=114,num=notnull>Tracking #: <venda_num></venda_block label=114><venda_text id=site.order_status.delivered> <venda_stmp> <venda_pkcarrier1> </venda_block label=13>
	<venda_block label=14,oistatus=6><venda_text id=site.order_status.returned> <venda_stmp></venda_block label=14>
	<venda_block label=15,oistatus=7><venda_text id=site.order_status.cancelled></venda_block label=15>
	<venda_block label=16,oistatus=8>RMA #: <venda_num> <venda_text id=site.order_status.delivered> <venda_stmp></venda_block label=16>
	)
<cr>
<venda_block label=45,oiitype=3>
Sent to: <venda_gcto> at <venda_gcemail><cr>
<venda_block label=880,gcexpires=notnull>Expiry date: <venda_gcexpires><cr></venda_block label=880>
Message: <venda_oicmt><cr>
<cr>
</venda_block label=45>
</venda_detblock2>