<table summary="<venda_text id=desktop.info.payment_info_summary>" title="<venda_text id=desktop.info.payment_info_title>" class="small-24 large-20 text-left">
<tr>
    <th scope="row"><div><venda_text id=site.order_receipt.bank_account_name></div></th>
    <td class="text-right"><div><venda_accountname></div></td>
</tr>
<tr>
    <th scope="row"><div><venda_text id=site.order_receipt.bank_number></div></th>
    <td class="text-right"><div><venda_accountnumber></div></td>
</tr>
<tr>
    <th scope="row"><div><venda_text id=site.order_receipt.sort_code></div></th>
    <td class="text-right"><div><venda_sortcode></div></td>
</tr>
</table>