<script type='text/javascript'>
var _a1as = _a1as || [];
_a1as.push(["init","82491"<venda_block label=notlive,mode=value,<venda_islive>=null>,"<venda_serveradd>"</venda_block label=notlive>]);


<venda_block label=loggedin,ustype=R,ustype=P,ustype=E,operator=or>
	//Email address
	_a1as.push(["setvar","email","<venda_userinfo><venda_sesusemail></venda_userinfo>"]);
</venda_block label=loggedin>


<venda_block label=icat,rtype=icat>
	//icat
	_a1as.push(["setvar","categoryid_view","<venda_icatref>"]);
</venda_block label=icat>


<venda_block label=invt,rtype=invt>
	//PDP
	_a1as.push(["setvar","productid_view","<venda_invtref>"]);
</venda_block label=invt>


<venda_block label=search,mode=value,<venda_tpxt mode=get,name=primarysearchtext>!=>
	//Search results
	var agilone_searchterm = jQuery('#tag-searchkeyword').text();

	_a1as.push(["setvar","onsitesearch",agilone_searchterm]);
</venda_block label=search>


<venda_block label=receipt,mode=value,<venda_tpxt mode=get,name=curstep>=step5>

	//Receipt
	var agilone_ref = Venda.Widget.Tracking.orderJSON.ref;
	var agilone_total = Venda.Widget.Tracking.orderJSON.subtotal;
	var agilone_prods = Venda.Widget.Tracking.orditemsArray;
	var agilone_prodslist = '';


	for (var dString in agilone_prods) {
		//get parentSku from url
		//agilone_prodslist += agilone_prods[dString].url.split("/").pop()+ ',';
        agilone_prodslist += agilone_prods[dString].sku + ',';
		// return attributeSku: agilone_prodslist += agilone_prods[dString].sku + ',';
	}

	//create array to take skus from venda.widget.tracking.orderitemsArray.url
	var venda_invtparefArray = new Array();
	// put skus into array
	venda_invtparefArray = agilone_prodslist.split(",");
	//remove final item from array caused by trailing ","
	venda_invtparefArray.pop();
	//remove any duplicate skus

	var venda_invtparefArrayUnique = [];
	$.each(venda_invtparefArray, function(i, el){
    	if($.inArray(el, venda_invtparefArrayUnique) === -1) venda_invtparefArrayUnique.push(el);
	});


	// vbm sku is available : alert(vbmParentTrack);
	_a1as.push(["setvar","orderid",agilone_ref]);
	_a1as.push(["setvar","ordertotal",agilone_total]);
	_a1as.push(["setvar","productid_order",venda_invtparefArrayUnique]);

//alert(venda_invtparefArrayUnique);
</venda_block label=receipt>


<venda_order shopcart=1,template=agilone-basketContents>


//DOESN'T WORK AS THIS EVENT IS FIRED BEFORE THE CART IS UPDATED WITH THE SKU JUST ADDED SO THE MOST RECENTLY ADDED SKU DOESNT GET PULLED IN
//Add to basket
//jQuery('body').bind('minicart-items-added', function() {
    //JavaScript to execute upon successful add to basket
    //jQuery.get("/page/home&layout=agiloneskus");
//});


_a1as.push(["track"]);
</script>

<script type='text/javascript'>
(function() {
var a1s = document.createElement('script');
a1s.type = 'text/javascript';
a1s.async = true;
a1s.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'tr-1.agilone.com/tr-as.js';
var a1ss = document.getElementsByTagName('script')[0];
a1ss.parentNode.insertBefore(a1s, a1ss);
})();
</script>