<venda_block label=cmTags,mode=value,<venda_setting type=ebiz,name=tracktagcoremetrics>=1>
<script type="text/javascript">searchQuery="";</script>
<venda_search_terms template=cmKeyword>
<venda_block label=noresults,totalresults=0><script type="text/javascript">searchTotal=0;</script></venda_block label=noresults>
<venda_block label=results,totalresults!=0><script type="text/javascript">searchTotal="<venda_totalresults>";</script></venda_block label=results>
</venda_block label=cmTags>
