<venda_tpcomment><!-- add refinement --></venda_tpcomment>
<venda_detblock_facet_result>
  <venda_block label=results,count!=0>

      <div class="search-facet js-termtext<venda_block label=558,chosen!=0> search-chosen-facet js-chosen</venda_block label=558><venda_block label=559,count=0> search-zerocount</venda_block label=559>"
      data-field="<venda_field>"
      data-facet="<venda_facet>"
      data-url="<venda_faceturl>"
      >
        <venda_block label=556,chosen=0,count!=0>
          <a href="<venda_faceturl>" rel="nofollow" class="js-updatesearch">
        </venda_block label=556>
        <span class="js-facet">
          <venda_block label=333,field=price><venda_currsym></venda_block label=333>
          <venda_block label=365,facetname=null><venda_facet></venda_block label=365>
          <venda_block label=366,facetname=notnull><venda_facetname></venda_block label=366>
          <span class="search-count">(<venda_count>)</span>
        </span>
        <venda_block label=557,chosen=0,count!=0></a></venda_block label=557>
      </div>

    <venda_tpcomment><!-- sub-templates available in this detblock: refineCheckbox, refineImage --></venda_tpcomment>
  </venda_block label=results>
</venda_detblock_facet_result>

<venda_detblock_facets>
  <venda_block label=resultsnotcatref,totalcount!=0,field!=categories,field!=dailysalesrank,field!=usersalesrank>
  <div class="box">
    <div id="<venda_field>" class="box-header js-collateheading">
	  <h3 class="js-slidetoggle active" data-slidetoggle="js-<venda_field>results" data-slidetoggle-icon="icon-down-marker"><i class="icon-right-marker icon-down-marker"></i> <venda_dispfield></h3>
    </div>
    <div id="<venda_field>results" class="js-<venda_field>results box-body js-search-collate-facet search-<venda_field>-box" style="display:block;">
      <venda_block label=default,field!=price>
        <div class="search-collatedresult js-showviewall <venda_block label=159,mode=value,<venda_setting type=ebiz,name=showrefineviewall>!=1>refine-view-scroll </venda_block label=159>search-<venda_field>-collateresult<venda_block label=cbcss,field!=price> js-multirefine</venda_block label=cbcss> js-refine-<venda_field>">
          <venda_detail_facet_result>
          <!--p class="js-toggleviewall" style="display: none;">
            <a href="#">
              <span class="js-viewmorerefinements"><venda_text id=desktop.button.viewall></span>
              <span class="js-viewlessrefinements" style="display: none;"><venda_text id=desktop.button.viewless></span>
            </a>
          </p-->
        </div>
      </venda_block label=default>

      <venda_block label=rangeslider,field=price>
        <venda_inctemplate type=search/refineList,name=refineRangeSlider>
      </venda_block label=rangeslider>

      <venda_tpcomment><!-- sub-templates available in this detblock: refineRangeSlider, refineFilter, refineLimited --></venda_tpcomment>
    </div>
  </div>
  </venda_block label=resultsnotcatref>
</venda_detblock_facets>

<venda_tpcomment><!-- remove refinement --></venda_tpcomment>
<venda_detblock_searched_fields>
  <venda_block label=331,facetref!=*,field!=categories,field!=dailysalesrank,field!=usersalesrank>
    <div id="<venda_field><venda_facetref>" class="box-body row collapse js-refine-list search-refine-list">
      <div class="small-19 columns">
        <span class="search-refine-text"><venda_dispfield>:</span>
        <a href="<venda_searchurlremove>" rel="<venda_field>=<venda_facetref>" id="remove<venda_field><venda_facetref>" class="search-refine-link js-removesearch"><venda_block label=332,field=price><venda_currsym></venda_block label=332><venda_block label=265,facetname=null><venda_facetref></venda_block label=265><venda_block label=266,facetname=notnull><venda_facetname></venda_block label=266></a>
      </div>
      <div class="small-5 columns text-right">
        <a href="<venda_searchurlremove>" class="js-removesearch search-remove-field" rel="<venda_field>=<venda_facetref>"><i class="icon-remove icon-large"></i></a>
      </div>
      <!-- <a href="<venda_searchurlremove>" rel="<venda_field>=<venda_facetref>" class="search-refine-remove js-removesearch">(<venda_text id=desktop.button.remove>)</a> -->
    </div>
  </venda_block label=331>
  <venda_block label=1671,field=q>
    <venda_tpcomment><!-- stores current keyword value in tpxt:activekeyword --></venda_tpcomment><venda_tpxt mode=set,name=activekeyword,value=<venda_facetref>>
  </venda_block label=1671>
  <venda_block label=1672,field!=>
    <venda_tpxt mode=set,name=active<venda_field>,value=<venda_facetref>>
  </venda_block label=1672>
  <venda_block label=1670,field=categories>
    <venda_tpcomment><!-- stores pcatid or cat value in tpxt:activecategory --></venda_tpcomment><venda_tpxt mode=set,name=activecategory,value=<venda_facetref>>
  </venda_block label=1670>
  <venda_block label=1500,mode=value,<venda_setting type=ebiz,name=setalwaysshowcompare>=1>
    <venda_tpxt mode=set,name=comparecatref,value=allcategory>
  </venda_block label=1500>
</venda_detblock_searched_fields>

<div id="collate" class="search-collate">
  <div id="term" class="box" style="display:none;">
    <!--div class="box-header">
      <h3><venda_text id=desktop.info.searchby></h3>
    </div-->
    <venda_detail_searched_fields>
  </div>
  <h2 class="search-collate-header"><venda_text id=desktop.info.refineby>:</h2>
  <venda_detail_facets>
  <venda_block label=isKeyword,mode=value,<venda_tpxt mode=get,name=categorySearch>=>
    <venda_page page=solrsearchpromobanners>
  </venda_block label=isKeyword>

  <venda_block label=isCategory,mode=value,<venda_tpxt mode=get,name=categorySearch>!=>
    <venda_page page=<venda_tpxt mode=get,name=categorySearch>promobanners>
  </venda_block label=isCategory>
</div>

<venda_tpcomment><!-- Tags for JS: text id values used by viewall toggle --></venda_tpcomment>
<div id="tag-showviewall" style="display:none;"><venda_setting type=ebiz,name=showrefineviewall></div>
<div id="tag-viewallcount" style="display:none;"><venda_block label=15,mode=value,<venda_setting type=ebiz,name=viewallcount>=null>10</venda_block label=15><venda_block label=16,mode=value,<venda_setting type=ebiz,name=viewallcount>!=null><venda_setting type=ebiz,name=viewallcount></venda_block label=16></div>
<div id="tag-viewalllink" style="display:none;"><p><a class="search-toggle-viewall" href="#"><venda_text id=desktop.button.viewall></a></p></div>
<div id="tag-viewlesstext" style="display:none;"><venda_text id=desktop.button.viewless></div>
<div id="tag-currsym" style="display:none;"><venda_currsym></div>