<venda_detblock1>
<venda_block label=601,workflow=shopcart,curstep=confirm>
<script type="text/javascript">
<!-- 
numberAddresses = numberAddresses+1;
// -->
</script>
</venda_block label=601>

<venda_block label=47,pkshipreq=1>
<!-- start delivery address -->
<div class="deliveryaddress">
<h2><span></span><venda_text id=site.order_details.delivery_details></h2>
<p>
<span class="addrName"><strong><venda_block label=181,pktitle=notnull><venda_pktitle> </venda_block label=181><venda_pkfname><venda_block label=77,pkmname=notnull> <venda_pkmname></venda_block label=77> <venda_pklname></strong></span><br>
<venda_block label=71,pkcompany=notnull><venda_pkcompany><br></venda_block label=71>
<venda_block label=182,pknum=notnull><venda_pknum> </venda_block label=182><venda_block label=183,pkaddr1=notnull><venda_pkaddr1><br></venda_block label=183>
<venda_block label=72,pkaddr2=notnull><venda_pkaddr2><br></venda_block label=72>

<!-- if country is US or US entities display this formatting -->
<venda_block label=999,mode=value,<venda_pkcntry>=United States,<venda_pkcntry>=United States Non-48,<venda_pkcntry>=United States Armed Forces,operator=or>
<venda_block label=184,pkcity=notnull><venda_pkcity>, </venda_block label=184>
<venda_block label=185,pkstate=notnull><venda_pkstate> </venda_block label=185><venda_pkzipc><br>
</venda_block label=999>

<!-- if country is NOT US or US entities display this formatting -->
<venda_block label=9991,mode=value,<venda_pkcntry>!=United States,<venda_pkcntry>!=United States Non-48,<venda_pkcntry>!=United States Armed Forces,operator=and>
<venda_block label=184,pkcity=notnull><venda_pkcity><br></venda_block label=184>
<venda_block label=185,pkstate=notnull><venda_pkstate> </venda_block label=185><venda_pkzipc><venda_block label=1234,pkstate=notnull,pkzipc=notnull,operator=or><br></venda_block label=1234>
</venda_block label=9991>

<venda_block label=56,pkcntry=notnull><venda_pkcntry></venda_block label=56>
<venda_block label=43,pkarea=notnull,pkphone=notnull,operator=or><br><span class="addrPhone"><venda_text id=site.address_details.label.phone> <venda_block label=100,mode=value,<venda_setting type=ebiz,name=hidearea>!=1><venda_block label=11,pkarea=notnull><venda_pkarea>&nbsp;</venda_block label=11></venda_block label=100><venda_block label=12,pkphone=notnull><venda_pkphone></venda_block label=12></venda_block label=43>
<venda_block label=58,pkfarea=notnull,pkfax=notnull,operator=or><br><span class="addrFax"><venda_text id=site.address_details.label.fax> <venda_block label=105,mode=value,<venda_setting type=ebiz,name=hidearea>!=1><venda_block label=104,pkfarea=notnull><venda_pkfarea>&nbsp;</venda_block label=104></venda_block label=105><venda_block label=106,pkfax=notnull><venda_pkfax></venda_block label=106></venda_block label=58>
</p>
<venda_block label=2201,<venda_setting type=ebiz,name=billingdeliveryonly>!=1,mode=value>
<venda_block label=502,workflow!=ordlookup,curstep=confirm>
	<venda_block label=90,mode=value,<venda_glxt mode=get,name=glxtusertype>!=p>
    	<a class="button orange medium" href="#" onclick='<venda_wizbutton step=shipadd,param2=adbook,mode=process,callonly=yes> return false;'>Edit</a>
	</venda_block label=90>
	<venda_block label=91,mode=value,<venda_glxt mode=get,name=glxtusertype>=p>
		<a class="button orange medium" href="#" onclick='<venda_wizbutton step=editadd,param1=copybillto,wizard=singleadbook,mode=process,callonly=yes> return false;'>Edit</a>
	</venda_block label=91>
</venda_block label=502>
</venda_block label=2201>
</div>
<!-- end delivery address -->

<venda_block label=501,workflow!=ordlookup>
<div class="deliveryrate">
<h2><span></span><venda_text id=site.order_details.delivery_options></h2>
<venda_category rec=elementcat,ref=deliveryoptions>
<ul><venda_detail3></ul>
<div class="clear-all"></div>
<div class="deliverynote"><venda_page page=ordersummarydelivery></div>
</div>

<venda_block label=4411,mode=value,<venda_curstep>=confirm>
<!-- start orxfields grp1&2 for wz_orcf-screen -->
	<venda_block label=4422,mode=value,<venda_realpktot>=1>
		<venda_extflds exfldtype=order,ref=<venda_ohrfnbr>,group=1,template=orxfields_set,type=includes>
		<venda_extflds exfldtype=order,ref=<venda_ohrfnbr>,group=2,template=orxfields_set,type=includes>
	</venda_block label=4422>
<!-- end orxfields grp1&2 for wz_orcf-screen -->
</venda_block label=4411>
<venda_block label=4412,mode=value,<venda_curstep>=finish>
<!-- start orxfields grp1&2 for wz_orfn-screen -->
	<venda_extflds exfldtype=order,ref=<venda_ohrfnbr>,template=orxfields_display,type=includes,group=1,displayonly=1>
	<venda_extflds exfldtype=order,ref=<venda_ohrfnbr>,template=orxfields_display,type=includes,group=2,displayonly=1>
<!-- end orxfields grp1&2 for wz_orfn-screen & wz_orpo-screen -->
</venda_block label=4412>
</venda_block label=501>

<venda_block label=502,workflow=ordlookup>
<!-- start orxfields grp1&2 for wz_orpo-screen -->
	<venda_extflds exfldtype=order,ref=<venda_ohrfnbr>,template=orxfields_display,type=includes,group=1,displayonly=1>
	<venda_extflds exfldtype=order,ref=<venda_ohrfnbr>,template=orxfields_display,type=includes,group=2,displayonly=1>
<!-- end orxfields grp1&2 for wz_orpo-screen -->
</venda_block label=502>

<div class="orderitemswrapper">
<div class="orderitems">
<h2><span></span><venda_text id=site.order_details.items_to_this_address></h2>
</venda_block label=47>

<venda_block label=471,pkshipreq!=1>
<div class="orderitemswrapper">
<div class="orderitems noship">
<p><venda_text id=site.order_details.services_and_gift_certificates></p>
</venda_block label=471>

<table summary="<venda_text id=site.order_details.table_summary>" title="<venda_text id=site.order_details.table_title>" class="wizrtable">
<thead>
<tr>
	<th scope="col" class="thumb" colspan="2"><span><venda_text id=site.order_details.column_heading.product_image></span></th>
	<th scope="col" class="priceeach"><span><venda_text id=site.order_details.column_heading.price_each></span></th>
	<th scope="col" class="quantity"><span><venda_text id=site.order_details.column_heading.quantity></span></th>
	<th scope="col" class="totalprice"><span><venda_text id=site.order_details.column_heading.total_price></span></th>
    <venda_block label=500,workflow=ordlookup>
   	<th scope="col" class="status"><span><venda_text id=site.order_details.column_heading.status></span></th>
    <th scope="col" class="carrier">&nbsp;</th>
    </venda_block label=500>
</tr>
</thead>
<tbody>
<venda_detail2>
</tbody>
</table>
</div>
</div>

<venda_block label=36,allgiftcert!=1></venda_block label=36>
<venda_block label=16,cancelownitems=1>
<venda_block label=305,pkstatus=2,pkstatus=4,operator=or>
	<p><venda_text id=site.my_account.order_lookup.cancel_order_instructions></p>
</venda_block label=305>
<venda_block label=303,pkstatus=2,pkstatus=4,operator=or>
	<a href="#" onClick='cancel(<venda_ohrfnbr>); return false;'><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_cancelitems.gif" alt="<venda_text id=site.button.cancel_items>" border="0"></a>
</venda_block label=303>
<venda_block label=306,pkstatus=5,allgiftcert=1>
	<a href="#" onClick='cancel(<venda_ohrfnbr>); return false;'><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_cancelitems.gif" alt="<venda_text id=site.button.cancel_items>" border="0"></a>
</venda_block label=306>
</venda_block label=16>
</venda_detblock1>

<venda_block label=701,mode=value,<venda_setting type=ebiz,name=tracktagwebtrends>=1>
<script type="text/javascript">
<!--
	<venda_tpcomment>// Define variable to get category ref for webtrendsmeta </venda_tpcomment>
	var parentcat = "";
	var itemcount = 0;
-->
</script>
</venda_block label=701>

<!--START AT#11406-->
<script type="text/javascript">
var vbmParentTrack = "";
var vbmParentPrices = "";
var vbmParentQty = "";
</script>
<!--END AT#11406-->

<venda_detblock2>
<!--START AT#11406-->
<script type="text/javascript">
for(var i=0;i<<venda_oiqty>;i++) {
	vbmParentTrack += "<venda_block label=606,invtparef!=null><venda_invtparef></venda_block label=606><venda_block label=607,invtparef=null><venda_invtref></venda_block label=607>,";
}

for(var i=0;i<<venda_oiqty>;i++) {
	vbmParentPrices += "<venda_oisub>,";
	vbmParentQty += "<venda_oiqty>,";
}
</script>
<!--END AT#11406-->
<tr>
	<venda_block label=50,oiitype=3>
	<td class="thumb gcimage"><venda_block label=150,med-<venda_setting type=ebiz,name=setordersummaryimagekey>=notnull><venda_media rec=invt,type=movie-swf-pict,key=<venda_setting type=ebiz,name=setordersummaryimagekey>,border=0></venda_block label=150>
			<venda_block label=151,med-<venda_setting type=ebiz,name=setordersummaryimagekey>=null><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/no_image_<venda_setting type=ebiz,name=setordersummaryimagekey>.gif" alt="<venda_text id=site.link.alt.no_image.invt>"></venda_block label=151></td>
	</venda_block label=50>
	<venda_block label=51,oiitype!=3>
	<venda_block label=4,med-<venda_setting type=ebiz,name=setordersummaryimagekey>=notnull><td class="thumb"><venda_media rec=invt,type=movie-swf-pict,key=<venda_setting type=ebiz,name=setordersummaryimagekey>,border=0></td></venda_block label=4>
			<venda_block label=5,med-<venda_setting type=ebiz,name=setordersummaryimagekey>=null><td class="thumb noimage"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/no_image_<venda_setting type=ebiz,name=setordersummaryimagekey>.gif" alt="<venda_text id=site.link.alt.no_image.invt>"></td></venda_block label=5>
	</venda_block label=51>
	<td valign="top" class="name"><venda_oiivname><venda_block label=111,invtatt1=notnull> <venda_text id=site.basket.product_name.attribute_start><venda_invtatt1><venda_block label=112,invtatt2=notnull><venda_text id=site.basket.product_name.attribute_separator><venda_invtatt2></venda_block label=112><venda_block label=113,invtatt3=notnull><venda_text id=site.basket.product_name.attribute_separator><venda_invtatt3></venda_block label=113><venda_block label=114,invtatt4=notnull><venda_text id=site.basket.product_name.attribute_separator><venda_invtatt4></venda_block label=114><venda_text id=site.basket.product_name.attribute_end></venda_block label=111><venda_extflds exfldtype=orderitem,group=1,template=oixfields_display,type=includes,ref=<venda_invtref>,displayonly=1><venda_extflds exfldtype=orderitem,group=2,template=oixfields_display,type=includes,ref=<venda_invtref>,displayonly=1><venda_block label=151,oiitype!=3><span class="sku"><venda_text id=site.basket.product_sku><venda_invtref></span></venda_block label=151></td>
	<td class="priceeach"><venda_symoisub></td>
	<td class="quantity"><venda_oiqty></td>
	<td class="totalprice"><venda_currsym><venda_oiextsub></td>
<venda_block label=311,oistatus=notnull> 
    <td class="status">
	<venda_block label=10,oistatus=2><venda_text id=site.order_status.in_progress></venda_block label=10>
	<venda_block label=11,oistatus=3><venda_text id=site.order_status.released_for_delivery></venda_block label=11>
	<venda_block label=12,oistatus=4><venda_text id=site.order_status.backordered></venda_block label=12>
    <venda_block label=13,oistatus=5><venda_block label=114,num=notnull>Tracking #: <venda_block label=115,mode=value,<venda_pkshipmthd>=Standard><a href="http://www.hermes-europe.co.uk/customerparceltrackingservice/trackingDetailsHermes.jsp?barcode=<venda_num>" style="font-weight:normal;"><venda_num></a></venda_block label=115> <venda_block label=116,mode=value,<venda_pkshipmthd>!=Standard><a href="http://www.dpd.co.uk/service/tracking?parcel=<venda_num>" style="font-weight:normal;"><venda_num></a></venda_block label=116> </venda_block label=114><venda_text id=site.order_status.delivered> <venda_stmp> &nbsp;&nbsp;<a href="#" style="color:#666; font-weight:bold;"><venda_pkcarrier1></a> </venda_block label=13>
	<venda_block label=14,oistatus=6><venda_text id=site.order_status.returned></venda_block label=14>
	<venda_block label=15,oistatus=7><venda_text id=site.order_status.cancelled></venda_block label=15>
	</td> 
    <td><venda_block label=115,oicarrier=notnull><a href="#"><venda_oicarrier></a> </venda_block label=115></td>
</venda_block label=311>
</tr>

<venda_block label=45,oiitype=3>
<tr>
	<td colspan="5" class="giftmsg">
	<venda_text id=site.order_details.gift_certificate_sent_to>
	
	<venda_block label=880,gcexpires=notnull><br>
	<venda_text id=site.order_details.gift_certificate_expiry_date> <venda_block label=88,mode=value,<venda_setting type=ebiz,name=mmdddates>!=1><venda_gcexpires></venda_block label=88><venda_block label=89,mode=value,<venda_setting type=ebiz,name=mmdddates>=1><venda_dateformat type=digit,format=mm/dd/yyyy,suffix=0,date=<venda_gcexpires>></venda_block label=89>
	</venda_block label=880>

	<br>
	<span class="giftmsgline"><venda_text id=site.order_details.gift_certificate_message></span> <span class="giftmsgtext"><venda_oicmt></span>
	<!-- <br>From: <strong><venda_gcfrom></strong> -->
	</td>
<venda_block label=312,status=notnull> 
    <td></td>
</venda_block label=312>    
</tr>
</venda_block label=45>

<venda_block label=222,oigwrefqty=notnull,oicmtmsgqty=notnull,operator=or>
<venda_block label=229,oiitype!=3>
<tr>
	<td colspan="5" class="giftmsg">
	<venda_block label=221,oigwrefqty=notnull>
		<venda_block label=42,oiqty!=1><venda_text id=site.order_details.items_gift_wrapped><br></venda_block label=42>
		<venda_block label=43,oiqty=1><venda_text id=site.order_details.item_gift_wrapped><br></venda_block label=43>
		<venda_block label=456,oicmtmsgqty=notnull>
		<span class="wrappedmsgheader"><venda_text id=site.order_details.gift_message></span><span class="wrappedmsgcontent"><venda_oicmt></span></venda_block label=456>
	</venda_block label=221>
	<venda_block label=223,oigwrefqty=null,oicmtmsgqty=notnull>
	<span class="wrappedmsgheader"><venda_text id=site.order_details.gift_message></span><span class="wrappedmsgcontent"><venda_oicmt></span>
	</venda_block label=223>
	</td>
	<venda_block label=313,status=notnull> 
    <td></td>
	</venda_block label=313>    
</tr>
</venda_block label=229>
</venda_block label=222>

<venda_block label=101,mode=value,<venda_setting type=ebiz,name=tracktagtradedoubler>=1>
<script type="text/javascript">
<!--
<venda_tpcomment>//Built for TradeDoubler Tracking</venda_tpcomment>

	if (typeof orddetail == "undefined") {
		orddetail = "";
	} else {
		orddetail += "f1=<venda_oiivref>&f2=<venda_oiivname>&f3=<venda_oisub>&f4=<venda_oiqty>|";
	}
-->
</script>
</venda_block label=101>
<venda_inctemplate name=cmCreateShopAction9Tag,type=includes/tracking/coremetrics>
<venda_block label=702,mode=value,<venda_setting type=ebiz,name=tracktagwebtrends>=1><venda_inventory ref=<venda_invtref>,temp=tracking_category></venda_block label=702>
<venda_inctemplate name=siteCatalystDetblock,type=includes/tracking/siteCatalyst>
</venda_detblock2>

