<venda_detblock>
<li>
    <div class="js-prod-image prod-image">
        <a href="<venda_dispview icat=<venda_icatref1>>">
        <venda_block label=10,med-catimage1=notnull><img src="<venda_media rec=icat1,type=pict,key=catimage,border=0,img=no>" alt="<venda_icatname1>"></venda_block label=10>
        <venda_block label=11,med-catimage1=null><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/no_image_medium.gif" alt="<venda_text id=desktop.info.no_product_image>"></venda_block label=11>
        </a>
    </div>
</li>
</venda_detblock>
<h1 class="big-header"><venda_icatname></h1>
<venda_block errors=notnull><h2 class="alert-box alert radius" data-alert=""><venda_errors></h2></venda_block>

<ul id="categorylist" class="categorylist large-block-grid-3 small-block-grid-2 text-center">
    <venda_detail>
</ul>

<venda_tpxt mode=set,name=track,value=categorylist>