<venda_tpcomment><!-- Use this format "Items: 1" for items if set 'true'
Use this format "1 Item" for items if set 'false'--></venda_tpcomment>
<div id="tag-itemBD" style="display:none;"><venda_text id=desktop.info.item></div>
<div id="tag-itemsBD" style="display:none;"><venda_text id=desktop.info.items></div>

<a href="<venda_codehttp>?ex=co_wizr-shopcart&log=22" class="minicart nopad">
    <venda_tpcomment><!-- <h3 class="minicart-header"><span class="minicart-header-text"><venda_text id=desktop.heading.minicart></span></h3>--></venda_tpcomment>
    <div class="minicart-body" data-trackEvent="Shopping" id="showcart">
        <i class="icon-cart icon-2x"></i>
    	<span class="minicart-items">
            <span id="updateItems" class="js-updateItems minicart-items-number"><venda_cartitemtotal></span>
                <span class="js-updateItemsText show-for-desktop-up"> <venda_block label=19,cartitemtotal=1><venda_text id=desktop.info.item></venda_block label=19><venda_block label=20,cartitemtotal!=1><venda_text id=desktop.info.items></venda_block label=20></span>
            </span>
        </span>
        <span><span class="dash show-for-desktop-up">-</span></span>
    	<span class="minicart-total"><span id="updateTotal" class="js-updateTotal show-for-desktop"><venda_total></span></span>
    </div>
</a>


<venda_block label=11,mode=value,<venda_shopcart mode=getqty>!=0>
<venda_block label=140,ustype=R>
<venda_block label=142,mode=value,<venda_setting type=ebiz,name=skipsecondlogin>=1>
<a id="goToCheckout" class="checkout-button success small button show-for-desktop" href="<venda_codehttps>?ex=co_wizr-checkout&step=ordersummary">
</venda_block label=142>

<venda_block label=143,mode=value,<venda_setting type=ebiz,name=skipsecondlogin>!=1>
<a id="goToCheckout" class="checkout-button success small button show-for-desktop" href="<venda_codehttps>?ex=co_wizr-checkout&step=login">
</venda_block label=143>
</venda_block label=140>

<venda_block label=141,ustype!=R>
<a id="goToCheckout" class="checkout-button success small button show-for-desktop" href="<venda_codehttps>?ex=co_wizr-checkout&step=login">
</venda_block label=141>
</venda_block label=11>

<venda_block label=12,mode=value,<venda_shopcart mode=getqty>=0>
<a id="goToCheckout" class="checkout-button success small button show-for-desktop minicart-button-empty" href="<venda_codehttp>?ex=co_wizr-shopcart&log=22">
</venda_block label=12>
<venda_text id=desktop.button.checkout>
</a>