<div id="shopcart" class="marg-top">
<venda_block label=shopcartempty,mode=value,<venda_emptytemplate>=1>
	<venda_tpcomment><!-- Shopcart empty --></venda_tpcomment>
	<div class="row">
		<div class="large-24 columns">
			<div class="main-header">
				<h1 class="cartempty-header nomarg"><venda_text id=desktop.heading.shopping_cart></h1>
			</div>
			<venda_block label=1,mode=value,<venda_errors mode=boolean>=notnull><h2 class="alert-box alert radius" data-alert=""><venda_errors></h2></venda_block label=1>

			<p class="thickpad"><venda_text id=desktop.info.shopping_cart_empty></p>

			<div id="buttons" class="large-24 columns">
				<a href="<venda_dispview page=home>" class="button right thickmarg-bottom secondary"><venda_text id=desktop.button.continue_shopping></a>
			</div>
		</div>
	</div>
    <div id="tag-emptytemplate" style="display:none;">1</div>
</venda_block label=shopcartempty>

<venda_block label=shopcart,mode=value,<venda_emptytemplate>!=1>
	<div class="row">
		<div class="basketinfotop large-24 small-24 columns"><venda_page page=topbasket></div>
	</div>


	<div class="">
		<div id="yourbasket" class="js-shopcart thickmarg-top">

		<form method="post" name="<venda_curstep>form" action="<venda_codehttp>" id="shopcartform">
		<input type="hidden" name="ohrfnbr" value="<venda_ohrfnbr>">
		<input type="hidden" name="ex" value="co_wizr-<venda_workflow>" />
		<input type="hidden" name="workflowid" value="<venda_workflowid>" />
		<input type="hidden" name="wizard" id="wizard" value="checkout" /><venda_tpcomment><!-- hardcoded workflow to move the user to the checkout --></venda_tpcomment>
		<input type="hidden" name="param1" id="param1" value="" />
		<input type="hidden" name="param2" id="param2" value="" />
		<input type="hidden" name="param3" id="param3" value="" />
		<input type="hidden" name="log" id="log" value="" />
		<input type="hidden" name="mode" id="mode" value="process" />
		<input type="hidden" name="trrfnbr" id="trrfnbr" value="<venda_userinfo><venda_sesid></venda_userinfo>" />
		<input type="hidden" name="trrfext" id="trrfext" value="<venda_block label=15,mode=value,<venda_protocol>=https>1</venda_block label=15>" />
		<input type="hidden" name="curstep" id="curstep" value="<venda_curstep>" />
		<input type="hidden" name="curparam1" id="curparam1" value="<venda_curparam1>" />
		<input type="hidden" name="curparam2" id="curparam2" value="<venda_curparam2>" />
		<input type="hidden" name="curlayout" id="curlayout" value="<venda_curlayout>" />
		<input type="hidden" name="step" value="<venda_block label=registerednologin,mode=value,<venda_ustype>=R,<venda_setting type=ebiz,name=skipsecondlogin>=1>ordersummary</venda_block label=registerednologin><venda_block label=registeredlogin,mode=value,<venda_ustype>=R,<venda_setting type=ebiz,name=skipsecondlogin>!=1>login</venda_block label=registeredlogin><venda_block label=notregistered,ustype!=R>login</venda_block label=notregistered>" />

		<div class="row">
			<div class="baskettop large-24 columns">
				<div class="main-header">
					<h1 class="shopcart-header nomarg">
						<span class="hide-for-small"><venda_text id=desktop.heading.shopping_cart> - <venda_oialltotal> <venda_block label=19,oialltotal=1><venda_text id=desktop.info.item></venda_block label=19><venda_block label=20,oialltotal!=1><venda_text id=desktop.info.items></venda_block label=20></span>
						<span class="show-for-small"><venda_text id=desktop.heading.shopping_cart></span> <span class="show-for-small"><venda_oialltotal> <venda_block label=19,oialltotal=1><venda_text id=desktop.info.item></venda_block label=19><venda_block label=20,oialltotal!=1><venda_text id=desktop.info.items></venda_block label=20></span>
					</h1>
					<div class='js-basket-promo' style="display:none;"> <h3><venda_text id=desktop.info.you_saved> <venda_currsym><span id="tkTotSaving"></span> <venda_text id=desktop.info.today></h3> </div>
				</div>
				<div class="buttonTop"><input type="submit" class="success button right marg-bottom hide-for-small" value="<venda_text id=desktop.button.checkout_securely>"></div>
			</div>
		</div>
		<div class="row jewellery-basket-promo" style="display:none;">
			<div class="large-24 columns">
				<p><venda_text id=desktop.info.jewellery_item></p>
			</div>
		</div>

		<venda_tpcomment><!-- Paypal Express --></venda_tpcomment>
		<venda_paymenttemplate template=paypal_express,templatetype=paytype/frontend,paymenttype=paypal>

		<venda_block label=1,mode=value,<venda_errors mode=boolean>=notnull><div class="row"><div class="large-24 columns nopad"><h2 class="alert-box alert radius" data-alert=""><venda_errors></h2></div></div></venda_block label=1>

		<div class="row">
			<div class="large-24 columns item-list">
				<venda_tpcomment><!-- Start: Items Table --></venda_tpcomment>
				<venda_inctemplate type=workflow/shopcart/shopcart,name=standard_items>

				<div>
					<table summary="<venda_text id=desktop.info.items_table_summary>" title="<venda_text id=desktop.info.items_table_title>" class="large-24 marg-bottom table-checkout">
						<thead>
							<tr>
								<th scope="col" class="prod-image pad-topbottom" width="170">
									<span><venda_text id=desktop.info.item_description></span>
								</th>
								<th scope="col" class="nopad">
									<div class="row">
										<div class="large-7 columns th-prod-name hide-for-small"><span>name</span></div>
										<div class="large-6 columns hide-for-small text-right nopad js-rrp"><span><venda_text id=desktop.info.price_msrp></span></div>
										<div class="large-6 columns hide-for-small text-right"><span><venda_text id=desktop.info.price_each></span></div>
										<div class="large-5 columns hide-for-small th-prod-quantity"><span><venda_text id=desktop.info.qty></span></div>
									</div>
								</th>
								<th scope="col" class="text-right nopad" width="100">
									<span><venda_text id=desktop.info.total_price></span>
								</th>

							</tr>
						</thead>

						<tbody>
							<venda_detail5><venda_tpcomment><!-- products --></venda_tpcomment>
						</tbody>
					</table>
					<div class="row">
						<div class="large-15 columns">
							<div class="spent">
							<venda_block label=orver,extsub&gt;49><p class="over"><venda_text id=desktop.info.spent_over></p>
							</venda_block label=orver>
							<venda_block label=less,extsub&lt;50><p class="less" data-extsub="<venda_extsub>"><venda_text id=desktop.info.spent_less></p>
							</venda_block label=less>
							</div>
							<div class="hide-for-small"><venda_page page=infoboxes_co></div>
						</div>
						<div class="large-9 columns">
							<table summary="<venda_text id=desktop.info.order_totals_summary>" title="<venda_text id=desktop.info.order_totals_title>" class="small-24 large-24  thinmarg-bottom table-checkout table-summary">
								<tbody>
									<tr class="subtotal">
										<td scope="row" class="text-left"><div><venda_text id=desktop.info.subtotal></div></td>
										<td colspan="1" class="text-right"><div><venda_currsym><venda_extsub></div></td>
									</tr>
									<venda_block label=10,totaldisc&gt;0.00,totaldisc!=null>
									<tr>
										<td scope="row" class="text-left"><div><venda_text id=desktop.info.discount></div></td>
										<td colspan="1" class="text-right"><div><venda_currsym><venda_totaldisc></div></td>
									</tr>
									</venda_block label=10>
									<tr class="total">
										<th scope="row" class="text-left"><span><venda_text id=desktop.info.total></span></th>
										<td colspan="1" class="text-right"><span><strong><venda_currsym><venda_esttotal></strong></span></td>
									</tr>
								</tbody>
							</table>
							<venda_tpcomment><!-- Start: JS Buttons --></venda_tpcomment>
							<input type="submit" class="success button right marg-bottom" value="<venda_text id=desktop.button.checkout_securely>">
							<venda_paymenttemplate template=paypal_express,templatetype=paytype/frontend,paymenttype=paypal>
							<venda_tpcomment><!-- End: JS Buttons --></venda_tpcomment>
						</div>
					</div>
				</div>
				<venda_tpcomment><!-- End: Items Table --></venda_tpcomment>

				<div class="show-for-small"><venda_page page=infoboxes_co></div>
				<div class="show-for-desktop"><a href="<venda_dispview page=home>" class="button secondary marg-bottom"><venda_text id=desktop.button.continue_shopping></a></div>
			</div>
		</div>
		</form>
	</div>
	<venda_tpcomment><!-- related products -->
	<!--<div id="bottomtab" class="section-container auto" data-section="auto">
		< div class="section active">
			<p class="title" data-section-title><a href="#" title="<venda_text id=desktop.heading.related_products>"><venda_text id=desktop.heading.related_products></a></p>
			<div class="content">
				< venda_invtrelated limit=3,threshold=2,template=related >
			</div>
		</div>
	</div> --></venda_tpcomment>
</div>

<div id="js-modal-style" class="reveal-modal medium text-center"><i class="icon-spinner icon-spin icon-2x marg-side"></i><span></span></div>
<div id="js-promo-waitMsg" style="display:none;"><venda_text id=desktop.info.applying_promotion></div>
<div id="js-promo-deleteMsg" style="display:none;"><venda_text id=desktop.info.deleting_promotion></div>
</venda_block label=shopcart>

<venda_tpcomment><!-- Used for html title --></venda_tpcomment>
<venda_tpxt mode=set,name=title,value=<venda_text id=desktop.heading.shopping_cart>>
<venda_inctemplate name=workflowSteps,type=tracking/shared>
</div>