<venda_block label=78,invtref!=giftcert,invtpublish=1>
<li>
<div class="liwrapper vbmproduct">
    <div class="image">
    <venda_block label=4,med-thumb=notnull>
    <a href="<venda_dispview invt=<venda_invtref>>?bklist=<venda_bklist>"><venda_media rec=invt,type=movie-swf-pict,key=thumb,border=0></a>
    </venda_block label=4>
    <venda_block label=5,med-thumb=null>
    <a href="<venda_dispview invt=<venda_invtref>>?bklist=<venda_bklist>"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/noimage_thu.jpg" alt="<venda_text id=site.link.alt.no_image.invt>" border="0"></a>
    </venda_block label=5>
    </div>
    <div class="details_equal">
    <h3 class="name_equal"><a href="<venda_dispview invt=<venda_invtref>>?bklist=<venda_bklist>"><venda_invtname></a></h3>

     <venda_block label=441,invtatrtot&lt;1>
    <!-- product has no attributes -->
        <venda_block label=442,invtsell&gt;0>
        <p class="was_equal" style="padding-left:10px;">
            <venda_block label=11,invtwas!=0.00,invtwas!=>
                <venda_text id=site.was><venda_currsym><venda_invtwas>
            </venda_block label=11>
            <venda_block label=12,invtwas=0.00,invtwas=>&nbsp;</venda_block label=12>
        </p>
        <p class="price_equal<venda_block label=110,invtsavingonwas=notnull,invtwas!=0.00>1</venda_block label=110>" style="color:red; font-size:1.4em; font-weight:bold; padding-left:10px;">now&nbsp;<venda_currsym><venda_invtsell><venda_block label=445,invtparef=notnull></venda_block label=445>
        </p>
        </venda_block label=442>
    </venda_block label=441>

     <venda_block label=443,invtatrtot&gt;0>
    <!-- product has attributes -->
        <venda_block label=444,invtatrminsubsell&gt;0>
        <p class="was_equal" style="padding-left:10px;">
        <venda_block label=1100,mode=value,<venda_invtatrminsubwas>&gt;<venda_invtatrminsubsell>>
            <venda_text id=site.product_detail.attribute.extrafields.parent_was_text> <venda_block label=1111,mode=value,<venda_invtatrmaxsubwas>!=<venda_invtatrminsubwas>><venda_text id=site.from> </venda_block label=1111><venda_currsym><venda_invtatrminsubwas>
        </venda_block label=1100>
        <venda_block label=1101,mode=value,<venda_invtatrminsubwas>&lt;<venda_invtatrminsubsell>>&nbsp;</venda_block label=1101>
        </p>
        <p class="price_equal" style="color:red; font-size:1.4em; font-weight:bold; padding-left:10px;">
        <venda_block invtatrminsubsell&gt;0.00>now&nbsp;<venda_currsym><venda_invtatrminsubsell></venda_block>
        <venda_block invtatrminsubsell=0.00><venda_invtsymsell></venda_block>
        </p>
        </venda_block label=444>
    </venda_block label=443>
        <venda_block label=301,invtatrinstock&gt;0,invtatrtot&lt;1>
            <venda_block label=381,invtpreorder!=1>
            <venda_jump type=addshop,rtype=invt,value=invtref,label=43><img  src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_addtobasket.png" alt="<venda_text id=site.button.add_to_basket>" class="add"></venda_jump label=43>
            </venda_block label=381>
            </venda_block label=301>

</div>
</div>
</li>

</venda_block label=78>