<img src="https://cc.gbppc.com/ct/673/x.gif?ngcr=<venda_ohtot>&cid=<venda_ohordnum>" style="display:none;">
<img src="https://cc.gbppc.com/ct/864/x.gif?ngcr=<venda_ohtot>&cid=<venda_ohordnum>" style="display:none;">