<venda_tpcomment><!-- This bundle block MUST be left in place or the whole template will not translate --></venda_tpcomment>
<!-- bundle block
<venda_detblock_bundle>
	<venda_detblock_bundleditem>
		<!-- n/a -->
	</venda_detblock_bundleditem>
	<venda_detail_bundleditem>
</venda_detblock_bundle>
-->
<!-- <venda_detail_bundle> -->
<venda_detblock_item>
    <venda_block label=1,invtpublish=1,invtref=notnull,ivtype!=3,operator=and>
	<venda_block label=111,invtatt1=notnull>
	    <venda_tpcomment><!--If this IS an attribute product--></venda_tpcomment>
	    <tr>
                <td class="image" style="text-align:left; color: #454545;padding: 10px">
		    <a href="<venda_dispview invt=<venda_invtparef>>?temp=submitpowerreview&pageid=<venda_invtparef>&layout=defaultnocolthree&pr_source=email&utm_source=post_purchase&utm_medium=email&utm_campaign=order_emails">
		    <venda_block label=2,med-small=notnull>
                        <venda_media rec=invt,type=pict,key=small>
                    </a>
                    </venda_block label=2>
                    <venda_block label=3,med-small=null>
                        <img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/no_image_small.gif" alt="<venda_text id=desktop.info.no_product_image>"></a>
                    </venda_block label=3>
                </td>
                <td class="image-item-desc">
                    <a href="<venda_dispview invt=<venda_invtparef>>?temp=submitpowerreview&pageid=<venda_invtparef>&layout=defaultnocolthree&pr_source=email&utm_source=post_purchase&utm_medium=email&utm_campaign=order_emails"><venda_invtname></a> -
                    <a href="<venda_dispview invt=<venda_invtparef>>?temp=submitpowerreview&pageid=<venda_invtparef>&layout=defaultnocolthree&pr_source=email&utm_source=post_purchase&utm_medium=email&utm_campaign=order_emails"><venda_invtparef></a>
                </td>
                <td style="text-align:left;padding: 10px">
                    <a href="<venda_dispview invt=<venda_invtparef>>?temp=submitpowerreview&pageid=<venda_invtparef>&layout=defaultnocolthree&pr_source=email&utm_source=post_purchase&utm_medium=email&utm_campaign=order_emails"><venda_text id=desktop.button.write_review></a>
                </td>
	    </tr>
	</venda_block label=111>
	<venda_block label=113,invtatt1=null>
	    <venda_tpcomment><!--If this IS NOT an attribute product--></venda_tpcomment>
	    <tr>
                <td class="image" style="text-align:left; color: #454545;padding: 10px">
		    <a href="<venda_dispview invt=<venda_invtref>>?temp=submitpowerreview&pageid=<venda_invtref>&layout=defaultnocolthree&pr_source=email&utm_source=post_purchase&utm_medium=email&utm_campaign=order_emails">
		    <venda_block label=2,med-small=notnull>
                        <venda_media rec=invt,type=pict,key=small></a>
                    </venda_block label=2>
                    <venda_block label=3,med-small=null>
                        <img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/no_image_small.gif" alt="<venda_text id=desktop.info.no_product_image>"></a>
                    </venda_block label=3>
                </td>
                <td class="image-item-desc">
                    <a href="<venda_dispview invt=<venda_invtref>>?temp=submitpowerreview&pageid=<venda_invtref>&layout=defaultnocolthree&pr_source=email&utm_source=post_purchase&utm_medium=email&utm_campaign=order_emails"><venda_invtname></a> -
                    <a href="<venda_dispview invt=<venda_invtref>>?temp=submitpowerreview&pageid=<venda_invtref>&layout=defaultnocolthree&pr_source=email&utm_source=post_purchase&utm_medium=email&utm_campaign=order_emails"><venda_invtref></a>
                </td>
                <td style="text-align:left;padding: 10px">
                    <a href="<venda_dispview invt=<venda_invtref>>?temp=submitpowerreview&pageid=<venda_invtref>&layout=defaultnocolthree&pr_source=email&utm_source=post_purchase&utm_medium=email&utm_campaign=order_emails"><venda_text id=desktop.button.write_review></a>
		</td>
	    </tr>
	</venda_block label=113>
    </venda_block label=1>
</venda_detblock_item>

<venda_detail_item>
