<venda_detblock_minify_js>

<venda_tpcomment><!-- required --></venda_tpcomment>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/external/cookiejar.js"></script>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/Venda/Platform.js"></script>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/external/jquery-ui-1.8.23.custom.min.js"></script>
<script type='text/javascript' src='<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/external/jquery.history.js'></script>
<script type='text/javascript' src='<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/external/jsuri-1.1.1.min.js'></script>

<venda_tpcomment><!-- tracking --></venda_tpcomment>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/Venda/Widget/gtmDataLayer.js"></script>

<venda_tpcomment><!-- sitewide and not always required --></venda_tpcomment>
<script type='text/javascript' src='<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/external/jquery-accessibleMegaMenu.js'></script>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/Venda/Widget/MegaMenu.js"></script>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/Venda/Widget/EqualHeight.js"></script>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/Venda/Widget/RegionLangSwitch.js"></script>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/Venda/Widget/jqSlider.js"></script>


<venda_tpcomment><!-- Used to keep sitewide functions --></venda_tpcomment>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/Ebiz.js"></script>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/checkout.js"></script>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/Venda/Widget/Modal.js"></script>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/Venda/Widget/AddressLookup.js"></script>
<venda_block label=3,workflow!=checkout>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/Venda/Widget/Offcanvas.js"></script>
</venda_block label=3>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/Venda/Widget/MinicartDetail.js"></script>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/Venda/Widget/HandlePromotion.js"></script>
<venda_tpcomment><!-- validation --></venda_tpcomment>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/external/jquery.validate.js"></script>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/Venda/Validate/jquery.validate.common.js"></script>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/Venda/Validate/jquery.validate.rules.checkout.js"></script>

<venda_tpcomment><!-- foundation --></venda_tpcomment>
<venda_tpcomment><!-- ini script --></venda_tpcomment>
<script src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/external/foundation.js"></script>
<script src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/external/foundation.alerts.js"></script>
<venda_tpcomment><!-- reveal --></venda_tpcomment>
<script src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/external/foundation.reveal.js"></script>
<venda_tpcomment><!-- section --></venda_tpcomment>
<script src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/external/foundation.section.js"></script>
<script src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/Venda/Widget/HandleSection.js"></script>
</venda_detblock_minify_js>

<venda_detail_minify_js>
<script>
    jQuery(document).foundation();
    document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/,'js');
</script>
