<venda_block label=52,paymentavailable=notnull>
<fieldset class="f-paypal thickmarg-topbottom">
    <legend><venda_text id=desktop.info.pay_by_paypal></legend>
	<div class="row">
        <div class="large-24 columns">
            <div class="small-12 large-5 left">
                <label for="formpaypal"><input type="radio" name="ohpaytype" value="12" id="formpaypal" <venda_block label=55,paymentused=notnull,paymenttypestot=1,operator=or>checked</venda_block label=55><venda_block label=24,paymenttypestot=1> style="display:none"</venda_block label=24>><span class="thinpad-side"><venda_text id=desktop.form.pay_by_paypal></span></label>
            </div>
            <div class="small-12 large-7 left">
                <img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/PayPal_mark_37x23.gif" alt="<venda_text id=desktop.info.paypal_logo>" id="paypallogo">
            </div>
        </div>
    </div>
	<br>
    <venda_block label=paypalexpress,paypalexpress=1><p class="nomarg"><venda_text id=desktop.info.paypal_1></p></venda_block label=paypalexpress>
    <venda_block label=paypalmarkonly,paypalexpress!=1><p class="nomarg"><venda_text id=desktop.info.paypal_2></p></venda_block label=paypalmarkonly>
</fieldset>
<hr>
</venda_block label=52>