<venda_tpcomment><!-- Validation definitions for jquery.validate.js --></venda_tpcomment>
<div id="tag-validation_title" style="display:none;"><venda_text id=desktop.validation.title></div>
<div id="tag-validation_fname" style="display:none;"><venda_text id=desktop.validation.fname></div>
<div id="tag-validation_lname" style="display:none;"><venda_text id=desktop.validation.lname></div>
<div id="tag-validation_country" style="display:none;"><venda_text id=desktop.validation.country></div>
<div id="tag-validation_house_num" style="display:none;"><venda_text id=desktop.validation.house_num></div>
<div id="tag-validation_addr1" style="display:none;"><venda_text id=desktop.validation.addr1></div>
<div id="tag-validation_city" style="display:none;"><venda_text id=desktop.validation.city></div>
<div id="tag-validation_state" style="display:none;"><venda_text id=desktop.validation.state></div>
<div id="tag-validation_county" style="display:none;"><venda_text id=desktop.validation.county></div>
<div id="tag-validation_postcode" style="display:none;"><venda_text id=desktop.validation.postcode></div>
<div id="tag-validation_postcode_populate" style="display:none;"><venda_text id=desktop.validation.postcode_populate></div>
<div id="tag-validation_postcode_dropdown" style="display:none;"><venda_text id=desktop.validation.postcode_dropdown></div>
<div id="tag-validation_postcode_lookupnotfound" style="display:none;"><venda_text id=desktop.validation.postcode_lookupnotfound></div>
<div id="tag-validation_password" style="display:none;"><venda_text id=desktop.validation.password></div>
<div id="tag-validation_verify_password_minlength" style="display:none;"><venda_text id=desktop.validation.verify_password_minlength></div>
<div id="tag-validation_verify_password_maxlength" style="display:none;"><venda_text id=desktop.validation.verify_password_maxlength></div>
<div id="tag-validation_confirm_password" style="display:none;"><venda_text id=desktop.validation.confirm_password></div>
<div id="tag-validation_verify_password_match" style="display:none;"><venda_text id=desktop.validation.verify_password_match></div>
<div id="tag-validation_verify_current_password" style="display:none;"><venda_text id=desktop.validation.verify_current_password></div>
<div id="tag-validation_credit_card_number" style="display:none;"><venda_text id=desktop.validation.credit_card_number></div>
<div id="tag-validation_credit_card_name" style="display:none;"><venda_text id=desktop.validation.credit_card_name></div>
<div id="tag-validation_security_code_length" style="display:none;"><venda_text id=desktop.validation.security_code_length></div>
<div id="tag-validation_credit_card_expired" style="display:none;"><venda_text id=desktop.validation.credit_card_expired></div>
<div id="tag-validation_datenow" style="display:none;"><venda_dateformat type=digit,format=mm/dd/yyyy,suffix=0,date=now></div>
<div id="tag-validation_giftcard_id" style="display:none;"><venda_text id=desktop.validation.giftcard_id></div>
<div id="tag-validation_giftcard_code" style="display:none;"><venda_text id=desktop.validation.giftcard_code></div>
<div id="tag-validation_giftcard_amount" style="display:none;"><venda_text id=desktop.validation.giftcard_amount></div>
<div id="tag-validation_bank_accountnumber" style="display:none;"><venda_text id=desktop.validation.bank_accountnumber></div>
<div id="tag-validation_bank_accountname" style="display:none;"><venda_text id=desktop.validation.bank_accountname></div>
<div id="tag-validation_bank_sortcode" style="display:none;"><venda_text id=desktop.validation.bank_sortcode></div>
<div id="tag-validation_giftcert_code" style="display:none;"><venda_text id=desktop.validation.enter_gift_certificate_code></div>
<div id="tag-validation_promo_code" style="display:none;"><venda_text id=desktop.validation.enter_promo_code></div>
<div id="tag-validation_security_code" style="display:none;"><venda_text id=desktop.validation.security_code></div>
<div id="tag-validation_special_characters" style="display:none;"><venda_text id=desktop.validation.special_characters></div>
<div id="tag-validation_password_reset" style="display:none;"><venda_text id=desktop.info.email_password_reset_thanks></div>
<div id="tag-validation_storename" style="display:none;"><venda_text id=desktop.validation.storename></div>
<div id="tag-validation_only_characters" style="display:none;"><venda_text id=desktop.validation.only_characters></div>