<venda_detblock>
	<venda_block paymenthidden=notnull><div style="display: none;"></venda_block>
	<venda_paymenttemplate paymenttype=<venda_paymentname>,templatetype=paytype/frontend,template=paymenttype_<venda_paymentname>,capture=1,ohrfnbr=<venda_paymentohrfnbr>,entry=1>
	<venda_block paymenthidden=notnull></div></venda_block>
</venda_detblock>

    <venda_detail>