  <div id="myaccount">
  <venda_block label=33,ustype!=R>
      <script language="javascript" type="text/javascript">  <venda_tpcomment>/* forward to log in page*/</venda_tpcomment>  window.location ="<venda_codehttps>?ex=co_wizr-register";  </script>
          <div class="main-header"><h1><venda_text id=desktop.heading.myaccount></h1></div>
          <div class="thickpad">
            <p><venda_text id=desktop.info.myaccount_login_message> <a href="<venda_codehttps>?ex=co_wizr-register"><venda_text id=desktop.button.log_in></a></p>
          </div>
  </venda_block label=33>
  <venda_block label=31,ustype=R>

  <div class="main-header"><h1><venda_text id=desktop.heading.myaccount></h1></div>
  <venda_userinfo><p class="welcome-msg thickmarg-topbottom"><venda_text id=desktop.info.myaccount_welcome_greeting><venda_sesfname><venda_text id=desktop.info.myaccount_welcome></p></venda_userinfo>
  <venda_category temp=flashbanner,ref=privatesale,rec=icat>

  <venda_tpcomment>
  <!--div class="row">
    <div class="columns large-12 small-10">
      <a class="secondary button js-logout pad small-24 large-8" href="<venda_dispview page=home>?log=4"><venda_text id=desktop.button.log_out></a>
    </div>
    <div class="columns large-12 small-14">
      <a class="success continue button right" href="<venda_dispview page=home>"><venda_text id=site.button.continue_shopping></a>
    </div>
  </div-->
  </venda_tpcomment>

      <div class="thickmarg-top myaccount-box">
          <div class="box js-recentorders">
              <div class="box-header"><h3><venda_text id=desktop.heading.recent_orders></h3></div>
              <div class="box-body">
                  <div class="table-overflow">
                    <venda_cartlist carttype=order,template=myaccountRecentOrders,type=order,limit=1>
                  </div>

                     <a href="<venda_codehttps>?ex=co_wizr-myaccount&step=orderhistory" class="button marg-top"><venda_text id=desktop.button.view_order_history></a>
              </div>
          </div>

          <div class="box js-billingdetails">
              <div class="box-header"><h3><venda_text id=desktop.heading.billing_details></h3></div>
              <div class="box-body">
                  <div class="panel">
                  <venda_userinfo>
                    <p class="vcard">
                      <span class="fn"><strong><venda_block label=sestitle_miss,sestitle=Miss><venda_text id=desktop.form.title.miss></venda_block label=sestitle_miss><venda_block label=sestitle_mrs,sestitle=Mrs><venda_text id=desktop.form.title.mrs></venda_block label=sestitle_mrs><venda_block label=sestitle_mr,sestitle=Mr><venda_text id=desktop.form.title.mr></venda_block label=sestitle_mr><venda_block label=sestitle_ms,sestitle=Ms><venda_text id=desktop.form.title.ms></venda_block label=sestitle_ms> <venda_sesfname> <venda_seslname></strong></span><br>
                      <venda_block label=1001,sescompany=notnull><span class="org"><venda_sescompany></span><br></venda_block label=1001>
                      <span class="adr">
                        <span class="street-address"><venda_sesnum> <venda_sesaddr1><br>
                        <venda_block sesaddr2=notnull><venda_sesaddr2><br></venda_block></span>

                        <venda_tpcomment><!-- if country is US or US entities display this formatting --></venda_tpcomment>
                        <venda_block label=999,mode=value,<venda_sescntry>=United States,<venda_sescntry>=United States Non-48,<venda_sescntry>=United States Armed Forces,operator=or>
                        <span class="locality"><venda_sescity>, </span><span class="region"><venda_sesstate></span> <span class="postal-code"><venda_seszipc>, </span>
                        <span class="country-name"><venda_sescntry></span>
                        </venda_block label=999>

                        <!-- if country is NOT US or US entities display this formatting --></venda_tpcomment>
                        <venda_block label=9991,mode=value,<venda_sescntry>!=United States,<venda_sescntry>!=United States Non-48,<venda_sescntry>!=United States Armed Forces,operator=and>
                        <span class="locality"><venda_sescity>, </span>
                        <venda_block label=751,sesstate=notnull,seszipc=notnull,operator=or><span class="region"><venda_sesstate></span> <span class="postal-code"><venda_seszipc>, </span>
                        </venda_block label=751>
                        <span class="country-name"><venda_sescntry></span>
                        </venda_block label=9991>
                      </span>
                        <br>
                      <venda_block label=12,sesphone=notnull><span class="tel"><venda_sesarea><venda_sesphone></span></venda_block label=12>
                    </p>
                  </venda_userinfo>
                  </div>
                  <a href="<venda_codehttps>?ex=tl_user-myform&layout=myaccount&htxt=<venda_htxt mode=make,addr=change>" class="button js-billingadd"><venda_text id=desktop.button.edit_billing_details></a>
              </div>
          </div>

          <div class="box js-accountdetails">
              <div class="box-header"><h3><venda_text id=desktop.heading.account_details></h3></div>
              <div class="box-body">
                  <a href="<venda_codehttps>?ex=tl_user-myform&layout=myaccount&htxt=<venda_htxt mode=make,pass=change>" class="button js-emailpwd"><venda_text id=desktop.button.edit_email_password></a>
                  <!--
                  <a href="<venda_codehttps >?ex=tl_user-myform&layout=myaccount&param1=profile" class="button js-profile"><venda_text id=desktop.button.edit_profile></a>
                  <a href="<venda_codehttps >?ex=tl_user-myform&layout=myaccount&param1=storecredit" class="button js-storecredit"><venda_text id=desktop.button.view_remaining_store_credit></a>
                  -->
              </div>
          </div>

          <div class="box js-commopts hide">
              <div class="box-header"><h3><venda_text id=desktop.heading.communication_options></h3></div>
              <div class="box-body">

                      <venda_userinfo>
                              <venda_block label=1,sesblkpost=1,sesblkemail=1,sesblksms=1,sesblktrdcomm=1,operator=or>
                              <table>
                                    <thead>
                                      <tr>
                                          <th></th>
                                          <th scope="col"><venda_text id=desktop.form.communication_email></th>
                                          <th scope="col"><venda_text id=desktop.form.communication_post></th>
                                          <venda_tpcomment><!-- <th scope="col"><venda_text id=desktop.form.communication_sms></th> --></venda_tpcomment>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                         <th align="right"><venda_text id=desktop.form.company_communication_options></th>
                                         <th><venda_block label=11,sesblkemail=1><i class="icon-ok"></i></venda_block label=11></th>
                                         <th><venda_block label=12,sesblkpost=1><i class="icon-ok"></i></venda_block label=12></th>
                                         <venda_tpcomment><!-- <th><venda_block label=13,sesblksms=1><i class="icon-ok"></i></venda_block label=13></th> --></venda_tpcomment>
                                      </tr>
                                      <tr>
                                         <th align="right"><venda_text id=desktop.form.3rdparty_communication_options></th>
                                         <th><venda_block label=14,sesblktrdcomm=1><i class="icon-ok"></i></venda_block label=14></th>
                                         <th></th>
                                         <venda_tpcomment><!-- <th></th> --></venda_tpcomment>
                                      </tr>
                                    </tbody>
                              </table>
                              </venda_block label=1>

                              <venda_block label=2,sesblkemail!=1,sesblkpost!=1,sesblksms!=1>
                                  <p><venda_text id=desktop.info.communication_options_unsubscribed></p>
                              </venda_block label=2>

                      </venda_userinfo>

                     <a href="<venda_codehttps>?ex=tl_user-myform&layout=myaccount&htxt=<venda_htxt mode=make,comm=change>" class="button js-comms"><venda_text id=desktop.button.edit_communication_options></a>
              </div>
          </div>

          <div class="box js-addressbook">
              <div class="box-header"><h3><venda_text id=desktop.heading.address_book></h3></div>
              <div class="box-body">
                  <div class="panel">
                      <venda_detblock>
                      <venda_block label=defaultdelivery,default1=1>
                        <venda_block label=10,abrfnbr1&gt;0>

                          <h4><venda_text id=desktop.info.default_delivery_address>
                            <venda_block label=101,adtype1=1> - <venda_text id=desktop.heading.billing_address></venda_block label=101>

                            <venda_block label=102,adtype1=0>

                              <venda_block label=11,mode=value,<venda_company1>=c/o <venda_setting type=ebiz,name=name>>- <venda_text id=desktop.heading.deliver_to_store></venda_block label=11>

                              <venda_block label=13,addrname1=notnull> - <venda_addrname1></venda_block label=13>

                            </venda_block label=102>
                          </h4>

                          <p class="vcard">
                            <span class="fn"><strong><venda_block label=title1_miss,title1=Miss><venda_text id=desktop.form.title.miss></venda_block label=title1_miss><venda_block label=title1_mrs,title1=Mrs><venda_text id=desktop.form.title.mrs></venda_block label=title1_mrs><venda_block label=title1_mr,title1=Mr><venda_text id=desktop.form.title.mr></venda_block label=title1_mr><venda_block label=title1_ms,title1=Ms><venda_text id=desktop.form.title.ms></venda_block label=title1_ms> <venda_fname1><venda_block label=77,mname1=notnull> <venda_mname1></venda_block label=77> <venda_lname1></strong></span><br>

                            <venda_block label=31,company1=notnull><span class="org"><venda_company1></span><br></venda_block label=31>
                            <span class="adr">
                              <span class="street-address"><venda_block label=41,num1=notnull><venda_num1> </venda_block label=41><venda_addr11><venda_block label=3,addr21=notnull><br><venda_addr21></venda_block label=3></span><br>

                              <venda_tpcomment><!-- if country is US or US Non-48 display this formatting --></venda_tpcomment>
                              <venda_block label=999,mode=value,<venda_cntry1>=United States,<venda_cntry1>=United States Non-48,<venda_cntry1>=United States Armed Forces,operator=or>
                              <span class="locality"><venda_city1>, </span><venda_block label=42,state1=notnull><span class="region"><venda_state1></span><br> </venda_block label=42><span class="postal-code"><venda_zipc1>, </span>
                              <span class="country-name"><venda_cntry1></span>
                              </venda_block label=999>

                              <venda_tpcomment><!-- if country is NOT US or US entities display this formatting --></venda_tpcomment>
                              <venda_block label=9991,mode=value,<venda_cntry1>!=United States,<venda_cntry1>!=United States Non-48,<venda_cntry1>!=United States Armed Forces,operator=and>
                              <span class="locality"><venda_city1>, </span>
                              <venda_block label=42,state1=notnull><span class="region"><venda_state1></span><br> </venda_block label=42><span class="postal-code"><venda_zipc1>, </span>
                              <span class="country-name"><venda_cntry1></span>
                              <venda_block label=1234,state1=notnull,zipc1=notnull,operator=or></venda_block label=1234>
                              </venda_block label=9991>

                              <br>
                            </span>
                            <venda_block label=12,phone1=notnull><span class="tel"><venda_area1><venda_phone1></span></venda_block label=12>
                          </p>

                        </venda_block label=10>
                      </venda_block label=defaultdelivery>
                      </venda_detblock>
                      <venda_detail>
                  </div>
                  <a href="<venda_codehttps>?ex=co_wizr-myaccount&log=22&step=addressbook" class="button js-addbook"><venda_text id=desktop.button.view_address_book></a>
              </div>
          </div>
  </venda_block label=31>
</div>

<venda_tpxt mode=set,name=trackingstep,value=myaccount>
<venda_inctemplate name=workflowSteps,type=tracking/shared>
<venda_tpcomment><!-- Used for html title --></venda_tpcomment>
<venda_tpxt mode=set,name=title,value=<venda_text id=desktop.heading.myaccount>>
</div>
