<p style="font-family:Arial, Helvetica, Verdana, sans-serif; font-size:20px;color:#000;margin:0;">
    <venda_text id=desktop.info.dear> <venda_ohfname>   <venda_ohlname>
    <venda_tpcomment>
    <!--
    <venda_block label=ohtitle_miss,ohtitle=Miss>
        <venda_text id=desktop.form.title.miss>
    </venda_block label=ohtitle_miss>

    <venda_block label=ohtitle_mrs,ohtitle=Mrs>
        <venda_text id=desktop.form.title.mrs>
    </venda_block label=ohtitle_mrs>

    <venda_block label=ohtitle_mr,ohtitle=Mr>
        <venda_text id=desktop.form.title.mr>
    </venda_block label=ohtitle_mr>

    <venda_block label=ohtitle_ms,ohtitle=Ms>
        <venda_text id=desktop.form.title.ms>
    </venda_block label=ohtitle_ms>

    <venda_block label=115,ohmname=notnull>
        <venda_ohmname>
    </venda_block label=115>
    <venda_ohlname>
    -->
    </venda_tpcomment>
    </p>