<fieldset class="f-bank thickmarg-topbottom">
<legend><venda_text id=site.order_confirmation.legend.giftcard></legend>

  <div class="row">
    <div class="large-24 columns">
      <div class="small-24 large-24 left">
        <label for="bankpayment"><input type="radio" name="payment_id" value="<venda_payment_id>" id="bankpayment"<venda_block label=78,payment_selected=1> checked="checked"</venda_block label=78><venda_block label=24,payment_hide_choice=1> style="display:none"</venda_block label=24>><span class="thinpad-side"><venda_text id=site.order_confirmation.label.bank></span></label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-6 columns">
      <label for="accountnumber" class="inline right"><venda_text id=site.order_confirmation.label.bank_number></label>
    </div>
    <div class="large-18 columns">
      <input id="accountnumber" type="text" autocomplete="off" maxlength="50" size="16" value="" name="accountnumber">
    </div>
  </div>

  <div class="row">
    <div class="large-6 columns">
      <label for="accountname" class="inline right"><venda_text id=site.order_confirmation.label.bank_account_name></label>
    </div>
    <div class="large-18 columns">
      <input id="accountname" type="text" autocomplete="off" maxlength="50" size="16" value="" name="accountname">
    </div>
  </div>

  <div class="row">
    <div class="large-6 columns">
      <label for="sortcode" class="inline right"><venda_text id=site.order_confirmation.label.sortcode></label>
    </div>
    <div class="large-18 columns">
      <input id="sortcode" type="text" autocomplete="off" maxlength="50" size="16" value="" name="sortcode">
    </div>
  </div>

</fieldset>
<hr>