<div class="row">
    <div class="mm_bg small-24 columns">
        <div class="topnav">
        <venda_tpcomment><!-- Dynamic Top Navigation --><!--venda_category rec=icat,ref=shop,temp=dynamicTopNavigation,itemsperpage=100--></venda_tpcomment>
        <venda_tpcomment><!-- Static Top Navigation --></venda_tpcomment><venda_page page=mainmenu>
        </div>
    </div>
</div>