<li class="prod prod-subsku">
	<div class="prod-image">
	<venda_block label=141,med-xsmall=notnull>
		<a href="<venda_dispview invt=<venda_invtref>>"><venda_media rec=invt,type=pict,key=xsmall></a>
	</venda_block label=141>
	<venda_block label=142,med-xsmall=null>
		<a href="<venda_dispview invt=<venda_invtref>>"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/no_image_xsmall.gif" alt="<venda_text id=desktop.info.no_product_image>"></a>
	</venda_block label=142>
	</div>
	<div class="prod-details">
		<p class="prod-name"><a href="<venda_dispview invt=<venda_invtref>>"><venda_block label=12,invtaltname=notnull><venda_invtaltname></venda_block label=12><venda_block label=13,invtaltname=null><venda_invtname></venda_block label=13></a></p>
	</div>
</li>