<venda_block label=keyword,keyword!=null>
<script type="text/javascript">searchQuery="<venda_keyword>";</script></venda_block label=keyword>
<venda_block label=notkeyword,keyword=null>
<venda_detblock_title_facets><venda_detblock_title_facet_values><script type="text/javascript">searchQuery="<venda_facetvalue>";</script></venda_detblock_title_facet_values><venda_detail_title_facet_values> </venda_detblock_title_facets>
<venda_detail_title_facets>
</venda_block label=notkeyword>