<div class="alert-box cookie-banner nomarg thinpad" style="display:none;">
        <div class="notices">
                <div class="row">
                        <div class="large-3 columns headerBox thinpad"><venda_text id=desktop.heading.cookie></div>
                        <div class="large-17 columns textBox thinpad"><venda_text id=desktop.info.cookie></div>
                        <div class="large-4 columns closeBox thinpad"><a class="btn-accept close"><i class="icon-close icon-large"></i> <span class="show-for-desktop"><venda_text id=desktop.button.acceptcookie></a></span></div>
                </div>
        </div>
</div>
<venda_block label=promopopup,mode=value,<venda_ebxtpromopopup>=notnull>
    <div class="hide-for-small"><venda_page page=cookiepromopopup></div>
</venda_block label=promopopup>
<script type="text/javascript">
(function ($) {
        $(document).ready(function(){
                var cookieCookie, hideAndSet;

                //90 days expiry date
                cookieCookie = new CookieJar({expires: 7776000, path: '/'});

                //if cookie has not been set show popup
                if(!cookieCookie.get('tkmaxxacceptcookies') && navigator.cookieEnabled) {
                        $('.cookie-banner').addClass('active').show();

                        //hide the box, set the cookie
                        hideAndSet = function () {
                                $('.cookie-banner').removeClass('active').hide();
                                cookieCookie.put('tkmaxxacceptcookies',true);
                        };

                        //if agree is clicked hide and set
                        $('.btn-accept').click(function () {
                                hideAndSet();
                        });
                }
        });
}(jQuery));
</script>