<venda_detblock_results>
<venda_inventory ref=<venda_ref>,temp=morefromcatinvt>
</venda_detblock_results>

<ul id="featprodsSlider" class="slider js-slider small-block-grid-2" data-display="4" data-direction="horizontal" data-slidenum="4" data-duration="0.5" data-viewmore="<venda_text id=desktop.button.view_more_products>" data-viewless="<venda_text id=desktop.button.view_less_products>">
    <venda_detail_results>
</ul>