<venda_detblock><venda_inventory ref=<venda_ref>,temp=irecsdetail_clearance,displayunpublished=1></venda_detblock>
<div class="vbm-recs">
    <p class="titleline"><span>Other Customers Liked<!--venda_text id=desktop.heading.you_may_like--></span></p>
    <ul id="vbmSlider" class="slider js-slider small-block-grid-2" data-display="4" data-direction="horizontal" data-slidenum="4" data-duration="0.5" data-viewmore="<venda_text id=desktop.button.view_more_products>" data-viewless="<venda_text id=desktop.button.view_less_products>">
        <venda_detail>
    </ul>
</div>