<venda_block label=814,mode=value,<venda_setting type=ebiz,name=tracktagcoremetrics>=1>
<script type="text/javascript">
<!--// set var for coremetrics
stepName="<venda_curstep>";
cmDisplayShop5s();
// -->
</script>
<!-- cmDisplayShop5s cmCreateOrderTag -->
</venda_block label=814>