<div class="main-header">
    <h1 class="help-header nomarg"><venda_text id=desktop.heading.customer_services></h1>
</div>

<div class="help-body">
    <div class="short-desc"><venda_sdesc></div>
    <venda_category rec=pcat,ref=<venda_ref>,temp=helpNavigation,itemsperpage=100>
</div>