<div id="emailpasswordresetthanks" class="row">

    <div class="small-24 columns large-16 push-2">
        <div>
            <h1><venda_text id=desktop.heading.email_password_reset_thanks></h1>
            <p><venda_text id=desktop.info.email_password_reset_thanks></p>
        </div>
    </div>

<venda_tpxt mode=set,name=trackingstep,value=emailpasswordresetthanks>
<venda_inctemplate name=workflowSteps,type=tracking/shared>
<venda_tpcomment><!-- Used for html title --></venda_tpcomment>
<venda_tpxt mode=set,name=title,value=<venda_text id=desktop.heading.email_password_reset_thanks>>
</div>
