<script type="text/javascript">
    jQuery(function() {
        jQuery("body").trigger("tellafriendform-loaded");
    });
</script>

<form action="<venda_codehttp>" method="post" name="tellafriendform" id="tellafriendform">
<input type="hidden" name="ex" value="co_disp-referfr">
<input type="hidden" name="from" value="<venda_setting type=ebiz,name=email>">
<input type="hidden" name="subject" value="<venda_text id=desktop.form.tell_friend_subject>">
<input type="hidden" name="invt" value="<venda_invtref>">
<input type="hidden" name="label1" value="">
<input type="hidden" name="temp" value="thankyou">
<input type="hidden" name="htxt" value="<venda_htxt mode=make,foo=tellafriend>">
<input type="hidden" name="layout" value="">

<div id="tellafriend" class="thickpad">
<h1><venda_text id=desktop.heading.tell_friend></h1>
<venda_block label=1,errors=notnull><h2 class="alert-box alert radius" data-alert=""><venda_errors></h2></venda_block label=1>
<p><venda_text id=desktop.form.tell_friend_instructions> <strong><venda_invtname></strong>.</p>

<fieldset>
<div class="row">
	<div class="large-6 columns"><label for="fname" class="inline right"><venda_text id=desktop.form.your_name></label></div>
	<div class="large-18 columns">
		<venda_userinfo>
		<venda_block label=102,ustype!=R><input type="text" autocorrect="off" name="fname" value="" required="required" autofocus="autofocus"></venda_block label=102>
		<venda_block label=103,ustype=R><input type="text" autocorrect="off" name="fname" value="<venda_fname>&nbsp;<venda_lname>" readonly="1"></venda_block label=103>
		</venda_userinfo>
	</div>
</div>
<div class="row">
	<div class="large-6 columns"><label for="name" class="inline right"><venda_text id=desktop.form.friends_name></label></div>
	<div class="large-18 columns"><input type="text" autocorrect="off" name="name" id="name" required="required"></div>
</div>
<div class="row">
	<div class="large-6 columns"><label for="email" class="inline right"><venda_text id=desktop.form.friends_email></label></div>
	<div class="large-18 columns"><input type="email" name="email" id="email" required="required"></div>
</div>
<div class="row">
	<div class="large-6 columns"><label for="field1" class="inline right"><venda_text id=desktop.form.message></label></div>
	<div class="large-18 columns"><textarea cols="46" name="field1" id="field1" autocorrect="off" rows="3" required="required" data-textmsg="tellafriend"><venda_text id=desktop.form.tell_friend_message></textarea>
	<p class="helptext"><span class="js-textMsgCount-tellafriend js-textCount">100</span> <venda_text id=desktop.info.characters_remaining></p></div>
</div>
</fieldset>

<div id="buttons" class="row">
<div class="large-12 columns right text-right marg-bottom"><input type="submit" value="<venda_text id=desktop.button.continue>" class="button"></div>
<div class="large-12 columns"><a href="<venda_dispview invt=<venda_invtref>>" id="back_link" class="button secondary"><venda_text id=desktop.button.previous></a></div>
</div>
</div>
</form>

<!-- tpxt used for crumbtrail -->
<venda_tpxt mode=set,name=invtname,value=<venda_invtname>>
<venda_tpxt mode=set,name=track,value=tellafriend>