<venda_detblock>
	<option value="<venda_stryref1>"><venda_stryname1></option>
</venda_detblock>

<select name="storename" id="storename" class="form-select">
	<option value="">Please select your store ...</option>
	<venda_detail>
</select>




