<div id="billingaddressadd">
<div class="row js-addaddressform">
        <venda_block label=40,workflow=checkout>
		<div class="minicart-box large-7 push-17 columns marg-top hide-for-small">
            <venda_inctemplate name=minicart_detail,type=includes>
		</div>
        </venda_block label=40>
            <venda_block label=40b,workflow!=checkout>&nbsp;</venda_block label=40b>


	<div class="<venda_workflow> <venda_curstep> small-24 columns large-14<venda_block label=41,workflow=checkout> pull-10</venda_block label=41><venda_block label=42,workflow!=checkout> push-2</venda_block label=42> thickpad thinpad-top">
    	<div>
    		<h1><venda_text id=desktop.heading.add_billing_address></h1>
    		<div>
    			<venda_block errors=notnull><h2 class="alert-box alert radius" data-alert=""><venda_errors></h2></venda_block>
    		</div>
            <p><venda_text id=desktop.info.required_instruction></p>
            <p><venda_text id=desktop.info.required_instruction2></p>
    	</div>

    	<div class="js-custom">
    	<form method="post" name="<venda_curstep>form" action="<venda_codehttps>">
    		<input type="hidden" name="ex" value="co_wizr-<venda_workflow>" />
    		<input type="hidden" name="workflowid" value="<venda_workflowid>" />
    		<input type="hidden" name="curstep" value="<venda_curstep>" />
    		<input type="hidden" name="trrfnbr" value="<venda_userinfo><venda_sesid></venda_userinfo>" />
    		<input type="hidden" name="mode" value="process" />
    		<venda_block label=401,workflow=checkout><venda_block errors=null><input type="hidden" name="curlayout" value="checkout" /></venda_block></venda_block label=401>
            <venda_block label=402,workflow=register><venda_block errors=null><input type="hidden" name="curlayout" value="1column" /></venda_block></venda_block label=402>
            <input type="hidden" name="exgroup" value="all" /><venda_tpcomment><!-- Required for user extended fields --></venda_tpcomment>
    		<input type="hidden" name="lang" value="<venda_sessionlanguage>"><venda_tpcomment><!-- Save the current language against the user --></venda_tpcomment>
    		<input type="hidden" name="log" value="2"><venda_tpcomment><!-- To register a new user --></venda_tpcomment>
    		<venda_tpcomment><!-- For express checkout the user is partially registered 'P', 'R' for full registration - the glxt is set in the login form --></venda_tpcomment>
    		<venda_block label=18,mode=value,<venda_glxt mode=get,name=glxtusertype>!=p><input type="hidden" name="ustype" value="R"></venda_block label=18>
    		<venda_block label=19,mode=value,<venda_glxt mode=get,name=glxtusertype>=p><input type="hidden" name="ustype" value="P"></venda_block label=19>
		<fieldset>
			<div class="row">
			<div class="large-7 columns">
				<label for="title" class="inline "><venda_text id=desktop.form.title></label>
			</div>
			<div class="large-17 columns">
    				<select name="title" id="title">
                        <option value=""><venda_text id=desktop.info.please_select></option>
                        <option value="Mr"><venda_text id=desktop.form.title.mr></option>
                        <option value="Mrs"><venda_text id=desktop.form.title.mrs></option>
                        <option value="Miss"><venda_text id=desktop.form.title.miss></option>
                        <option value="Ms"><venda_text id=desktop.form.title.ms></option>
    				</select>
			</div>
			</div>
			<div class="row">
				<div class="large-7 columns"><label for="fname" class="inline "><venda_text id=desktop.form.fname><i class="required"></i></label></div>
				<div class="large-17 columns"><input type="text" autocorrect="off" name="fname" id="fname" value="<venda_fname>" required="required" autofocus="autofocus" /></div>
			</div>
			<div class="row">
				<div class="large-7 columns"><label for="lname" class="inline "><venda_text id=desktop.form.lname><i class="required"></i></label></div>
				<div class="large-17 columns"><input type="text" autocorrect="off" name="lname" id="lname" value="<venda_lname>" required="required" /></div>
			</div>

            <div class="row group usxtgender">
                <div class="large-7 columns">
                    <label class="inline"><venda_text id=desktop.form.usxtgender></label>
                </div>
                <div class="large-17 columns">
                    <select name="usxtgender" class='form-select'><venda_usxselectusxtgender></select>
                </div>
            </div>

            <div id="birthday" class="group row">
                <div class="large-7 small-24 columns">
                    <label class="inline"><venda_text id=desktop.form.date_of_birth></label>
                </div>
                <div class="large-6 small-8 thinpad-right columns">
                    <select name="remday1" class='form-select form-half-input'><venda_usxselectremday1></select>
                </div>
                <div class="large-5 small-8 nopad columns">
                    <select name="remmonth1" class='form-select form-half-input'><venda_usxselectremmonth1></select>
                </div>
                <div class="large-6 small-8 thinpad-left columns">
                    <select name="remyear" class='form-select form-half-input'><venda_usxselectremyear></select>
                </div>
            </div>
            <script>
                $('select[name="remday1"] option:contains("Please Select...")').text('Day');
                $('select[name="remmonth1"] option:contains("Please Select...")').text('Month');
                $('select[name="remyear"] option:contains("Please Select...")').text('Year');
                $('select[name="remyear"]').val('1990').change();
            </script>

            <div class="large-17 push-7 columns birthday-desc">
                <p><venda_text id=desktop.info.date_of_birth_desc></p>
            </div>

		</fieldset>

		<fieldset>
            <div class="row">
                <div class="large-7 columns"><label for="cntrylist" class="inline "><venda_text id=desktop.form.country><i class="required"></i></label></div>
                <div class="large-17 columns"><venda_cntry field=combo,id=cntrylist,ship=1></div>
            </div>
			<div id="js-hideOrShowAddress">
                <div class="row">
                    <div class="large-7 columns"><label for="company" class="inline "><venda_text id=desktop.form.company> </label></div>
                    <div class="large-17 columns"><input type="text" autocorrect="off" name="company" id="company" value="<venda_company>" /></div>
                </div>
				<div id="houseNum" class="row">
					<div class="large-7 columns"><label for="num" class="inline "><venda_text id=desktop.form.house_num><i class="required"></i></label></div>
					<div class="large-17 columns"><input type="text" autocorrect="off" name="num" id="num" value="<venda_num>"  /></div>
				</div>
				<div class="row">
					<div class="large-7 columns"><label for="addr1" class="inline "><venda_text id=desktop.form.address><i class="required"></i></label></div>
					<div class="large-17 columns"><input type="text" autocorrect="off" name="addr1" id="addr1" value="<venda_addr1>" required="required" /></div>
				</div>
				<div class="row">
					<div class="large-7 columns"><label for="addr2" class="inline "><venda_text id=desktop.form.addr2> </label></div>
					<div class="large-17 columns"><input type="text" autocorrect="off" name="addr2" id="addr2" value="<venda_addr2>" /></div>
				</div>
				<div class="row">
					<div class="large-7 columns"><label for="city" class="inline "><venda_text id=desktop.form.city><i class="required"></i></label></div>
					<div class="large-17 columns"><input type="text" autocorrect="off" name="city" id="city" value="<venda_city>" required="required" /></div>
				</div>
				<div id="stateDiv" class="row">
					<div class="large-7 columns"><label for="statetext" id="stateLabel" class="inline "><venda_text id=desktop.form.state><i class="required"></i></label></div>
					<div class="large-17 columns"><input type="text" autocorrect="off" name="state" id="statetext" value="<venda_state>" required="required" />
					<select name="state" id="statelist"></select></div>
				</div>
			</div>
			<div id="zipcDiv" class="row">
                <div class="large-7 columns"><label for="zipc" id="zipcLabel" class="inline "><venda_text id=desktop.form.postcode><i class="required"></i></label></div>
                <div class="large-17 columns">
                    <div class="row collapse">
                        <div class="large-13 small-13 columns">
                            <input type="text" autocorrect="off" name="zipc" id="zipc" value="<venda_zipc>" />
                        </div>
                        <div class="large-11 small-11 columns">
                            <a href="#" class="button expand postfix" id="js-lookup-submit-btn" data-inline="true"><span><venda_text id=desktop.button.lookup_address></span><i class="icon-spinner icon-spin icon-2x" style="display:none;"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="addresslookup">
                <div class="row" id="js-addresses-found" style="display:none">
                    <div class="large-7 columns">
                        <label for="zcdropdown" class="inline  hide-for-small"><venda_text id=desktop.form.address><i class="required"></i><span class="hidescreenreadersafe"><venda_text id=desktop.form.required></span></label>
                    </div>
                    <div class="large-17 columns">
                        <div class="js-custom lookupdropdown" role="alert" aria-live="assertive"><span class="lookuptext"><venda_text id=desktop.info.lookup_message></span><span id="js-lookupresults"></span>
                    </div>
                    </div>
                </div>
                 <div class="row" id="js-lookup-error" style="display:none">
                    <div class="push-7 large-17 columns">
                        <div class="alert-box alert radius text-center thinpad"><span><venda_text id=desktop.validation.no_addresses_found></span></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="large-7 columns"></div>
                <div class="large-17 columns"><a href="#" id="js-lookup-reset-btn" style="display:none" class="large-24 columns nopad thickmarg-bottom"><venda_text id=desktop.button.search_again></a>  <a href="#" id="js-manual-reset-btn" class="large-24 columns nopad thickmarg-bottom"><venda_text id=desktop.button.enter_address_manually></a></div>
            </div>
			<div class="row">
				<div class="large-7 columns"><label for="phone" class="inline "><venda_text id=desktop.form.phone><i class="required"></i></label></div>
				<div class="large-17 columns"><input type="tel" name="phone" id="phone" value="<venda_phone>" required="required" /></div>
			</div>
		</fieldset>

    		<fieldset>
    			<div class="row">
				<div class="large-7 columns"><label for="usemail" class="inline "><venda_text id=desktop.info.email_address><i class="required"></i></label></div>
				<div class="large-17 columns"><input type="email" name="usemail" id="usemail" value="<venda_usemail>" required="required" /></div>
    			</div>
    		</fieldset>

    		<venda_tpcomment><!-- Start: Choose Password - If full registration type 'R' --></venda_tpcomment>
    		<venda_block label=16,mode=value,<venda_glxt mode=get,name=glxtusertype>!=p>
    		<fieldset>
    			<div class="row">
    				<div class="large-7 columns"><label for="uspswd" class="inline "><venda_text id=desktop.form.password><i class="required"></i></label></div>
    				<div class="large-17 columns pword"><input type="password" name="uspswd" id="uspswd" value="<venda_uspswd>" maxlength="16" required="required" /></div>
    			</div>
    			<div class="row">
    				<div class="large-7 columns pad-right"><label for="uspswd2" class="inline "><venda_text id=desktop.form.verify_password><i class="required"></i></label></div>
    				<div class="large-17 columns pword"><input type="password" name="uspswd2" id="uspswd2" value="<venda_uspswd2>" maxlength="16"></div>
    			</div>
    		</fieldset>
    		</venda_block label=16>
    		<venda_tpcomment><!-- End: Choose Password --></venda_tpcomment>

    		<venda_tpcomment><!-- Different Delivery Address - Step selection for checkout workflow --></venda_tpcomment>
    		<venda_block label=10,workflow!=register>

		<div class="row thickpad-topbottom delivery-choice">
			<div class="large-7 columns"><label class=""><venda_text id=desktop.form.deliver_to></label></div>
			<div class="large-17 columns">
				<fieldset>
				<label for="usebillingaddress"><input type="radio" name="step" id="usebillingaddress" value="ordersummary" checked="checked"><span class="marg-left"> <venda_text id=desktop.form.billing_address></span></label>  <br>
				<label for="deliveryaddressadd"><input type="radio" name="step" id="deliveryaddressadd" value="deliveryaddressadd"><span class="marg-left"> <venda_text id=desktop.form.different_address></span></label>

				<venda_block label=111,mode=value,<venda_setting type=ebiz,name=delivertostore>=1><br>
				<label for="delivertostore"><input type="radio" name="step" id="delivertostore" value="delivertostore" /><span class="marg-left"> <venda_text id=desktop.form.deliver_to_store></span></label>
				</venda_block label=111>
				</fieldset>
			</div>
		</div>
    		</venda_block label=10>

            <span class="line"></span>

            <fieldset>
                <div class="row pad-topbottom">
                    <div class="large-24 columns marg-top ">
                        <label for="blkemail">
                            <div class="large-2 small-2 nopad columns">
                                <input type="checkbox" name="blkemail" id="blkemail" class="ignore" value="1" checked>
                            </div>
                            <div class="large-22 small-22 columns nopad">
                                <venda_text id=desktop.form.receive_email_updates>
                            </div>
                        </label>
                    </div>
                </div>

                <div class="row pad-topbottom">
                    <div class="large-24 columns marg-top ">
                        <label for="blktrdcomm">
                            <div class="large-2 small-2 nopad columns">
                                <input type="checkbox" name="blktrdcomm" id="blktrdcomm" class="ignore" value="1">
                            </div>
                            <div class="large-22 small-22 columns nopad">
                                <venda_text id=desktop.form.receive_email_updates_3rdparty>
                            </div>
                        </label>
                    </div>
                </div>
            </fieldset>

            <span class="line"></span>

    		<venda_tpcomment><!-- Start: Terms and Conditions --></venda_tpcomment>
    		<fieldset>
    			<div class="row pad-topbottom" id="ustandc">
				<div class="large-24 columns"><input type="hidden" name="ustandc" id="ustandc" value="1">
    				<label for="ustandc"> <strong><venda_text id=desktop.info.terms_and_conditions1> <a target="_blank" href="<venda_dispview page=terms>" class="js-doDialog" data-size="medium" target="_blank" title="<venda_text id=desktop.button.terms_and_conditions>"><venda_text id=desktop.button.terms_and_conditions></a> <venda_text id=desktop.info.terms_and_conditions2> <a target="_blank" href="<venda_dispview page=privacynotice>" class="js-doDialog" data-size="medium" target="_blank" title="<venda_text id=desktop.button.privacy_policy>"><venda_text id=desktop.button.privacy_policy></a></strong></label>
				</div>
			</div>
    		</fieldset>
    		<venda_tpcomment><!-- End: Terms and Conditions --></venda_tpcomment>

    		<venda_block label=11,workflow=register>
    		<venda_tpcomment><!-- Step selection for login workflow - Take user to myaccount is registering but not purchasing --></venda_tpcomment>
    			<input type="hidden" name="step" id="step" value="--page-myaccount" />
    		</venda_block label=11>

    		<div class="marg-top text-right">
    			<input type="submit" value="<venda_text id=desktop.button.agree_and_continue>" class="button success" />
    		</div>
    	</form>
    	</div>
    </div>
</div>

<venda_inctemplate name=workflowSteps,type=tracking/shared><venda_tpcomment><!-- Include for tracking tags --></venda_tpcomment>
<venda_zones type=countries,template=countrySelect><venda_tpcomment><!-- Include for country select (regions js/textids) --></venda_tpcomment>
<venda_tpxt mode=set,name=curstep,value=step2><venda_tpcomment><!-- Used for checkout step indicators --></venda_tpcomment>
<venda_tpxt mode=set,name=title,value=<venda_text id=desktop.heading.add_billing_address>><venda_tpcomment><!-- Used for html title --></venda_tpcomment>

</div>
