<venda_tpcomment><!-- included just below the opening body tag in layout (main/) templates for pages where tracking is used --></venda_tpcomment>
<venda_inctemplate name=gtmSnippet,type=tracking>
<venda_inctemplate name=coremetricsFunctions,type=tracking/coremetrics>
