<nav id="js-canvas-content-left" role="navigation" class="off-canvas-content off-canvas-left" aria-live="polite">
    <venda_inctemplate name=topNavigation,type=mainIncludes>

    <ul class="offCanvasBottom">
        <venda_block label=21,ustype!=R>
        <li class="js-login"><a href="<venda_codehttps>?ex=co_wizr-register"><venda_text id=desktop.button.log_in_register></a></li>
        </venda_block label=21>

        <venda_block label=20,ustype=R>
        <li class="welcome">
            <venda_userinfo><venda_text id=desktop.info.welcome_back> <span><venda_sesfname></span></venda_userinfo>,
            <venda_tpcomment><!--venda_block label=2,ustype!=R><venda_text id=desktop.info.welcome_to> <venda_setting type=ebiz,name=name></venda_block label=2--></venda_tpcomment>
        </li>

        <li class="js-myaccount">
            <venda_block label=300,mode=value,<venda_setting type=ebiz,name=skipsecondlogin>=1><a href="<venda_codehttps>?ex=co_wizr-myaccount"></venda_block label=300>
            <venda_block label=301,mode=value,<venda_setting type=ebiz,name=skipsecondlogin>!=1><a href="<venda_codehttps>?ex=co_wizr-register"></venda_block label=301>
            <venda_text id=desktop.button.my_account></a>
        </li>

        <li class="js-logout"><a href="<venda_dispview page=home>?log=4"><venda_text id=desktop.button.log_out></a></li>
        </venda_block label=20>

        <li><a href="<venda_dispview page=contact>" class="contact-button"><venda_text id=desktop.button.contact></a></li>
    </ul>
</nav>