<noscript>
<div class="row notices">
    <div class="large-24 columns">
        <div class="alert-box alert radius">
            <venda_text id=desktop.info.js_required>
            <a class="close icon-remove"><span class="hidescreenreadersafe"><venda_text id=desktop.button.close></span></a>
        </div>
    </div>
</div>
</noscript>