<div id="comingsoon" class="thickmarg-bottom">
	<venda_page page=emailsignupthankyou>
</div>
<venda_tpxt mode=set,name=cstrack,value=conf>
<style type="text/css">
.crumbtrail {
	display: none;
}
</style>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/sessiongen.js"></script>
<script type="text/javascript">
document.write('<img src="https://cc.gbppc.com/ct/674/x.gif?cid='+ sessid +'">');
document.write('<img src="https://cc.gbppc.com/ct/865/x.gif?cid='+ sessid2 +'">');

names=new Array("custId", "custEmail", "custCity", "custState", "custZip", "custCntry");
<venda_userinfo>
values=new Array("<venda_usemail>", "<venda_usemail>", "<venda_sescity>", "<venda_sesstate>", "<venda_seszipc>", "<venda_sescntry>");
</venda_userinfo>

cmCreateRegistrationTag(values[0], values[1], values[2], values[3], values[4], values[5]);

</script>