<!-- Use this template to add custom site wide tracking tags for a site -->

<venda_block label=17719,icatref=9494>

<!--  Conditional Container Tag: TK Maxx (372) | Comic Relief Buy T Shirts 2013 (14649) | TK Maxx 2012 (892) | Expected URL: http://www.tkmaxx.com/page/icat/9494
 -->



<script type="text/javascript">

var ftRandom = Math.random()*1000000;

document.write('<iframe style="position:absolute; visibility:hidden; width:1px; height:1px;" src="http://servedby.flashtalking.com/container/372;14649;892;iframe/?spotName=Comic_Relief_Buy_T_Shirts_2013&cachebuster='+ftRandom+'"></iframe>');

</script>

</venda_block label=17719>

<venda_block label=17720,pageref=comic_relief>
	<!--  Conditional Container Tag: TK Maxx (372) | Comic Relief Landing Page 2013 (14648) | TK Maxx 2012 (892) | Expected URL: http://www.tkmaxx.com/page/comic_relief
 -->


	<script type="text/javascript">

	var ftRandom = Math.random()*1000000;

	document.write('<iframe style="position:absolute; visibility:hidden; width:1px; height:1px;" src="http://servedby.flashtalking.com/container/372;14648;892;iframe/?spotName=Comic_Relief_Landing_Page_2013&cachebuster='+ftRandom+'"></iframe>');

	</script>
</venda_block label=17720>


<venda_block label=17721,icatref=9401>

	<!--  Conditional Container Tag: TK Maxx (372) | Comic Relief Buy Homewear 2013 (14650) | TK Maxx 2012 (892) | Expected URL: http://www.tkmaxx.com/page/icat/9401
 -->



	<script type="text/javascript">

		var ftRandom = Math.random()*1000000;

		document.write('<iframe style="position:absolute; visibility:hidden; width:1px; height:1px;" src="http://servedby.flashtalking.com/container/372;14650;892;iframe/?spotName=Comic_Relief_Buy_Homewear_2013&cachebuster='+ftRandom+'"></iframe>');

	</script>
</venda_block label=17721>

<venda_block label=islocayta,icatstyle=productlist_private,icatstyle=productlist_locayta2,operator=or>
    <script>
	//alert("locayta")
	</script>
    <!-- ESP global script tags START -->
    <venda_block label=1,mode=value,<venda_islive>=1>
        <!-- ESP live -->
        <script type="text/javascript" src="<venda_protocol>://esp.locayta.com/zones/8b266746-a5bc-4218-b82f-b683d870caf2.min.js"></script>
        <script type="text/javascript" src="<venda_protocol>://esp.locayta.com/venda.js"></script>
    </venda_block label=1>
    <venda_block label=2,mode=value,<venda_islive>!=1>
    <!-- ESP UAT -->
        <script type="text/javascript" src="<venda_protocol>://esp-wip.locayta.com/zones/8b266746-a5bc-4218-b82f-b683d870caf2.min.js"></script>
        <script type="text/javascript" src="<venda_protocol>://esp-wip.locayta.com/venda.js"></script>
    </venda_block label=2> <!-- ESP global script tags END -->

	<venda_tpcomment>
		<!--
		Filter cookie code. Retrives a hash or querystring value from a
		cookie and appends it to the URL after Locayta content has been
		loaded.
		-->
	</venda_tpcomment>
	<script type="text/javascript">
		var firstRun = true; //Boolean as only want to append hash on page load once.
		var urlFilters = location.search || location.hash || "";

		//If the URL altready has filters applied
		if (urlFilters == "") {

			LM.complete(function() {
				//Get the filter cookie
				filterCookie = new CookieJar({expires:3600, path: '/'});
				var crumbFilter = filterCookie.get('filters');

				//If there is a filter in the cookie
				if (crumbFilter) {

					var curCat = $('#parentCatRef').text();
					var filterCat;
					var filterString;

					crumbFilter = jQuery.parseJSON(crumbFilter);

					jQuery.each(crumbFilter, function(i, val) {
						if (crumbFilter[i].category == curCat) { //If the current category is in the cookie data

							filterCat = crumbFilter[i].category;
							filterString = crumbFilter[i].filter;
							return false;
						}
					});


					if ( curCat == filterCat ) {

						var filterURL = location.protocol + '//' + location.hostname + location.pathname + filterString;

						//If the filter string is from a Solr PLP (querystring)
						if ( filterString.indexOf('?') == 0 ) {

							jQuery('#content-search').trigger('search-navigate', [{url: filterURL, resetPrice: true}]); //Trigger a Solr search

						} else { //Otherwise it's a Locayta PLP (hash)

							var locaytaFilterSting = filterString.substring(1, filterString.length); //Remove the first #

							if (firstRun) {
								location.hash = locaytaFilterSting;
								firstRun = false;
							}
						}
					}
				}

			});
		}
	</script>
</venda_block label=islocayta>


<venda_block label=notlocayta,icatstyle!=productlist_private,icatstyle!=productlist_locayta2,operator=and>
    <script>
	//alert("not locayta")
	</script>


    <!-- ESP global script tags START -->
    <venda_block label=1,mode=value,<venda_islive>=1>
        <!-- ESP live -->
        <script type="text/javascript" src="<venda_protocol>://esp.locayta.com/zones/daa8bdd6-1c5f-464f-9681-0a2ec663ce00.js"></script>
        <script type="text/javascript" src="<venda_protocol>://esp.locayta.com/venda.js"></script>
        <script type="text/javascript" src="<venda_protocol>://esp.locayta.com/data/daa8bdd6-1c5f-464f-9681-0a2ec663ce00/support/supportv1.js"></script>
    </venda_block label=1>
    <venda_block label=2,mode=value,<venda_islive>!=1>
    <!-- ESP UAT -->
        <script type="text/javascript" src="<venda_protocol>://esp-wip.locayta.com/zones/daa8bdd6-1c5f-464f-9681-0a2ec663ce00.js"></script>
        <script type="text/javascript" src="<venda_protocol>://esp-wip.locayta.com/venda.js"></script>
        <script type="text/javascript" src="<venda_protocol>://esp-wip.locayta.com/data/daa8bdd6-1c5f-464f-9681-0a2ec663ce00/support/supportv1.js"></script>
    </venda_block label=2> <!-- ESP global script tags END -->
</venda_block label=notlocayta>

  <!-- ESP core variables START -->
<input type="hidden" data-esp-category-tree="true" value="shop|<venda_cattree index=1,value=catref>|<venda_cattree index=2,value=catref>|<venda_cattree index=3,value=catref>|<venda_cattree index=4,value=catref>|<venda_cattree index=5,value=catref>" />
<!-- ESP core variables END -->



<!-- Google Code for Main List -->
<!-- Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. For instructions on adding this tag and more information on the above requirements, read the setup guide: google.com/ads/remarketingsetup -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1030896789;
var google_conversion_label = "rW17CPXHhQgQlfnI6wM";
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1030896789/?value=0&amp;label=rW17CPXHhQgQlfnI6wM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>


<!------------------------->
<!--! Agilone tracking  -->
<!------------------------->
<venda_inctemplate name=agilone,type=tracking>


<venda_inctemplate name=flashtalking-sitewide,type=tracking/flashtalking>