<venda_block label=flashbanner,med-flashbanner=notnull>
    <div class="flashbanner thickmarg-topbottom"><a href="<venda_dispview icat=privatesale>"><venda_media rec=icat,type=pict,key=flashbanner></a>
    </div>
</venda_block label=flashbanner>