<form name="emailsonly1" action="<venda_codehttp>" method="get" class="nomarg emailsignup">
    <input type="hidden" name="ex" value="co_wizr-comingsoon">
    <input type="hidden" name="param1" value="comingsoon">
    <input type="hidden" name="bsref" value="<venda_bsref>">

    <fieldset>
	    <h2><venda_text id=desktop.info.newsletter></h2>
        <div class="emailsignupfield">
            <label for="emailsignup" class="hidescreenreadersafe"><venda_text id=desktop.form.email></label>
            <input type="email" name="email" id="emailsignup" size="16" value="" placeholder="<venda_text id=desktop.form.email>">
            <div class="newsletter-submit"><button type="submit" id="newslettersubmit" class="small button"><i aria-hidden="true" class="icon-right-arrow icon-large"></i><span class="hidescreenreadersafe"><venda_text id=desktop.button.email_sign_up></span></button></div>
        </div>
    </fieldset>
</form>
