<venda_block label=12,paymentavailable=notnull>
    <!-- credit card payment -->
    <fieldset class="f-credit">
        <legend><venda_text id=desktop.form.pay_by_credit></legend>
        <div class="credit thickmarg-bottom"<venda_block label=14,paymenttypestot=1> style="display:none"</venda_block label=14>>
            <div class="row">
                <div class="large-24 columns">
                    <div class="small-24 large-6 left">
                        <label for="creditcard"><input type="radio" name="ohpaytype" value="0" id="creditcard" <venda_block label=18,paymentselected=notnull>checked</venda_block label=18>><span class="thinpad-side"><venda_text id=desktop.form.pay_by_credit></span></label>
                    </div>
                    <div class="small-24 large-7 left">
                        <img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/creditcards.png" alt="<venda_text id=desktop.info.accepted_credit_cards>" border="0" width="226" height="22" />
                    </div>
                </div>
            </div>
        </div>
<div class="row">
    <div class="large-10 columns">
       <div <venda_block label=hidecardform,ohccnum=notnull,errors=null>class="js-cardbox" style="display:none;"</venda_block label=hidecardform>>
            <div>
                    <label for="cardtype"><venda_text id=desktop.form.card_type></label>
                    <select name="cardtype" id="cardtype"><venda_paymentselectmethod></select>
            </div>

            <div>
                    <label for="ohccnum"><span id="ohccnum-label"><venda_text id=desktop.form.card_number></span><span id="ohccnum-elv-label"><venda_text id=desktop.form.account_number></span> <i class="required"></i></label>
                    <input id="ohccnum" type="text" name="ohccnum" value="<venda_ohccnum>" size="16" maxlength="50" autocomplete="off" />
            </div>

            <div>
                <label for="ohccname"><venda_text id=desktop.form.card_name> <i class="required"></i></label>
                <input id="ohccname" type="text" name="ohccname" value="<venda_ohccname>" />
            </div>

            <venda_block label=124,mode=value,<venda_setting type=ebiz,name=disablecreditcardstartdate>!=1>
            <div id="startdateshow">
                        <label for="startmonth"><venda_text id=desktop.form.start_date> <venda_text id=desktop.form.optional></label>
                <div class="row">
                    <div class="small-12 columns"><venda_startmonth field=combo></div>
                    <div class="small-12 columns"><label for="formstartyear" class="hidescreenreadersafe"><venda_text id=desktop.form.start_year></label><venda_startyear field=combo></div>
                </div>
            </div>
            </venda_block label=124>

            <div id="expiryshow">
                <label for="month"><venda_text id=desktop.form.expiry_date></label>
        <div class="row">
            <div class="small-12 columns"><venda_month field=combo></div>
            <div class="small-12 columns"><label for="formyear" class="hidescreenreadersafe"><venda_text id=desktop.form.expiry_year></label> <venda_year field=combo></div>
        </div>
            </div>
        </div>

        <venda_block label=cardpreviewpanel,ohccnum=notnull,errors=null>
        <div id="cardpreviewpanel" class="cardpreviewpanel box">
            <div class="cardpreviewpanel-inner box-body">
                <div class="row">
                    <div class="large-6 small-8 columns textlabel"><span><venda_text id=desktop.info.card_type></span></div>
                    <div class="large-18 small-16 columns textinput"><span><venda_cardtype></span></div>
                </div>
                <div class="row">
                    <div class="large-6 small-8 columns textlabel"><span><venda_text id=desktop.form.card_number></span></div>
                    <div class="large-18 small-16 columns textinput"><span><venda_ohccnum></span></div>
                </div>
                <div class="row">
                    <div class="large-6 small-8 columns textlabel"><span><venda_text id=desktop.info.card_name></span></div>
                    <div class="large-18 small-16 columns textinput"><span><venda_ohccname></span></div>
                </div>
                <venda_block label=1200,mode=value,<venda_setting type=ebiz,name=disablecreditcardstartdate>!=1>
                    <venda_block label=1201,startmonth=notnull,startyear=notnull>
                    <div class="row">
                        <div class="large-6 small-8 columns textlabel"><span><venda_text id=desktop.form.start_date></span></div>
                        <div class="large-18 small-16 columns textinput"><span><venda_startmonth> / <venda_startyear></span></div>
                    </div>
                    </venda_block label=1201>
                </venda_block label=1200>
                <venda_block label=212,expires=notnull>
                <div class="row">
                    <div class="large-6 small-8 columns textlabel"><span><venda_text id=desktop.info.expiry_date></span></div>
                    <div class="large-18 small-16 columns textinput"><span><venda_expires></span></div>
                </div>
                </venda_block label=212>
                <venda_block label=1251,mode=value,<venda_setting type=ebiz,name=disablecreditcardissuenumber>!=1>
                <venda_block label=1252,ohccissue=notnull>
                <div class="row">
                    <div class="large-6 small-8 columns textlabel"><span><venda_text id=desktop.form.card_issue></span></div>
                    <div class="large-18 small-16 columns textinput"><span><venda_ohccissue></span></div>
                </div>
                </venda_block label=1252>
                </venda_block label=1251>
                <div class="row">
                    <div class="large-18 small-24 columns push-6 marg-top">
                        <a class="button small js-changecard js-slidetoggle" data-slidetoggle="js-cardbox" data-slidetoggle-icon=""><venda_text id=desktop.button.change_card_details></a>
                    </div>
                </div>
            </div>
        </div>
        </venda_block label=cardpreviewpanel>

        <div id="ohcccscshow">
                <label for="ohcccsc"><venda_text id=desktop.form.security_code> <i class="required"></i></label>
                <div class="row">
                <div class="small-12 large-12 columns"><input id="ohcccsc" type="text" name="ohcccsc" value="" size="4" maxlength="4" autocomplete="off" /></div>
                <div class="small-12 large-12 columns left"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/securitycode.gif" alt="<venda_text id=desktop.form.security_code>" border="0">
                <img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/securitycodecard.gif" alt="<venda_text id=desktop.form.security_code>" border="0"></div>
                </div>
        </div>
        <venda_block label=125,mode=value,<venda_setting type=ebiz,name=disablecreditcardissuenumber>!=1>
        <div id="ohccissueshow">
                <label for="ohccissue"><venda_text id=desktop.form.card_issue> <venda_text id=desktop.info.issue_number_cards></label>
                <div class="row">
                <div class="small-12 large-12 columns">
                <input type="text" name="ohccissue" id="ohccissue" value="<venda_ohccissue>" size="4" maxlength="3"></div>
                </div>
        </div>
        </venda_block label=125>
        <div id="sortcodeshow">
            <label for="sortcode"><venda_text id=desktop.form.sort_code></label>
            <venda_sortcode field=text,size=16,maxlength=50>
        </div>

        <venda_block label=190,mode=value,<venda_glxt mode=get,name=glxtusertype>!=p>
            <div class="marg-top marg-bottom dontsavecc">
                <venda_block label=151,dontsavecc=null>
                <label for="dontsavecc"><input type="checkbox" name="dontsavecc" id="dontsavecc" class="left marg-top" value="1" checked="checked"><p class="thinpad-side"><venda_text id=desktop.form.dont_save_card> <a href="<venda_dispview page=faqs>" class="js-doDialog"  data-anchor="saving" target="_blank" title="<venda_text id=desktop.info.more_info_title>"><venda_text id=desktop.button.more_info></a></p></label>
                </venda_block label=151>
                <venda_block label=153,dontsavecc=notnull>
                <label for="dontsavecc"><input type="checkbox" name="dontsavecc" id="dontsavecc" class="left marg-top" value="1" checked="checked"><p class="thinpad-side"><venda_text id=desktop.form.dont_save_card> <a href="<venda_dispview page=faqs>" class="js-doDialog"  data-anchor="saving"  target="_blank" title="<venda_text id=desktop.info.more_info_title>"><venda_text id=desktop.button.more_info></a></p></label>
                </venda_block label=153>
            </div>
        </venda_block label=190>
        <venda_block label=191,mode=value,<venda_glxt mode=get,name=glxtusertype>=p>
        <venda_tpcomment><!-- dont show during express checkout as payment details are not saved anyway --></venda_tpcomment>
        <input type="hidden" name="dontsavecc" value="1">
        </venda_block label=191>

    </div>
    <div class="large-12 columns left hide-for-small thickmarg-top">
        <img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/creditcards.png" alt="<venda_text id=desktop.info.accepted_credit_cards>" border="0" width="352" height="27" />
    </div>
</div>

    </fieldset>
</venda_block label=12>