<venda_tpcomment><!--
Form param notes:
- param1: used to pass email address between this step and password reminder
- param2: used to determine if previous step was password reminder
Known issues:
- On error, layout is lost, unless passed through as a hidden field
- On error co_comn-login is used directly instead of as an include
- On error venda_wizurl tags are untranslated
--></venda_tpcomment>

<venda_block label=desktop,workflow!=checkoutmobile,workflow!=registermobile>
<div class="<venda_workflow> <venda_curstep> thickmarg-top pad">

<h1 class="hidescreenreadersafe"><venda_text id=desktop.heading.log_in></h1>
<venda_block label=errors,errors=notnull><h2 class="alert-box alert radius expired-errors" data-alert=""><venda_errors></h2></venda_block label=errors>

<venda_block label=facebookconnect,mode=value,<venda_setting type=ebiz,name=facebookappid>!=>
<div>
   <p><venda_text id=desktop.info.facebook_1>:</p>
   <a href="<venda_block label=ischeckout,workflow=checkout><venda_codehttps>?ex=co_wizr-<venda_workflow>&step=confirm</venda_block label=ischeckout><venda_block label=islogin,workflow=register><venda_codehttps>?ex=co_wizr-myaccount&step=myaccount</venda_block label=islogin>&log=1&auth=facebook" class="button"><venda_text id=desktop.button.log_in_facebook></a>
   <p><venda_text id=desktop.info.facebook_2>:</p>
</div>
</venda_block label=facebookconnect>

<div class="row">
	<div class="<venda_block label=50,mode=value,<venda_workflow>!=checkout>large-12</venda_block label=50><venda_block label=60,mode=value,<venda_workflow>=checkout>large-8</venda_block label=60> columns">
	<div class="box">
		<form method="post" name="<venda_curstep>form-register" action="<venda_codehttps>" id="newcustomer">
		<venda_esat>
		<input type="hidden" name="ex" value="co_wizr-<venda_block label=registeronerror1,workflow=myaccount>register</venda_block label=registeronerror1><venda_block label=checkoutonerror1,workflow!=myaccount><venda_workflow></venda_block label=checkoutonerror1>">
		<input type="hidden" name="workflowid" value="<venda_workflowid>">
		<input type="hidden" name="trrfnbr" value="<venda_userinfo><venda_sesid></venda_userinfo>">
		<input type="hidden" name="log" value="2">
		<input type="hidden" name="trrfext" value="1">
		<input type="hidden" name="registered" value="0">
		<input type="hidden" name="glxt" value="<venda_glxt mode=make,glxtusertype=>"><venda_tpcomment><!-- To reset the glxt if the user was partially registered (guest checkout) --></venda_tpcomment>
		<input type="hidden" name="step" value="billingaddressadd">

		<fieldset>
			<div class="box-header js-togglebox" data-toggle="new-customer" data-default-icon="icon-down-marker" data-toggle-icon="icon-up-marker">
				<h2><venda_text id=desktop.heading.new_customer><i class="icon-down-marker right show-for-small"></i></h2>
			</div>
			<div class="box-body new-customer hide-for-small">
				<p class="boxQual"><venda_text id=desktop.info.new_customer_1></p>
				<div><input type="submit"<venda_block label=691,workflow=checkout> data-trackEvent="Checkout"</venda_block label=691> value="<venda_text id=desktop.button.register>" class="button success small"></div>
			</div>
		</fieldset>
		</form>
		</div>
	</div>

	<div class="<venda_block label=70,mode=value,<venda_workflow>!=checkout>large-12</venda_block label=70><venda_block label=80,mode=value,<venda_workflow>=checkout>large-8</venda_block label=80> columns">
	<div class="box">
		<form method="post" name="<venda_curstep>form-existing" action="<venda_codehttps>" id="existingcustomer">
		<venda_esat>
		<input type="hidden" name="workflowid" value="<venda_workflowid>">
		<input type="hidden" name="trrfnbr" value="<venda_userinfo><venda_sesid></venda_userinfo>">
		<input type="hidden" name="log" value="1">
		<input type="hidden" name="trrfext" value="1">
		<input type="hidden" name="registered" value="1">
		<venda_block label=notcheckout,workflow!=checkout><venda_tpcomment><!-- Step selection for register workflow --></venda_tpcomment>
		<input type="hidden" name="ex" value="co_wizr-myaccount">
		<input type="hidden" name="step" value="myaccount">
		<input type="hidden" name="curlayout" value="1column"><venda_tpcomment><!-- Preserve layout on error --></venda_tpcomment>
		</venda_block label=notcheckout>
		<venda_block label=checkout,workflow=checkout><venda_tpcomment><!-- Step selection for checkout workflow and on error for register workflow --></venda_tpcomment>
		<input type="hidden" name="ex" value="co_wizr-<venda_workflow>">
		<input type="hidden" name="step" value="ordersummary">
		<input type="hidden" name="curlayout" value="checkout"><venda_tpcomment><!-- Preserve layout on error --></venda_tpcomment>
		</venda_block label=checkout>
		<input type="hidden" name="glxt" value="<venda_glxt mode=make,glxtusertype=>"><venda_tpcomment><!-- To reset the glxt if the user was partially registered (guest checkout) --></venda_tpcomment>
		<fieldset>
			<div class="box-header js-togglebox" data-toggle="return-customer" data-default-icon="icon-down-marker" data-toggle-icon="icon-up-marker">
				<h2><venda_text id=desktop.heading.returning_customer><i class="icon-down-marker right show-for-small"></i></h2>
			</div>
			<div class="box-body return-customer hide-for-small">
				<div class="boxQual">
				<label for="email" id="lLoginEmail"><venda_text id=desktop.form.email>:</label>
				<input type="email" name="email" id="email" value="<venda_block label=pwrm,param2=passwordsent,param2=passwordcancel,operator=or><venda_param1></venda_block label=pwrm><venda_block label=notpwrm,param2=null,ustype=R><venda_userinfo><venda_sesusemail></venda_userinfo></venda_block label=notpwrm>" size="20" maxlength="150" autocomplete="off">
				<label for="password" id="lLoginPassword"><venda_text id=desktop.form.password>:</label> <input type="password" name="password" id="password" size="20" maxlength="30" autocomplete="off">

                <h6 id="passwordresetreveal" class="passwordresetreveal"><venda_text id=desktop.button.forgotten_password></h6>
                <label for="passwordattemp" id="passwordattemp"><venda_text id=desktop.info.logingfailattemp></label>
            	</div>
                <input type="submit"<venda_block label=692,workflow=checkout> data-trackEvent="Checkout"</venda_block label=692> value="<venda_text id=desktop.button.log_in>" class="button success small">
            </div>
		</fieldset>
		</form>
        <div id="passwordreset" class="passwordreset">
            <div>
                <p><venda_text id=desktop.info.email_password_reset></p>
                <form id="form-passwordreset" action="/password-reset" method="get">
                    <label for="passwordresetemail" id="resetemaillabel"><venda_text id=desktop.form.email>:</label>
                    <fieldset>
                    <div class="row collapse">
                        <div class="large-16 columns">
                            <input type="email" value="<venda_block label=6,ustype=R><venda_userinfo><venda_sesusemail></venda_userinfo></venda_block label=6>" id="passwordresetemail" name="email" required="required">
                        </div>
                        <div class="large-8 columns">
                            <input type="submit" id="passwordresetbutton" class="small success button right" value="<venda_text id=desktop.button.password_reset>">
                        </div>
                    </div>
                    </fieldset>
                </form>
            </div>
            <div id="feedback"></div>
        </div>
	</div>
	</div>
	<venda_block label=69,mode=value,<venda_workflow>=checkout>
	<div class="large-8 columns left end">
		<div class="box" id="guestcustomer">
			<div class="box-header js-togglebox" data-toggle="guest-customer" data-default-icon="icon-down-marker" data-toggle-icon="icon-up-marker">
				<h2><venda_text id=desktop.heading.guest_customer><i class="icon-down-marker right show-for-small"></i></h2>
			</div>
			<div class="box-body guest-customer hide-for-small">
				<p class="boxQual"><venda_text id=desktop.info.checkout_without_registering_1></p>
				<a class="button success small" href="<venda_codehttps>?ex=co_wizr-<venda_workflow>&workflowid=<venda_workflowid>&step=billingaddressadd&log=2&glxt=<venda_glxt mode=make,glxtusertype=p>" data-trackEvent="Checkout"><venda_text id=desktop.button.continue_without_registering></a>
			</div>
		</div>
	</div>
	</venda_block label=69>
</div>
</div>
<venda_tpcomment><!-- Used for session expire message --></venda_tpcomment>
<venda_tpxt mode=set,name=login,value=1>
<venda_tpcomment><!-- trackingstep tpxt used in templates/tracking/shared  --></venda_tpcomment>
<venda_tpxt mode=set,name=trackingstep,value=login>
<venda_inctemplate name=workflowSteps,type=tracking/shared>
</venda_block label=desktop>
