<venda_block label=10,scatref=notnull>
<li class="readReview"><a href="<venda_dispview scat=<venda_scatref>>?temp=productreviews" id="readreview_link" class="js-doDialog" title="<venda_text id=desktop.button.read_review>" rel="nofollow" data-size="medium"><venda_text id=desktop.button.read_review></a></li>
</venda_block label=10>