<venda_block label=814,mode=value,<venda_setting type=ebiz,name=tracktagcoremetrics>=1>
<script type="text/javascript">
	<!--
	// set var for coremetrics
	names=new Array("prodId", "prodName", "prodQty", "prodPrice", "catId");
	values=new Array("<venda_invtref>", "<venda_invtname>", "<venda_addedqty>", "<venda_invtsell>", "<venda_invtcatref0>");
	cmCreateShopAction5Tag(values[0], values[1], values[2], values[3], values[4]);
// -->
<!-- cmCreateShopAction5Tag in PRODUCTDETAIL-->
</script>
</venda_block label=814>
