<ul class="checkout-step-indicators large-block-grid-5 text-center hide-for-small">
    <li class="checkout-step-1<venda_block label=121,mode=value,<venda_tpxt mode=get,name=curstep>=step1> checkout-step-active</venda_block label=121>">
        <span class="show-for-small"><venda_text id=desktop.info.step_small_1></span><span class="hide-for-small"><venda_text id=desktop.info.step_1></span>
    </li>
    <li class="checkout-step-2<venda_block label=122,mode=value,<venda_tpxt mode=get,name=curstep>=step2> checkout-step-active</venda_block label=122>">
        <span class="show-for-small"><venda_text id=desktop.info.step_small_2></span><span class="hide-for-small"><venda_text id=desktop.info.step_2></span>
    </li>
    <li class="checkout-step-3<venda_block label=123,mode=value,<venda_tpxt mode=get,name=curstep>=step3> checkout-step-active</venda_block label=123>">
        <span class="show-for-small"><venda_text id=desktop.info.step_small_3></span><span class="hide-for-small"><venda_text id=desktop.info.step_3></span>
    </li>
    <li class="checkout-step-4<venda_block label=124,mode=value,<venda_tpxt mode=get,name=curstep>=step4> checkout-step-active</venda_block label=124>">
        <span class="show-for-small"><venda_text id=desktop.info.step_small_4></span><span class="hide-for-small"><venda_text id=desktop.info.step_4></span>
    </li>
    <li class="checkout-step-5<venda_block label=125,mode=value,<venda_tpxt mode=get,name=curstep>=step5> checkout-step-active</venda_block label=125>">
        <span class="show-for-small"><venda_text id=desktop.info.step_small_5></span><span class="hide-for-small"><venda_text id=desktop.info.step_5></span>
    </li>
</ul>


<ul class="checkout-step-indicators small-block-grid-4 text-center show-for-small">
    <li class="checkout-step-1<venda_block label=121,mode=value,<venda_tpxt mode=get,name=curstep>=step1> checkout-step-active</venda_block label=121>">
        <span class="show-for-small"><venda_text id=desktop.info.step_small_1></span><span class="hide-for-small"><venda_text id=desktop.info.step_1></span>
    </li>
    <li class="checkout-step-2<venda_block label=122,mode=value,<venda_tpxt mode=get,name=curstep>=step2,<venda_tpxt mode=get,name=curstep>=step3,operator=or> checkout-step-active</venda_block label=122>">
        <span class="show-for-small"><venda_text id=desktop.info.step_small_2></span><span class="hide-for-small"><venda_text id=desktop.info.step_2></span>
    </li>
    <li class="checkout-step-4<venda_block label=124,mode=value,<venda_tpxt mode=get,name=curstep>=step4> checkout-step-active</venda_block label=124>">
        <span class="show-for-small"><venda_text id=desktop.info.step_small_4></span><span class="hide-for-small"><venda_text id=desktop.info.step_4></span>
    </li>
    <li class="checkout-step-5<venda_block label=125,mode=value,<venda_tpxt mode=get,name=curstep>=step5> checkout-step-active</venda_block label=125>">
        <span class="show-for-small"><venda_text id=desktop.info.step_small_5></span><span class="hide-for-small"><venda_text id=desktop.info.step_5></span>
    </li>
</ul>
