<div id="billingaddress" class="js-editaddressform">
<input type="hidden" name="page" value="myaccount">
<!-- Hit Ext fields need be passed again, if errors are not null -->
<input type="hidden" name="htxt" value="<venda_htxt mode=make,addr=change>">
<!-- pass communication values otherwise these will be reset when the address details are updated -->
<input type="hidden" name="blkpost" value="<venda_blkpost>">
<input type="hidden" name="blkemail" value="<venda_blkemail>">
<input type="hidden" name="blksms" value="<venda_blksms>">
<input type="hidden" name="blktrdcomm" value="<venda_blktrdcomm>">
<input type="hidden" name="usmailform" value="<venda_usmailform>">
<venda_usemail field=hidden>
<venda_uspswd field=hidden>
<venda_uspswd2 field=hidden>
<div><h1><venda_text id=desktop.heading.edit_billing_address></h1></div>
<venda_block label=2,errors=notnull><h2 class="alert-box alert radius" data-alert=""><venda_errors></h2></venda_block label=2>
<p><venda_text id=desktop.info.required_instruction></p>
<p><venda_text id=desktop.info.update_details_info></p>
<h1><small><venda_text id=site.my_account.edit_user_details.edit_contact_details.legend.your_contact_details></small></h1>

<venda_tpcomment><!-- Start: Edit Billing Details --></venda_tpcomment>
<div class="row">
<div class="large-6  columns">
	<label for="title" class="inline"><venda_text id=desktop.form.title> <i class="required"></i></label>
</div>
<div class="large-18 columns">
	<select name="title" id="title">
        <option value=""<venda_block label=pleaseselect,mode=value,<venda_title>=> selected</venda_block label=pleaseselect>><venda_text id=desktop.info.please_select></option>
		<option value="Mr"<venda_block label=mr,mode=value,<venda_title>=Mr> selected</venda_block label=mr>><venda_text id=desktop.form.title.mr></option>
		<option value="Mrs"<venda_block label=mrs,mode=value,<venda_title>=Mrs> selected</venda_block label=mrs>><venda_text id=desktop.form.title.mrs></option>
		<option value="Miss"<venda_block label=miss,mode=value,<venda_title>=Miss> selected</venda_block label=miss>><venda_text id=desktop.form.title.miss></option>
		<option value="Ms"<venda_block label=ms,mode=value,<venda_title>=Ms> selected</venda_block label=ms>><venda_text id=desktop.form.title.ms></option>
	</select>
</div>
</div>
<div class="row">
	<div class="large-6 columns"><label for="fname" class="inline"><venda_text id=desktop.form.fname> <i class="required"></i></label></div>
	<div class="large-18 columns"><input type="text" autocorrect="off" name="fname" id="fname" value="<venda_fname>" required="required" autofocus="autofocus" /></div>
</div>
<div class="row">
	<div class="large-6 columns"><label for="lname" class="inline"><venda_text id=desktop.form.lname> <i class="required"></i></label></div>
	<div class="large-18 columns"><input type="text" autocorrect="off" name="lname" id="lname" value="<venda_lname>" required="required" /></div>
</div>
<div class="row group usxtgender">
    <div class="large-6 columns">
        <label class="inline"><venda_text id=desktop.form.usxtgender></label>
    </div>
    <div class="large-18 columns">
        <select name="usxtgender" class='form-select'><venda_usxselectusxtgender></select>
    </div>
</div>

<div id="birthday" class="group row">
    <div class="large-6 small-24 columns">
        <label class="inline"><venda_text id=desktop.form.date_of_birth></label>
    </div>
    <div class="large-6 small-8 thinpad-right columns">
        <select name="remday1" class='form-select form-half-input'><venda_usxselectremday1></select>
    </div>
    <div class="large-6 small-8 nopad columns">
        <select name="remmonth1" class='form-select form-half-input'><venda_usxselectremmonth1></select>
    </div>
    <div class="large-6 small-8 thinpad-left columns">
        <select name="remyear" class='form-select form-half-input'><venda_usxselectremyear></select>
    </div>
</div>
<script>
    $('select[name="remday1"] option:contains("Please Select...")').text('Day');
    $('select[name="remmonth1"] option:contains("Please Select...")').text('Month');
    $('select[name="remyear"] option:contains("Please Select...")').text('Year');
</script>
</fieldset>

<fieldset>
<div class="row">
    <div class="large-6 columns"><label for="cntrylist" class="inline"><venda_text id=desktop.form.country> <i class="required"></i></label></div>
    <div class="large-18 columns"><venda_cntry field=combo,id=cntrylist,ship=1></div>
</div>
<div id="js-hideOrShowAddress">
    <div id="houseNum" class="row">
        <div class="large-6 columns"><label for="num" class="inline"><venda_text id=desktop.form.house_num> <i class="required"></i></label></div>
        <div class="large-18 columns"><input type="text" autocorrect="off" name="num" id="num" value="<venda_num>" required="required" /></div>
    </div>
    <div class="row">
        <div class="large-6 columns"><label for="addr1" class="inline"><venda_text id=desktop.form.address> <i class="required"></i></label></div>
        <div class="large-18 columns"><input type="text" autocorrect="off" name="addr1" id="addr1" value="<venda_addr1>" required="required" /></div>
    </div>
    <div class="row">
        <div class="large-6 columns"><label for="addr2" class="inline"><venda_text id=desktop.form.addr2></label></div>
        <div class="large-18 columns"><input type="text" autocorrect="off" name="addr2" id="addr2" value="<venda_addr2>" /></div>
    </div>
	<div class="row">
		<div class="large-6 columns"><label for="city" class="inline"><venda_text id=desktop.form.city> <i class="required"></i></label></div>
		<div class="large-18 columns"><input type="text" autocorrect="off" name="city" id="city" value="<venda_city>" required="required" /></div>
	</div>
	<div id="stateDiv" class="row">
		<div class="large-6 columns"><label for="statetext" id="stateLabel" class="inline"><venda_text id=desktop.form.state> <i class="required"></i></label></div>
		<div class="large-18 columns"><input type="text" autocorrect="off" name="state" id="statetext" value="<venda_state>" required="required" />
		<select name="state" id="statelist" required="required" /><select></div>
	</div>
</div>
<div id="zipcDiv" class="row">
    <div class="large-6 columns"><label for="zipc" id="zipcLabel" class="inline"><venda_text id=desktop.form.postcode> <i class="required"></i></label></div>
    <div class="large-18 columns">
        <div class="row collapse">
            <div class="large-16 columns">
                <input type="text" required="required" autocorrect="off" name="zipc" id="zipc" value="<venda_zipc>" />
            </div>
            <div class="large-8 columns">
                <a href="#" class="button expand postfix" id="js-lookup-submit-btn" data-inline="true"><span><venda_text id=desktop.button.lookup_address></span><i class="icon-spinner icon-spin icon-2x" style="display:none;"></i></a>
            </div>
        </div>
    </div>
</div>
<div id="addresslookup">
    <div class="row" id="js-addresses-found" style="display:none">
        <div class="large-6 columns">
            <label for="zcdropdown" class="inline hide-for-small"><venda_text id=desktop.form.address> <i class="required"></i><span class="hidescreenreadersafe"><venda_text id=desktop.form.required></span></label>
        </div>
        <div class="large-18 columns">
            <div class="js-custom lookupdropdown" role="alert" aria-live="assertive"><span class="lookuptext"><venda_text id=desktop.info.lookup_message></span><span id="js-lookupresults"></span>
        </div>
        </div>
    </div>
     <div class="row" id="js-lookup-error" style="display:none">
        <div class="push-6 large-18 columns">
            <div class="alert-box alert radius text-center"><span><venda_text id=desktop.validation.no_addresses_found></span></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="large-6 columns"></div>
    <div class="large-18 columns"><a href="#" id="js-lookup-reset-btn" style="display:none" class="button small secondary marg-top thickmarg-bottom"><venda_text id=desktop.button.search_again></a>  <a href="#" id="js-manual-reset-btn" class="button small secondary marg-top thickmarg-bottom"><venda_text id=desktop.button.enter_address_manually></a></div>
</div>
<div class="row">
    <input type="hidden" name="area" value="" />
	<div class="large-6 columns thinpad-right"><label for="phone" class="inline"><venda_text id=desktop.info.contact_number> <i class="required"></i></label></div>
	<div class="large-18 columns"><input type="tel" name="phone" id="phone" value="<venda_area><venda_phone>" required="required" /></div>
</div>
<div class="row">
    <input type="hidden" name="area" value="" />
    <div class="large-6 columns"><label for="usxtmobile" class="inline"><venda_text id=desktop.info.mobile_number></label></div>
    <div class="large-18 columns"><input type="text" maxlength="20" id="usxtmobile" name="usxtmobile" value="<venda_usxusxtmobile>" class='form-input'></div>
</div>
</fieldset>
<venda_tpcomment><!-- End: Edit Contact Details --></venda_tpcomment>
<div id="buttons" class="row thickpad-bottom">
<div class="large-12 columns right text-right marg-bottom"><input type="submit" value="<venda_text id=desktop.button.save_changes>" class="button"></div>
<div class="large-12 columns"><a href="<venda_codehttps>?ex=co_wizr-myaccount" class="button secondary"><venda_text id=site.button.back_to_my_account></a></div>
</div>

<venda_zones type=countries,template=countrySelect><venda_tpcomment><!-- Include for country select (regions js/textids) --></venda_tpcomment>

</div>
