<venda_tpcomment><!-- included at the bottom of the order receipt template (wizr/wz_orfn-screen) --></venda_tpcomment>
<venda_order ref=<venda_ohrfnbr>,shopcart=0,template=itemJSON>
<venda_inctemplate name=icrossing-receipt,type=tracking/icrossing>
<venda_inctemplate name=flashtalking-receipt,type=tracking/flashtalking>
<venda_inctemplate name=receiptTags,type=tracking/locaytaESP>
<venda_inctemplate name=cmDisplayShop9s,type=tracking/coremetrics>
<venda_inctemplate name=googlePurchaseConversion,type=tracking/googlePurchaseConversion>
