<div id="notifyTemplate" style="display:none;">
    <div id="notify" class="box box-section addedProductNotify">
        <div class="box-header info"><venda_text id=site.quickshop.addedmsg></div>
        <div class="box-body info">
            <div class="notifydetails">
                <span id="js-notify-text">#{text}</span>
                <span id="js-notify-product">#{quantity} x #{product}</span>
                <span id="js-notify-details"> &nbsp;#{details}</span>
            </div>
            <div class="notifydetails-button thickmarg-top">
                <div class="view-button">
                    <a class="button small secondary" href="<venda_codehttp>?ex=co_wizr-shopcart&log=22"><venda_text id=desktop.button.view_shopping_cart></a>
                </div>
                <div class="checkout-button">
                    <a class="button small success" id="checkout" href="<venda_block label=100,ustype=R><venda_block label=210,mode=value,<venda_setting type=ebiz,name=skipsecondlogin>=1><venda_codehttps>?ex=co_wizr-checkout&step=ordersummary</venda_block label=210><venda_block label=211,mode=value,<venda_setting type=ebiz,name=skipsecondlogin>!=1><venda_codehttps>?ex=co_wizr-checkout&step=login</venda_block label=211></venda_block label=100><venda_block label=101,ustype!=R><venda_codehttps>?ex=co_wizr-checkout&step=login</venda_block label=101>">
                    <venda_text id=desktop.button.checkout></a>
                </div>
            </div>
        </div>
    </div>
</div>
