<venda_tpcomment><!-- Validation definitions for jquery.validate.js --></venda_tpcomment>
<venda_block label=isgiftcert,workflow=giftcertificates,invtref=giftcert,operator=or>
<div id="tag-validation_least" style="display:none;"><venda_text id=desktop.validation.least></div>
<div id="tag-validation_least_two" style="display:none;"><venda_text id=desktop.validation.least_two></div>
<div id="tag-validation_giftcert_amount" style="display:none;"><venda_text id=desktop.validation.giftcert_amount></div>
<div id="tag-validation_minValue" style="display:none;"><venda_text id=desktop.validation.minvalue></div>
<div id="tag-validation_maxValue" style="display:none;"><venda_text id=desktop.validation.maxvalue></div>
</venda_block label=isgiftcert>
<venda_block label=notworkflow,workflow=null>
<venda_block label=icat,rtype=icat>
	<venda_block label=411,mode=value,<venda_setting type=ebiz,name=showcompareproductlist>=1>
	<venda_tpcomment><!-- ids from compare, need updating to follow id naming --></venda_tpcomment>
	<div id="js-compare-product-list-compare-validation" style="display:none;"><venda_text id=desktop.validation.compare_min></div>
	<div id="js-compare-product-is-already" style="display:none;"><venda_text id=desktop.validation.compare_already></div>
	<div id="js-compare-cannot-compare-different-type" style="display:none;"><venda_text id=desktop.validation.compare_type></div>
	<div id="js-compare-remove-item-before" style="display:none;"><venda_text id=desktop.validation.compare_max></div>
	 </venda_block label=411>
</venda_block label=icat>
<venda_block label=invt,rtype=invt>
<venda_tpcomment><!-- ids from EMWBIS, need updating to follow id naming --></venda_tpcomment>
<div id="email-when-in-stock-validation" style="display: none"><venda_text id=desktop.validation.email></div>
<div id="tag-validation_rank" style="display:none;"><venda_text id=desktop.validation.rank></div>
<div id="tag-validation_review" style="display:none;"><venda_text id=desktop.validation.review></div>
</venda_block label=invt>
</venda_block label=notworkflow>
<div id="tag-validation_minLength" style="display:none;"><venda_text id=desktop.validation.minlength></div>
<div id="tag-validation_maxLength" style="display:none;"><venda_text id=desktop.validation.maxlength></div>
<venda_tpcomment><!-- ids from search, need updating to follow id naming --></venda_tpcomment>
<div id="tag-rangevalidate" style="display:none;"><venda_text id=desktop.validation.range></div>
<div id="tag-validation_name" style="display:none;"><venda_text id=desktop.validation.name></div>
<div id="tag-validation_message" style="display:none;"><venda_text id=desktop.validation.message></div>
<div id="tag-validation_to" style="display:none;"><venda_text id=desktop.validation.to></div>
<div id="tag-validation_qty" style="display:none;"><venda_text id=desktop.validation.qty></div>
<div id="tag-validation_search" style="display:none;"><venda_text id=desktop.validation.search></div>
<div id="tag-validation_phone" style="display:none;"><venda_text id=desktop.validation.phone></div>
<div id="tag-validation_phone_valid" style="display:none;"><venda_text id=desktop.validation.phone_valid></div>
<div id="tag-validation_email" style="display:none;"><venda_text id=desktop.validation.email></div>
<div id="tag-validation_email_vaild" style="display:none;"><venda_text id=desktop.validation.email_valid></div>
<div id="tag-validation_verify_email" style="display:none;"><venda_text id=desktop.validation.verify_email></div>
<div id="tag-validation_newsletter_checkboxes" style="display:none;"><venda_text id=desktop.validation.newsletter_checkboxes></div>
<div id="tag-validation_search_valid" style="display:none;"><venda_text id=desktop.validation.search_valid></div>
<div id="tag-validation_only_characters" style="display:none;"><venda_text id=desktop.validation.only_characters></div>