<div id="delivertostoreedit">
<venda_block label=myaccount1,workflow=myaccount>
<venda_tpcomment><!-- Start: wrapper for myaccount workflow with off canvas myaccountnav --></venda_tpcomment>
<div class="thickpad <venda_workflow> <venda_curstep>">
</venda_block label=myaccount1>

<venda_block label=checkout,workflow=checkout>
<venda_tpcomment><!-- Start: wrapper for checkout workflow --></venda_tpcomment>
<div class="row <venda_workflow> <venda_curstep>">
<div class="large-7 push-17 columns marg-top">
<venda_inctemplate name=minicart_detail,type=includes>
</div>
<div class="<venda_workflow> <venda_curstep> columns large-16<venda_block label=41,workflow=checkout> pull-8 marg-top</venda_block label=41><venda_block label=42,workflow=myaccount> push-2</venda_block label=42>">
</venda_block label=checkout>

	<h1><venda_text id=desktop.heading.deliver_to_store></h1>
	<venda_block label=1,errors=notnull><h2 class="alert-box alert radius" data-alert=""><venda_errors></h2></venda_block label=1>
	<div id="dtsStorelocator" style="display:none">
	<!-- Store locator include -->
	<venda_inctemplate name=storeLocator,type=includes>
	</div>
	<form method="post" name="<venda_curstep>form" action="<venda_codehttps>">
	<input type="hidden" name="ex" value="co_wizr-<venda_workflow>" />
	<input type="hidden" name="workflowid" value="<venda_workflowid>" />
	<input type="hidden" name="curstep" value="<venda_curstep>" />
	<input type="hidden" name="curparam1" value="<venda_curparam1>">
	<input type="hidden" name="curparam2" value="storeadd">
	<input type="hidden" name="abrfnbr" value="<venda_curparam1>">
	<input type="hidden" name="trrfnbr" value="<venda_userinfo><venda_sesid></venda_userinfo>" />
	<input type="hidden" name="mode" value="process" />
	<venda_block errors=null><input type="hidden" name="curlayout" value="checkout" /></venda_block>
	<input type="hidden" name="param2" value="edit" />
	<input type="hidden" name="step" value="addressbook" />
	<input type="hidden" name="param3" value="<venda_curparam1>">
	<div id="storedeliveryaddress">
		<fieldset>
		<div class="row">
		<div class="large-6 columns">
			<label for="title" class="inline right"><venda_text id=desktop.form.title></label>
		</div>
		<div class="large-18 columns js-custom">
			<select name="title" id="title">
				<option value="Mr"<venda_block label=mr,mode=value,<venda_title>=Mr> selected</venda_block label=mr>><venda_text id=desktop.form.title.mr></option>
				<option value="Mrs"<venda_block label=mrs,mode=value,<venda_title>=Mrs> selected</venda_block label=mrs>><venda_text id=desktop.form.title.mrs></option>
				<option value="Miss"<venda_block label=miss,mode=value,<venda_title>=Miss> selected</venda_block label=miss>><venda_text id=desktop.form.title.miss></option>
				<option value="Ms"<venda_block label=ms,mode=value,<venda_title>=Ms> selected</venda_block label=ms>><venda_text id=desktop.form.title.ms></option>
			</select>
		</div>
		</div>
		<div class="row">
			<div class="large-6 columns"><label for="fname" class="inline right"><venda_text id=desktop.form.fname></label></div>
			<div class="large-18 columns"><input type="text" autocorrect="off" name="fname" id="fname" value="<venda_fname>" required="required" autofocus="autofocus" /></div>
		</div>
		<div class="row">
			<div class="large-6 columns"><label for="lname" class="inline right"><venda_text id=desktop.form.lname></label></div>
			<div class="large-18 columns"><input type="text" autocorrect="off" name="lname" id="lname" value="<venda_lname>" required="required" /></div>
		</div>
		</fieldset>
		<hr><br>
		<div class="row">
			<div class="large-6 columns">
				<span class="inline right"><venda_text id=desktop.info.store_address></span>
			</div>
			<div class="large-18 columns">
				<div class="thickpad-bottom">
				<span><venda_addrname></span>
				<input type="hidden" name="addrname" value="<venda_addrname>">
				</div>
				<div class="panel">
				<div>
					<span>c/o <venda_setting type=ebiz,name=name></span>
					<input type="hidden" name="company" value="c/o <venda_setting type=ebiz,name=name>">
				</div>
				<div>
					<span> <venda_num></span>
					<input type="hidden" name="num" value="<venda_num>">
				</div>
				<div>
					<span> <venda_addr1></span>
					<input type="hidden" name="addr1" value="<venda_addr1>">
				</div>
				<div>
					<span> <venda_addr2></span>
					<input type="hidden" name="addr2" value="<venda_addr2>">
				</div>
				<div>
					<span> <venda_city></span>
					<input type="hidden" name="city" value="<venda_city>">
				</div>
				<div>
					<span> <venda_state></span>
					<input type="hidden" name="state" value="<venda_state>">
				</div>
				<div>
					<span> <venda_zipc></span>
					<input type="hidden" name="zipc" value="<venda_zipc>">
				</div>
				<div>
					<span> <venda_cntry></span>
					<input type="hidden" name="cntry" value="<venda_cntry>">
				</div>
				<div>
					<input type="hidden" name="area" value="" />
					<span> <venda_phone></span>
					<input type="hidden" name="phone" value="<venda_area><venda_phone>">
				</div>
				</div>
				<div>
				<a id="DTSchangeStore" href="#" class="button small left js-DTSchangeStore"><venda_text id=desktop.button.change_store></a>
				</div>
			</div>
		</div>

		<fieldset>
		<div class="row">
		<div class="large-18 columns push-6 marg-top">
		<venda_block label=addnotdefault,mode=value,<venda_default>!=1>
		<label for="addrdefault"><input type="checkbox" name="default" id="addrdefault" value="1" /><span> <venda_text id=desktop.button.make_default_address></span></label>
		</venda_block label=addnotdefault>
		<venda_block label=adddefault,mode=value,<venda_default>=1><p><venda_text id=desktop.form.addrdefault></p></venda_block label=adddefault>
		</div>
		</div>
		</fieldset>
		<div id="buttons" class="row thickpad-bottom">
		<div class="large-12 columns right text-right marg-bottom"><input type="submit" value="<venda_text id=desktop.button.continue>" class="button"></div>
		<div class="large-12 columns"><a href='<venda_wizurl step=addressbook>&param1=<venda_bsref>' class="button secondary"><venda_text id=desktop.button.cancel></a></div>
		</div>
	</div>
	</form>

<venda_block label=checkout2,workflow=checkout>
<venda_tpcomment><!-- End: wrapper for checkout workflow --></venda_tpcomment>
</div>
</div>
</venda_block label=checkout2>

<venda_block label=myaccount2,workflow=myaccount>
<venda_tpcomment><!-- End: wrapper for myaccount workflow with left myaccountnav --></venda_tpcomment>
</div>
</venda_block label=myaccount2>

<venda_inctemplate name=workflowSteps,type=tracking/shared><venda_tpcomment><!-- Include for tracking tags --></venda_tpcomment>
<venda_tpxt mode=set,name=curstep,value=step3><venda_tpcomment><!-- Used for checkout step indicators --></venda_tpcomment>
<venda_tpxt mode=set,name=title,value=<venda_text id=desktop.heading.deliver_to_store>><venda_tpcomment><!-- Used for html title --></venda_tpcomment>

<!-- Venda vars to be passed to JS -->
<div id="venda_cntry" style="display: none;"><venda_cntry></div>
<div id="venda_state" style="display: none;"><venda_state></div>
<div id="venda_locn" style="display: none;"><venda_sessionlocation></div>

</div>