/* The Grid ---------------------- */
.ie7 .row {
  width: 998px;
  max-width: 100%;
  min-width: 744px;
  margin: 0 auto;
}

.ie7 .row .row, .ie7 .header-row-one .row, .ie7 .header-row-two .row {
  width: auto;
  max-width: none;
  min-width: 0;
  margin: 0;
}

/*was margin: 0 -15px;*/
.ie7 .row.large-collapse .column, .ie7 .row.large-collapse .columns {
  padding: 0;
}

.ie7 .row .row.large-collapse {
  margin: 0;
}

.ie7 .column, .ie7 .columns {
  float: left;
  min-height: 1px;
  padding: 0 5px;
  position: relative;
}

.ie7 .column.large-centered, .ie7 .columns.large-centered {
  float: none;
  margin: 0 auto;
}

.ie7 [class*="column"] + [class*="column"]:last-child {
  float: right;
}

.ie7 [class*="column"] + [class*="column"].end {
  float: left;
}

.ie7 .small-1, .ie7 .row .small-1 {
  width: 1.16667%;
}

.ie7 .small-2, .ie7 .row .small-2 {
  width: 5.33333%;
}

.ie7 .small-3, .ie7 .row .small-3 {
  width: 9.5%;
}

.ie7 .small-4, .ie7 .row .small-4 {
  width: 13.66667%;
}

.ie7 .small-5, .ie7 .row .small-5 {
  width: 17.83333%;
}

.ie7 .small-6, .ie7 .row .small-6 {
  width: 22%;
}

.ie7 .small-7, .ie7 .row .small-7 {
  width: 26.16667%;
}

.ie7 .small-8, .ie7 .row .small-8 {
  width: 30.33333%;
}

.ie7 .small-9, .ie7 .row .small-9 {
  width: 34.5%;
}

.ie7 .small-10, .ie7 .row .small-10 {
  width: 38.66667%;
}

.ie7 .small-11, .ie7 .row .small-11 {
  width: 42.83333%;
}

.ie7 .small-12, .ie7 .row .small-12 {
  width: 47%;
}

.ie7 .small-13, .ie7 .row .small-13 {
  width: 51.16667%;
}

.ie7 .small-14, .ie7 .row .small-14 {
  width: 55.33333%;
}

.ie7 .small-15, .ie7 .row .small-15 {
  width: 59.5%;
}

.ie7 .small-16, .ie7 .row .small-16 {
  width: 63.66667%;
}

.ie7 .small-17, .ie7 .row .small-17 {
  width: 67.83333%;
}

.ie7 .small-18, .ie7 .row .small-18 {
  width: 72%;
}

.ie7 .small-19, .ie7 .row .small-19 {
  width: 76.16667%;
}

.ie7 .small-20, .ie7 .row .small-20 {
  width: 80.33333%;
}

.ie7 .small-21, .ie7 .row .small-21 {
  width: 84.5%;
}

.ie7 .small-22, .ie7 .row .small-22 {
  width: 88.66667%;
}

.ie7 .small-23, .ie7 .row .small-23 {
  width: 92.83333%;
}

.ie7 .small-24, .ie7 .row .small-24 {
  width: 100%;
}

.ie7 .large-1, .ie7 .row .large-1 {
  width: 1.16667%;
}

.ie7 .large-2, .ie7 .row .large-2 {
  width: 5.33333%;
}

.ie7 .large-3, .ie7 .row .large-3 {
  width: 9.5%;
}

.ie7 .large-4, .ie7 .row .large-4 {
  width: 13.66667%;
}

.ie7 .large-5, .ie7 .row .large-5 {
  width: 17.83333%;
}

.ie7 .large-6, .ie7 .row .large-6 {
  width: 22%;
}

.ie7 .large-7, .ie7 .row .large-7 {
  width: 26.16667%;
}

.ie7 .large-8, .ie7 .row .large-8 {
  width: 30.33333%;
}

.ie7 .large-9, .ie7 .row .large-9 {
  width: 34.5%;
}

.ie7 .large-10, .ie7 .row .large-10 {
  width: 38.66667%;
}

.ie7 .large-11, .ie7 .row .large-11 {
  width: 42.83333%;
}

.ie7 .large-12, .ie7 .row .large-12 {
  width: 47%;
}

.ie7 .large-13, .ie7 .row .large-13 {
  width: 51.16667%;
}

.ie7 .large-14, .ie7 .row .large-14 {
  width: 55.33333%;
}

.ie7 .large-15, .ie7 .row .large-15 {
  width: 59.5%;
}

.ie7 .large-16, .ie7 .row .large-16 {
  width: 63.66667%;
}

.ie7 .large-17, .ie7 .row .large-17 {
  width: 67.83333%;
}

.ie7 .large-18, .ie7 .row .large-18 {
  width: 72%;
}

.ie7 .large-19, .ie7 .row .large-19 {
  width: 76.16667%;
}

.ie7 .large-20, .ie7 .row .large-20 {
  width: 80.33333%;
}

.ie7 .large-21, .ie7 .row .large-21 {
  width: 84.5%;
}

.ie7 .large-22, .ie7 .row .large-22 {
  width: 88.66667%;
}

.ie7 .large-23, .ie7 .row .large-23 {
  width: 92.83333%;
}

.ie7 .large-24, .ie7 .row .large-24 {
  width: 100%;
}

.ie7 .row .small-offset-1 {
  margin-left: 1.16667%;
}

.ie7 .row .small-offset-2 {
  margin-left: 5.33333%;
}

.ie7 .row .small-offset-3 {
  margin-left: 9.5%;
}

.ie7 .row .small-offset-4 {
  margin-left: 13.66667%;
}

.ie7 .row .small-offset-5 {
  margin-left: 17.83333%;
}

.ie7 .row .small-offset-6 {
  margin-left: 22%;
}

.ie7 .row .small-offset-7 {
  margin-left: 26.16667%;
}

.ie7 .row .small-offset-8 {
  margin-left: 30.33333%;
}

.ie7 .row .small-offset-9 {
  margin-left: 34.5%;
}

.ie7 .row .small-offset-10 {
  margin-left: 38.66667%;
}

.ie7 .row .small-offset-11 {
  margin-left: 45.83333;
}

.ie7 .row .small-offset-12 {
  margin-left: 47%;
}

.ie7 .row .small-offset-13 {
  margin-left: 51.16667%;
}

.ie7 .row .small-offset-14 {
  margin-left: 55.33333%;
}

.ie7 .row .small-offset-15 {
  margin-left: 59.5%;
}

.ie7 .row .small-offset-16 {
  margin-left: 63.66667%;
}

.ie7 .row .small-offset-17 {
  margin-left: 67.83333%;
}

.ie7 .row .small-offset-18 {
  margin-left: 72%;
}

.ie7 .row .small-offset-19 {
  margin-left: 76.16667%;
}

.ie7 .row .small-offset-20 {
  margin-left: 80.33333%;
}

.ie7 .row .small-offset-21 {
  margin-left: 84.5%;
}

.ie7 .row .small-offset-22 {
  margin-left: 88.66667%;
}

.ie7 .row .small-offset-23 {
  margin-left: 92.83333%;
}

.ie7 .row .large-offset-1 {
  margin-left: 1.16667%;
}

.ie7 .row .large-offset-2 {
  margin-left: 5.33333%;
}

.ie7 .row .large-offset-3 {
  margin-left: 9.5%;
}

.ie7 .row .large-offset-4 {
  margin-left: 13.66667%;
}

.ie7 .row .large-offset-5 {
  margin-left: 17.83333%;
}

.ie7 .row .large-offset-6 {
  margin-left: 22%;
}

.ie7 .row .large-offset-7 {
  margin-left: 26.16667%;
}

.ie7 .row .large-offset-8 {
  margin-left: 30.33333%;
}

.ie7 .row .large-offset-9 {
  margin-left: 34.5%;
}

.ie7 .row .large-offset-10 {
  margin-left: 38.66667%;
}

.ie7 .row .large-offset-11 {
  margin-left: 45.83333;
}

.ie7 .row .large-offset-12 {
  margin-left: 47%;
}

.ie7 .row .large-offset-13 {
  margin-left: 51.16667%;
}

.ie7 .row .large-offset-14 {
  margin-left: 55.33333%;
}

.ie7 .row .large-offset-15 {
  margin-left: 59.5%;
}

.ie7 .row .large-offset-16 {
  margin-left: 63.66667%;
}

.ie7 .row .large-offset-17 {
  margin-left: 67.83333%;
}

.ie7 .row .large-offset-18 {
  margin-left: 72%;
}

.ie7 .row .large-offset-19 {
  margin-left: 76.16667%;
}

.ie7 .row .large-offset-20 {
  margin-left: 80.33333%;
}

.ie7 .row .large-offset-21 {
  margin-left: 84.5%;
}

.ie7 .row .large-offset-22 {
  margin-left: 88.66667%;
}

.ie7 .row .large-offset-23 {
  margin-left: 92.83333%;
}

.ie7 .pull-1 {
  right: 1.16667%;
}

.ie7 .pull-2 {
  right: 5.33333%;
}

.ie7 .pull-3 {
  right: 9.5%;
}

.ie7 .pull-4 {
  right: 13.66667%;
}

.ie7 .pull-5 {
  right: 17.83333%;
}

.ie7 .pull-6 {
  right: 22%;
}

.ie7 .pull-7 {
  right: 26.16667%;
}

.ie7 .pull-8 {
  right: 30.33333%;
}

.ie7 .pull-9 {
  right: 34.5%;
}

.ie7 .pull-10 {
  right: 38.66667%;
}

.ie7 .pull-11 {
  right: 42.83333%;
}

.ie7 .pull-12 {
  right: 47%;
}

.ie7 .pull-13 {
  right: 51.16667%;
}

.ie7 .pull-14 {
  right: 55.33333%;
}

.ie7 .pull-15 {
  right: 59.5%;
}

.ie7 .pull-16 {
  right: 63.66667%;
}

.ie7 .pull-17 {
  right: 67.83333%;
}

.ie7 .pull-18 {
  right: 72%;
}

.ie7 .pull-19 {
  right: 76.16667%;
}

.ie7 .pull-20 {
  right: 80.33333%;
}

.ie7 .pull-21 {
  right: 84.5%;
}

.ie7 .pull-22 {
  right: 88.66667%;
}

.ie7 .pull-23 {
  right: 92.83333%;
}

.ie7 .push-1 {
  left: 1.16667%;
}

.ie7 .push-2 {
  left: 5.33333%;
}

.ie7 .push-3 {
  left: 9.5%;
}

.ie7 .push-4 {
  left: 13.66667%;
}

.ie7 .push-5 {
  left: 17.83333%;
}

.ie7 .push-6 {
  left: 22%;
}

.ie7 .push-7 {
  left: 26.16667%;
}

.ie7 .push-8 {
  left: 30.33333%;
}

.ie7 .push-9 {
  left: 34.5%;
}

.ie7 .push-10 {
  left: 38.66667%;
}

.ie7 .push-11 {
  left: 42.83333%;
}

.ie7 .push-12 {
  left: 47%;
}

.ie7 .push-13 {
  left: 51.16667%;
}

.ie7 .push-14 {
  left: 55.33333%;
}

.ie7 .push-15 {
  left: 59.5%;
}

.ie7 .push-16 {
  left: 63.66667%;
}

.ie7 .push-17 {
  left: 67.83333%;
}

.ie7 .push-18 {
  left: 72%;
}

.ie7 .push-19 {
  left: 76.16667%;
}

.ie7 .push-20 {
  left: 80.33333%;
}

.ie7 .push-21 {
  left: 84.5%;
}

.ie7 .push-22 {
  left: 88.66667%;
}

.ie7 .push-23 {
  left: 92.83333%;
}

/* Small Block Grids */
.ie7 .small-block-grid-2 li {
  float: left;
  width: 50%;
  padding: 0 10px 10px;
}

.ie7 .small-block-grid-3 li {
  float: left;
  width: 33.3333%;
  padding: 0 10px 10px;
}

.ie7 .small-block-grid-4 li {
  float: left;
  width: 25%;
  padding: 0 10px 10px;
}

.ie7 .small-block-grid-5 li {
  float: left;
  width: 20%;
  padding: 0 10px 10px;
}

.ie7 .small-block-grid-6 li {
  float: left;
  width: 16.6667%;
  padding: 0 10px 10px;
}

.ie7 .small-block-grid-7 li {
  float: left;
  width: 14.2857142%;
  padding: 0 10px 10px;
}

.ie7 .small-block-grid-8 li {
  float: left;
  width: 12.5%;
  padding: 0 10px 10px;
}

.ie7 .small-block-grid-9 li {
  float: left;
  width: 11.111111%;
  padding: 0 10px 10px;
}

.ie7 .small-block-grid-10 li {
  float: left;
  width: 10%;
  padding: 0 10px 10px;
}

.ie7 .small-block-grid-11 li {
  float: left;
  width: 9.0909%;
  padding: 0 10px 10px;
}

.ie7 .small-block-grid-12 li {
  float: left;
  width: 8.333333%;
  padding: 0 10px 10px;
}

.ie7 .small-block-grid-2, .ie7 .small-block-grid-3, .ie7 .small-block-grid-4, .ie7 .small-block-grid-5, .ie7 .small-block-grid-6, .ie7 .small-block-grid-7, .ie7 .small-block-grid-8, .ie7 .small-block-grid-9, .ie7 .small-block-grid-10, .ie7 .small-block-grid-11, .ie7 .small-block-grid-12 {
  list-style: none;
}

.ie7 .small-block-grid-2 li:first-child + li, .ie7 .small-block-grid-3 li:first-child + li + li, .ie7 .small-block-grid-4 li:first-child + li + li + li, .ie7 .small-block-grid-5 li:first-child + li + li + li + li, .ie7 .small-block-grid-6 li:first-child + li + li + li + li + li, .ie7 .small-block-grid-7 li:first-child + li + li + li + li + li + li, .ie7 .small-block-grid-8 li:first-child + li + li + li + li + li + li + li, .ie7 .small-block-grid-9 li:first-child + li + li + li + li + li + li + li + li, .ie7 .small-block-grid-10 li:first-child + li + li + li + li + li + li + li + li + li, .ie7 .small-block-grid-11 li:first-child + li + li + li + li + li + li + li + li + li + li, .ie7 .small-block-grid-12 li:first-child + li + li + li + li + li + li + li + li + li + li + li {
  float: right;
}

.ie7 .small-block-grid-2 li:first-child + li + li, .ie7 .small-block-grid-3 li:first-child + li + li + li, .ie7 .small-block-grid-4 li:first-child + li + li + li + li, .ie7 .small-block-grid-5 li:first-child + li + li + li + li + li, .ie7 .small-block-grid-6 li:first-child + li + li + li + li + li + li, .ie7 .small-block-grid-7 li:first-child + li + li + li + li + li + li + li, .ie7 .small-block-grid-8 li:first-child + li + li + li + li + li + li + li + li, .ie7 .small-block-grid-9 li:first-child + li + li + li + li + li + li + li + li + li, .ie7 .small-block-grid-10 li:first-child + li + li + li + li + li + li + li + li + li + li, .ie7 .small-block-grid-11 li:first-child + li + li + li + li + li + li + li + li + li + li + li, .ie7 .small-block-grid-12 li:first-child + li + li + li + li + li + li + li + li + li + li + li + li {
  clear: both;
}

/* Large Block Grids */
.ie7 .large-block-grid-2 li {
  float: left;
  width: 50%;
  padding: 0 10px 10px;
}

.ie7 .large-block-grid-3 li {
  float: left;
  width: 33.3333%;
  padding: 0 10px 10px;
}

.ie7 .large-block-grid-4 li {
  float: left;
  width: 25%;
  padding: 0 10px 10px;
}

.ie7 .large-block-grid-5 li {
  float: left;
  width: 20%;
  padding: 0 10px 10px;
}

.ie7 .large-block-grid-6 li {
  float: left;
  width: 16.6667%;
  padding: 0 10px 10px;
}

.ie7 .large-block-grid-7 li {
  float: left;
  width: 14.2857142%;
  padding: 0 10px 10px;
}

.ie7 .large-block-grid-8 li {
  float: left;
  width: 12.5%;
  padding: 0 10px 10px;
}

.ie7 .large-block-grid-9 li {
  float: left;
  width: 11.111111%;
  padding: 0 10px 10px;
}

.ie7 .large-block-grid-10 li {
  float: left;
  width: 10%;
  padding: 0 10px 10px;
}

.ie7 .large-block-grid-11 li {
  float: left;
  width: 9.0909%;
  padding: 0 10px 10px;
}

.ie7 .large-block-grid-12 li {
  float: left;
  width: 8.333333%;
  padding: 0 10px 10px;
}

.ie7 .large-block-grid-2, .ie7 .large-block-grid-3, .ie7 .large-block-grid-4, .ie7 .large-block-grid-5, .ie7 .large-block-grid-6, .ie7 .large-block-grid-7, .ie7 .large-block-grid-8, .ie7 .large-block-grid-9, .ie7 .large-block-grid-10, .ie7 .large-block-grid-11, .ie7 .large-block-grid-12 {
  list-style: none;
}

.ie7 .large-block-grid-2 li:first-child + li, .ie7 .large-block-grid-3 li:first-child + li + li, .ie7 .large-block-grid-4 li:first-child + li + li + li, .ie7 .large-block-grid-5 li:first-child + li + li + li + li, .ie7 .large-block-grid-6 li:first-child + li + li + li + li + li, .ie7 .large-block-grid-7 li:first-child + li + li + li + li + li + li, .ie7 .large-block-grid-8 li:first-child + li + li + li + li + li + li + li, .ie7 .large-block-grid-9 li:first-child + li + li + li + li + li + li + li + li, .ie7 .large-block-grid-10 li:first-child + li + li + li + li + li + li + li + li + li, .ie7 .large-block-grid-11 li:first-child + li + li + li + li + li + li + li + li + li + li, .ie7 .large-block-grid-12 li:first-child + li + li + li + li + li + li + li + li + li + li + li {
  float: right;
}

.ie7 .large-block-grid-2 li:first-child + li + li, .ie7 .large-block-grid-3 li:first-child + li + li + li, .ie7 .large-block-grid-4 li:first-child + li + li + li + li, .ie7 .large-block-grid-5 li:first-child + li + li + li + li + li, .ie7 .large-block-grid-6 li:first-child + li + li + li + li + li + li, .ie7 .large-block-grid-7 li:first-child + li + li + li + li + li + li + li, .ie7 .large-block-grid-8 li:first-child + li + li + li + li + li + li + li + li, .ie7 .large-block-grid-9 li:first-child + li + li + li + li + li + li + li + li + li, .ie7 .large-block-grid-10 li:first-child + li + li + li + li + li + li + li + li + li + li, .ie7 .large-block-grid-11 li:first-child + li + li + li + li + li + li + li + li + li + li + li, .ie7 .large-block-grid-12 li:first-child + li + li + li + li + li + li + li + li + li + li + li + li {
  clear: both;
}

/* Nicolas Gallagher's micro clearfix */
.ie7 .row {
  *zoom: 1;
}

.ie7 .row:before, .ie7 .row:after {
  content: " ";
  display: table;
}

.ie7 .row:after {
  clear: both;
}

/* Show/Hide Classes */
.ie7 .show-for-large-up,
.ie7 .show-for-tablet-portrait,
.ie7 .hide-for-tablet-portrait-up,
.ie7 .hide-for-desktop-up,
.ie7 .hide-for-desktop,
.ie7 .hide-for-tablet-portrait,
.ie7 .show-for-small,
.ie7 .show-for-large,
.ie7 .show-for-large-up,
.ie7 .show-for-xlarge,
.ie7 .hide-for-medium-down,
.ie7 .hide-for-medium,
.ie7 .hide-for-medium-up,
.ie7 .hide-for-large-down,
.ie7 .hide-for-large,
.ie7 .hide-for-large-up,
.ie7 .hide-for-xlarge,
.ie7 .hide-for-landscape,
.ie7 .hide-for-portrait,
.ie7 .show-for-touch {
  display: none !important;
}

.ie7 .hide-for-small {
  display: block !important;
}

/* General Tidying Up and Bug Fixes */
.ie7 input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="tel"] {
  width: 97%;
}

.ie7 .logo, .ie7 .row > nav, .ie7 .off-canvas-left {
  width: 22%;
}

.ie7 .header-row-two, .ie7 .off-canvas-main {
  width: 72%;
}

.ie7 .header-row-one .large-6 {
  float: right;
}

.ie7 .search.columns .large-offset-6 {
  margin-left: 0;
}

.ie7 .search.columns input[type=text] {
  width: 97%;
  padding: 0 0 0 5px;
  line-height: 3em;
}

.ie7 .footer-boxes-one .row .large-12.columns {
  width: 49.9%;
}

.ie7 .footer-row-two .large-8.columns {
  width: 33.3%;
}

.ie7 .footer-boxes-two .emailsignup input[type=text] {
  height: 1.3em;
  margin-bottom: 0;
}

.ie7 .footer-boxes-two .emailsignup .large-6 {
  float: right;
}

.ie7 .promo-bar .columns {
  z-index: -1;
}

.ie7 .orbit-slides-container-div.columns {
  padding: 0;
}

.ie7 .row section[role=main] {
  padding: 0;
}

.ie7 .row section[role=main].push-7 {
  left: 29%;
}

.ie7 footer .columns {
  padding: 0;
}

.ie7 input.button {
  width: auto;
}

.ie7 .minicart, .ie7 .js-custom .js-selectedArrow, .ie7 .js-custom .js-selectedArrow-shadow {
  border: none;
}

.ie7 .attribute-inputs .js-selected {
  border: 2px solid #0092d2;
}

.ie7 .attribute-inputs .js-selectedArrow-shadow {
  display: none;
}

.ie7 .reveal-modal-bg {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#50000000,endColorstr=#50000000);
  zoom: 1;
}

.ie7 .minicartDetailWrapper .basketWrapper {
  position: static;
}

.ie7 .js-mm-sub ul li a {
  border: none;
}

.ie7 .search-pagination {
  padding-left: 30px;
}

.ie7 .search-facet input[type='checkbox'] {
  margin-bottom: 0;
}

.ie7 .mm_bg {
  padding-left: 0;
  padding-right: 0;
}

.ie7 .mm_ul li:first-child {
  width: 11.7%;
}

.ie7 .footer-boxes-one h2 {
  font-size: 1.3em;
}

.ie7 .categorylist.small-block-grid-2 li:first-child + li {
  float: left;
}

.ie7 .categorylist.small-block-grid-2 li:first-child + li + li {
  clear: none;
}

.ie7 .box-product-slider {
  clear: both;
  overflow: hidden;
  background-color: white;
}

.ie7 .box.box-product-slider .box-header {
  filter: none;
}

.ie7 .checkout-nav.row {
  padding: 0;
}

.ie7 .checkout-nav div:first-child {
  padding-left: 10px;
}

.ie7 .checkout-step-indicators {
  overflow: hidden;
}

.ie7 .checkout-step-indicators li {
  width: 17%;
}

.ie7 .ordersummary input[type='radio'],
.ie7 .ordersummary input[type='checkbox'] {
  float: left;
}

.ie7 .js-deliveryoptions .columns {
  padding: 0;
}

.ie7 .collapse.row .js-addresslookup.columns {
  padding-left: 10px;
}

.ie7 .billingaddressedit.pull-8 {
  right: 27%;
}

.ie7 #shopcartform .prod-quantity .thinmarg-side {
  margin-right: 20px;
}

.ie7 .billingaddressadd .large-18 label {
  vertical-align: top;
}

.ie7 .checkout-step-4.checkout-step-active {
  width: 21.7%;
}

.ie7 #billingaddressedit #minicart_products .prod-details {
  float: right;
  width: 61.66%;
}

/* bug fixes for slider where IE8 doesn't show slides on initial load when using picturefill */
.ie7 .orbit-home [data-picture] {
  height: 220px;
}

.ie7 .orbit-category [data-picture] {
  height: 170px;
}

/* bug fixes for floating elements */
.ie7 header {
  position: relative;
  z-index: 3;
}

.ie7 .nav {
  position: relative;
  z-index: 2;
}

.ie7 section {
  position: relative;
  z-index: 1;
}

.ie7 .header-row-two, .ie7 .header-row-two .search.columns, .ie7 .header-row-two .search .columns, .ie7 .search-button, .ie7 .nav.collapse.row .columns, .ie7 .off-canvas-left {
  position: static;
}

/* fix list view on search/prod list */
.ie7 .js-viewList.small-block-grid-3 li {
  width: 100%;
}

.ie7 .js-viewList.small-block-grid-3:first-child + li + li + li {
  clear: both;
}

.ie7 .slider.small-block-grid-2 li {
  width: 215px;
  min-height: 225px;
}

.ie7 .slider.small-block-grid-2 li:first-child + li + li {
  clear: none;
}

.ie7 .js-slider-state-disabled {
  display: none;
}

.ie7 .search-pagination-top .search-sort .large-6 {
  width: 27%;
}

.ie7 .search-pagination .large-4, .ie7 .search-pagination .large-5 {
  float: right;
}

.ie7 #searchResults.large-18 {
  width: 78%;
}

.ie7 .prod-quantity div.left {
  margin-left: 20px;
}

.ie7 .section-container.tabs > .section > .title {
  position: absolute;
  top: 0;
  list-style: none;
  width: auto;
  background-color: #FFF;
  border: 1px solid #FFF;
}

.ie7 .section-container.tabs > .section.active > .title {
  background-color: #F5F5F5;
  border-top: 4px solid #02A7E7;
  border-left: 1px solid #EEE;
  border-right: 1px solid #EEE;
  border-bottom: none;
  margin-top: 1px;
}

.ie7 .section-container.tabs > .section > .title:hover {
  margin-top: 1px;
}

.ie7 .section-container.tabs > .section.active > .content {
  background-color: #F5F5F5;
  border: 1px solid #EEE;
  margin-top: 1px;
}

.icon-double-angle-left {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '\e01a');
}

.icon-double-angle-right {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '\e01b');
}

.icon-double-angle-up {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '\e01c');
}

.icon-double-angle-down {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '\e01d');
}

.icon-angle-left {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '\e016');
}

.icon-angle-right {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '\e017');
}

.icon-angle-up {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '\e018');
}

.icon-angle-down {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '\e019');
}

.icon-spinner {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '\e020');
}

.icon-ok {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '\e01f');
}

.icon-ok-circle {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '\e004');
}

.icon-caret-down {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '\e032');
}

.icon-caret-up {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '\e031');
}

.icon-caret-right {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '\e034');
}

.icon-caret-left {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '\e033');
}

.icon-pixelcaret-down {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '\e007');
}

.icon-pixelcaret-up {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '\e013');
}

.icon-pixelcaret-right {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '\e015');
}

.icon-pixelcaret-left {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '\e014');
}

.icon-money {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '\e02f');
}

.icon-menu {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '\e002');
}

.icon-menu-box {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '\e02a');
}

.icon-remove {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '\e01e');
}

.icon-remove-circle, .icon-remove-sign {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '\e008');
}

.icon-minus {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '\e022');
}

.icon-plus {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '\e021');
}

.icon-th-large {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '\e025');
}

.icon-list {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '\e024');
}

.icon-th {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '\e023');
}

.icon-user {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '\e000');
}

.icon-user-box {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '\e029');
}

.icon-login {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '\e027');
}

.icon-login-box {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '\e00b');
}

.icon-logout {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '\e028');
}

.icon-shopping-cart {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '\e001');
}

.icon-search {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '\e003');
}

.icon-envelope {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '\e012');
}

.icon-trash {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '\e030');
}

.icon-facebook-sign {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '\e00e');
}

.icon-twitter-sign {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '\e00d');
}

.icon-pinterest-sign {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '\e00f');
}

.icon-expand {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '\e005');
}

.icon-reduce {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '\e006');
}

.icon-carousel-left {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '\e009');
}

.icon-carousel-right {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '\e00a');
}

.icon-help-and-info {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '\e026');
}

.icon-help-and-info-box {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '\e00c');
}

.icon-store-locator {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '\e010');
}

.icon-gift-certificate {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '\e011');
}

.icon-communication {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '\e02b');
}

.icon-edit {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '\e02c');
}

.icon-settings {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '\e02d');
}

.icon-address-book {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '\e02e');
}

.cloudzoom-ajax-loader {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '\e020');
}

.icon-external-link {
  *zoom: expression(this.runtimeStyle['zoom'] = "1", this.innerHTML = '\e027');
}
