.styleguide {
  background: url(../images/vendastrap_bg.jpg) no-repeat center top fixed;
}
.styleguide .row > nav {
  width: 100% !important;
}
.styleguide .off-canvas-left, .styleguide .row > nav {
  height: auto;
  margin-left: 0;
}
.styleguide .row nav.columns {
  padding-top:0;
  background-color:white;
}
.styleguide .nav-bar {
  margin-top: 0;.
}
.styleguide .content {
  margin: 15px;
}
.styleguide h1.styleguideheader {
  text-transform: capitalize;
}
.styleguide>div {
  border-left: 1px solid #525252;
  border-right: 1px solid #525252;
  border-bottom: 1px solid #525252;
  box-shadow: 5px 5px 10px #000;
}
.styleguide .wrapper {
  background-color: #fff;
  margin-top: 50px;
  margin-bottom: 50px;
}
.styleguide h1.styleguideheader {
    background: url(../images/styleguide_h1.jpg) #FFA267 no-repeat left top;
    border: 1px solid #B3581A;
    color: white;
    padding: 7px 12px 10px;
    font-weight: normal;
    display: inline-block;
}
.styleguide .mm_ul {
  margin: 0;
  background: #000;
}
.styleguide .mm_ul > li, .styleguide .mm_ul li a {
  background-color: black;
  border: none;
  color: #fff;
  display: block;
}
.styleguide .mm_ul > li {
  width: 10%;
}
.nav-styleguidehome {
  width:7%;
}
.nav-forms, .nav-mediaqueries, .nav-icons {
    width: 9%;
}
.nav-csscomponents {
    width: 14%;
}
.nav-thegrid, .nav-buttons, .nav-vendamodules, .nav-helpers {
  width: 10%;
}
.nav-typography {
  width: 12%;
}
.mm_ul li.nav-active a, .styleguide .mm_ul li a:hover {
  background-color: #676767;
}

.styleguide .button-group {
  margin-bottom: 1.42857em;
}

/* icons */
.glyph {
    font-size: 16px;
    float: left;
    text-align: center;
    background: #eee;
    padding: .75em;
    margin: .75em 1.5em .75em 0;
    width: 7.5em;
    border-radius: .25em;
    box-shadow: inset 0 0 0 1px #f8f8f8, 0 0 0 1px #CCC;
}
.glyph-large {
    width: 11em;
}
.glyph input {
    font-family: consolas, monospace;
    font-size: 13px;
    width: 100%;
    text-align: center;
    border: 0;
    box-shadow: 0 0 0 1px #ccc;
    padding: .125em;
}
.fs1 {
    font-size: 2em;
}
.box1 {
    font-size: 16px;
    display: inline-block;
    width: 15em;
    padding: .25em .5em;
    background: #eee;
    margin: .5em 1em .5em 0;
}
.box1-alt {
    background: #666;
    color: white;
}

/* off canvas top nav */
[role=navigation]#topMenu {
  -webkit-transition:.25s all ease-in;
  -moz-transition:.25s all ease-in;
  -o-transition:.25s all ease-in;
  transition:.25s all ease-in;
}

[role=navigation]#topMenu ul {
  margin-top:0;
}

.js-offcanvas-menu [role=navigation]#topMenu {
  margin-top:0!important;
}

@media only screen and (max-width:997px) /* up to tablet portrait */
{
  .styleguide .wrapper {
    margin: 0;
  }
  .mm_ul {
    display: block;
    padding: 10px;
  }
  .styleguide .mm_ul > li, .styleguide .mm_ul li a {
    background-color: white;
    color: black;
  }
  .mm_ul > li.nav-active, .mm_ul li.nav-active a {
    background-color: #676767;
    color: black;
  }
  .nav-styleguidehome, .nav-forms, .nav-mediaqueries, .nav-csscomponents, .nav-thegrid, .nav-typography, .nav-buttons, .nav-navigation, .nav-vendamodules, .nav-helpers {
    width: 100%;
  }
  .mm_ul li a {
    padding-left: 12px;
  }
}