<div class="large-10 columns text-center hide-for-small  js-scroll-hide">
    <venda_block label=1139,mode=value,<venda_setting type=ebiz,name=viewpagedisplaysearch>=1>
        <div class="pagn-page-info<venda_block label=1140,mode=value,<venda_setting type=ebiz,name=alwaysshowpagenumsearch>!=1,<venda_pgn_totalpages>=1> pagn-always-show-page-num</venda_block label=1140>"><venda_text id=desktop.info.pagn_page_x_of_y></div>
    </venda_block label=1139>
    <!--venda_block label=1121,mode=value,<venda_setting type=ebiz,name=viewitemsdisplaysearch>=1>
        <p class="pagn-item-info"><venda_text id=desktop.info.pagn_items_x_of_y></p>
    </venda_block label=1121-->
</div>
<div class="large-4 small-12 columns">
    <venda_block label=1120,mode=value,<venda_pgn_isviewall>=1>
        <!-- show paged view -->
        <span class="pagn-show-view-by-page<venda_block label=1136,mode=value,<venda_pgn_totalpages>=1> setMarginPagedView</venda_block label=1136>"><a class="js-updatesearch" href="<venda_pgn_baseurl>&setpagenum=1&perpage=<venda_setting type=ebiz,name=setsearchviewbypagevalue>" title="<venda_text id=desktop.info.pagn_page_go_viewbypage>"><venda_text id=desktop.button.viewbypage></a></span>
    </venda_block label=1120>
    <venda_block label=1119,mode=value,<venda_pgn_isviewall>!=1>
        <venda_block label=20,mode=value,<venda_setting type=ebiz,name=setitemsperpagestylesearch>=itemsperpagedropdownsearch>
            <venda_tpcomment><!-- show perpage dropdown --></venda_tpcomment>
            <div class="js-pagnPerpage">
                <form>
                    <div class="row collapse">
                        <!--ul class="pagn-view-style button-group right js-iconView">
                            <li><a href="<venda_pgn_baseurl>&setpagenum=1&perpage=16" class="page-button js-iconGrid js-viewProduct" id="Grid" title="<venda_text id=desktop.info.search.viewgrid>"><span class="hidescreenreadersafe"><venda_text id=desktop.info.search.viewgrid></span><i class="icon-th-large icon-large"></i></a></li>
                            <li><a href="<venda_pgn_baseurl>&setpagenum=1&perpage=10" class="page-button js-iconList js-viewProduct" id="List" title="<venda_text id=desktop.info.search.viewlist>"><span class="hidescreenreadersafe"><venda_text id=desktop.info.search.viewgrid></span><i class="icon-list icon-large"></i></a></li-->
                            <!--<li><a href="<venda_pgn_baseurl>&setpagenum=1&perpage=32" class="button highlight js-iconImage js-viewProduct" id="Image"><i class="icon-th icon-large"></i></a></li>-->
                        <!--/ul-->
                   </div>
                </form>
            </div>
        </venda_block label=20>
        <venda_block label=21,mode=value,<venda_setting type=ebiz,name=setitemsperpagestylesearch>=itemsperpagelinkssearch>
            <venda_tpcomment><!-- show perpage textlinks --></venda_tpcomment>
            <span class="js-pagnPerpage">
                <ul class="pagn-item-per-page inline-list">
                    <li class="pagn-text-view"><venda_text id=desktop.form.view>:</li>
                    <venda_block label=40,mode=value,<venda_setting type=ebiz,name=setitemsperpage1linkssearch>=notnull><li class="<venda_block label=1137,mode=value,<venda_setting type=ebiz,name=setitemsperpage2linkssearch>=null>pagn-set-last-per-page</venda_block label=1137><venda_block label=1138,mode=value,<venda_setting type=ebiz,name=setitemsperpage2linkssearch>=notnull>setperpage</venda_block label=1138> <venda_block label=91,mode=value,<venda_pgn_perpage>=<venda_setting type=ebiz,name=setitemsperpage1linkssearch>>setperpage_active</venda_block label=91>"><a class="js-updatesearch" href="<venda_pgn_baseurl>&setpagenum=1&perpage=<venda_setitemsperpage1linkssearch>"><venda_setting type=ebiz,name=setitemsperpage1linkssearch></a></li></venda_block label=40>
                    <venda_block label=41,mode=value,<venda_setting type=ebiz,name=setitemsperpage2linkssearch>=notnull><li class="<venda_block label=1137,mode=value,<venda_setting type=ebiz,name=setitemsperpage3linkssearch>=null>pagn-set-last-per-page</venda_block label=1137><venda_block label=1138,mode=value,<venda_setting type=ebiz,name=setitemsperpage3linkssearch>=notnull>setperpage</venda_block label=1138> <venda_block label=92,mode=value,<venda_pgn_perpage>=<venda_setting type=ebiz,name=setitemsperpage2linkssearch>>setperpage_active</venda_block label=92>"><a class="js-updatesearch" href="<venda_pgn_baseurl>&setpagenum=1&perpage=<venda_setting type=ebiz,name=setitemsperpage2linkssearch>"><venda_setting type=ebiz,name=setitemsperpage2linkssearch></a></li></venda_block label=41>
                    <venda_block label=42,mode=value,<venda_setting type=ebiz,name=setitemsperpage3linkssearch>=notnull><li class="<venda_block label=1137,mode=value,<venda_setting type=ebiz,name=setitemsperpage4linkssearch>=null>pagn-set-last-per-page</venda_block label=1137><venda_block label=1138,mode=value,<venda_setting type=ebiz,name=setitemsperpage4linkssearch>=notnull>setperpage</venda_block label=1138> <venda_block label=93,mode=value,<venda_pgn_perpage>=<venda_setting type=ebiz,name=setitemsperpage3linkssearch>>setperpage_active</venda_block label=93>"><a class="js-updatesearch" href="<venda_pgn_baseurl>&setpagenum=1&perpage=<venda_setting type=ebiz,name=setitemsperpage3linkssearch>"><venda_setting type=ebiz,name=setitemsperpage3linkssearch></a></li></venda_block label=42>
                    <venda_block label=43,mode=value,<venda_setting type=ebiz,name=setitemsperpage4linkssearch>=notnull><li class="<venda_block label=1137,mode=value,<venda_setting type=ebiz,name=setitemsperpage5linkssearch>=null>pagn-set-last-per-page</venda_block label=1137><venda_block label=1138,mode=value,<venda_setting type=ebiz,name=setitemsperpage5linkssearch>=notnull>setperpage</venda_block label=1138> <venda_block label=94,mode=value,<venda_pgn_perpage>=<venda_setting type=ebiz,name=setitemsperpage4linkssearch>>setperpage_active</venda_block label=94>"><a class="js-updatesearch" href="<venda_pgn_baseurl>&setpagenum=1&perpage=<venda_setting type=ebiz,name=setitemsperpage4linkssearch>"><venda_setting type=ebiz,name=setitemsperpage4linkssearch></a></li></venda_block label=43>
                    <venda_block label=44,mode=value,<venda_setting type=ebiz,name=setitemsperpage5linkssearch>=notnull><li class="<venda_block label=1137,mode=value,<venda_setting type=ebiz,name=setitemsperpage6linkssearch>=null>pagn-set-last-per-page</venda_block label=1137><venda_block label=1138,mode=value,<venda_setting type=ebiz,name=setitemsperpage6linkssearch>=notnull>setperpage</venda_block label=1138> <venda_block label=95,mode=value,<venda_pgn_perpage>=<venda_setting type=ebiz,name=setitemsperpage5linkssearch>>setperpage_active</venda_block label=95>"><a class="js-updatesearch" href="<venda_pgn_baseurl>&setpagenum=1&perpage=<venda_setting type=ebiz,name=setitemsperpage5linkssearch>"><venda_setting type=ebiz,name=setitemsperpage5linkssearch></a></li></venda_block label=44>
                    <venda_block label=45,mode=value,<venda_setting type=ebiz,name=setitemsperpage6linkssearch>=notnull><li class="pagn-set-last-per-page <venda_block label=96,mode=value,<venda_pgn_perpage>=<venda_setting type=ebiz,name=setitemsperpage6linkssearch>>setperpage_active</venda_block label=96>"><a class="js-updatesearch" href="pgn_baseurl&setpagenum=1&perpage=<venda_setting type=ebiz,name=setitemsperpage6linkssearch>"><venda_setting type=ebiz,name=setitemsperpage6linkssearch></a></li></venda_block label=45>
                </ul>
            </span>
        </venda_block label=21><venda_tpcomment><!-- end itemsperpage style --></venda_tpcomment>
    </venda_block label=1119>
</div>