<p>Don&#8217;t forget you can check the status of your order, change your contact details and view your order history at the <a href="<venda_dispview page=signin>" style="color:#666; text-decoration:underline; font-weight:bold;"><strong>'My Account'</strong></a> page.</p>
<venda_tpcomment>
<!-- <venda_block label=934,ohusgrrf!=ebayguest>
<p style="font-family:Arial, Helvetica, Verdana, sans-serif;font-size:12px;color:#000;"><venda_text id=desktop.info.email_message_1> <a href="<venda_dispview page=myaccount>?utm_source=message&utm_medium=email&utm_campaign=order_emails"><venda_text id=desktop.info.my_account_page></a>.</p>
<p style="font-family:Arial, Helvetica, Verdana, sans-serif;font-size:12px;color:#000;"><venda_text id=desktop.info.email_message_2>  <a href="<venda_dispview pcat=help>?utm_source=message&utm_medium=email&utm_campaign=order_emails"><venda_text id=desktop.info.help_page></a></p>
</venda_block label=934>
-->
</venda_tpcomment>