<script>dataLayer = [];</script>
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=<venda_block label=live,mode=value,<venda_islive>=notnull><venda_ebxtGTMid /></venda_block label=live><venda_block label=notlive,mode=value,<venda_islive>=null>GTM-N7C85J</venda_block label=notlive>"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','<venda_block label=live,mode=value,<venda_islive>=notnull><venda_ebxtGTMid /></venda_block label=live><venda_block label=notlive,mode=value,<venda_islive>=null>GTM-N7C85J</venda_block label=notlive>');</script>
<!-- End Google Tag Manager -->
