<venda_tpcomment>
<!--
This is an example of multiple region canonical & geoTargeting tags
URLs need to be corrected to reflect region setup, and region / language URL setup.
In this case only region URLs are used and the defualt region is uk.
The hreflang="x-default" link tag refers the default region and language
-->
<!-- Start commented tags
<venda_block label=uk,mode=value,<venda_sessionlocation>=uk>
<link rel="canonical" href="<venda_serveradd>/" />
</venda_block label=uk>
<venda_block label=notuk,mode=value,<venda_sessionlocation>!=uk>
<link rel="canonical" href="<venda_serveradd>/<venda_sessionlocation>/page/home" />
</venda_block label=notuk>

<link rel="alternate" href="<venda_serveradd>/" hreflang="x-default" />
<link rel="alternate" href="<venda_serveradd>/uk/page/home" hreflang="en-gb" />
<link rel="alternate" href="<venda_serveradd>/fra/page/home" hreflang="fr" />
<link rel="alternate" href="<venda_serveradd>/deu/page/home" hreflang="de" />
<link rel="alternate" href="<venda_serveradd>/ita/page/home" hreflang="it" />
<link rel="alternate" href="<venda_serveradd>/esp/page/home" hreflang="es" />
<link rel="alternate" href="<venda_serveradd>/irl/page/home" hreflang="en-ie" />
<link rel="alternate" href="<venda_serveradd>/nld/page/home" hreflang="nl" />
<link rel="alternate" href="<venda_serveradd>/usa/page/home" hreflang="en-us" />
<link rel="alternate" href="<venda_serveradd>/can/page/home" hreflang="en-ca" />
End commented tags -->
</venda_tpcomment>