<!-- Use this template to add custom Order receipt tracking tags for a site -->
<venda_inctemplate name=orderDetails,type=tracking/shared>

<img src="https://cc.gbppc.com/ct/673/x.gif?ngcr=<venda_ohtot>&cid=<venda_ohordnum>">
<img src="https://cc.gbppc.com/ct/864/x.gif?ngcr=<venda_ohtot>&cid=<venda_ohordnum>">

<script type="text/javascript">
var ftRandom = Math.random()*1000000;
document.write('<iframe style="position:absolute; visibility:hidden; width:1px; height:1px;" src="https://servedby.flashtalking.com/container/372;7609;892;iframe/?spotName=Order_Confirmation_Page&ftXRef=<venda_ohordnum>&ftXValue=<venda_ohtot>&ftxcurrency=<venda_ohcur>&cachebuster='+ftRandom+'"></iframe>');
</script>


<!-- ESP global script tags START -->
<venda_block label=1,mode=value,<venda_islive>=1>
    <!-- ESP live -->
    <script type="text/javascript" src="<venda_protocol>://esp.locayta.com/zones/8b266746-a5bc-4218-b82f-b683d870caf2.min.js"></script>
    <script type="text/javascript" src="<venda_protocol>://esp.locayta.com/venda.js"></script>
</venda_block label=1>

<venda_block label=2,mode=value,<venda_islive>!=1>
    <!-- ESP UAT -->
    <script type="text/javascript" src="<venda_protocol>://esp-wip.locayta.com/zones/8b266746-a5bc-4218-b82f-b683d870caf2.min.js"></script>
    <script type="text/javascript" src="<venda_protocol>://esp-wip.locayta.com/venda.js"></script>
</venda_block label=2> <!-- ESP global script tags END -->

  <!-- ESP core variables START -->
<input type="hidden" data-esp-category-tree="true" value="shop| <venda_cattree index=1,value=catref>|<venda_cattree index=2,value=catref>| <venda_cattree index=3,value=catref>|<venda_cattree index=4,value=catref>| <venda_cattree index=5,value=catref>" />
<!-- ESP core variables END -->


<!-- ESP purchase tracking START -->
<input type="hidden" data-esp-tracking="purchase-ordernumber" value="<venda_tracking type=order,definition=ordernum,delimiter=hat>" />
<input type="hidden" data-esp-tracking="purchase-ordertotal" value="<venda_tracking type=order,definition=ordertotal,delimiter=hat>" />
<input type="hidden" data-esp-tracking="purchase-skus" value="<venda_tracking type=product,definition=productref,delimiter=hat>" />
<input type="hidden" data-esp-tracking="purchase-quantities" value="<venda_tracking type=product,definition=quantity,delimiter=hat>" />
 <input type="hidden" data-esp-tracking="purchase-lineprices" value="<venda_tracking type=product,definition=totalprice,delimiter=hat>" />
  <!-- ESP purchase tracking END -->