<venda_detblock>
	<venda_block label=1,icatref1!=home>
    <li id="nav<venda_icatref1>" class="nav-<venda_icatref1> nav-category">
        <a href="<venda_dispview icat=<venda_icatref1>>">
            <venda_block label=10,med-navtitle1=notnull><venda_media rec=icat1,type=pict,key=navtitle,border=0></venda_block label=10>
            <venda_block label=111,med-navtitle1=null><span><venda_icatname1></span></venda_block label=111>
        </a>
	</venda_block label=1>
	<venda_block label=2,icatref1=home>
	<li id="navhome" class="nav-home">
        <a href="<venda_dispview page=home>" class="nav-header">
            <venda_block label=12,med-navtitle1=notnull><venda_media rec=icat1,type=pict,key=navtitle,border=0></venda_block label=12>
            <venda_block label=13,med-navtitle1=null><span><venda_icatname1></span></venda_block label=13>
        </a>
	</venda_block label=2>
        <venda_tpcomment><!--venda_category rec=icat,ref=< venda_icatref1>,temp=catnavSubcategories,incattree=1--></venda_tpcomment>
	</li>
</venda_detblock>

<venda_block label=50,cattot!=>
<div id="categoryNavigation" class="box">
    <div class="nav-header"><venda_icatname></div>
    <ul class="box-body">
        <venda_detail>
    </ul>
</div>
</venda_block label=50>