<venda_detblock>
<option value="<venda_abrfnbr>"<venda_selected>>
<venda_block label=1,addressaddrname=notnull> <venda_addressaddrname></venda_block label=1> 
<venda_block label=100,addressaddrname=null>
<venda_block label=13,addresstype=1><venda_text id=desktop.info.billing_address></venda_block label=13> <venda_block label=addresstitle_miss,addresstitle=Miss><venda_text id=desktop.form.title.miss></venda_block label=addresstitle_miss><venda_block label=addresstitle_mrs,addresstitle=Mrs><venda_text id=desktop.form.title.mrs></venda_block label=addresstitle_mrs><venda_block label=addresstitle_mr,addresstitle=Mr><venda_text id=desktop.form.title.mr></venda_block label=addresstitle_mr><venda_block label=addresstitle_ms,addresstitle=Ms><venda_text id=desktop.form.title.ms></venda_block label=addresstitle_ms> <venda_addressfname> <venda_block label=2,addressmname=notnull><venda_addressmname></venda_block label=2> <venda_addresslname> <venda_block label=3,addresscompany=notnull><venda_addresscompany></venda_block label=3> <venda_block label=4,addressnum=notnull><venda_addressnum></venda_block label=4> <venda_addressaddr1> <venda_block label=5,addressaddr2=notnull><venda_addressaddr2></venda_block label=5> <venda_block label=6,addresscity=notnull><venda_addresscity></venda_block label=6> <venda_block label=7,addressstate=notnull><venda_addressstate></venda_block label=7> <venda_block label=8,addresszipc=notnull><venda_addresszipc></venda_block label=8> <venda_addresscntry> <venda_block label=9,addressarea=notnull><venda_addressarea></venda_block label=9> <venda_block label=10,addressphone=notnull><venda_addressphone></venda_block label=10> <venda_block label=11,addressfarea=notnull><venda_addressfarea></venda_block label=11> <venda_block label=12,addressfax=notnull><venda_addressfax></venda_block label=12></venda_block label=100></option>
</venda_detblock>
<venda_detail>

