<venda_detblock>
    <li id="nav<venda_icatref1>" class="nav-<venda_icatref1>">
        <a href="<venda_dispview icat=<venda_icatref1>>" id="mm_sub<venda_icatref1>" class="mm-sub<venda_icatref1>"><venda_icatname1></a>
        <venda_category rec=icat,ref=<venda_icatref1>,temp=catnavSubcategories2,incattree=1>
    </li>
</venda_detblock>

<venda_block label=51,cattot!=>
<ul class="mm_topCategoriesUlSimple">
    <venda_detail>
</ul>
</venda_block label=51>