<venda_tpcomment><!-- Venda tags used for JS e.g. Venda/Widget/Tracking.js --></venda_tpcomment>
<div id="tag-usrfnbr" style="display:none;"><venda_usrfnbr></div>
<div id="tag-ustype" style="display:none;"><venda_ustype></div>
<div id="tag-usgrref" style="display:none;"><venda_usgrref></div>
<div id="tag-sessionlocation" style="display:none;"><venda_sessionlocation></div>
<div id="tag-sessionlanguage" style="display:none;"><venda_sessionlanguage></div>
<div id="tag-serveradd" style="display:none;"><venda_serveradd></div>
<div id="tag-codehttp" style="display:none;"><venda_block label=protocolsecure,<venda_protocol>=https,mode=value><venda_codehttps></venda_block label=protocolsecure><venda_block label=protocolnotsecure,<venda_protocol>=http,mode=value><venda_codehttp></venda_block label=protocolnotsecure></div>
