<div id="pcilogo">
<a href="http://www.venda.com/pci-compliance-certificate?referer=http://www.tkmaxx.com" class="js-windowOpen" rel="console,590,660" target="_blank" title="<venda_text id=desktop.info.pcilogo_title>">
<img src="<venda_supportdir>/images/pcilogo/en_pcilogo_light.png" alt="<venda_text id=desktop.info.pcilogo>" height="28" width="88" /></a>
</div>
<venda_tpcomment>
<!--  PCI COLOUR STYLE (OPTIONS: LIGHT, LIGHTGREY, DARK, DARKGREY, DARKWHITE)
The image available:
en_pcilogo_dark.png
en_pcilogo_darkgrey.png
en_pcilogo_darkwhite.png
en_pcilogo_light.png
en_pcilogo_lightgrey.png
--></venda_tpcomment>
