<venda_block label=12,paymentused=notnull>
<table summary="<venda_text id=desktop.info.payment_info_summary>" title="<venda_text id=desktop.info.payment_info_title>" class="small-24 text-left table-checkout table-summary">
<tr>
	<td scope="row"><div><venda_block label=215,sortcode=null><venda_text id=desktop.form.card_number></venda_block label=215><venda_block label=216,sortcode=notnull><venda_text id=desktop.info.account_number>:</venda_block label=216></div></td>
	<td class="text-right"><div><venda_ohccnum></div></td>
</tr>
<tr>
	<td scope="row"><div><venda_text id=desktop.info.card_name></div></td>
	<td class="text-right"><div><venda_ohccname></div></td>
</tr>
<venda_block label=212,expires=notnull>
<tr>
	<td scope="row"><div><venda_text id=desktop.info.expiry_date></div></td>
	<td class="text-right"><div><venda_expires></div></td>
</tr>
</venda_block label=212>
<venda_block label=213,sortcode=notnull>
<tr>
	<td scope="row"><div><venda_text id=desktop.info.sort_code></div></td>
	<td class="text-right"><div><venda_sortcode></div></td>
</tr>
</venda_block label=213>
<venda_block label=211,ohccissue=notnull>
<tr>
	<td scope="row"><div><venda_text id=desktop.info.card_issue></div></td>
	<td class="text-right"><div><venda_ohccissue></div></td>
</tr>
</venda_block label=211>
</table>
</venda_block label=12>
