<venda_block label=notprivatesale,icatcatref0!=privatesale>
    <h1 class="search-header search-cat-name"><span><venda_icatname></span></h1>
    <venda_block label=catdesc,icatsdesc=notnull><div class="expandable"><p class="search-cat-icatsdesc hide-for-small"><venda_icatsdesc></p></div></venda_block label=catdesc>
    <venda_block label=relatedcat,icatldesc=notnull><div class="search-cat-icatldesc hide-for-small"><venda_icatldesc></div></venda_block label=relatedcat>
</venda_block label=notprivatesale>

<venda_block label=privatesale,icatcatref0=privatesale>
    <venda_page page=plflasheventspromobanner>
    <venda_tpcomment><!-- set page to 'no index' used in metag.html --></venda_tpcomment>
    <venda_tpxt mode=set,name=privatesaletrigger,value=privatesale>
</venda_block label=privatesale>

<!--venda_block label=332,med-bannersearch=notnull>
	<venda_media rec=icat,type=pict,key=bannersearch,alt=<venda_text id=desktop.info.category_banner_alt>>
</venda_block label=332-->