<!--Begin Avail-->
<script type="text/javascript" src="//service.avail.net/2009-02-13/dynamic/8f467ace-c12d-11e1-ac38-12313c0b887f/emark.js"></script>
<script type="text/javascript">
var availProds = vbmParentTrack.substring(0, vbmParentTrack.length-1);
var availPrices = vbmParentPrices.substring(0, vbmParentPrices.length-1);
Venda.Widget.VBM.logPurchase(availProds,availPrices)				
</script>
<!--End Avail-->