 <table class="emails-table-header-menu" border="0" cellpadding="0" align="center" height="42" cellspacing="0" style="height:42 !important;background:#fff; margin: 0 auto !important;padding:0 !important;width:100%;">
        <tr style="background:#ECECEC;">
                <td class="nor-col" align="left" style="font-family:Arial, Helvetica, Verdana, sans-serif; text-align: left !important;padding:0 0px 0 30px;">
                    <a href="<venda_ebizurl>?utm_source=logo&utm_medium=email&utm_campaign=order_emails" ><img src="<venda_serveradd>/content/ebiz/tkmaxx/resources/images/logo.png" alt="TK Maxx" border="0"></a>
                </td>
                <td class="menu-myacc" style="text-align: right !important;">
                    <a border="0" style="text-decoration: none;font-size:15px;font-weight:bold;color:#444444;" href="<venda_dispview page=myaccount>?utm_source=message&utm_medium=email&utm_campaign=order_emails">My Account</a>
                </td>
                <td  class="menu-help" width="13%" align="right" style="text-align: right !important;padding:0 30px 0 0;">
                    <a border="0" style="text-decoration: none;font-size:15px;font-weight:bold;color:#444444;" href="<venda_serveradd>/pcat/help?utm_source=message&utm_medium=email&utm_campaign=order_emails">Help</a>
                </td>
            </tr>
        </table>
        <table  class="emails-table-header-menu-in" align="center" height="42" style="border-bottom:1px solid #E6E6E6 !important;height:42px !important;width:100%;">
            <tr>
                <td  class="first-menu" height="42" style="width:12%;height:42px !important;text-align:left !important;padding-left:30px;"><a style="text-decoration: none;font-size:12px;font-weight:bold;color:#444444;" border="0"href="<venda_serveradd>/new-in/icat/001">New In</a></td>
                <td height="42" style="width:7%;text-align:center !important;height:42px !important;"><a border="0" style="text-decoration: none;font-size:12px;font-weight:bold;color:#444444;" href="<venda_serveradd>/women/icat/1">Women</a></td>
                <td height="42" style="width:10%;text-align:center !important;height:42px !important;"><a border="0" style="text-decoration: none;font-size:12px;font-weight:bold;color:#444444;" href="<venda_serveradd>/men/icat/21">Men</a></td>
                <td height="42" style="width:12%;text-align:center !important;height:42px !important;"><a border="0" style="text-decoration: none;font-size:12px;font-weight:bold;color:#444444;" href="<venda_serveradd>/kids-clothes/icat/63">Kids</a></td>
                <td height="42" style="width:10%;text-align:center !important;height:42px !important;"><a border="0" style="text-decoration: none;font-size:12px;font-weight:bold;color:#444444;" href="<venda_serveradd>/home/icat/42">Home</a></td>
                <td height="42" style="width:12%;text-align:center !important;height:42px !important;"><a border="0" style="text-decoration: none;font-size:12px;font-weight:bold;color:#444444;" href="<venda_serveradd>/icat/privatesale">Flash Events</a></td>
                <td height="42" style="width:15%;text-align:right !important;height:42px !important;padding:0 30px 0 0 !important;"><a border="0" style="text-decoration: none;font-size:12px;font-weight:bold;color:#444444;" href="<venda_serveradd>/clearance/icat/99">Clearance</a></td>
            </tr>
        </table>