<div id="ordersummary" class="<venda_workflow> <venda_curstep>">
    <div>
    	<div class="main-header marg-bottom">
        	<h1 class="nomarg"><venda_text id=desktop.heading.order_summary></h1>
    	</div>
        <venda_block label=1,errors=notnull><h2 class="alert-box alert radius" data-alert=""><venda_errors></h2></venda_block label=1>

        <venda_tpcomment><!-- *** start: Delivery Packages (detblock1) *** --></venda_tpcomment>
        <venda_detblock1>
        <div class="row js-productItem js-pkindex-<venda_pkindex>">
           	<div class="large-12 columns box-right">
                <venda_block label=471,pkshipreq!=1>
                <div class="panel">
                <p class="js-giftcertText"><venda_text id=desktop.info.order_details_services_and_gift_certificates></p>
                <p class="js-downloadText" style="display:none"><venda_text id=desktop.info.digital_product></p>
                </div>
                </venda_block label=471>

                <venda_block label=47,pkshipreq=1>
            	<venda_tpcomment><!-- *** Start: Shipping Address *** --></venda_tpcomment>
            	<div class="box box-checkout shipping-address">
				    <venda_block label=330,mode=value,<venda_pkcompany>!=c/o <venda_setting type=ebiz,name=name>><venda_tpcomment><!-- Not Deliver to Store --></venda_tpcomment>
					<div class="box-header">
						<h4><venda_text id=desktop.heading.delivery_address></h4>
					</div>
				    </venda_block label=330>
				    <venda_block label=331,mode=value,<venda_pkcompany>=c/o <venda_setting type=ebiz,name=name>>
					<venda_tpcomment><!-- Deliver to Store --></venda_tpcomment>
					<div class="box-header">
						<h4><venda_text id=desktop.heading.deliver_to_store></h4>
					</div>
				    </venda_block label=331>

                    <div class="box-body">
                        <div class="vcard js-column js-ehbox">
                        	<span class="fn"><venda_block pktitle=notnull><venda_block label=pktitle_miss,pktitle=Miss><venda_text id=desktop.form.title.miss></venda_block label=pktitle_miss><venda_block label=pktitle_mrs,pktitle=Mrs><venda_text id=desktop.form.title.mrs></venda_block label=pktitle_mrs><venda_block label=pktitle_mr,pktitle=Mr><venda_text id=desktop.form.title.mr></venda_block label=pktitle_mr><venda_block label=pktitle_ms,pktitle=Ms><venda_text id=desktop.form.title.ms></venda_block label=pktitle_ms> </venda_block><venda_pkfname> <venda_pklname></span><br>
                        	<venda_block pkcompany=notnull><span class="org"><venda_pkcompany></span><br></venda_block>

	                        <span class="adr">
		                        <span class="street-address"><venda_block pknum=notnull><venda_pknum> </venda_block><venda_block pkaddr1=notnull><venda_pkaddr1><br></venda_block>
		                        <venda_block pkaddr2=notnull><venda_pkaddr2><br></venda_block></span>

		                        <venda_tpcomment><!-- if country is US or US entities display this formatting --></venda_tpcomment>
		                        <venda_block label=usaddress,mode=value,<venda_pkcntry>=United States,<venda_pkcntry>=United States Non-48,<venda_pkcntry>=United States Armed Forces,operator=or>
		                            <venda_block pkcity=notnull><span class="locality"><venda_pkcity></span>, </venda_block>
		                            <venda_block pkstate=notnull><span class="region"><venda_pkstate></span></venda_block><span class="postal-code"><venda_pkzipc></span><br>
		                        </venda_block label=usaddress>

		                        <venda_tpcomment><!-- if country is NOT US or US entities display this formatting --></venda_tpcomment>
		                        <venda_block label=notusaddress,mode=value,<venda_pkcntry>!=United States,<venda_pkcntry>!=United States Non-48,<venda_pkcntry>!=United States Armed Forces,operator=and>
		                            <venda_block pkcity=notnull><span class="locality"><venda_pkcity></span><br></venda_block>
		                            <venda_block pkstate=notnull><span class="region"><venda_pkstate></span> </venda_block><span class="postal-code"><venda_pkzipc></span><venda_block pkstate=notnull,pkzipc=notnull,operator=or><br></venda_block>
		                        </venda_block label=notusaddress>

		                        <venda_block pkcntry=notnull><span class="country-name"><venda_pkcntry></span><br></venda_block>
		                    </span>
				            <venda_block pkphone=notnull,operator=or><span class="tel"><venda_pkphone></span></venda_block>
                    	</div>

                        <venda_tpcomment><!-- Fully registered user - address book --></venda_tpcomment>
                        <venda_block label=register,mode=value,<venda_glxt mode=get,name=glxtusertype>!=p>
						<a href="<venda_wizurl step=addressbook,param2=adbook>&curstep=ordersummary" class="small button marg-top js-dta secondary">
    						<venda_block label=homeaddress,mode=value,<venda_pkcompany>!=c/o <venda_setting type=ebiz,name=name>><venda_text id=desktop.button.change_address></venda_block label=homeaddress>
    						<venda_block label=storeaddress,mode=value,<venda_pkcompany>=c/o <venda_setting type=ebiz,name=name>><venda_text id=desktop.button.deliver_to_address></venda_block label=storeaddress>
						</a>
                        </venda_block label=register>

                        <venda_block label=notregister,mode=value,<venda_glxt mode=get,name=glxtusertype>=p>
    					<a href="<venda_wizurl step=deliveryaddressedit>&param1=copybillto" class="small button marg-top js-dta secondary">
        					<venda_block label=homeaddress,mode=value,<venda_pkcompany>!=c/o <venda_setting type=ebiz,name=name>><venda_text id=desktop.button.change_address></venda_block label=homeaddress>
        					<venda_block label=storeaddress,mode=value,<venda_pkcompany>=c/o <venda_setting type=ebiz,name=name>><venda_text id=desktop.button.deliver_to_address></venda_block label=storeaddress>
    					</a>
                        </venda_block label=notregister>

                        <venda_block label=dtsLink,mode=value,<venda_setting type=ebiz,name=delivertostore>=1>
    					<venda_block label=register,mode=value,<venda_glxt mode=get,name=glxtusertype>!=p>     <a href='<venda_wizurl step=delivertostore>&param1=delivery&param2=storeadd' class="small button marg-top js-dts secondary">
    					<venda_block label=homeaddress,mode=value,<venda_pkcompany>!=c/o <venda_setting type=ebiz,name=name>><venda_text id=desktop.button.deliver_to_store></venda_block label=homeaddress>
    					<venda_block label=storeaddress,mode=value,<venda_pkcompany>=c/o <venda_setting type=ebiz,name=name>><venda_text id=desktop.button.change_address></venda_block label=storeaddress></a>
    					</venda_block label=register>

    					<venda_block label=notregister,mode=value,<venda_glxt mode=get,name=glxtusertype>=p>
    					<a href='<venda_wizurl step=delivertostore>&param1=delivery&param2=storeadd' class="small button marg-top js-dts secondary"><venda_text id=desktop.button.deliver_to_store></a>
    					</venda_block label=notregister>
                        </venda_block label=dtsLink>

                        <venda_block label=storeDeliveryAddress,mode=value,<venda_pksmref0>=storefree>
                        <div class="vcard js-column js-ehbox-storeaddress" style="display:none;"></div>
                        </venda_block label=storeDeliveryAddress>
                    </div>
            	</div>
            	<venda_tpcomment><!-- *** End: Shipping Address *** --></venda_tpcomment>
	        	</venda_block label=47>
        		</div>
                <venda_tpcomment><!-- Start: Billing Address --></venda_tpcomment>
                <venda_tpcomment><!-- Remove the contact details box if the payment type is PayPal --></venda_tpcomment>
                <venda_block label=notpaypal,ohpaytype!=12>
                    <div class="large-12 columns box-left">
                        <div class="box box-checkout js-billingaddress">
                            <div class="box-header">
                            	<h4><venda_text id=desktop.heading.billing_address></h4>
                            </div>
                            <div class="box-body">
                                <venda_tpcomment><!-- Remove the contact details box if the payment type is PayPal (ohpaytype=12) --></venda_tpcomment>
                                <div class="vcard js-column">
	                                <span class="fn"><venda_block label=ohtitle_miss,mode=value,<venda_ohtitle>=Miss><venda_text id=desktop.form.title.miss></venda_block label=ohtitle_miss><venda_block label=ohtitle_mrs,mode=value,<venda_ohtitle>=Mrs><venda_text id=desktop.form.title.mrs></venda_block label=ohtitle_mrs><venda_block label=ohtitle_mr,mode=value,<venda_ohtitle>=Mr><venda_text id=desktop.form.title.mr></venda_block label=ohtitle_mr><venda_block label=ohtitle_ms,mode=value,<venda_ohtitle>=Ms><venda_text id=desktop.form.title.ms></venda_block label=ohtitle_ms> <venda_ohfname><venda_block ohmname=notnull> <venda_ohmname></venda_block> <venda_ohlname></span><br>
	                                <venda_block mode=value,<venda_ohcompany>=notnull><span class="org"><venda_ohcompany></span><br></venda_block>
	                                <span class="adr">
	                                	<span class="street-address"><venda_block mode=value,<venda_ohnum>=notnull><venda_ohnum> </venda_block><venda_ohaddr1><br>
		                                <venda_block mode=value,<venda_ohaddr2>=notnull><venda_ohaddr2><br></venda_block></span>

		                                <!-- if country is US or US entities display this formatting -->
		                                <venda_block label=usaddress,mode=value,<venda_ohcntry>=United States,<venda_ohcntry>=United States Non-48,<venda_ohcntry>=United States Armed Forces,operator=or>
		                                <span class="locality"><venda_ohcity></span>, <venda_block ohstate=notnull><span class="region"><venda_ohstate></span></venda_block> <span class="postal-code"><venda_ohzipc></span><br>
		                                </venda_block label=usaddress>

		                                <!-- if country is NOT US or US entities display this formatting -->
		                                <venda_block label=notusaddress,mode=value,<venda_ohcntry>!=United States,<venda_ohcntry>!=United States Non-48,<venda_ohcntry>!=United States Armed Forces,operator=and>
		                                <span class="locality"><venda_ohcity></span><br>
		                                <venda_block mode=value,<venda_ohstate>=notnull><span class="region"><venda_ohstate></span></venda_block> <span class="postal-code"><venda_ohzipc></span><venda_block mode=value,<venda_ohstate>=notnull,<venda_ohzipc>=notnull,operator=or><br></venda_block>
		                                </venda_block label=notusaddress>

		                                <span class="country-name"><venda_ohcntry></span>
		                            </span>
	                                <br>
	                                <span class="email"><venda_usemail></span>
	                                <br>
	                                <venda_block ohphone=notnull><span class="tel"><venda_ohphone></span></venda_block>
                                </div>
                                <a href="<venda_wizurl step=billingaddressedit,param1=show,param2=edit,mode=process>&trrfnbr=<venda_trrfnbr>" class="small button marg-top secondary large-6"><venda_text id=desktop.button.edit></a>
                            </div>
                        </div>
                    </div>
                </venda_block label=notpaypal>
                <venda_tpcomment><!-- End: Billing Address --></venda_tpcomment>
        	</div><!--end row -->

	<div><venda_tpcomment><!-- Start: Shipping Options --></venda_tpcomment>
	<venda_block label=470,pkshipreq=1>


                <venda_tpcomment><!-- Shipping Options - values loop --></venda_tpcomment>
                <venda_detblock3>
        		<li class="order-summary-<venda_shipmethod> thickmarg-bottom">
        			<div><label for="<venda_shipmethod>_<venda_pkrfnbr>"><input type="radio" name="shipmethod_<venda_pkrfnbr>" data-trackEvent="Shipping Option" value="<venda_shipmethod>" id="<venda_shipmethod>_<venda_pkrfnbr>" class="<venda_shipmethod> left" <venda_block shipcheck=1>checked</venda_block>><div><span></span></div><p class="shipping-options"><venda_shipname></p><p class="shipping-options-desc"><venda_page page=<venda_shipmethod>></p></label>
        			</div>
        		</li>
                </venda_detblock3>

                <div class="box box-checkout">

                    <div class="box-header">
                    	<h4><venda_text id=desktop.heading.delivery_options></h4>
                    </div>
                    <form method="post" name="<venda_curstep>form-changerate" action="<venda_codehttps>" id="form-changerate<venda_pkrfnbr>">
                    <venda_tpcomment><!-- Core parameters --></venda_tpcomment>
                    <input type="hidden" name="ex" value="co_wizr-<venda_workflow>" />
                    <input type="hidden" name="workflowid" value="<venda_workflowid>" />
                    <input type="hidden" name="curstep" value="<venda_curstep>" />
                    <input type="hidden" name="trrfnbr" value="<venda_userinfo><venda_sesid></venda_userinfo>" />
                    <input type="hidden" name="mode" value="" />
                    <venda_block errors=null><input type="hidden" name="curlayout" value="checkout" /></venda_block>
                    <venda_tpcomment><!-- Specific to this step --></venda_tpcomment>
                    <input type="hidden" name="step" value="ordersummary" />
                    <input type="hidden" name="exgroup" value="all" />
                    <input type="hidden" name="param1" value="<venda_pkrfnbr>" /> <venda_tpcomment><!-- allows change of delivery option --></venda_tpcomment>
                    <input type="hidden" name="param2" value="changerate" /> <venda_tpcomment><!-- allows change of delivery option --></venda_tpcomment>
                    <div class="box-body js-deliveryoptions<venda_block mode=value,<venda_pkcompany>!=c/o <venda_setting type=ebiz,name=name>> js-homeaddress</venda_block><venda_block mode=value,<venda_pkcompany>=c/o <venda_setting type=ebiz,name=name>> js-storeaddress</venda_block>">
                    <ul><venda_detail3></ul>

                    </form>

                    <!-- <input type="hidden" name="dummy" id="dummy" value="1"> -->

                    <!-- Start: Store Collect -->

                    <venda_block label=storedelivery,mode=value,<venda_pksmref0>=storefree>
                    <form name="storeInfo" action="#" onsubmit="return false;">
                        <div class="js-custom">
                            <div class="row storecollect">
                                <venda_tpcomment><!-- Store Dropdown --></venda_tpcomment>
                                <div class="large-6 columns"><venda_category temp=storecollectSelection,ref=storecollect,rec=scat></div>
                                <div class="large-18 columns"> </div>
                            </div>


                            <div class="row storecollectdetail">
                                <venda_tpcomment><!-- Store Details --></venda_tpcomment>
                                <div class="storeCollectList large-9 small-24 columns"><venda_category temp=storecollectDetail,ref=storecollect,rec=scat></div>

                                <venda_tpcomment><!-- Store Form --></venda_tpcomment>
                                <div class="storeInfo large-14 small-24 columns end" style="display:none;">
                                    <div class="row">
                                        <div class="large-6 small-24 columns"></div>
                                        <div class="large-18 small-24 columns"><p class="textphone"><venda_text id=site.ordersummary.phonetext></p></div>
                                    </div>
                                    <div class="row">
                                        <div class="large-6 small-24 columns">
                                            <label for="title"><venda_text id=desktop.form.title></label>
                                        </div>
                                        <div class="large-16 small-24 columns">
                                            <select name="orxorxtcustitle" id="title" class='form-select'>
                                                <option value="Mr"><venda_text id=desktop.form.title.mr></option>
                                                <option value="Mrs"><venda_text id=desktop.form.title.mrs></option>
                                                <option value="Miss"><venda_text id=desktop.form.title.miss></option>
                                                <option value="Ms"><venda_text id=desktop.form.title.ms></option>
                                            </select>
                                        </div>
                                        <div class="large-2 small-24 columns"></div>
                                    </div>
                                    <div class="row">
                                        <div class="large-6 small-24 columns">
                                            <label for="fname"><venda_text id=desktop.form.fname> <i class="required"></i></label>
                                        </div>
                                        <div class="large-16 small-24 columns">
                                            <input type="text" id="orxorxtcusfname" name="orxorxtcusfname" value="" class="form-input" placeholder="<venda_text id=desktop.form.fname> <venda_text id=desktop.form.required>" required="required" autofocus="autofocus" />
                                        </div>
                                        <div class="large-2 small-24 columns"></div>
                                    </div>
                                    <div class="row">
                                        <div class="large-6 small-24 columns">
                                            <label for="lname"><venda_text id=desktop.form.lname> <i class="required"></i></label>
                                        </div>
                                        <div class="large-16 small-24 columns">
                                            <input type="text" id="orxorxtcuslname" name="orxorxtcuslname" value="" class="form-input" placeholder="<venda_text id=desktop.form.lname> <venda_text id=desktop.form.required>" required="required" />
                                        </div>
                                        <div class="large-2 small-24 columns"></div>
                                    </div>
                                    <div class="row">
                                        <div class="large-6 small-24 columns">
                                            <label for="phone"><venda_text id=desktop.form.phone> <i class="required"></i></label>
                                        </div>
                                        <div class="large-16 small-24 columns">
                                            <input type="tel" id="orxorxtcusphone" name="orxorxtcusphone" value="" class="form-input" placeholder="<venda_text id=desktop.form.phone> <venda_text id=desktop.form.required>" required="required" />
                                        </div>
                                        <div class="large-2 small-24 columns"></div>
                                    </div>
                                </div>
                                <input type="submit" value="Validate Store Info" style="display:none !important">
                            </div>
                        </div>
                    </form>
                    </venda_block label=storedelivery>
                    <!-- End: Store Collect -->

                    <a title="<venda_text id=desktop.info.more_info_title>" target="_blank" class="marg-top js-doDialog" href="<venda_dispview page=deliveryinfo>" data-size="medium"><venda_text id=desktop.button.more_info_delivery></a>
                </div>
                <venda_tpcomment><!-- Delivery options - JS disabled form submit --></venda_tpcomment>
                <noscript><input type="submit"  value="Update"></noscript>
             </div>

        	</div></venda_block label=470><venda_tpcomment><!-- End: Shipping Options --></venda_tpcomment>


	<div class="box box-checkout <venda_block pkshipreq!=1> order-noship</venda_block>">
            <div class="box-header">
            	<h4><venda_text id=desktop.info.item_your_order></h4>
            </div>
            <div class="box-body">
            <table cellpadding="0" cellspacing="0" summary="<venda_text id=desktop.info.items_table_summary>" title="<venda_text id=desktop.info.items_table_title>" class="small-24 table-checkout text-left">
	<thead>
		<tr>
			<th scope="col" class="pad-topbottom show-for-small" colspan="2">
        <span><venda_text id=desktop.info.item_description></span>
      </th>
      <th scope="col" class="pad-topbottom hide-for-small">
				<span><venda_text id=desktop.info.item_description></span>
			</th>
			<th scope="col" class="nopad hide-for-small">
				<div class="row nomarg">
					<div class="large-7 columns th-prod-name hide-for-small"><span>name</span></div>
					<div class="large-6 columns hide-for-small text-right nopad js-rrp"><span><venda_text id=desktop.info.price_msrp></span></div>
					<div class="large-6 columns hide-for-small text-right"><span><venda_text id=desktop.info.price_each></span></div>
					<div class="large-5 columns hide-for-small text-center"><span><venda_text id=desktop.info.qty></span></div>
				</div>
			</th>
			<th scope="col" class="text-right nopad" width="85">
				<span><venda_text id=desktop.info.total_price></span>
			</th>

		</tr>
	</thead>
                <tbody>

                <venda_tpcomment><!-- start: Product Information (detblock2) --></venda_tpcomment>
                <venda_detblock2>
                <tr class="prod<venda_block label=433,invtivtype=download> js-downloadProduct</venda_block label=433>">
		<venda_tpcomment><!-- normal product image --></venda_tpcomment>
                        <venda_block label=21,med-setsmall=notnull>
                            <venda_block label=22,mode=value,<venda_media rec=invt,type=pict,key=setsmall,img=no,medatr=yes>=notnull>
                                <venda_tpcomment><!--if 'set' prefix with att association value--></venda_tpcomment>
                                <td class="prod-image"><venda_media rec=invt,type=pict,key=setsmall,medatr=yes></td>
                            </venda_block label=22>
                            <venda_block label=23,mode=value,<venda_media rec=invt,type=pict,key=setsmall,img=no,medatr=yes>=null>
                                <venda_block label=231,med-small=notnull>
                                    <venda_tpcomment><!--use key=small--></venda_tpcomment>
                                <td class="prod-image"> <venda_media rec=invt,type=pict,key=small></td>
                                </venda_block label=231>
                                <venda_block label=232,med-small=null>
                                    <venda_tpcomment><!--use noimage graphic if 'small' is null--></venda_tpcomment>
                                    <td class="prod-image"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/no_image_small.gif" alt="<venda_text id=desktop.info.no_product_image>"></td>
                                </venda_block label=232>
                            </venda_block label=23>
                        </venda_block label=21>
		<venda_block label=24,med-setsmall=null>
			<venda_tpcomment><!--if not 'set' prefix - no alt. images functionality--></venda_tpcomment>
			<venda_block label=25,med-small=notnull>
				<venda_tpcomment><!--use key=small--></venda_tpcomment>
				<td class="prod-image"><venda_media rec=invt,type=pict,key=small></td>
			</venda_block label=25>
			<venda_block label=26,med-small=null>
				<venda_tpcomment><!--use noimage graphic if 'small' is null--></venda_tpcomment>
				<td class="prod-image"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/no_image_small.gif" alt="<venda_text id=desktop.info.no_product_image>"></td>
			</venda_block label=26>
		</venda_block label=24>

	       <td class="prod-details text-left">
	        <div class="row nomarg">

	            <div class="large-7 columns nopad">
	                <h2 class="prod-name"><venda_oiivname></h2>

	                <p class="prod-sku"><small><venda_text id=desktop.info.sku>: <venda_invtref></small></p>
	                <venda_block label=115,oiitype=3>
	                <p>
	                    <venda_text id=desktop.info.giftcert_sent_to>
	                    <venda_block label=880,gcexpires=notnull><br>
	                    <venda_text id=desktop.info.expiry_date>: <venda_block label=88,mode=value,<venda_setting type=ebiz,name=mmdddates>!=1><venda_dateformat type=digit,format=dd/mm/yy,suffix=0,date=<venda_gcexpires>></venda_block label=88><venda_block label=89,mode=value,<venda_setting type=ebiz,name=mmdddates>=1><venda_dateformat type=digit,format=mm/dd/yyyy,suffix=0,date=<venda_gcexpires>></venda_block label=89>
	                    </venda_block label=880>

	                <br>
	                    <venda_text id=desktop.info.message>: <venda_oicmt>
	                    <!-- <br>From: <strong><venda_gcfrom></strong> -->
	                </p>
	                </venda_block label=115>
	            <venda_block label=52,oiitype!=3>
	                <venda_block label=111,invtatt1=notnull,invtatt2=notnull,invtatt2=notnull,invtatt4=notnull,operator=or>
	                <div class="prod-options marg-bottom">
	                        <venda_block label=456,invtatt1=notnull><div><venda_invtatrlbl1>: <venda_invtatt1></div></venda_block label=456>
	                        <venda_block label=457,invtatt2=notnull><div><venda_invtatrlbl2>: <venda_invtatt2></div></venda_block label=457>
	                        <venda_block label=458,invtatt3=notnull><div><venda_invtatrlbl3>: <venda_invtatt3></div></venda_block label=458>
	                        <venda_block label=459,invtatt4=notnull><div><venda_invtatrlbl4>: <venda_invtatt4></div></venda_block label=459>
	                </div>
	                </venda_block label=111>
	                <venda_extflds exfldtype=orderitem,group=1,template=oixtDisplay,type=exfields/orderItem,ref=<venda_invtref>,displayonly=1><venda_extflds exfldtype=orderitem,group=2,template=oixtDisplay,type=exfields/orderItem,ref=<venda_invtref>,displayonly=1>

	                <venda_block label=221,oigwrefqty=notnull>
	                    <div class="left">
	                        <venda_tpcomment><!-- Start: Gift wrapping --></venda_tpcomment>
	                        <hr />
	                        <p>
	                            <venda_block label=42,oiqty!=1><venda_text id=desktop.info.giftwrapping_items_wrapped> </venda_block label=42>
	                            <venda_block label=43,oiqty=1><venda_text id=desktop.info.giftwrapping_items_wrapped> </venda_block label=43>
	                        </p>
	                        <p><venda_inventory ref=<venda_oigwref>,temp=productName></p>
	                        <venda_block label=456,oicmtmsgqty=notnull>
	                            <span><venda_text id=desktop.info.message>:</span> <span><venda_oicmt></span>
	                        </venda_block label=456>
	                        <venda_tpcomment><!-- End: Gift wrapping --></venda_tpcomment>
	                    </div>
	                </venda_block label=221>
	                <venda_block label=225,invtpreorder=notnull>
	                    <div class="pad-top">
	                        <p><venda_text id=desktop.info.att_preorder> <venda_block label=88,mode=value,<venda_setting type=ebiz,name=mmdddates>!=1><venda_invtreleasedy>/<venda_invtreleasemn>/<venda_invtreleaseyr></venda_block label=88><venda_block label=89,mode=value,<venda_setting type=ebiz,name=mmdddates>=1><venda_invtreleasemn>/<venda_invtreleasedy>/<venda_invtreleaseyr></venda_block label=89></p>
	                    </div>
	                </venda_block label=225>
	            <venda_tpxt mode=set,name=normalproduct,value=1>
	            </venda_block label=52>
	            </div>



	            <div class="large-6 columns js-prod-rrp nopad">
	                <venda_block label=174,mode=value,<venda_invtmsrp>=notnull,<venda_invtmsrp>!=<venda_invtsell>> <span class="product-pricewas"><venda_currsym><venda_invtmsrp1></span>
	                <br><span class="js-product-pricesaving save" data-currsym="<venda_currsym>" data-rrp="<venda_invtmsrp>" data-price="<venda_invtsavingonmsrp>" data-percent="<venda_invtsavingonmsrppercent>">Save <venda_currsym><venda_invtsavingonmsrp> (<venda_invtsavingonmsrppercent>%)</span></venda_block label=174>
	                <venda_block label=175,mode=value,<venda_invtmsrp>=null,<venda_invtmsrp>=<venda_invtsell>,operator=or>&nbsp;</venda_block label=175>
	            </div>

	            <div class="large-6 columns hide-for-small text-right"><span><venda_ohcursym><venda_oisub></span></div>

	            <div class="large-5 columns prod-quantity nopad">
	                <span class="show-for-small marg-top"><venda_text id=desktop.info.small.qty>: <venda_oiqty></span>
	                <span class="hide-for-small"><venda_oiqty></span>
	            </div>
	            <div class="js-product-type" style="display:none;"><venda_invtivtype></div>
	            </div>
	        </td>

	        <td class="prod-total text-right">
	                <venda_ohcursym><venda_oiextsub>
	        </td>
                	</tr>
                </venda_detblock2>
                <venda_tpcomment><!-- End: detblock2 - Product Information --></venda_tpcomment>

                <venda_detail2>
                </tbody>
                </table>
            </div>
        	</div>
        </venda_detblock1>
        <venda_tpcomment><!-- End: Delivery Packages (detblock1) --></venda_tpcomment>

        <venda_detail1>

        <venda_block label=52,mode=value,<venda_tpxt mode=get,name=normalproduct>=notnull>
		<div class="row">
			<div class="large-11 columns">
				<venda_block label=16,mode=value,<venda_giftwrapavail>&gt;0,<venda_setting type=ebiz,name=giftmessageonly>=1,operator=or>
					<a class="button secondary expand" href="<venda_wizurl step=giftwrapping>">
					<venda_block label=222,oigwrefqty=notnull,oicmtmsgqty=notnull,operator=or><venda_text id=desktop.button.giftwrap_edit_these_items></venda_block label=222>
					<venda_block label=223,oigwrefqty=null,oicmtmsgqty=null><venda_text id=desktop.button.giftwrap_these_items></venda_block label=223></a>
					</venda_block label=16>
			</div>

			<div class="large-12 columns">
				<venda_block label=93,mode=value,<venda_glxt mode=get,name=glxtusertype>!=p><venda_userinfo><venda_block label=65,sesallowmultideladdress=1>
				<a class="button secondary expand" href="<venda_wizurl step=multipledeliveryaddresses>"><venda_text id=desktop.button.multiple_delivery_addresses></a></venda_block label=65></venda_userinfo>
				</venda_block label=93>
			</div>
		</div>
		</venda_block label=52>

<div class="row">
	<div class="large-12 columns box-right">
            <venda_block label=181,flgft=0><div class="panel no-border marg-bottom">
            <form method="post" name="<venda_curstep>form-giftcert" action="<venda_codehttps>">
                <input type="hidden" name="ex" value="co_wizr-<venda_workflow>" />
                <input type="hidden" name="workflowid" value="<venda_workflowid>" />
                <input type="hidden" name="curstep" value="<venda_curstep>" />
                <input type="hidden" name="trrfnbr" value="<venda_userinfo><venda_sesid></venda_userinfo>" />
                <input type="hidden" name="mode" value="" />
                <venda_block errors=null><input type="hidden" name="curlayout" value="checkout" /></venda_block>
                <input type="hidden" name="step" value="ordersummary" />
                <input type="hidden" name="param1" value="show" />
                <input type="hidden" name="param2" value="giftcert" />

	<label for="giftcode">Redeem a <span class="yellow-color"><venda_text id=desktop.form.apply_gift_code></span></label>

	<div class="row">
		<div class="small-14 large-15 columns thinpad-right"><input type="text" autocapitalize="off" data-placeholder="<venda_text id=desktop.info.enter_code>" placeholder="<venda_text id=desktop.info.enter_gift_code>" autocorrect="off" name="giftcode" id="giftcode" value="" /></div>
		<div class="small-10 large-7 left columns thinpad-left"><input type="submit" id="js-applygiftcode" value="<venda_text id=desktop.button.apply>" class="button small expand apply-btn" data-trackEvent="Gift Certificate" /></div>
	</div>

	</form></div>
            </venda_block label=181>
	</div>
	<div class="large-12 columns box-left">
    	<venda_tpcomment><!-- Start: Promotions --></venda_tpcomment>
	<venda_tpcomment><!-- Promotion error display --></venda_tpcomment>
	<div id="ajax-error" class="large-24 columns"></div>

	<div id="additionalservices" class="panel no-border">
		<venda_tpcomment><!-- Promotion code input --></venda_tpcomment>
		<form method="post" name="promotionform" action="<venda_codehttps>" id="promotionform">
		<input type="hidden" name="step" value="ordersummary" />
		<input type="hidden" name="ex" value="co_wizr-<venda_workflow>" />
		<input type="hidden" name="workflowid" value="<venda_workflowid>" />
		<input type="hidden" name="curstep" value="<venda_curstep>" />
		<input type="hidden" name="trrfnbr" value="<venda_userinfo><venda_sesid></venda_userinfo>" />
		<input type="hidden" name="mode" value="process" />

		<label for="vcode">Redeem a <span class="yellow-color"><venda_text id=desktop.form.apply_promo_code></span></label>
		<div class="row">
			<div class="small-14 large-15 columns thinpad-right"><input type="text" autocapitalize="off" placeholder="<venda_text id=desktop.info.enter_code>" autocorrect="off" id="vcode" name="vcode" value="" data-value="<venda_text id=desktop.form.enter_a_promo_code>" /></div>
			<div class="small-10 large-7 columns left thinpad-left"><input type="submit" id="vcode_submit_shopcart" value="<venda_text id=desktop.button.apply>" class="button small expand apply-btn" data-trackEvent="Promotional code"></div>
		</div>
		<div>
		<venda_block label=43,totaldisc&gt;0.00>
			<div id="promotions" class="promotions">
				<p><strong><venda_text id=desktop.heading.promotions_applied>:</strong></p>
				<venda_detail9>
			</div>
		</venda_block label=43>
		</div>

		</form>
		<venda_tpcomment><!-- Promotion code display --></venda_tpcomment>

		<venda_detblock9>
			<div class="row">
				<div class="small-17 large-18 columns"><venda_codesc></div>
				<div class="small-7 large-6 columns"><venda_block label=vouchercode,vouchercode=notnull><a href="#" data-basketref="<venda_ohrfnbr>" data-vcode="<venda_vouchercode>" class="js-delete alert tiny button"><venda_text id=desktop.button.delete></a></venda_block label=vouchercode></div>
			</div>
		</venda_detblock9>
	</div>
	<venda_tpcomment><!-- End: Promotions --></venda_tpcomment>
	</div>
</div>

        <venda_tpcomment><!-- Start: Order summary --></venda_tpcomment>
        <div id="ordersummary" class="box box-checkout">
         <div class="box-header"><h4><venda_text id=desktop.heading.order_totals></h4></div>
         <div class="box-body nopad">
         <div class="pad">
	<table class="small-24 text-left table-checkout table-summary" summary="<venda_text id=desktop.info.order_totals_summary>" title="<venda_text id=desktop.info.order_totals_title>">
           <tr>
                <td scope="row" class="text-left"><venda_text id=desktop.info.subtotal></td>
                <td class="text-right form-value"><venda_ohcursym><venda_ohsub></td>
            </tr>
            <tr>
                <td scope="row" class="text-left"><venda_text id=desktop.info.delivery_cost></td>
                <td class="text-right form-value"><venda_ohcursym><venda_ohship></td>
            </tr>
            <venda_block label=64,showdiscount=1>
            <!-- start discount -->
            <tr>
                <td scope="row" class="text-left"><venda_text id=desktop.info.discount></td>
                <td class="text-right form-value">-<venda_ohcursym><venda_ohdisc></td>
            </tr>
            <!-- end discount -->
            </venda_block label=64>
            <venda_block label=91,ohtax!=0.00,ohtax=notnull>
            <tr>
                <td scope="row" class="text-left"><venda_text id=desktop.info.estimated_tax></td>
                <td class="text-right form-value"><venda_ohcursym><venda_ohtax></td>
            </tr>
            </venda_block label=91>
            <venda_block label=68,ohgwtot&gt;0>
            <tr>
                <td scope="row" class="text-left"><venda_text id=desktop.info.giftwrapping></td>
                <td class="text-right form-value"><venda_ohcursym><venda_ohgwtot></td>
            </tr>
            </venda_block label=68>
            <venda_taxbreakdown ohrfnbr=<venda_ohrfnbr>,template=shipTaxBreakDown>
            <venda_block label=66,enablefreeorder=1>
            <venda_block label=661,ohbal=0.00>
            <tr>
                <td scope="row" class="text-left"><venda_text id=desktop.info.free_order></td>
            </tr>
            </venda_block label=661>
            </venda_block label=66>
	</table>
         </div>
         <div>
	<table class="small-24 text-left table-checkout table-summary nomarg" summary="<venda_text id=desktop.info.order_totals_summary>" title="<venda_text id=desktop.info.order_totals_title>">
            <tr class="ordertotal">
                <th scope="row" class="text-left"><venda_text id=desktop.info.order_total><venda_block label=191,ohtaxinc!=0.00,ohtaxinc=notnull><span> <venda_text id=desktop.info.including_vat></span></venda_block label=191></th>
                <td class="text-right"><strong><venda_ohcursym><venda_ohtot></strong></td>
            </tr>
	</table>
         </div>
            <venda_block label=65,showaccount=1,storecreditused&gt;0.00,creditused&gt;0.00,operator=or>
            <venda_block label=82,enablestorecredit=1,creditused&gt;0.00,operator=or>
         	<div class="pad">
	<table class="small-24 text-left table-checkout table-summary" summary="<venda_text id=desktop.info.order_totals_summary>" title="<venda_text id=desktop.info.order_totals_title>">
            <venda_block label=180,storecredit=notnull,storecredit&gt;0.00>
            <tr>
                <td scope="row" class="text-left"><venda_text id=desktop.info.store_credit_used> <span class="credit-avail-remain">(<venda_text id=desktop.info.store_credit_available> <venda_ohcursym><venda_storecredit> / <venda_text id=desktop.info.store_credit_remaining> <venda_ohcursym><venda_storecreditremain>)</span></td>
                <td class="text-right form-value"><venda_ohcursym><venda_account></td>
            </tr>
            </venda_block label=180>
            <tr class="box">
                <td scope="row" class="text-left"><venda_text id=desktop.info.store_credit_balance></td>
                <td class="text-right form-value"><strong><venda_ohcursym><venda_balance></strong></td>
            </tr>
	</table>
         	</div>
            </venda_block label=82>
            </venda_block label=65>
        </div>
        </div>
        <venda_tpcomment><!-- End: Order summary --></venda_tpcomment>


        <div id="paymentdetailSection" class="box box-checkout">
            <div class="box-header"><h4><venda_text id=desktop.heading.payment_details></h4></div>
            <div class="box-body">
	<venda_tpcomment><!-- Start: Payment Details --></venda_tpcomment>
            <venda_tpcomment><!-- showpayments is null when the user has store credit that is greater than the value of the order total. In this case store credit (ohpaytype 4) will be the payment method used automatically and there will be no payment --></venda_tpcomment>
            <form method="post" id="<venda_curstep>form" name="<venda_curstep>form" action="<venda_codehttps>" class="js-custom">
            <venda_tpcomment><!-- Core parameters --></venda_tpcomment>
            <input type="hidden" name="ex" value="co_wizr-<venda_workflow>" />
            <input type="hidden" name="workflowid" value="<venda_workflowid>" />
            <input type="hidden" name="curstep" value="<venda_curstep>" />
            <input type="hidden" name="trrfnbr" value="<venda_userinfo><venda_sesid></venda_userinfo>" />
            <input type="hidden" name="mode" value="process" />
            <venda_block errors=null><input type="hidden" name="curlayout" value="checkout" /></venda_block>
            <venda_tpcomment><!-- Specific to this step --></venda_tpcomment>
            <input type="hidden" name="step" value="payment" />
            <input type="hidden" name="exgroup" value="all" />
            <input type="hidden" name="param1" value="process" /> <venda_tpcomment><!-- If set to process one last stock check is made --></venda_tpcomment>
			<venda_block label=165,showaccount=1,storecreditused&gt;0.00,creditused&gt;0.00,operator=or>
				<venda_block label=182,enablestorecredit=1,creditused&gt;0.00,operator=or>
					<venda_block label=180,showpayments=null>
					<input type="hidden" name="ohpaytype" value="4">
					</venda_block label=180>
					<input type="hidden" name="usestorecredit" value="1">
				</venda_block label=182>
			</venda_block label=165>
			<venda_block label=166,enablefreeorder=1>
				<venda_block label=661,ohbal=0.00>
				<input type="hidden" name="ohpaytype" value="8">
				</venda_block label=661>

                <venda_tpcomment><!-- Start: Store Collect --></venda_tpcomment>
                    <venda_block label=storecollect,mode=value,<venda_pksmref0>=storefree>
                    <!-- input field to send store detail to OIXT -->
                    <input type="hidden" name="orxorxtccstname" value="">
                    <input type="hidden" name="orxorxtccstnum" value="">
                    <input type="hidden" name="orxorxtccstadd1" value="">
                    <input type="hidden" name="orxorxtccstadd2" value="">
                    <input type="hidden" name="orxorxtccstadd3" value="">
                    <input type="hidden" name="orxorxtccstcounty" value="">
                    <input type="hidden" name="orxorxtccstpcode" value="">
                    <input type="hidden" name="orxorxtccstcountry" value="">
                    <input type="hidden" name="orxorxtccstphone" value="">

                    <div style="display:none !important;">
                        <input type="text" name="orxorxtcustitle" value="">
                        <input type="text" name="orxorxtcusfname" value="">
                        <input type="text" name="orxorxtcuslname" value="">
                        <input type="text" name="orxorxtcusphone" value="">
                    </div>
                    </venda_block label=storecollect>
                    <venda_tpcomment><!-- End: Store Collect --></venda_tpcomment>
			</venda_block label=166>

		<venda_block label=11,showpayments=notnull>
			<div id="paymentdetails" class="thickmarg-top js-equalheight">
			<venda_paymenttypes templatetype=paytype/frontend,template=paymenttypes_entry,ohrfnbr=<venda_ohrfnbr>,entry=1>
			<venda_tpcomment><!-- VPS should ideally use this tag (with correct "templatetype" location and no "entry=1"), but the below is backward-compatible in case VPS disabled:
			venda_paymenttypes templatetype=paytype/frontend,template=paymenttypes_entry,ohrfnbr=<venda_ohrfnbr> --></venda_tpcomment>
			</div>
		</venda_block label=11>
                <venda_tpcomment><!-- End: Payment Details --></venda_tpcomment>

        <venda_tpcomment><!-- Start: JS Buttons --></venda_tpcomment>
        <div id="buttons" class="marg-top">
                <input type="submit" class="success button marg-bottom" value="<venda_text id=desktop.button.place_order>" />
        </div>
        </form>
      </div>
    </div>
 </div>

<venda_block label=storedeliveryscript,pksmref0=storefree>
<script>

/*setTimeout(function(){
    if(jQuery("#storefree_0").is(":checked") && jQuery("#storename").length > 0){
        Venda.Ebiz.setPositionStoreInfo();
    }else{
        window.location.href = jQuery('#tag-ordersumaryurl').text();
    }
}, 500);*/


</script>
</venda_block label=storedeliveryscript>

<venda_tpcomment><!-- Dictionary id's to pass to JS --></venda_tpcomment>
<div id="js-modal-style" class="reveal-modal medium text-center"><i class="icon-spinner icon-spin icon-2x marg-side thinmarg-bottom"></i><br><span></span></div>
<div id="js-default-waitMsg" style="display:none;"><venda_text id=desktop.info.default_waiting_msg></div>
<div id="js-deliver-waitMsg" style="display:none;"><venda_text id=desktop.info.applying_shipping_method></div>
<div id="js-promo-waitMsg" style="display:none;"><venda_text id=desktop.info.applying_promotion></div>
<div id="js-promo-deleteMsg" style="display:none;"><venda_text id=desktop.info.deleting_promotion></div>
<div id="js-giftcode-waitMsg" style="display:none;"><venda_text id=desktop.info.applying_giftcode></div>
<div class="js-dtsenabled" style="display:none"><venda_setting type=ebiz,name=delivertostore></div>
<div id="tag-ordersumaryurl" style="display: none;"><venda_codehttps>?ex=co_wizr-checkout&display=1&step=ordersummary</div>

<venda_tpcomment><!-- Tracking --></venda_tpcomment>
<venda_inctemplate name=workflowSteps,type=tracking/shared>
<venda_tpcomment><!-- Used for checkout step indicators --></venda_tpcomment>
<venda_tpxt mode=set,name=curstep,value=step4>
<venda_tpcomment><!-- Used for html title --></venda_tpcomment>
<venda_tpxt mode=set,name=title,value=<venda_text id=desktop.heading.order_summary>>
<venda_inctemplate name=cmDisplayShop9s,type=tracking/coremetrics>
</div>
