<meta charset="ISO-8859-1" />
<meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1" />

<venda_block label=9303,mode=value,<venda_tpxt mode=get,name=privatesaletrigger>=privatesale>
<meta name="robots" content="noindex,nofollow">
</venda_block label=9303>

<venda_block label=1,rtype=invt>
<link rel="canonical" href="<venda_dispview invt=<venda_invtref>>" />
<meta property="fb:app_id" content="<venda_setting type=ebiz,name=ebxtfbappid>" />
<meta property="og:title" content="<venda_invtbrand> <venda_invtname>" />
<meta property="og:type" content="product" />
<meta property="og:url" content="<venda_dispview invt=<venda_invtref>>" />
<meta property="og:image" content="<venda_media rec=invt,type=pict,key=medium,img=no>" />
<meta property="og:site_name" content="<venda_setting type=ebiz,name=name>" />
<meta property="fb:admins" content="1846790149" />
<meta property="og:site_name" content="<venda_setting type=ebiz,name=name>" />
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="<venda_setting type=ebiz,name=ebxttwitterID>">
<meta name="twitter:title" content="<venda_encode><venda_invtname></venda_encode>">
<meta name="twitter:description" content="<venda_block label=16,pdxtmetadesc=notnull><venda_pdxtmetadesc></venda_block label=16><venda_block label=17,pdxtmetadesc=null><venda_setting type=ebiz,name=name></venda_block label=17>">
<meta name="twitter:image" content="<venda_media rec=invt,type=pict,key=medium,img=no>">
</venda_block label=1>

<venda_block label=2,rtype=icat>
<link rel="canonical" href="<venda_dispview icat=<venda_icatref>>" />
</venda_block label=2>

<venda_block label=3,stryref=notnull><venda_tpcomment><!-- stories do not pass an rtype so use stryref instead --></venda_tpcomment>
<link rel="canonical" href="<venda_dispview stry=<venda_stryref>>" />
</venda_block label=3>

<venda_block label=4,rtype=scat>
<link rel="canonical" href="<venda_dispview scat=<venda_scatref>>" />
</venda_block label=4>

<venda_block label=5,rtype=page>
<venda_block label=51,pageref!=home>
<link rel="canonical" href="<venda_dispview page=<venda_pageref>>" />
<meta property="og:image" content="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/logo.png" />
</venda_block label=51>
<venda_block label=52,pageref=home>
<link rel="canonical" href="<venda_ebizurl>/" />
<meta name="p:domain_verify" content="0feba307389d3641c77659ca75b6bf72"/>
<meta property="fb:admins" content="1846790149" />
<meta name="p:domain_verify" content="0feba307389d3641c77659ca75b6bf72"/>
</venda_block label=52>
</venda_block label=5>

<venda_block label=6,rtype=pcat>
<link rel="canonical" href="<venda_dispview pcat=<venda_pcatref>>" />
</venda_block label=6>

<venda_block label=7,invtref=notnull>
	<venda_block label=71,pdxtrestrictsearchengine=notnull>
		<meta name="robots" content="noindex,nofollow">
	</venda_block label=71>

	<venda_block label=711,pdxtrestrictsearchengine=null>
		<venda_block label=7111,pdxtmetakeywords=notnull>
			<meta name="keywords" content="<venda_pdxtmetakeywords>">
		</venda_block label=7111>
		<venda_block label=72,pdxtmetakeywords=null>
			<venda_page page=metakeywords>
		</venda_block label=72>

		<venda_block label=73,pdxtmetadescription=notnull>
			<meta name="description" content="<venda_pdxtmetadescription>">
		</venda_block label=73>
		<venda_block label=74,pdxtmetadescription=null>
			<venda_page page=metadescription>
		</venda_block label=74>
	</venda_block label=711>
</venda_block label=7>

<venda_block label=8,icatref=notnull>
	<venda_block label=81,icxtrestrictsearchengine=notnull>
		<meta name="robots" content="noindex,nofollow">
	</venda_block label=81>

	<venda_block label=811,icxtrestrictsearchengine=null>
		<venda_block label=8111,icxtmetakeywords=notnull>
			<meta name="keywords" content="<venda_icxtmetakeywords>">
		</venda_block label=8111>
		<venda_block label=82,icxtmetakeywords=null>
			<venda_page page=metakeywords>
		</venda_block label=82>

		<venda_block label=83,icxtmetadescription=notnull>
			<meta name="description" content="<venda_icxtmetadescription>">
		</venda_block label=83>
		<venda_block label=84,icxtmetadescription=null>
			<venda_page page=metadescription>
		</venda_block label=84>
	</venda_block label=811>
</venda_block label=8>

<venda_block label=9,pageref=notnull>
		<venda_block label=9111,ptxtmetakeywords=notnull>
			<meta name="keywords" content="<venda_ptxtmetakeywords>">
		</venda_block label=9111>
		<venda_block label=922,ptxtmetakeywords=null>
			<venda_page page=metakeywords>
		</venda_block label=922>

		<venda_block label=923,ptxtmetadescription=notnull>
			<meta name="description" content="<venda_ptxtmetadescription>">
		</venda_block label=923>
		<venda_block label=924,ptxtmetadescription=null>
			<venda_page page=metadescription>
		</venda_block label=924>
</venda_block label=9>

<venda_block label=10,invtref=null,icatref=null,pageref=null>
	<venda_page page=metakeywords>
	<venda_page page=metadescription>
</venda_block label=10>



<!-- Opentag Script -->
<script src='//d3c3cq33003psk.cloudfront.net/opentag-130922-1935782.js'
 async defer></script>
 <!-- Opentag Script END --> 
