<venda_detblock_package>
	<venda_detblock_packageitem><li><venda_oiqty> x <venda_oiivname> - <venda_ohcursym><venda_oiextsub></li></venda_detblock_packageitem>
	<ul><venda_detail_packageitem></ul>
</venda_detblock_package>
<tr>
    <td><venda_ohordnum></td>
    <td><venda_detail_package></td>
    <td><venda_block label=10,mode=value,<venda_ohstatus>=On Hold><venda_text id=desktop.info.order_status_in_progress></venda_block label=10>
		<venda_block label=11,mode=value,<venda_ohstatus>=Released for delivery><venda_text id=desktop.info.order_status_released_for_delivery></venda_block label=11>
		<venda_block label=12,mode=value,<venda_ohstatus>=Backordered><venda_text id=desktop.info.order_status_backordered></venda_block label=12>
		<venda_block label=13,mode=value,<venda_ohstatus>=Delivered><venda_text id=desktop.info.order_status_despatched></venda_block label=13>
		<venda_block label=14,mode=value,<venda_ohstatus>=Returned><venda_text id=desktop.info.order_status_returned></venda_block label=14>
		<venda_block label=15,mode=value,<venda_ohstatus>=Cancelled><venda_text id=desktop.info.order_status_cancelled></venda_block label=15>
</td>
    <td class="hide-for-small"><a href="<venda_codehttps>?ex=co_wizr-myaccount&step=orderdetail&param1=<venda_ohrfnbr>&param2=user&formid=<venda_ohrfnbr>" class="success button small"><venda_text id=desktop.button.view_order></a></td>
</tr>
<tr class="hide-for-tablet-portrait-up">
    <td colspan="3"><a href="<venda_codehttps>?ex=co_wizr-myaccount&step=orderdetail&param1=<venda_ohrfnbr>&param2=user&formid=<venda_ohrfnbr>" class="success button small expand"><venda_text id=desktop.button.view_order></a></td>
</tr>
<venda_tpcomment> <!-- Need to replace ohstatus with conditions as it prints text not a numerical value in venda_order
<venda_block label=10,ohstatus=2><venda_text id=mobile.info.order_status_in_progress></venda_block label=10>
	<venda_block label=11,ohstatus=3><venda_text id=mobile.info.order_status_released_for_delivery></venda_block label=11>
	<venda_block label=12,ohstatus=4><venda_text id=mobile.info.order_status_backordered></venda_block label=12>
	<venda_block label=13,ohstatus=5><venda_text id=mobile.info.order_status_delivered></venda_block label=13>
	<venda_block label=14,ohstatus=6><venda_text id=mobile.info.order_status_returned></venda_block label=14>
	<venda_block label=15,ohstatus=7><venda_text id=mobile.info.order_status_cancelled></venda_block label=15> -->
</venda_tpcomment>
