<div class="box box-footer">
    <a href="<venda_dispview invt=giftcert>">
        <div class="box-body">
            <div class="row collapse">
                <div class="small-4 text-center columns">
                    <i class="icon-gift-certificate icon-4x"></i>
                </div>
                <div class="small-20 columns text-center">
                    <h2><venda_text id=desktop.heading.gift_certificates></h2>
                </div>
            </div>
        </div>
    </a>
</div>