<div>
    <div class="orbit-slides-container-div orbit-category">
			<ul data-orbit data-options="timer_speed:2500; bullets:true;">
			  <li>
			  	<div data-picture data-alt="Responsive eCommerce">
			        <venda_tpcomment><!-- small --></venda_tpcomment>
			        <div data-src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/homeslider/orbit-slide1small.jpg"></div>
			        <venda_tpcomment><!-- medium --></venda_tpcomment>
			        <div data-src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/homeslider/orbit-slide1medium.jpg" data-media="(min-width: 402px)"></div>
			        <venda_tpcomment><!-- large --></venda_tpcomment>
			        <div data-src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/homeslider/orbit-slide1large.jpg" data-media="(min-width: 998px)"></div>
					<!--[if (lt IE 9) & (!IEMobile)]>
						<div data-src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/homeslider/orbit-slide1large.jpg"></div>
			        <![endif]-->
			        <venda_tpcomment><!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. --></venda_tpcomment>
			        <noscript>
			            <img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/homeslider/orbit-slide1small.jpg" alt="Responsive eCommerce">
			        </noscript>
			    </div>
			    <venda_tpcomment><!-- <div class="orbit-caption">Caption Example</div> --></venda_tpcomment>
			  </li>
			  <li>
			    <div data-picture data-alt="Responsive eCommerce">
			        <venda_tpcomment><!-- small --></venda_tpcomment>
			        <div data-src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/homeslider/orbit-slide2small.jpg"></div>
			        <venda_tpcomment><!-- medium --></venda_tpcomment>
			        <div data-src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/homeslider/orbit-slide2medium.jpg" data-media="(min-width: 401px)"></div>
			        <venda_tpcomment><!-- large --></venda_tpcomment>
			        <div data-src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/homeslider/orbit-slide2large.jpg" data-media="(min-width: 998px)"></div>
					<!--[if (lt IE 9) & (!IEMobile)]>
			            <div data-src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/homeslider/orbit-slide2large.jpg"></div>
			        <![endif]-->
			        <venda_tpcomment><!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. --></venda_tpcomment>
			        <noscript>
			            <img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/homeslider/orbit-slide2small.jpg" alt="Responsive eCommerce">
			        </noscript>
			    </div>
			  </li>
			  <li>
			    <div data-picture data-alt="Responsive eCommerce">
			        <venda_tpcomment><!-- small --></venda_tpcomment>
			        <div data-src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/homeslider/orbit-slide3small.jpg"></div>
			        <venda_tpcomment><!-- medium --></venda_tpcomment>
			        <div data-src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/homeslider/orbit-slide3medium.jpg" data-media="(min-width: 401px)"></div>
			        <venda_tpcomment><!-- large --></venda_tpcomment>
			        <div data-src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/homeslider/orbit-slide3large.jpg" data-media="(min-width: 998px)"></div>
					<!--[if (lt IE 9) & (!IEMobile)]>
			            <div data-src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/homeslider/orbit-slide3large.jpg"></div>
			        <![endif]-->
			        <venda_tpcomment><!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. --></venda_tpcomment>
			        <noscript>
			            <img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/homeslider/orbit-slide3small.jpg" alt="Responsive eCommerce">
			        </noscript>
			    </div>
			  </li>
			</ul>
    </div>
</div>
<venda_tpcomment><!-- Can't use images as backgrounds for list items as they do not resize for different viewports -->
<!-- This slider needs to be category-specific --></venda_tpcomment>