<!-- Loop through items and their details starts -->
<br />
<venda_detblock2>
<tr class="odc-splits-rows">
	<venda_block label=20,invtatt1=notnull>
		<venda_tpcomment><!--product has attributes--></venda_tpcomment>
		<venda_block label=21,med-setxsmall=notnull>
			<venda_block label=22,mode=value,<venda_media rec=invt,type=pict,key=setxsmall,img=no,medatr=yes>=notnull>
				<venda_tpcomment><!-- if 'set' prefix with att association value--></venda_tpcomment>
				<td class="image" style="text-align:left; color: #454545;padding: 10px;width:10% !important;"><a href="<venda_dispview invt=<venda_invtparef>>">
					<img src="<venda_ebizurl><venda_media rec=invt,type=pict,key=setxsmall,img=no,jump=no,medatr=yes>" alt="<venda_oiivname>"></a>
				</td>
				<td style="text-align:left; color: #454545;padding: 10px;"><venda_oiivname>
					<venda_block label=2223,oiatt1=notnull >
						<br>Size: <venda_oiatt1>
					</venda_block label=2223>
				</td>
				<td class="image-item-desc" style="color: #454545;padding: 10px 0;text-align:center;">
					<venda_ohcursym><venda_oisub>
				</td>
				<td class="image-item-desc" style="color: #454545;padding: 10px 0;text-align:center;">
					<venda_oiqty>
				</td>
			</venda_block label=22>

			<venda_block label=23,mode=value,<venda_media rec=invt,type=pict,key=setxsmall,img=no,medatr=yes>=null>
				<venda_tpcomment><!--if 'set' prefix without att association value--></venda_tpcomment>
				<venda_block label=231,med-xsmall=notnull>
					<venda_tpcomment><!--use key=xsmall--></venda_tpcomment>
					<td class="image" style="text-align:left; color: #444444;padding: 10px;width:10% !important;"><a href="<venda_dispview invt=<venda_invtparef>>"><img src="<venda_ebizurl><venda_media rec=invt,type=pict,key=xsmall,img=no,jump=no>" alt="<venda_oiivname>"></a></td>
					<td style="text-align:left; color: #454545;padding: 10px;"><venda_oiivname>
						<venda_block label=2223,oiatt1=notnull >
							<br>Size: <venda_oiatt1>
						</venda_block label=2223>
					</td>
					<td class="image-item-desc" style="color: #454545;padding: 10px 0;text-align:center;">
						<venda_ohcursym><venda_oisub>
					</td>
					<td class="image-item-desc" style="color: #454545;padding: 10px 0;text-align:center;">
						<venda_oiqty>
					</td>
				</venda_block label=231>
				<venda_block label=232,med-xsmall=null>
					<venda_tpcomment><!--use noimage graphic if 'xsmall' is null--></venda_tpcomment>
					<td class="noimage" style="text-align:left; color: #454545;padding: 10px;width: 10% !important;"><a href="<venda_dispview invt=<venda_invtparef>>"><img src="<venda_ebizurl>/content/ebiz/<venda_bsref>/resources/images/no_image_xsmall.gif" alt="<venda_text id=desktop.info.no_product_image>"></a></td>
					<td style="text-align:left; color: #454545;padding: 10px;"><venda_oiivname>
						<venda_block label=2223,oiatt1=notnull >
							<br>Size: <venda_oiatt1>
						</venda_block label=2223>
					</td>
					<td class="image-item-desc" style="color: #454545;padding: 10px 0;text-align:center;">
						<venda_ohcursym><venda_oisub>
					</td>
					<td class="image-item-desc" style="color: #454545;padding: 10px 0;text-align:center;">
						<venda_oiqty>
					</td>
				</venda_block label=232>
			</venda_block label=23>
		</venda_block label=21>

		<venda_block label=24,med-setxsmall=null>
			<venda_tpcomment><!--if not 'set' prefix - no alt. images functionality--></venda_tpcomment>
			<venda_block label=25,med-xsmall=notnull>
				<venda_tpcomment><!--use key=xsmall--></venda_tpcomment>
				<td class="image" style="text-align:left; color: #454545;padding: 10px;width:10% !important;"><a href="<venda_dispview invt=<venda_invtparef>>"><img src="<venda_ebizurl><venda_media rec=invt,type=pict,key=xsmall,img=no,jump=no>" alt="<venda_oiivname>"></a></td>
				<td style="text-align:left; color: #454545;padding: 10px;"><venda_oiivname>
					<venda_block label=2223,oiatt1=notnull >
						<br>Size: <venda_oiatt1>
					</venda_block label=2223>
				</td>
				<td class="image-item-desc" style="color: #454545;padding: 10px 0;text-align:center;">
					<venda_ohcursym><venda_oisub>
				</td>
				<td class="image-item-desc" style="color: #454545;padding: 10px 0;text-align:center;">
					<venda_oiqty>
				</td>
			</venda_block label=25>
			<venda_block label=26,med-xsmall=null>
				<venda_tpcomment><!--use noimage graphic if 'xsmall' is null--></venda_tpcomment>
				<td class="noimage" style="text-align:left; color: #454545;padding: 10px;width:10% !important;"><a href="<venda_dispview invt=<venda_invtparef>>"><img src="<venda_ebizurl>/content/ebiz/<venda_bsref>/resources/images/no_image_xsmall.gif" alt="<venda_text id=desktop.info.no_product_image>"></a></td>
				<td style="text-align:left; color: #454545;padding: 10px;"><venda_oiivname>
					<venda_block label=2223,oiatt1=notnull >
						<br>Size: <venda_oiatt1>
					</venda_block label=2223>
				</td>
				<td class="image-item-desc" style="color: #444444;padding: 10px 0;text-align:center;">
					<venda_ohcursym><venda_oisub>
				</td>
				<td class="image-item-desc" style="color: #444444;padding: 10px 0;text-align:center;">
					<venda_oiqty>
				</td>
			</venda_block label=26>
		</venda_block label=24>
	</venda_block label=20>
	<venda_block label=30,invtatt1=null>
		<venda_tpcomment><!--product doesnt has attributes--></venda_tpcomment>
		<venda_block label=31,med-xsmall=notnull>
			<venda_tpcomment><!--if not 'set' prefix - no alt. images functionality --></venda_tpcomment>
			<td class="image" style="text-align:left; color: #454545;padding: 10px;width:10% !important;"><a href="<venda_dispview invt=<venda_invtref>>"><img src="<venda_ebizurl><venda_media rec=invt,type=pict,key=xsmall,img=no,jump=no>" alt="<venda_oiivname>"></a></td>
			<td style="text-align:left; color: #454545;padding: 10px;"><venda_oiivname>
				<venda_block label=2223,oiatt1=notnull >
						<br>Size: <venda_oiatt1>
				</venda_block label=2223>
			</td>
			<td class="image-item-desc" style="color: #454545;padding: 10px 0;text-align:center;">
					<venda_ohcursym><venda_oisub>
				</td>
				<td class="image-item-desc" style="color: #454545;padding: 10px 0;text-align:center;">
					<venda_oiqty>
				</td>
		</venda_block label=31>
		<venda_block label=32,med-xsmall=null>
			<venda_tpcomment><!--without key=xsmall--></venda_tpcomment>
			<td class="noimage" style="text-align:left; color: #454545;padding: 10px;width:10% !important;"><a href="<venda_dispview invt=<venda_invtref>>"><img src="<venda_ebizurl>/content/ebiz/<venda_bsref>/resources/images/no_image_xsmall.gif" alt="<venda_text id=desktop.info.no_product_image>"></a></td>
			<td style="text-align:left; color: #454545;padding: 10px;"><venda_oiivname>
				<venda_block label=2223,oiatt1=notnull >
						<br>Size: <venda_oiatt1>
				</venda_block label=2223>
			</td>
			<td class="image-item-desc" style="color: #454545;padding: 10px 0;text-align:center;">
					<venda_ohcursym><venda_oisub>
				</td>
				<td class="image-item-desc" style="color: #454545;padding: 10px 0;text-align:center;">
					<venda_oiqty>
				</td>
		</venda_block label=32>
	</venda_block label=30>
	<td style="text-align:center;padding: 10px 0;"><venda_ohcursym><venda_oiextsub>
    </td>
	<td style="text-align:right; color: #444444;padding: 10px 0;">
	<venda_block label=10,oistatus=2><p style="margin-right:10px;"><venda_text id=desktop.info.order_status_in_progress></p></venda_block label=10>
	<venda_block label=11,oistatus=3><p style="margin-right:10px;"><venda_text id=desktop.info.order_status_released_for_delivery></p></venda_block label=11>
	<venda_block label=12,oistatus=4><p style="margin-right:10px;"><venda_text id=desktop.info.order_status_backordered></p></venda_block label=12>
	<venda_block label=13,oistatus=5><venda_block label=114,num=notnull><p style="margin-right:10px;"><venda_text id=desktop.info.tracking_num>: <venda_num> <venda_oicarrier> </venda_block label=114><venda_text id=desktop.info.order_status_despatched> <!--<venda_stmp>--></p></venda_block label=13>
	<venda_block label=14,oistatus=6><p style="margin-right:10px;"><venda_text id=desktop.info.order_status_returned> <!--<venda_stmp>--></p></venda_block label=14>
	<venda_block label=15,oistatus=7><p style="margin-right:10px;"><venda_text id=desktop.info.order_status_cancelled></p></venda_block label=15>
	<venda_block label=16,oistatus=8><p style="margin-right:10px;"><venda_text id=desktop.info.rma_num>: <venda_num> <venda_text id=desktop.info.order_status_delivered> <!--<venda_stmp>--></p></venda_block label=16>
	</td>
</tr>
<venda_block label=45,oiitype=3>
<tr>
	<td colspan="6" style="text-align:left; color: #444444">
	<venda_text id=desktop.info.giftcert_sent_to><br>
	<venda_text id=desktop.info.expiry_date>: <venda_block label=880,gcexpires=notnull><venda_gcexpires></venda_block label=880><venda_block label=881,gcexpires=null><venda_text id=desktop.info.no_expiry_date></venda_block label=881><br>
	<venda_text id=desktop.info.message>: <venda_oicmt>
	</td>
</tr>
</venda_block label=45>
</venda_detblock2>
<!-- Loop through items and their details ends -->
<!-- start delivery/items loop -->
<venda_detblock1>


<table class="odc-splits" border="0" align="center" cellspacing="0" cellpadding="0" style="font-family:Arial, Helvetica, Verdana, sans-serif; font-size:16px;text-align:left;color:#454545;background-color: white; margin: 0 auto !important" width="92%">
<tr>
	<th scope="col" colspan="5" style="background-color:#ddd;text-align:left; color:#444444; padding: 10px 0 10px 10px;">Items In Your Order</th>
</tr>
</table>
<table class="odc-splits-in" align="center" border="0" cellspacing="0" cellpadding="0" style="font-family:Arial, Helvetica, Verdana, sans-serif; font-size:16px;text-align:left;color:#454545;background-color: white; margin: 0 auto !important;border: 1px solid #ececec; padding: 20px 10px 0 10px;" width="92%">
<!-- start items loop -->
<thead>

<tr>
	<th scope="col" width="35%" colspan="2" style="text-align:left; color:#444444;padding:0;">
		<p style="margin-left:10px;margin-top:10px;margin-bottom:10px;font-size:14px;">Item Description</p>
	</th>
	<th scope="col" style="text-align:center; color:#444444;padding:0;"><p style="margin-top:10px;margin-bottom:10px;font-size:14px;"><venda_text id=desktop.info.price_each></p></th>
	<th scope="col" style="text-align:center; color:#444444;padding:0;"><p style="margin-top:10px;margin-bottom:10px;font-size:14px;"><venda_text id=desktop.info.qty></p></th>
	<th scope="col" style="text-align:center; color:#444444;padding:0;"><p style="margin-top:10px;margin-bottom:10px;font-size:14px;"><venda_text id=desktop.info.total_price></p></th>
	<th scope="col" width="15%" style="text-align:right; color:#444444;padding:0;"><p style="margin-right:10px;margin-top:10px;margin-bottom:10px;font-size:14px;"><venda_text id=desktop.info.status></p></th>
</tr>
<tr>
    <td class="line" height="2" colspan="6" style="height:3px;margin-left:10px !important;margin-right:10px !important;padding:0 !important;"><p style="height:3px;border-bottom: 1px solid #444444;padding:0 !important;margin-left:10px !important;margin-right:10px !important;margin-top:0 !important;margin-bottom:0 !important;">&nbsp;</p></td>
</tr>

</thead>
<tbody>
<venda_detail2>
</tbody>
<!-- end items loop -->
</table>

<br>
<table class="emails-table-header" align="center" border="0" cellspacing="0" cellpadding="5" style="font-family:Arial; font-size:16px;text-align:left;color:#000;background-color: white;margin: 0 auto !important" width="92%">
<tr>
	<th class="th-header" colspan="2" style="background-color:#ddd;text-align:left; line-height: 142%; padding:10px 0 10px 10px;"><venda_text id=desktop.heading.order_totals></th>
</tr>
</table>
<table class="emails-table-body-order" align="center" border="0" cellpadding="0" cellspacing="0" bgcolor="white" style="font-family:Arial;background:white;width: 92%;text-align: left;margin: 0 auto;border: 1px solid #ececec;">

<tr>
    <td class="line" height="20" colspan="2" align="center" style="height:20px !important;padding:0 !important;margin:0 !important;"><p style="height:20px !important;padding:0 !important;margin:0 !important;">&nbsp;</p></td>
</tr>
<tr>
	<td class="table-titles-l" width="30%" style="text-align:left; padding:0px;font-family:Arial;"><p style="text-align:left;margin-left:10px;font-size:12px;color:#444444;"><venda_text id=desktop.info.subtotal></p></td>

	<td class="table-titles-r" width="70%" align="right" style="text-align:right !important;font-family:Arial;"><p style="text-align:right !important;margin-right:10px;font-size:14px;font-weight:bold;color:#444444;"><venda_ohcursym><venda_ohsub></p></td>
</tr>
<tr>
	<td class="line" height="2" colspan="2" style="height:3px;margin-left:10px !important;margin-right:10px !important;"><p style="height:3px;border-bottom: 1px dotted #444444;padding:0 !important;margin-left:10px !important;margin-right:10px !important;">&nbsp;</p></td>
</tr>

<venda_block label=64,mode=value,<venda_ohdisc>!=0.00,<venda_ohdisc>=notnull>
<tr>
    <td class="line" height="20" colspan="2" align="center" style="height:20px !important;padding:0 !important;margin:0 !important;"><p style="height:20px !important;padding:0 !important;margin:0 !important;">&nbsp;</p></td>
</tr>

<tr>
    <td class="table-titles-l" width="30%" style="text-align:left; padding:0px;font-family:Arial;"><p style="text-align:left;margin-left:10px;font-size:12px;color:#444444;"><venda_text id=desktop.info.discount></p></td>

    <td class="table-titles-r" width="70%" align="right" style="text-align:right !important;font-family:Arial;"><p style="text-align:right !important;margin-right:10px;font-size:14px;font-weight:bold;color:#444444;"><venda_ohcursym><venda_ohdisc></p></td>
</tr>
<tr>
    <td class="line" height="2" colspan="2" style="height:3px;margin-left:10px !important;margin-right:10px !important;"><p style="height:3px;border-bottom: 1px dotted #444444;padding:0 !important;margin-left:10px !important;margin-right:10px !important;">&nbsp;</p></td>
</tr>
</venda_block label=64>

<tr>
    <td class="line" height="20" colspan="2" align="center" style="height:20px !important;padding:0 !important;margin:0 !important;"><p style="height:20px !important;padding:0 !important;margin:0 !important;">&nbsp;</p></td>
</tr>
<tr>
	<td class="table-titles-l" width="30%" style="text-align:left; padding:0px;font-family:Arial;"><p style="text-align:left;margin-left:10px;font-size:12px;color:#444444;"><venda_text id=desktop.info.delivery_cost></p></td>

	<td class="table-titles-r" width="70%" align="right" style="text-align:right !important;font-family:Arial;"><p style="text-align:right !important;margin-right:10px;font-size:14px;font-weight:bold;color:#444444;"><venda_ohcursym><venda_ohship></p></td>
</tr>
<tr>
	<td class="line" height="2" colspan="2" style="height:3px;margin-left:10px !important;margin-right:10px !important;"><p style="height:3px;border-bottom: 1px dotted #444444;padding:0 !important;margin-left:10px !important;margin-right:10px !important;">&nbsp;</p></td>
</tr>

<venda_block label=91,mode=value,<venda_ohtax>!=0.00,<venda_ohtax>=notnull>
<tr>
    <td class="line" height="20" colspan="2" align="center" style="height:20px !important;padding:0 !important;margin:0 !important;"><p style="height:20px !important;padding:0 !important;margin:0 !important;">&nbsp;</p></td>
</tr>
<tr>
	<td class="table-titles-l" width="30%" style="text-align:left; padding:0px;font-family:Arial;"><p style="text-align:left;margin-left:10px;font-size:12px;color:#444444;"><venda_text id=desktop.info.estimated_tax></p></td>

	<td class="table-titles-r" width="70%" align="right" style="text-align:right !important;font-family:Arial;"><p style="text-align:right !important;margin-right:10px;font-size:14px;font-weight:bold;color:#444444;"><venda_ohcursym><venda_ohtax></p></td>
</tr>
<tr>
	<td class="line" height="2" colspan="2" style="height:3px;margin-left:10px !important;margin-right:10px !important;"><p style="height:3px;border-bottom: 1px dotted #444444;padding:0 !important;margin-left:10px !important;margin-right:10px !important;">&nbsp;</p></td>
</tr>
</venda_block label=91>

<venda_block label=670,mode=value,<venda_ohgwtot>&gt;0>
<tr>
    <td class="line" height="20" colspan="2" align="center" style="height:20px !important;padding:0 !important;margin:0 !important;"><p style="height:20px !important;padding:0 !important;margin:0 !important;">&nbsp;</p></td>
</tr>
<tr>
    <td class="table-titles-l" width="30%" style="text-align:left; padding:0px;font-family:Arial;"><p style="text-align:left;margin-left:10px;font-size:12px;color:#444444;"><venda_text id=desktop.info.giftwrapping></p></td>

    <td class="table-titles-r" width="70%" align="right" style="text-align:right !important;font-family:Arial;"><p style="text-align:right !important;margin-right:10px;font-size:14px;font-weight:bold;color:#444444;"><venda_ohcursym><venda_ohgwtot></p></td>
</tr>
<tr>
    <td class="line" height="2" colspan="2" style="height:3px;margin-left:10px !important;margin-right:10px !important;"><p style="height:3px;border-bottom: 1px dotted #444444;padding:0 !important;margin-left:10px !important;margin-right:10px !important;">&nbsp;</p></td>
</tr>
</venda_block label=670>

<tr>
	<td class="table-titles" width="30%" style="text-align:left; padding:0px;font-family:Arial;">
		<p style="margin-bottom:25px;">&nbsp;</p>
	</td>
	<td width="70%" style="text-align:right;font-family:Arial; padding:0px;margin-top:30px !important;">
		<p style="margin-bottom:25px;">&nbsp;</p>
	</td>
</tr>
<tr style="background-color:#DDDDDD;">
	<td width="50%" style="text-align:left; padding:10px;font-family:Arial; font-size:12px;margin-left:10px !important;color:#444444;">

	<venda_text id=desktop.info.order_total>
	<venda_block label=vatinclude,mode=value,<venda_ohtaxinc>!=0.00,<venda_ohtaxinc>=notnull>
		<venda_text id=desktop.info.including_vat>
	</venda_block label=vatinclude>
	</td>
	<td width="70%" style="text-align:right;font-family:Arial; font-size:14px;padding:10px;color:#444444;"><venda_ohcursym><venda_ohtot></td>
</tr>
<venda_block label=70,storecreditused&gt;0.00,storecreditused=notnull,creditaccount=notnull>
<tr>
	<td class="table-titles" width="30%" style="text-align:left;padding:10px;font-weight: bold;color:#444444;"><venda_text id=desktop.info.store_credit_used><venda_block label=65,storecredit&gt;0.00,storecredit=notnull> (<venda_text id=desktop.info.store_credit_remaining><venda_ohcursym><venda_storecredit>)</venda_block label=65>:</td>
	<td  width="70%" ><venda_ohcursym><venda_creditaccount></td>
</tr>
<venda_block label=181,balance=notnull,balance&gt;0.00>
<tr style="background-color:#DDDDDD;">
	<td class="table-titles" width="30%" style="text-align:left;padding:10px;font-weight: bold;color:#444444;"><venda_text id=desktop.info.store_credit_balance_paid>:</td>
	<td  width="70%" style="text-align:right;font-family:Arial; font-size:14px;padding:10px;color:#444444;"><venda_ohcursym><venda_balance></td>
</tr>
</venda_block label=181>
</venda_block label=70>
<!-- end totals -->
<venda_block label=62,totaldisc&gt;0.00>
<tr>
	<td class="table-titles" width="30%" style="text-align:left;padding:10px;font-weight: bold;"><venda_text id=desktop.info.promotions_applied></td>
	<td width="70%" style="text-align:left; color:#444444;">
		<venda_detblock3>
			<venda_ckname> (-<venda_ohcursym><venda_cktotal>)
		</venda_detblock3>
		<venda_detail3>
    </td>
</tr>

</venda_block label=62>
</table>
<div class="group_address">


	<br>

	<table class="emails-table-body-footer" align="center" border="0" cellpadding="0" cellspacing="0" bgcolor="white"  style="padding:0;border:none;background:white;text-align: left; margin: 0 auto;width:92%">
	    <tr>
	        <td class="box-detail" align="left" widht="32%" cellpadding="0" cellspacing="0" valign="top" style="font-family:Arial, Helvetica, Verdana, sans-serif !important;padding: 0px !important;">
	        <venda_block label=40,pkshipreq=1>
				<!-- start delivery address -->

				<table border="0" cellpadding="0" cellspacing="0" bgcolor="white" width="100%"  summary="Details for your <venda_ebizname> order" style="width:100%;background:white;padding: 0;text-align: left;border: 1px solid #ececec;height: 190px;">
					<tr>
						<th class="th-header" colspan="2" style="text-align:left;background:#ddd; color:#444444; padding: 20px;height:20px;"><venda_text id=desktop.heading.delivery_address></th>
					</tr>
					<venda_block label=emailnormaldelivery,mode=value,<venda_pksmref0>!=storefree>
					<tr>
						<td width="70%" valign="top" style="color: #444444 !important;font-family: arial;font-size: 12px;padding: 10px;height:170px;">
						<span class="addrName">
							<venda_block label=pktitle_miss,pktitle=Miss>
								<venda_text id=desktop.form.title.miss>
							</venda_block label=pktitle_miss><venda_block label=pktitle_mrs,pktitle=Mrs><venda_text id=desktop.form.title.mrs></venda_block label=pktitle_mrs><venda_block label=pktitle_mr,pktitle=Mr><venda_text id=desktop.form.title.mr></venda_block label=pktitle_mr><venda_block label=pktitle_ms,pktitle=Ms><venda_text id=desktop.form.title.ms></venda_block label=pktitle_ms> <venda_pkfname> <venda_block label=75,pkmname=notnull><venda_pkmname> </venda_block label=75><venda_pklname></span><br>

						<venda_block label=77,pkcompany=notnull><venda_pkcompany><br></venda_block label=77>
						<venda_pknum> <venda_pkaddr1><br>
						<venda_block label=72,pkaddr2=notnull><span style="color:#444444;"><venda_pkaddr2></span><br></venda_block label=72>

						<!-- if country is US or US entities display this formatting -->
						<venda_block label=999,mode=value,<venda_pkcntry>=United States,<venda_pkcntry>=United States Non-48,<venda_pkcntry>=United States Armed Forces,operator=or>
						<venda_block label=184,pkcity=notnull><venda_pkcity>, </venda_block label=184>
						<venda_block label=185,pkstate=notnull><venda_pkstate> </venda_block label=185><venda_pkzipc><br>
						</venda_block label=999>
						<!-- if country is NOT US or US entities display this formatting -->
						<venda_block label=9991,mode=value,<venda_pkcntry>!=United States,<venda_pkcntry>!=United States Non-48,<venda_pkcntry>!=United States Armed Forces,operator=and>
						<venda_block label=184,pkcity=notnull><venda_pkcity><br></venda_block label=184>
						<venda_block label=185,pkstate=notnull><venda_pkstate> </venda_block label=185><venda_pkzipc><venda_block label=1234,pkstate=notnull,pkzipc=notnull,operator=or><br></venda_block label=1234>
						</venda_block label=9991>
						<venda_pkcntry>
						<venda_block label=76,pkarea=notnull><br><span class="addrPhone" style="color:#444444;"><venda_pkarea> <venda_pkphone></span></venda_block label=76>
						</td>
					</tr>

					<venda_extflds exfldtype=order,ref=<venda_ohrfnbr>,template=htmlEmailOrxfieldsDisplay,type=emailIncludes,group=1,displayonly=1>
					<venda_extflds exfldtype=order,ref=<venda_ohrfnbr>,template=htmlEmailOrxfieldsDisplay,type=emailIncludes,group=2,displayonly=1>
					<venda_extflds exfldtype=order,ref=<venda_ohrfnbr>,template=htmlEmailOrxfieldsDisplay,type=emailIncludes,group=3,displayonly=1>
					<venda_extflds exfldtype=order,ref=<venda_ohrfnbr>,template=htmlEmailOrxfieldsDisplay,type=emailIncludes,group=4,displayonly=1>
					<venda_extflds exfldtype=order,ref=<venda_ohrfnbr>,template=htmlEmailOrxfieldsDisplay,type=emailIncludes,group=5,displayonly=1>
					<venda_extflds exfldtype=order,ref=<venda_ohrfnbr>,template=htmlEmailOrxfieldsDisplay,type=emailIncludes,group=6,displayonly=1>
					<venda_extflds exfldtype=order,ref=<venda_ohrfnbr>,template=htmlEmailOrxfieldsDisplay,type=emailIncludes,group=7,displayonly=1>
					<venda_extflds exfldtype=order,ref=<venda_ohrfnbr>,template=htmlEmailOrxfieldsDisplay,type=emailIncludes,group=8,displayonly=1>
					</venda_block label=emailnormaldelivery>

					<venda_block label=emailstoredelivery,mode=value,<venda_pksmref0>=storefree>
					<tr>
						<td width="70%" valign="top" style="color: #444444;font-family: arial;font-size: 12px;padding-top: 10px;padding-bottom: 10px;height:165px;">
						<strong><venda_extflds exfldtype=order,ref=<venda_ohrfnbr>,template=orxtDisplayCustInfo,type=exfields/order,group=14,displayonly=1></strong>

						<venda_extflds exfldtype=order,ref=<venda_ohrfnbr>,template=orxtDisplayEmailStoreDelivery,type=exfields/order,group=15,displayonly=1>
						</td>
					</tr>
					</venda_block label=emailstoredelivery>
				</table>
				</venda_block label=40>
				<venda_block label=401,pkshipreq!=1>
				 <table border="0" cellpadding="0" cellspacing="0" bgcolor="white" width="100%"  summary="Details for your TK Maxx order" style="width:100%;background:white;padding: 0;text-align: left;border: 1px solid #ececec;height: 190px;">
                    <tr>
                        <th class="th-header" colspan="2" style="text-align:left;background:#ddd; color:#444444; padding: 20px;height:20px;"><venda_text id=desktop.heading.delivery_address></th>
                    </tr>

                    <tr>
                       <td width="70%"  valign="top" style="font-family: arial;font-size: 12px;padding: 10px;color:#444444;height:170px;">

								&nbsp;<br>
								&nbsp;<br>
								&nbsp;<br>

						</td>
                    </tr>

                </table>
				</venda_block label=401>
				<!-- end delivery details -->
	        </td>
	        <td class="box-detail" align="left" cellpadding="0" cellspacing="0"  widht="32%" valign="top" style="font-family:Arial, Helvetica, Verdana, sans-serif !important;padding: 0px !important;">
	        <!-- start contact/billing details -->
				<table border="0" cellpadding="0" width="100%" cellspacing="0" bgcolor="white" height="190" style="width:100%;background:white;padding: 0;text-align: left;border: 1px solid #ececec;height: 190px;">
					<tr>
						<th class="th-header" colspan="2" style="background-color:#ddd;text-align:left; padding:20px;height:20px;color:#444444 !important;"><venda_text id=desktop.heading.billing_details></th>
					</tr>
					<tr>
						<td width="70%" valign="top" style="font-family: arial;font-size: 12px;padding: 10px;height:170px;color:#444444 !important;"><span class="addrName"><venda_block label=ohtitle_miss,ohtitle=Miss><venda_text id=desktop.form.title.miss></venda_block label=ohtitle_miss><venda_block label=ohtitle_mrs,ohtitle=Mrs><venda_text id=desktop.form.title.mrs></venda_block label=ohtitle_mrs><venda_block label=ohtitle_mr,ohtitle=Mr><venda_text id=desktop.form.title.mr></venda_block label=ohtitle_mr><venda_block label=ohtitle_ms,ohtitle=Ms><venda_text id=desktop.form.title.ms></venda_block label=ohtitle_ms> <venda_ohfname> <venda_block label=76,ohmname=notnull><venda_ohmname> </venda_block label=76><venda_ohlname></span><br />

						<venda_block label=73,ohcompany=notnull><venda_ohcompany><br></venda_block label=73>
						<venda_ohnum> <venda_ohaddr1><br>
						<venda_block label=74,ohaddr2=notnull><venda_ohaddr2><br></venda_block label=74>

						<!-- if country is US or US entities display this formatting -->
						<venda_block label=999,mode=value,<venda_ohcntry>=United States,<venda_ohcntry>=United States Non-48,<venda_ohcntry>=United States Armed Forces,operator=or>
						<venda_ohcity>, <venda_block label=75,ohstate=notnull><venda_ohstate></venda_block label=75> <venda_ohzipc><br>
						</venda_block label=999>
						<!-- if country is NOT US or US entities display this formatting -->
						<venda_block label=9991,mode=value,<venda_ohcntry>!=United States,<venda_ohcntry>!=United States Non-48,<venda_ohcntry>!=United States Armed Forces,operator=and>
						<venda_ohcity><br>
						<venda_block label=751,ohstate=notnull><span style="color:#444444;"><venda_ohstate></span></venda_block label=751>
						<span style="color:#444444;"><venda_ohzipc></span>
						<venda_block label=1234,ohstate=notnull,ohzipc=notnull,operator=or><br></venda_block label=1234>
						</venda_block label=9991>
						<br><span style="color:#444444;"><venda_ohcntry></span><br>
						<span class="addrPhone" style="color:#444444;"><venda_oharea> <venda_ohphone></span>
						</td>
					</tr>

					<venda_block label=155,ohfax=notnull>
					<tr>
						<td class="table-titles" width="30%" style="text-align:left; padding:10px;font-weight: bold;color:#444444;"><venda_text id=desktop.info.fax_number>:</td>
						<td width="70%" ><span class="addrFax" style="color:#444444;"><venda_ohfarea> <venda_ohfax></span></td>
					</tr>
				</venda_block label=155>
				</table>
				<!-- end contact/billing details -->
	        </td>

	         <td class="box-detail" cellpadding="0" cellspacing="0" align="left" widht="32%" valign="top" style="font-family:Arial, Helvetica, Verdana, sans-serif !important;padding: 0px !important;">
				<table border="0" cellpadding="0" cellspacing="0" bgcolor="white" width="100%" height="190" style="width:100%;background:white;padding: 0;text-align: left;border: 1px solid #ececec;height: 190px;">
					<tr>
						<th class="th-header" colspan="2" style="background-color:#ddd;text-align:left; padding:20px;height:20px;color:#444444;"><venda_text id=desktop.heading.delivery_options></th>
					</tr>
					<tr>
						<td width="70%"  valign="top" style="font-family: arial;font-size: 12px;padding: 10px;color:#444444;height:170px;">
							<venda_block label=deli1,pkshipmthd=notnull>
								<strong><venda_pkshipmthd></strong><br>
							</venda_block label=deli1>
							Delivery within 3-4 working days<br> mainland UK
						</td>
					</tr>
				</table>
	        </td>
	    </tr>
	</table>
</div>
</venda_detblock1>

<!-- end delivery/items loop -->

<venda_detail1>

