<venda_detblock1>
        <venda_block label=258,exfieldvalue=notnull>
			<venda_block label=storename,extagname=orxtccstname><div class="name"><venda_exfieldvalue></div></venda_block label=storename>
			<venda_block label=storenum,extagname=orxtccstnum><div><span class="num"><venda_exfieldvalue></span></div></venda_block label=storenum>
			<venda_block label=storeadd1,extagname=orxtccstadd1><span class="addr1"><venda_exfieldvalue></span></venda_block label=storeadd1><venda_block label=storeadd2,extagname=orxtccstadd2>&nbsp;<span class="addr2"><venda_exfieldvalue></span></venda_block label=storeadd2><venda_block label=storeadd3,extagname=orxtccstadd3>&nbsp;<span class="addr3"><venda_exfieldvalue></span></venda_block label=storeadd3>
			<venda_block label=storepcode,extagname=orxtccstpcode><div class="pcode"><venda_exfieldvalue></div><br></venda_block label=storepcode>
			<venda_block label=storecounty,extagname=orxtccstcounty><div class="county"><venda_exfieldvalue></div></venda_block label=storecounty>
			<venda_block label=storecountry,extagname=orxtccstcountry><div class="county"><venda_exfieldvalue></div><br></venda_block label=storecountry>
        </venda_block label=258>
</venda_detblock1>
 
<venda_detail1>
