<venda_detblock_item>
<li class="minicart-<venda_invtref> marg-top" id="li_<venda_invtref>">
<div id="minicartDetailHighlight_<venda_invtref>"></div>

<div class="prod row">
<venda_block label=45,invtpublish=1>
<venda_tpcomment><!-- product --></venda_tpcomment>
	<div class="prod-image small-8 columns">
	<venda_block label=20,invtatt1=notnull>
		<venda_tpcomment><!--product has attributes--></venda_tpcomment>
		<venda_block label=21,med-set<venda_setting type=ebiz,name=setminicartpopupimagekey>=notnull>
			<venda_block label=22,mode=value,<venda_media rec=invt,type=pict,key=set<venda_setting type=ebiz,name=setminicartpopupimagekey>,img=no,medatr=yes>=notnull>
				<venda_tpcomment><!-- if 'set' prefix with att association value--></venda_tpcomment>
				<venda_media rec=invt,type=pict,key=set<venda_setting type=ebiz,name=setminicartpopupimagekey>,medatr=yes>
			</venda_block label=22>
			<venda_block label=23,mode=value,<venda_media rec=invt,type=pict,key=set<venda_setting type=ebiz,name=setminicartpopupimagekey>,img=no,medatr=yes>=null>
				<venda_tpcomment><!--if 'set' prefix without att association value--></venda_tpcomment>
				<venda_block label=231,med-<venda_setting type=ebiz,name=setminicartpopupimagekey>=notnull>
					<venda_tpcomment><!--use key=xsmall--></venda_tpcomment>
					<venda_media rec=invt,type=pict,key=<venda_setting type=ebiz,name=setminicartpopupimagekey>>
				</venda_block label=231>
				<venda_block label=232,med-<venda_setting type=ebiz,name=setminicartpopupimagekey>=null>
					<venda_tpcomment><!--use noimage graphic if 'xsmall' is null--></venda_tpcomment>
					<img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/no_image_<venda_setting type=ebiz,name=setminicartpopupimagekey>.gif" alt="<venda_text id=desktop.info.no_product_image>">
				</venda_block label=232>
			</venda_block label=23>
		</venda_block label=21>
		<venda_block label=24,med-set<venda_setting type=ebiz,name=setminicartpopupimagekey>=null>
			<venda_tpcomment><!--if not 'set' prefix - no alt. images functionality--></venda_tpcomment>
			<venda_block label=25,med-<venda_setting type=ebiz,name=setminicartpopupimagekey>=notnull>
				<venda_tpcomment><!--use key=xsmall--></venda_tpcomment>
				<venda_media rec=invt,type=pict,key=<venda_setting type=ebiz,name=setminicartpopupimagekey>>
			</venda_block label=25>
			<venda_block label=26,med-<venda_setting type=ebiz,name=setminicartpopupimagekey>=null>
				<venda_tpcomment><!--use noimage graphic if 'xsmall' is null--></venda_tpcomment>
				<img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/no_image_<venda_setting type=ebiz,name=setminicartpopupimagekey>.gif" alt="<venda_text id=desktop.info.no_product_image>">
			</venda_block label=26>
		</venda_block label=24>
	</venda_block label=20>
	<venda_block label=30,invtatt1=null>
		<venda_tpcomment><!--product doesn't has attributes--></venda_tpcomment>
		<venda_block label=31,med-<venda_setting type=ebiz,name=setminicartpopupimagekey>=notnull>
		<venda_tpcomment><!--if not 'set' prefix - no alt. images functionality --></venda_tpcomment>
		<venda_media rec=invt,type=pict,key=<venda_setting type=ebiz,name=setminicartpopupimagekey>>
		</venda_block label=31>
		<venda_block label=32,med-<venda_setting type=ebiz,name=setminicartpopupimagekey>=null>
		<venda_tpcomment><!--without key=xsmall--></venda_tpcomment>
		<img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/no_image_<venda_setting type=ebiz,name=setminicartpopupimagekey>.gif" alt="<venda_text id=desktop.info.no_product_image>">
		</venda_block label=32>
	</venda_block label=30>
	</div>
	<div class="prod-details small-16 columns text-left">
		<venda_block label=80,invtatrtot&lt;1><p class="prod-name"><venda_invtname></p></venda_block label=80>
		<venda_block label=81,invtatrtot&gt;0><p class="prod-name"><venda_invtname></p> <venda_block label=1190,invtref!=giftcert><p class="prod-invtatt">(<venda_invtatt1><venda_block label=7,invtatt2=notnull>, <venda_invtatt2></venda_block label=7><venda_block label=8,invtatt3=notnull>, <venda_invtatt3></venda_block label=8><venda_block label=9,invtatt4=notnull>, <venda_invtatt4></venda_block label=9>)</venda_block label=1190></p></venda_block label=81>
		<p class="prod-quantity"><venda_text id=desktop.info.qty>:&nbsp;<venda_oiqty></p>
		<venda_block label=119,invtref!=giftcert>
			<p class="prod-price"><venda_currsym><venda_invtsell><venda_block label=10,oiqty&gt;1>&nbsp;<venda_text id=desktop.info.each></venda_block label=10></p>
		</venda_block label=119>
		<venda_block label=229,invtref=giftcert>
			<venda_tpcomment><!-- giftcert --></venda_tpcomment>
			<p class="prod-price"><venda_currsym><venda_oiextprice></p>
		</venda_block label=229>
	</div>
</venda_block label=45>
<venda_block label=46,invtpublish!=1>
<venda_tpcomment><!-- unpublished --></venda_tpcomment>

	<venda_block label=43,invtref!=giftcert>
	<div class="prod-image small-8 columns">
		<venda_block label=41,med-<venda_setting type=ebiz,name=setminicartpopupimagekey>=notnull>
		<venda_media rec=invt,type=pict,key=<venda_setting type=ebiz,name=setminicartpopupimagekey>>
		</venda_block label=41>
		<venda_block label=42,med-<venda_setting type=ebiz,name=setminicartpopupimagekey>=null>
		<img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/no_image_<venda_setting type=ebiz,name=setminicartpopupimagekey>.gif" alt="<venda_text id=desktop.info.no_product_image>">
		</venda_block label=42>
	</div>
	</venda_block label=43>
	<div class="prod-details small-16 columns text-left">
		<p class="prod-name"><venda_invtname></p>
		<p class="prod-unpublished"><venda_text id=desktop.info.not_available></p>
	</div>
</venda_block label=46>
</div>
</li>
</venda_detblock_item>

<ul id="minicart_products" class="minicart_products"><venda_detail_item></ul>