<venda_tpcomment><!-- included just above the closing body tag in layout (main/) templates for pages where tracking is used --></venda_tpcomment>
<venda_tpcomment><!-- vendaDebug - javascript for (core code) template debugging tool --></venda_tpcomment>
<venda_inctemplate name=vendaDebug,type=includes>
<venda_inctemplate name=agilone,type=tracking>
<venda_inctemplate name=globalTags,type=tracking/locaytaESP>
<venda_inctemplate name=coremetricsMain,type=tracking/coremetrics>
<venda_inctemplate name=googleAnalyticsSnippetv12,type=tracking>
<venda_inctemplate name=gtmSnippet,type=tracking>
<venda_inctemplate name=flashtalking-sitewide,type=tracking/flashtalking>
<venda_inctemplate name=googleremarketing,type=tracking>