<script type="text/javascript"> 
var ftRandom = Math.random()*1000000; 
document.write('<iframe style="position:absolute; visibility:hidden; width:1px; height:1px;" src="https://servedby.flashtalking.com/container/372;7609;892;iframe/?spotName=Order_Confirmation_Page&ftXRef=<venda_ohordnum>&ftXValue=<venda_ohtot>&ftxcurrency=<venda_ohcur>&cachebuster='+ftRandom+'"></iframe>'); 
</script>