<venda_block paypalexpress=1>
<div class="row">
    <div class="small-24 columns">
        <p class="right pad-bottom">
        <venda_text id=desktop.info.paypal.selecttext>
        <a href="<venda_codehttps>?ex=co_wizr-checkout&mode=process&step=startcheckout&param2=paypal" data-trackEvent="Checkout"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/btn_xpressCheckout.gif" alt="<venda_text id=desktop.info.paypal.link.title>"></a>
        </p>
    </div>
</div>
</venda_block>