<div class="productItem vbmproduct detailpage">
    <venda_block label=9604,mode=value,<venda_invtmsrp>!=<venda_invtsell>>
<!-- product -->
        <li class="searchlist prodQuickBuy">
            <div id="comp-image<venda_invtref>" class="image">

            <!-- ///// START BADGES ////// -->
            <div class="badges">

                <venda_tpcomment><!-- REMOVED  -->
                    <venda_block label=seenin,pdxtseenin=notnull><!-- As seen in -->
                        <img class="badge goldlabel" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/<venda_pdxtseenin>.gif" alt="As seen in <venda_pdxtseenin>" />
                    </venda_block label=seenin>
                </venda_tpcomment>

                <venda_block label=notseenin,pdxtseenin=null>

                    <venda_block label=goldlabel,invtivtype=12,invtivtype=76,invtivtype=77,invtivtype=37,invtivtype=4,operator=or><!-- Gold Label products -->
                        <img class="badge goldlabel" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/goldlabel.jpg" alt="Gold Label" />
                    </venda_block label=goldlabel>

                    <venda_tpcomment><!-- REMOVED  -->
                        <venda_block label=notgoldlabel,invtivtype!=12,invtivtype!=76,invtivtype!=77,invtivtype!=37,operator=or><!-- Not Gold Label products -->
                            <span id="newinBadge<venda_invtref>" class="hide badge newin"></span>

                            <venda_block label=isclearance,pdxtclearance=1><!-- Is clearance -->
                                <img id="clearance<venda_invtref>" class="badge clearance" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/clearance.gif" alt="Gold Label" />
                            </venda_block label=isclearance>

                            <script type="text/javascript">
                                (function() {
                                    //Show new in label if release date is within last 3 days
                                    var now = new Date();
                                    var releaseDate = new Date();
                                    var day = <venda_invtreleasedy>
                                    var month = <venda_invtreleasemn> -1;
                                    var year = <venda_invtreleaseyr>

                                    now.setDate(now.getDate()-3);
                                    releaseDate.setFullYear(year,month,day);

                                    if (releaseDate > now) {
                                        $('#newinBadge<venda_invtref>').html('<img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/newin.gif" alt="New In" />').show();
                                        $('#clearance<venda_invtref>').remove();
                                    }
                                })();
                            </script>
                        </venda_block label=notgoldlabel>
                    </venda_tpcomment>
                </venda_block label=notseenin>
            </div>
            <!-- ///// END BADGES ////// -->


                <venda_block label=4,med-search=notnull>
                    <a href="<venda_dispview invt=<venda_invtref>>"><venda_media rec=invt,type=movie-swf-pict,key=search,border=0></a>
                </venda_block label=4>
                <venda_block label=5,med-search=null>
                    <a href="<venda_dispview invt=<venda_invtref>>"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/no_image_<venda_setting type=ebiz,name=setsearchimagekey>.gif" alt="<venda_text id=site.link.alt.no_image.invt>"></a>
                </venda_block label=5>
                <!-- Quickbuy -->
                <div class="quickLinkBox buyLink" style="visibility: hidden;"><a href="<venda_dispview invt=<venda_invtref>>&temp=quickBuyDetails&layout=noheaders" id="<venda_invtref>" class="quickBuy"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/addtobasketqs.png" alt="Add to Basket"></a></div>
            </div><!-- end .image -->
            <h2 class="brand"><a id="comp-name<venda_invtref>" href="<venda_dispview invt=<venda_invtref>>"><venda_invtbrand></a>&nbsp;</h2>
            <h3 class="vbmprodname"><a id="comp-name<venda_invtref>" href="<venda_dispview invt=<venda_invtref>>"><venda_invtname></a></h3>
            <div class="details">
<!-- LUGGAGE "from" word for luggages product type-->
                <venda_block label=165,invtivtype=10,invtivtype=Handbags,invtivtype=62,operator=or> <!-- 10=luggages, Handbags=Small Luggage, 62=homesense towels -->
                <div id="luggage" class="from">from</div>
            </venda_block label=165>
<!-- LUGGAGE "from" word for luggages product type ENDS -->
                <div class="price"><venda_currsym><venda_invtsell></div>
                <div class="savingDetails">
                    <div class="pricemsrp"><venda_block label=106,mode=value,<venda_invtmsrp>=notnull,<venda_invtmsrp>!=<venda_invtsell>><venda_text id=site.msrp><venda_currsym><venda_invtmsrp1></venda_block label=106> <span class="price-saving save" data-currsym="<venda_currsym>" data-price="<venda_invtsavingonmsrp>" data-percent="<venda_invtsavingonmsrppercent>"></span></div>
                    <div class="was"><venda_block label=062811,<venda_invtwas>&gt;<venda_invtsell>,mode=value><venda_currsym><venda_invtwas></venda_block label=062811></div>
                </div><!-- end .savingDetails -->
                <div class="onhandimg">
                    <venda_block label=101,invtonhand=5><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/img_5left.gif" alt="<venda_text id=site.search_results.5left>"></venda_block label=101>
                    <venda_block label=102,invtonhand=4><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/img_4left.gif" alt="<venda_text id=site.search_results.4left>"></venda_block label=102>
                    <venda_block label=103,invtonhand=3><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/img_3left.gif" alt="<venda_text id=site.search_results.3left>"></venda_block label=103>
                    <venda_block label=104,invtonhand=2><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/img_2left.gif" alt="<venda_text id=site.search_results.2left>"></venda_block label=104>
                    <venda_block label=105,invtonhand=1><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/img_1left.gif" alt="<venda_text id=site.search_results.1left>"></venda_block label=105>
                </div>
            </div><!-- end .details -->

            <venda_block label=600,mode=value,<venda_setting type=ebiz,name=setalwaysshowcompare>=>
                <venda_block label=700,mode=value,<venda_tpxt mode=get,name=activepcatid>!=>
                    <venda_block label=800,mode=value,<venda_tpxt mode=get,name=active<venda_setting type=ebiz,name=setcomparecategorytrigger>>!=>

                        <div class="compbutton"><a href="#" onclick='AddtoCompare("<venda_invtivtype>","<venda_invtref>","comp-name<venda_invtref>","comp-image<venda_invtref>"); return false;'><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_addtocompare.gif" alt="<venda_text id=site.button.title.compare.invt>"></a></div>
                    </venda_block label=800>
                </venda_block label=700>
                <venda_block label=701,mode=value,<venda_tpxt mode=get,name=activepcatid>=>
                    <venda_block label=801,mode=value,<venda_tpxt mode=get,name=active<venda_setting type=ebiz,name=setcomparekeywordtrigger>>!=>
                        <div class="compbutton"><a href="#" onclick='AddtoCompare("<venda_invtivtype>","<venda_invtref>","comp-name<venda_invtref>","comp-image<venda_invtref>"); return false;'><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_addtocompare.gif" alt="<venda_text id=site.button.title.compare.invt>"></a></div>
                    </venda_block label=801>
                </venda_block label=701>
            </venda_block label=600>

            <venda_block label=601,mode=value,<venda_setting type=ebiz,name=setalwaysshowcompare>=1>
                <div class="compbutton"><a href="#" onclick='AddtoCompare("<venda_invtivtype>","<venda_invtref>","comp-name<venda_invtref>","comp-image<venda_invtref>"); return false;'><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_addtocompare.gif" alt="<venda_text id=site.button.title.compare.invt>"></a></div>
            </venda_block label=601>

            <venda_block label=40,invtavail&lt;1>
                <!-- if out of stock -->
                <!-- p class="nostock"><venda_text id=site.out_of_stock></p -->
                <venda_block label=167,etadyleft&gt;0><!-- p class="eta"><venda_text id=site.eta_date_invt></p --></venda_block label=167>
                <!-- p class="emailme"><a href="<venda_dispview invt=<venda_invtref>>&temp=emailinstock&bklist=<venda_bklist>" title="<venda_text id=site.link.title.email_when_in_stock.invt>"><venda_text id=site.link.email_when_in_stock></a></p -->
            </venda_block label=40>

            <venda_block label=104,invtsell2=notnull>
                <!-- p class="multibuy"><venda_text id=site.multibuy></p -->
            </venda_block label=104>

            <venda_block label=51,mode=value,<venda_setting type=ebiz,name=powerreviews>=1,<venda_setting type=ebiz,name=powerreviewslocayta>=1>
                <!-- power reviews snippets for product reviews -->
                <div>
                    <script type="text/javascript">
                        var pr_page_id = '<venda_invtref>';
                        var pr_write_review='<venda_dispview invt=<venda_invtref>>&temp=submitpowerreview&pageId=<venda_invtref>&layout=defaultnocolthree';
                        var pr_read_review='<venda_dispview invt=<venda_invtref>>#readReview';
                        snippet(document);
                    </script>
                </div>
            </venda_block label=51>
        </li>
    </venda_block label=9604>

    <venda_block label=9605,mode=value,<venda_invtmsrp>=<venda_invtsell>>
<!-- product -->
        <li class="searchlist prodQuickBuy">
            <div id="comp-image<venda_invtref>" class="image">

            <!-- ///// START BADGES ////// -->
            <div class="badges">

                <venda_tpcomment><!-- REMOVED  -->
                    <venda_block label=seenin,pdxtseenin=notnull><!-- As seen in -->
                        <img class="badge goldlabel" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/<venda_pdxtseenin>.gif" alt="As seen in <venda_pdxtseenin>" />
                    </venda_block label=seenin>
                </venda_tpcomment>

                <venda_block label=notseenin,pdxtseenin=null>

                    <venda_block label=goldlabel,invtivtype=12,invtivtype=76,invtivtype=77,invtivtype=37,invtivtype=4,operator=or><!-- Gold Label products -->
                        <img class="badge goldlabel" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/goldlabel.jpg" alt="Gold Label" />
                    </venda_block label=goldlabel>

                    <venda_tpcomment><!-- REMOVED  -->
                        <venda_block label=notgoldlabel,invtivtype!=12,invtivtype!=76,invtivtype!=77,invtivtype!=37,operator=or><!-- Not Gold Label products -->
                            <span id="newinBadge<venda_invtref>" class="hide badge newin"></span>

                            <venda_block label=isclearance,pdxtclearance=1><!-- Is clearance -->
                                <img id="clearance<venda_invtref>" class="badge clearance" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/clearance.gif" alt="Gold Label" />
                            </venda_block label=isclearance>

                            <script type="text/javascript">
                                (function() {
                                    //Show new in label if release date is within last 3 days
                                    var now = new Date();
                                    var releaseDate = new Date();
                                    var day = <venda_invtreleasedy>
                                    var month = <venda_invtreleasemn> -1;
                                    var year = <venda_invtreleaseyr>

                                    now.setDate(now.getDate()-3);
                                    releaseDate.setFullYear(year,month,day);

                                    if (releaseDate > now) {
                                        $('#newinBadge<venda_invtref>').html('<img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/newin.gif" alt="New In" />').show();
                                        $('#clearance<venda_invtref>').remove();
                                    }
                                })();
                            </script>
                        </venda_block label=notgoldlabel>
                    </venda_tpcomment>
                </venda_block label=notseenin>
            </div>
            <!-- ///// END BADGES ////// -->


                <venda_block label=4,med-search=notnull>
                    <a href="<venda_dispview invt=<venda_invtref>>"><venda_media rec=invt,type=movie-swf-pict,key=search,border=0></a>
                </venda_block label=4>
                <venda_block label=5,med-search=null>
                    <a href="<venda_dispview invt=<venda_invtref>>"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/no_image_<venda_setting type=ebiz,name=setsearchimagekey>.gif" alt="<venda_text id=site.link.alt.no_image.invt>"></a>
                </venda_block label=5>
                <!-- Quickbuy -->
                <div class="quickLinkBox buyLink" style="visibility: hidden;"><a href="<venda_dispview invt=<venda_invtref>>&temp=quickBuyDetails&layout=noheaders" id="<venda_invtref>" class="quickBuy"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/addtobasketqs.png" alt="Add to Basket"></a></div>
            </div><!-- end .image -->
            <h2 class="brand"><a id="comp-name<venda_invtref>" href="<venda_dispview invt=<venda_invtref>>"><venda_invtbrand></a>&nbsp;</h2>
            <h3 class="vbmprodname"><a id="comp-name<venda_invtref>" href="<venda_dispview invt=<venda_invtref>>"><venda_invtname></a></h3>
            <div class="details">
<!-- LUGGAGE "from" word for luggages product type-->
                <venda_block label=165,invtivtype=10,invtivtype=Handbags,invtivtype=62,operator=or> <!-- 10=luggages, Handbags=Small Luggage, 62=homesense towels -->
                <div id="luggage" class="from">from</div>
            </venda_block label=165>
<!-- LUGGAGE "from" word for luggages product type ENDS -->
                <div class="price"><venda_currsym><venda_invtsell></div>
                <div class="savingDetails">
                    <div class="pricemsrp"><venda_block label=106,mode=value,<venda_invtmsrp>=notnull,<venda_invtmsrp>!=<venda_invtsell>><venda_text id=site.msrp><venda_currsym><venda_invtmsrp1></venda_block label=106> <span class="price-saving save" data-currsym="<venda_currsym>" data-price="<venda_invtsavingonmsrp>" data-percent="<venda_invtsavingonmsrppercent>"></span></div>
                    <div class="was"><venda_block label=062811,<venda_invtwas>&gt;<venda_invtsell>,mode=value><venda_currsym><venda_invtwas></venda_block label=062811></div>
                </div><!-- end .savingDetails -->
                <div class="onhandimg">
                    <venda_block label=101,invtonhand=5><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/img_5left.gif" alt="<venda_text id=site.search_results.5left>"></venda_block label=101>
                    <venda_block label=102,invtonhand=4><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/img_4left.gif" alt="<venda_text id=site.search_results.4left>"></venda_block label=102>
                    <venda_block label=103,invtonhand=3><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/img_3left.gif" alt="<venda_text id=site.search_results.3left>"></venda_block label=103>
                    <venda_block label=104,invtonhand=2><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/img_2left.gif" alt="<venda_text id=site.search_results.2left>"></venda_block label=104>
                    <venda_block label=105,invtonhand=1><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/img_1left.gif" alt="<venda_text id=site.search_results.1left>"></venda_block label=105>
                </div>
            </div><!-- end .details -->

            <venda_block label=600,mode=value,<venda_setting type=ebiz,name=setalwaysshowcompare>=>
                <venda_block label=700,mode=value,<venda_tpxt mode=get,name=activepcatid>!=>
                    <venda_block label=800,mode=value,<venda_tpxt mode=get,name=active<venda_setting type=ebiz,name=setcomparecategorytrigger>>!=>

                        <div class="compbutton"><a href="#" onclick='AddtoCompare("<venda_invtivtype>","<venda_invtref>","comp-name<venda_invtref>","comp-image<venda_invtref>"); return false;'><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_addtocompare.gif" alt="<venda_text id=site.button.title.compare.invt>"></a></div>
                    </venda_block label=800>
                </venda_block label=700>
                <venda_block label=701,mode=value,<venda_tpxt mode=get,name=activepcatid>=>
                    <venda_block label=801,mode=value,<venda_tpxt mode=get,name=active<venda_setting type=ebiz,name=setcomparekeywordtrigger>>!=>
                        <div class="compbutton"><a href="#" onclick='AddtoCompare("<venda_invtivtype>","<venda_invtref>","comp-name<venda_invtref>","comp-image<venda_invtref>"); return false;'><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_addtocompare.gif" alt="<venda_text id=site.button.title.compare.invt>"></a></div>
                    </venda_block label=801>
                </venda_block label=701>
            </venda_block label=600>

            <venda_block label=601,mode=value,<venda_setting type=ebiz,name=setalwaysshowcompare>=1>
                <div class="compbutton"><a href="#" onclick='AddtoCompare("<venda_invtivtype>","<venda_invtref>","comp-name<venda_invtref>","comp-image<venda_invtref>"); return false;'><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/bt_addtocompare.gif" alt="<venda_text id=site.button.title.compare.invt>"></a></div>
            </venda_block label=601>

            <venda_block label=40,invtavail&lt;1>
                <!-- if out of stock -->
                <!-- p class="nostock"><venda_text id=site.out_of_stock></p -->
                <venda_block label=167,etadyleft&gt;0><!-- p class="eta"><venda_text id=site.eta_date_invt></p --></venda_block label=167>
                <!-- p class="emailme"><a href="<venda_dispview invt=<venda_invtref>>&temp=emailinstock&bklist=<venda_bklist>" title="<venda_text id=site.link.title.email_when_in_stock.invt>"><venda_text id=site.link.email_when_in_stock></a></p -->
            </venda_block label=40>

            <venda_block label=104,invtsell2=notnull>
                <!-- p class="multibuy"><venda_text id=site.multibuy></p -->
            </venda_block label=104>

            <venda_block label=51,mode=value,<venda_setting type=ebiz,name=powerreviews>=1,<venda_setting type=ebiz,name=powerreviewslocayta>=1>
                <!-- power reviews snippets for product reviews -->
                <div>
                    <script type="text/javascript">
                        var pr_page_id = '<venda_invtref>';
                        var pr_write_review='<venda_dispview invt=<venda_invtref>>&temp=submitpowerreview&pageId=<venda_invtref>&layout=defaultnocolthree';
                        var pr_read_review='<venda_dispview invt=<venda_invtref>>#readReview';
                        snippet(document);
                    </script>
                </div>
            </venda_block label=51>
        </li>
    </venda_block label=9605>
</div><!-- end .productItem -->