<div id="addressbookadd">
<venda_block label=myaccount1,workflow=myaccount>
<venda_tpcomment><!-- Start: wrapper for myaccount workflow with off canvas myaccountnav --></venda_tpcomment>
    <div class="thickpad js-addaddressform">
</venda_block label=myaccount1>

<venda_block label=checkout,workflow=checkout>
<venda_tpcomment><!-- Start: wrapper for checkout workflow --></venda_tpcomment>
<div class="row js-addaddressform">
    <div class="minicart-box large-7 push-17 columns marg-top">
            <venda_inctemplate name=minicart_detail,type=includes>
    </div>
    <div class="<venda_workflow> <venda_curstep> columns <venda_block label=41,workflow=checkout>large-14 pull-10 marg-top</venda_block label=41><venda_block label=42,workflow=myaccount>large-16 push-2</venda_block label=42>">
</venda_block label=checkout>

        <div>
            <h1><venda_text id=desktop.heading.add_delivery_address></h1>
            <div>
                <venda_block errors=notnull><h2 class="alert-box alert radius" data-alert=""><venda_errors></h2></venda_block>
            </div>
        </div>

    	<div id="addressForm">

    		<form method="post" name="addressbookform" action="<venda_codehttps>" id="addressform" class="js-custom">
    		<input type="hidden" name="ex" value="co_wizr-<venda_workflow>" />
    		<venda_block workflow=checkout>	<input type="hidden" name="step" value="ordersummary" />
    		<venda_block errors=null><input type="hidden" name="curlayout" value="checkout" /></venda_block>
    		</venda_block>
    		<venda_block workflow=myaccount>	<input type="hidden" name="step" value="addressbook" />
    		<venda_block errors=null><input type="hidden" name="curlayout" value="myaccount" /></venda_block>
    		</venda_block>
    		<input type="hidden" name="mode" value="process" />
    		<input type="hidden" name="workflowid" value="<venda_workflowid>" />
    		<input type="hidden" name="trrfnbr" value="<venda_trrfnbr>" />
    		<input type="hidden" name="curstep" value="addressbookadd" />
    		<input type="hidden" name="PrimaryForm" />
    		<input type="hidden" name="abrfnbr" value="<venda_abrfnbr>" />
    		<input type="hidden" name="param2" value="add" />
    		<venda_block label=134,workflow=singleadbook><input type="hidden" name="copybilltodel" value="1" /></venda_block label=134>

    			<fieldset>
    			<div class="row">
				<div class="large-7 columns">
                    <label for="title" class="inline"><venda_text id=desktop.form.title></label>
				</div>
				<div class="large-17 columns">
    				<select name="title" id="title">
                        <option value=""><venda_text id=desktop.info.please_select></option>
                        <option value="Mr"><venda_text id=desktop.form.title.mr></option>
                        <option value="Mrs"><venda_text id=desktop.form.title.mrs></option>
                        <option value="Miss"><venda_text id=desktop.form.title.miss></option>
                        <option value="Ms"><venda_text id=desktop.form.title.ms></option>
    				</select>
				</div>
                </div>
    			<div class="row">
    				<div class="large-7 columns"><label for="fname" class="inline"><venda_text id=desktop.form.fname><i class="required"></i></label></div>
    				<div class="large-17 columns"><input type="text" autocorrect="off" name="fname" id="fname" value="<venda_fname>" required="required" autofocus="autofocus" /></div>
    			</div>
    			<div class="row">
    				<div class="large-7 columns"><label for="lname" class="inline"><venda_text id=desktop.form.lname><i class="required"></i></label></div>
    				<div class="large-17 columns"><input type="text" autocorrect="off" name="lname" id="lname" value="<venda_lname>" required="required" /></div>
    			</div>
    		</fieldset>

    		<fieldset>
                <div class="row">
                    <div class="large-7 columns"><label for="cntrylist" class="inline"><venda_text id=desktop.form.country><i class="required"></i></label></div>
                    <div class="large-17 columns"><venda_cntry field=combo,id=cntrylist,ship=1></div>
                </div>
    			<div id="js-hideOrShowAddress">
                    <div class="row">
                        <div class="large-7 columns"><label for="company" class="inline "><venda_text id=desktop.form.company> </label></div>
                        <div class="large-17 columns"><input type="text" autocorrect="off" name="company" id="company" value="<venda_company>" /></div>
                    </div>
        			<div id="houseNum" class="row">
        				<div class="large-7 columns"><label for="num" class="inline"><venda_text id=desktop.form.house_num><i class="required"></i></label></div>
        				<div class="large-17 columns"><input type="text" autocorrect="off" name="num" id="num" value="<venda_num>" /></div>
        			</div>
        			<div class="row">
        				<div class="large-7 columns"><label for="addr1" class="inline"><venda_text id=desktop.form.address><i class="required"></i></label></div>
        				<div class="large-17 columns"><input type="text" autocorrect="off" name="addr1" id="addr1" value="<venda_addr1>" required="required" /></div>
        			</div>
        			<div class="row">
        				<div class="large-7 columns"><label for="addr2" class="inline"><venda_text id=desktop.form.addr2> </label></div>
        				<div class="large-17 columns"><input type="text" autocorrect="off" name="addr2" id="addr2" value="<venda_addr2>" /></div>
        			</div>
        			<div class="row">
        				<div class="large-7 columns"><label for="city" class="inline"><venda_text id=desktop.form.city><i class="required"></i></label></div>
        				<div class="large-17 columns"><input type="text" autocorrect="off" name="city" id="city" value="<venda_city>" required="required" /></div>
        			</div>
        			<div id="stateDiv" class="row">
        				<div class="large-7 columns"><label for="statetext" id="stateLabel" class="inline"><venda_text id=desktop.form.state><i class="required"></i></label></div>
        				<div class="large-17 columns"><input type="text" autocorrect="off" name="state" id="statetext" value="<venda_state>" required="required" /><select name="state" id="statelist"></select></div>
        			</div>
                </div>
                <div id="zipcDiv" class="row">
                    <div class="large-7 columns"><label for="zipc" id="zipcLabel" class="inline"><venda_text id=desktop.form.postcode><i class="required"></i></label></div>
                    <div class="large-17 columns">
                        <div class="row collapse">
                            <div class="large-16 columns">
                                <input type="text" autocorrect="off" name="zipc" id="zipc" value="<venda_zipc>" />
                            </div>
                            <div class="large-8 columns">
                                <a href="#" class="button expand postfix" id="js-lookup-submit-btn" data-inline="true"><span><venda_text id=desktop.button.lookup_address></span><i class="icon-spinner icon-spin icon-2x" style="display:none;"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="addresslookup">
                    <div class="row" id="js-addresses-found" style="display:none">
                        <div class="large-7 columns">
                            <label for="zcdropdown" class="inline hide-for-small"><venda_text id=desktop.form.address><i class="required"></i><span class="hidescreenreadersafe"><venda_text id=desktop.form.required></span></label>
                        </div>
                        <div class="large-17 columns">
                            <div class="js-custom lookupdropdown" role="alert" aria-live="assertive"><span class="lookuptext"><venda_text id=desktop.info.lookup_message></span><span id="js-lookupresults"></span>
                        </div>
                        </div>
                    </div>
                     <div class="row" id="js-lookup-error" style="display:none">
                        <div class="push-7 large-17 columns">
                            <div class="alert-box alert radius text-center thinpad marg-bottom"><span><venda_text id=desktop.validation.no_addresses_found></span></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="large-7 columns"></div>
                    <div class="large-17 columns"><a href="#" id="js-lookup-reset-btn" style="display:none" class="button small secondary marg-top thickmarg-bottom"><venda_text id=desktop.button.search_again></a>  <a href="#" id="js-manual-reset-btn" class="button small secondary marg-top thickmarg-bottom"><venda_text id=desktop.button.enter_address_manually></a></div>
                </div>
    			<div class="row">
    				<div class="large-7 columns"><label for="phone" class="inline"><venda_text id=desktop.form.phone><i class="required"></i></label></div>
    				<div class="large-17 columns"><input type="tel" name="phone" id="phone" value="<venda_phone>" required="required" /></div>
    			</div>
    		</fieldset>

    		<venda_block label=48,mode=value,<venda_glxt mode=get,name=glxtusertype>!=p,<venda_ustype>!=P>
    		<fieldset>
    		<div class="row">
    			<div class="large-7 columns"><label for="addrname" class="inline"><venda_text id=desktop.form.addrname> </label></div>
    			<div class="large-17 columns">
                    <input type="text" name="addrname" id="addrname" value="<venda_addrname>">
                    <p class="helptext"><venda_text id=desktop.form.addrname.help></p>
                </div>
    		</div>
    		</fieldset>

    		</venda_block label=48>

    		<input type="hidden" name="default" value="1">
		<div id="buttons" class="row thickpad-bottom">
		<div class="large-12 small-14 columns right text-right marg-bottom"><input type="submit" value="<venda_text id=desktop.button.add_address>" class="button pad small-24 large-16" /></div>
		<div class="large-12 small-10 columns"><a href="<venda_wizurl step=addressbook>" class="button secondary pad small-24 large-10"><venda_text id=desktop.button.cancel></a></div>
		</div>
    		</form>
    	</div>

<venda_block label=checkout2,workflow=checkout>
<venda_tpcomment><!-- End: wrapper for checkout workflow --></venda_tpcomment>
    </div>
</div>
</venda_block label=checkout2>

<venda_block label=myaccount2,workflow=myaccount>
<venda_tpcomment><!-- End: wrapper for myaccount workflow with left myaccountnav --></venda_tpcomment>
    </div>
</venda_block label=myaccount2>

<venda_inctemplate name=workflowSteps,type=tracking/shared><venda_tpcomment><!-- Include for tracking tags --></venda_tpcomment>
<venda_zones type=countries,template=countrySelect><venda_tpcomment><!-- Include for country select (regions js/textids) --></venda_tpcomment>
<venda_tpxt mode=set,name=curstep,value=step3><venda_tpcomment><!-- Used for checkout step indicators --></venda_tpcomment>
<venda_tpxt mode=set,name=title,value=<venda_text id=desktop.heading.add_delivery_address>><venda_tpcomment><!-- Used for html title --></venda_tpcomment>

</div>
