
<script type="text/javascript">
    jQuery(function() {
        jQuery("body").trigger("writereviewform-loaded");
		Venda.Ebiz.customSelect();
    });
</script>

<form action="<venda_codehttp>" method="post" name="writereviewform" id="writereviewform" class="columns">
<input type="hidden" name="ex" value="co_disp-eproc">
<input type="hidden" name="subject" value="<venda_setting type=ebiz,name=name> Product Review from Customer">
<input type="hidden" name="to" value="<venda_setting type=ebiz,name=email>">
<input type="hidden" name="label1" value="Name:">
<input type="hidden" name="label2" value="Phone Number:">
<input type="hidden" name="label6" value="Rating out of 5:">
<input type="hidden" name="label3" value="Review:">
<input type="hidden" name="label4" value="Product Sku:">
<input type="hidden" name="field4" value="<venda_invtref>">
<input type="hidden" name="label5" value="Product Name:">
<input type="hidden" name="field5" value="<venda_invtname>">
<input type="hidden" name="temp" value="thankyou">
<input type="hidden" name="invt" value="<venda_invtref>">
<input type="hidden" name="layout" value="">
<input type="hidden" name="htxt" value="<venda_htxt mode=make,foo=writereview>">

<div>

	<h1><venda_text id=desktop.heading.write_review></h1>
<div class="panel">
	<p><venda_text id=desktop.info.write_review_5></p>
	<ol class="thickmarg-side">
		<li><venda_text id=desktop.info.write_review_1></li>
		<li><venda_text id=desktop.info.write_review_2></li>
		<li><venda_text id=desktop.info.write_review_3></li>
		<li><venda_text id=desktop.info.write_review_4></li>
	</ol>
</div>
	<fieldset>
	<div class="row">
		<div class="large-8 columns reviewlabel"><label for="field1" class="inline left"><venda_text id=desktop.form.name> <i class="required"></i></label></div>
		<div class="large-16 columns reviewinput"><input type="text" autocorrect="off" name="field1" id="field1" maxlength="150" required="required" autofocus="autofocus"></div>
	</div>
	<div class="row">
		<div class="large-8 columns reviewlabel"><label for="from" class="inline left"><venda_text id=desktop.form.reviewemail> <i class="required"></i></label><span class="hidescreenreadersafe"><venda_text id=desktop.form.required></span></div>
		<div class="large-16 columns reviewinput"><input type="email" name="from" id="from" maxlength="150" required="required"></div>
	</div>
	<div class="row">
		<div class="large-8 columns reviewlabel"><label for="field2" class="inline left"><venda_text id=desktop.form.phone> <i class="required"></i></label><span class="hidescreenreadersafe"><venda_text id=desktop.form.required></span></div>
		<div class="large-16 columns reviewinput"><input type="tel" name="field2" id="field2" maxlength="30" required="required"></div>
	</div>
	<div class="row js-custom">
	<div class="large-8 columns reviewlabel"><label for="field6" class="inline left"><venda_text id=desktop.form.rating_out_of_5> <i class="required"></i></label><span class="hidescreenreadersafe"><venda_text id=desktop.form.required></span></div>
	<div class="large-16 columns reviewinput"><select name="field6" id="field6">
		<option value=""><venda_text id=desktop.form.please_select_rating></option>
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
		<option value="5">5</option>
	</select></div>
	</div>
	<div class="row">
		<div class="large-8 columns reviewlabel"><label for="field3" class="inline left"><venda_text id=desktop.form.review> <i class="required"></i></label><span class="hidescreenreadersafe"><venda_text id=desktop.form.required></span></div>
		<div class="large-16 columns reviewinput"><textarea cols="46" name="field3" id="field3" rows="6" required="required"></textarea></div>
	</div>
	</fieldset>
<div id="buttons" class="row">
	<div class="large-12 columns right text-right marg-bottom"><input type="submit" value="<venda_text id=desktop.button.continue>" alt="<venda_text id=desktop.button.continue>" id="continue" class="button success"></div>
	<div class="large-12 columns"><a href="<venda_dispview invt=<venda_invtref>>" id="back_link" class="button secondary"><venda_text id=misc.button.cancel></a></div>
</div>
</div>

</form>

<!-- tpxt used for crumbtrail -->
<venda_tpxt mode=set,name=invtname,value=<venda_invtname>>
<venda_tpxt mode=set,name=track,value=writereview>





































