  <venda_detblockgiftcard>

  <fieldset class="f-giftcard thickmarg-topbottom">
    <legend><venda_text id=site.order_confirmation.legend.giftcard></legend>

      <div class="row">
        <div class="large-24 columns">
          <div class="small-24 large-24 left">
            <label for="giftcardpayment"><input type="radio" name="payment_id" value="<venda_payment_id>" id="giftcardpayment"<venda_block label=78,payment_selected=1> checked="checked"</venda_block label=78><venda_block label=24,payment_hide_choice=1> style="display:none"</venda_block label=24>><span class="thinpad-side"><venda_profile_provider></span></label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="large-6 columns">
          <label for="card_id" class="inline right"><venda_text id=desktop.form.giftcard_number></label>
        </div>
        <div class="large-18 columns">
          <input id="card_id" type="text" name="card_id" value="" size="16" maxlength="50" autocomplete="off">
        </div>
      </div>

      <div class="row">
        <div class="large-6 columns">
          <label for="security_code" class="inline right"><venda_text id=desktop.form.giftcard_code></label>
        </div>
        <div class="large-18 columns">
          <input id="security_code" type="text" name="security_code" value="" size="16" maxlength="50" autocomplete="off">
        </div>
      </div>

      <div class="row">
        <div class="large-6 columns">
          <label for="payment_amount" class="inline right"><venda_text id=desktop.form.giftcard_amount></label>
        </div>
        <div class="large-18 columns">
          <input type="text" name="payment_amount" value="<venda_unauthed_payment_amount>" size="6" maxlength="6" id="payment_amount">
        </div>
      </div>

  </fieldset>
  <hr>
</venda_detblockgiftcard>

<venda_detailgiftcard>