<venda_detblock_zone>
	Venda.CountrySelect.countryAndData["<venda_name>"] = [<venda_zones type=states,template=stateZones,parent=<venda_name>>];
</venda_detblock_zone>

<script type="text/javascript">
	<venda_detail_zone>
</script>

<venda_tpcomment><!-- Localisation to be passed to JS --></venda_tpcomment>
<div id="js-countryselect-num" style="display: none;"><venda_text id=desktop.form.house_num></div>
<div id="js-countryselect-state" style="display: none;"><venda_text id=desktop.form.state></div>
<div id="js-countryselect-county" style="display: none;"><venda_text id=desktop.form.county></div>
<div id="js-countryselect-province" style="display: none;"><venda_text id=desktop.form.province></div>
<div id="js-countryselect-region" style="display: none;"><venda_text id=desktop.form.region></div>
<div id="js-countryselect-zipc" style="display: none;"><venda_text id=desktop.form.zipcode></div>
<div id="js-countryselect-postcode" style="display: none;"><venda_text id=desktop.form.postcode></div>
<div id="js-countryselect-pleaseselect" style="display: none;"><venda_text id=desktop.form.please_select_multi_dot></div>
<div id="js-countryselect-optional" style="display: none;"><venda_text id=desktop.form.optional></div>