<venda_detblock1><venda_block label=258,exfieldvalue=notnull>
<tr>
	<td class="table-titles" width="30%" style="text-align:left; padding:0 20px;font-weight: bold;"><venda_exname>:</td>
	<td width="70%" ><venda_exfieldvalue></td>	
</tr>
</venda_block label=258>
</venda_detblock1>
<venda_detail1>