<div id="payment">
<div id="wizard_confirm_button">
<form method="post" enctype="multipart/form-data" name="paymentform" action="<venda_codehttps>">
	<input type="hidden" name="ex" value="co_wizr-<venda_workflow>">
	<input type="hidden" name="step" value="next">
	<input type="hidden" name="mode" value="process">
	<input type="hidden" name="param1" value="">
	<input type="hidden" name="param2" value="">
	<input type="hidden" name="param3" value="">
	<input type="hidden" name="check" value="">
	<input type="hidden" name="trrfnbr" value="">
	<input type="hidden" name="wizard" value="">
	<input type="hidden" name="trrfext" value="1">
	<input type="hidden" name="curstep" value="payment">
	<input type="hidden" name="workflowid" value="<venda_workflowid>">

	<input type="submit" value="<venda_text id=site.orpayment.confirm>">
	</form>
</div>
<venda_paymenttypes ohrfnbr=<venda_ohrfnbr>,template=paymenttypes_wz_orpayment,templatetype=paytype/frontend>

<venda_tpxt mode=set,name=track,value=orpayment-empty>
<venda_tpxt mode=set,name=curstep,value=step4>
</div>