<div id="delivertostore">
<div class="<venda_workflow> <venda_curstep>">
	<div class="main-header">
		<h1><venda_text id=desktop.heading.deliver_to_store></h1>
	</div>
	<div id="dtsStorelocator">
		<!-- Store locator include -->
		<venda_inctemplate name=storeLocator,type=includes>
	</div>
	<venda_block label=1,errors=notnull><h2 class="alert-box alert radius" data-alert=""><venda_errors></h2></venda_block label=1>
	<form id="dtsform" method="post" name="<venda_curstep>form" action="<venda_codehttps>">
		<input type="hidden" name="ex" value="co_wizr-<venda_workflow>" />
		<input type="hidden" name="workflowid" value="<venda_workflowid>" />
		<input type="hidden" name="curstep" value="delivertostore" /> <venda_tpcomment><!-- curstep doesn't translate, so hardcoding --></venda_tpcomment>
		<input type="hidden" name="curparam1" value="delivery">
		<input type="hidden" name="curparam2" value="storeadd">
		<input type="hidden" name="abrfnbr" value="<venda_curparam1>">
		<input type="hidden" name="trrfnbr" value="<venda_userinfo><venda_sesid></venda_userinfo>" />
		<input type="hidden" name="mode" value="process" />
		<venda_block errors=null><input type="hidden" name="curlayout" value="checkout" /></venda_block>
		<input type="hidden" name="default" value="1">
		<input type="hidden" name="param2" value="add" />
		<input type="hidden" name="step" value="ordersummary" />
		<div id="storedeliveryaddress" style="display:none" class="thickmarg-topbottom">
		<fieldset>
		<div class="row">
		<div class="large-6 columns">
			<label for="title" class="inline right hide-for-small"><venda_text id=desktop.form.title></label>
		</div>
		<div class="large-18 columns js-custom">
			<select name="title" id="title">
				<option value="Mr"><venda_text id=desktop.form.title.mr></option>
				<option value="Mrs"><venda_text id=desktop.form.title.mrs></option>
				<option value="Miss"><venda_text id=desktop.form.title.miss></option>
				<option value="Ms"><venda_text id=desktop.form.title.ms></option>
			</select>
		</div>
		</div>
		<div class="row">
			<div class="large-6 columns"><label for="fname" class="inline right"><venda_text id=desktop.form.fname></label></div>
			<div class="large-18 columns"><input type="text" autocorrect="off" name="fname" id="fname" value="<venda_sesfname>" required="required" autofocus="autofocus" /></div>
		</div>
		<div class="row">
			<div class="large-6 columns"><label for="lname" class="inline right"><venda_text id=desktop.form.lname></label></div>
			<div class="large-18 columns"><input type="text" autocorrect="off" name="lname" id="lname" value="<venda_seslname>" required="required" /></div>
		</div>
		</fieldset>
		<hr><br>

		<div class="large-6 columns">
			<span class="inline right"><venda_text id=desktop.info.store_address></span>
		</div>
		<div class="large-18 columns">
				<div class="thickpad-bottom">
					<span><venda_addrname></span>
					<input type="hidden" name="addrname" value="<venda_addrname>">
				</div>
			<div class="panel">
				<div>
					<span>c/o <venda_setting type=ebiz,name=name></span>
					<input type="hidden" name="company" value="c/o <venda_setting type=ebiz,name=name>">
				</div>
				<div>
					<span> <venda_num></span>
					<input type="hidden" name="num" value="<venda_num>">
				</div>
				<div>
					<span> <venda_addr1></span>
					<input type="hidden" name="addr1" value="<venda_addr1>">
				</div>
				<div>
					<span> <venda_addr2></span>
					<input type="hidden" name="addr2" value="<venda_addr2>">
				</div>
				<div>
					<span> <venda_city></span>
					<input type="hidden" name="city" value="<venda_city>">
				</div>
				<div>
					<span> <venda_state></span>
					<input type="hidden" name="state" value="<venda_state>">
				</div>
				<div>
					<span> <venda_zipc></span>
					<input type="hidden" name="zipc" value="<venda_zipc>">
				</div>
				<div>
					<span> <venda_phone></span>
					<input type="hidden" name="phone" value="<venda_phone>">
				</div>
				<div>
					<span> <venda_cntry></span>
					<input type="hidden" name="cntry" value="<venda_cntry>">
				</div>
			</div>
			<div class="thickpad-bottom">
				<a id="DTSchangeStore" href="#" class="button small left js-DTSchangeStore"><venda_text id=desktop.button.change_store></a>
			</div><br>
		<hr>
		</div>
		<div id="buttons" class="row thickpad-bottom">
		<div class="large-12 columns right text-right marg-bottom"><input type="submit" value="<venda_text id=desktop.button.confirm_store>" class="button" id="dtsSubmit" style="display:none"></div>
		<div class="large-12 columns"><venda_block label=100,param2=storeadd>	<a href='<venda_wizurl step=ordersummary>&param1=<venda_bsref>' class="button secondary"><venda_text id=desktop.button.cancel></a></venda_block label=100></div>
		</div>
	</form>
</div>

<venda_tpxt mode=set,name=curstep,value=step3><venda_tpcomment><!-- Used for checkout step indicators --></venda_tpcomment>

<venda_tpxt mode=set,name=title,value=<venda_text id=desktop.heading.deliver_to_store>><venda_tpcomment><!-- Used for html title --></venda_tpcomment>

<!-- Venda vars to be passed to JS -->
<div id="venda_cntry" style="display: none;"><venda_cntry></div>
<div id="venda_state" style="display: none;"><venda_state></div>
<div id="venda_locn" style="display: none;"><venda_sessionlocation></div>

<venda_inctemplate name=workflowSteps,type=tracking/shared>
</div>