<script type="text/javascript">

	Venda.Attributes.StoreImageSwaps({
		"param": "",
		"images": {
			imgS: ["<venda_media rec=invt,type=pict,key=small,img=no>","<venda_media rec=invt,type=pict,key=salt1,img=no>","<venda_media rec=invt,type=pict,key=salt2,img=no>","<venda_media rec=invt,type=pict,key=salt3,img=no>","<venda_media rec=invt,type=pict,key=salt4,img=no>","<venda_media rec=invt,type=pict,key=salt5,img=no>"],
			imgM: ["<venda_media rec=invt,type=pict,key=medium,img=no>","<venda_media rec=invt,type=pict,key=malt1,img=no>","<venda_media rec=invt,type=pict,key=malt2,img=no>","<venda_media rec=invt,type=pict,key=malt3,img=no>","<venda_media rec=invt,type=pict,key=malt4,img=no>","<venda_media rec=invt,type=pict,key=malt5,img=no>"],
			imgL: ["<venda_media rec=invt,type=pict,key=large,img=no>","<venda_media rec=invt,type=pict,key=lalt1,img=no>","<venda_media rec=invt,type=pict,key=lalt2,img=no>","<venda_media rec=invt,type=pict,key=lalt3,img=no>","<venda_media rec=invt,type=pict,key=lalt4,img=no>","<venda_media rec=invt,type=pict,key=lalt5,img=no>"]
		},
        "noimages": {
            imgS: "<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/no_image_xsmall.gif",
            imgM: "<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/no_image_medium.gif",
            imgL: "<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/no_image_large.gif"
        }
	});
    Venda.Attributes.StoreImageSwapsMobile({
        "param": "",
        "images": {
            imgS: ["<venda_media rec=invt,type=pict,key=small,img=no>","<venda_media rec=invt,type=pict,key=salt1,img=no>","<venda_media rec=invt,type=pict,key=salt2,img=no>","<venda_media rec=invt,type=pict,key=salt3,img=no>","<venda_media rec=invt,type=pict,key=salt4,img=no>","<venda_media rec=invt,type=pict,key=salt5,img=no>"],
            imgM: ["<venda_media rec=invt,type=pict,key=medium,img=no>","<venda_media rec=invt,type=pict,key=malt1,img=no>","<venda_media rec=invt,type=pict,key=malt2,img=no>","<venda_media rec=invt,type=pict,key=malt3,img=no>","<venda_media rec=invt,type=pict,key=malt4,img=no>","<venda_media rec=invt,type=pict,key=malt5,img=no>"],
            imgL: ["<venda_media rec=invt,type=pict,key=large,img=no>","<venda_media rec=invt,type=pict,key=lalt1,img=no>","<venda_media rec=invt,type=pict,key=lalt2,img=no>","<venda_media rec=invt,type=pict,key=lalt3,img=no>","<venda_media rec=invt,type=pict,key=lalt4,img=no>","<venda_media rec=invt,type=pict,key=lalt5,img=no>"]
        },
        "noimages": {
            imgS: "<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/no_image_xsmall.gif",
            imgM: "<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/no_image_medium.gif",
            imgL: "<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/no_image_large.gif"
        }
    });
</script>