<div class="footer-links checkout-footer">
    <div class="row footer-row-one"><venda_page page=footerlinkscheckout></div>
    <div class="footer-row-two">
        <div class="left">
            <venda_inctemplate name=pciLogo,type=widgets>
        </div>
        <div class="right">
            <venda_inctemplate name=vendaLogo,type=widgets>
        </div>
        <div class="text-center">
            <img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/creditcards.png" class="creditcardslogo">
            <p class="copyright"><span><venda_text id=desktop.info.copyright> </span>&copy; <span><venda_ebizname></span> <venda_dateformat date=now,format=yyyy></p>
        </div>
    </div>
</div>

<div id="vModal" class="reveal-modal"><div class="js-modalContent"><div class="text-center"><i class="icon-spinner icon-spin icon-4x"></i></div></div><a class="close-reveal-modal icon-remove"><span class="hidescreenreadersafe"><venda_text id=desktop.button.close></span></a></div>

