<venda_detblock1>

    <venda_block label=258,exfieldvalue=notnull>
		<venda_block label=storename,extagname=orxtccstname><br><span class="name"><venda_exfieldvalue></span></venda_block label=storename>
		<venda_block label=storenum,extagname=orxtccstnum><br><span><span class="num"><venda_exfieldvalue></span></span></venda_block label=storenum>
		<venda_block label=storeadd1,extagname=orxtccstadd1><br><span class="addr1"><venda_exfieldvalue></span></venda_block label=storeadd1><venda_block label=storeadd2,extagname=orxtccstadd2>&nbsp;<span class="addr2"><venda_exfieldvalue></span></venda_block label=storeadd2><venda_block label=storeadd3,extagname=orxtccstadd3>&nbsp;<span class="addr3"><venda_exfieldvalue></span></venda_block label=storeadd3>
		<venda_block label=storepcode,extagname=orxtccstpcode><br><span class="pcode"><venda_exfieldvalue></span><br></venda_block label=storepcode>
		<venda_block label=storecounty,extagname=orxtccstcounty><br><span class="county"><venda_exfieldvalue></span></venda_block label=storecounty>
		<venda_block label=storecountry,extagname=orxtccstcountry><br><span class="country"><venda_exfieldvalue></span><br></venda_block label=storecountry>
		<venda_block label=storephone,extagname=orxtccstphone><br><span>Tel: </span><span class="phone"><venda_exfieldvalue></span></venda_block label=storephone>
    </venda_block label=258>
</venda_detblock1>

<venda_detail1>
