<venda_detblock>
<venda_order ref=<venda_ohrfnbr>,shopcart=0,template=myaccountRecentOrdersDetail>
</venda_detblock>

<venda_block cartcount!=0>
<table class="orders">
      <thead>
        <tr>
          <th width="150"><venda_text id=desktop.info.order_number></th>
          <th width="450"><venda_text id=desktop.info.items></th>
          <th width="150"><venda_text id=desktop.info.order_status></th>
          <th width="150" class="hide-for-small"><venda_text id=desktop.info.view_order></th>
        </tr>
      </thead>
      <tbody>
			<venda_detail>
      </tbody>
</table>
</venda_block>

<venda_block cartcount=0>
<p><venda_text id=desktop.info.no_orders_placed></p>
</venda_block>
