<venda_detblock>
	<venda_paymenttemplate paymenttype=<venda_paymentname>,templatetype=paytype/frontend,template=paymenttype_display_<venda_paymentname>,ohrfnbr=<venda_paymentohrfnbr>>
</venda_detblock>

<venda_detail>