<!-- venda_search tag starts -->
<div id="content-search-body" class="small-24 columns content-search-body">
    <a id="content-top"></a>
       <venda_block label=333,totalresults!=0>
            <div class="main-header text-center marg-bottom">
                <venda_block label=isKeyword,mode=value,<venda_tpxt mode=get,name=categorySearch>=>
                <h1 class="search-header nomarg"><venda_text id=desktop.heading.search_results></h1>
                </venda_block label=isKeyword>

                 <venda_block label=isCategory,mode=value,<venda_tpxt mode=get,name=categorySearch>!=>
                    <venda_category rec=icat,ref=<venda_tpxt mode=get,name=activecategory>,temp=categorysearchbanner,cacheall=1>
                 </venda_block label=isCategory>
            </div>
    </venda_block label=333>
<venda_block label=334,totalresults!=0>
    <nav id="sidebar" role="navigation" class="search-refine large-5 columns">
        <div class="refinelist">
            <div id="term" class="box" ></div>
            <div id="collate" class="box" ></div>
        </div>
    </nav>
    <!-- Filters zone: filters will be inserted inside div tag -->
</venda_block label=334>
    <section id="searchResults" role="main" class="search-results js-column large-19 columns">
        <!-- Category/Search zone: search results will be inserted inside div tag -->
        <div lmzone="catpagezone" facetdomid="collate" filterdomid="term"></div>
    </section>
    <div style="display:none;" id="multirefine-tmpl">
        <label>
            <input type="checkbox" value="" class="js-updatesearch">
            <span class="js-facet"></span>
        </label>
    </div>
    <div id="loadingsearch" class="search-loading text-center" style="display:none;"><i class="icon-spinner icon-spin icon-5x"></i></div>
</div>
<venda_tpcomment><!-- Hidden tags for JS --></venda_tpcomment>
<div id="tag-error" style="display:none;"><venda_text id=desktop.info.search_error></div>
<div id="tag-primarysearchtext" style="display:none;"><venda_primarysearchtext></div>
<div id="tag-totalresults" style="display:none;"><venda_totalresults></div>
<venda_block label=347,totalresults!=0>
<venda_tpcomment><!-- only need to call cloudzoom here, not sitewide --></venda_tpcomment>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/external/cloudzoom.js"></script>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/Venda/Widget/handleCloudzoom.js"></script>
</venda_block label=347>
<!-- venda_search tag ends -->

<venda_tpcomment><!-- This tpxt is a workaround for not having <venda_icatref> --></venda_tpcomment>
<venda_tpxt mode=set,name=categorySearch,value=<venda_icatref>>

<venda_tpcomment><!-- Used for product compare widgets/compareItems/compareItems.html  --></venda_tpcomment>
<venda_tpxt mode=set,name=track,value=productlist>
<venda_block label=41,mode=value,<venda_setting type=ebiz,name=showcompareproductlist>=1>
<venda_block label=501,mode=value,<venda_setting type=ebiz,name=setalwaysshowcompare>!=1><venda_tpxt mode=set,name=comparecatref,value=<venda_icatref>></venda_block label=501>
<venda_block label=502,mode=value,<venda_setting type=ebiz,name=setalwaysshowcompare>=1><venda_tpxt mode=set,name=comparecatref,value=allcategory></venda_block label=502>
</venda_block label=41>

<div id="parentCatName" style="display:none;"><venda_icatname></div>
<div id="parentCatLDesc" style="display:none;"><venda_icatldesc></div>
<div id="parentCatRef" style="display:none;"><venda_icatref></div>
