<div class="row pad">
    <div class="large-24 columns">
        <h1 class="big-header nomarg"><venda_icatname></h1>
        <h2 class="pad-bottom"><venda_text id=desktop.heading.shop_the_look></h2>
    </div>
    <div id="productdetail-image" class="large-10 columns text-center thickpad-bottom">
        <venda_block label=10,med-catimage=notnull><venda_media rec=icat,type=movie-swf-pict,key=catimage></venda_block label=10>
        <venda_block label=11,med-catimage=null><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/no_image_medium.gif" alt="<venda_text id=desktop.info.no_product_image>"></venda_block label=11>
    </div>
    <div class="large-14 columns thickpad-bottom">
        <venda_detblock>
        <li class="prod js-prod"><venda_inventory ref=<venda_invtref1>,temp=searchInvt></li>
        <venda_tpcomment><!-- If you want to add to cart from the icat page use this instead --><venda_inventory ref=<venda_invtref1>,temp=shopthelookinvt></venda_tpcomment>
        </venda_detblock>
        <ul class="js-viewstyle small-block-grid-3 js-viewGrid"><venda_detail></ul>
        <venda_ldesc>
    </div>
</div>
<div class="row pad">
    <div class="box box-section">
        <div class="box-header"><h2 class="text-center"><venda_text id=desktop.heading.more_looks></h2></div>
        <div class="box-body"><venda_category temp=featcats,rec=icat,ref=<venda_catref0>></div>
    </div>
</div>