<div class="promo-bar"><venda_page page=headerpromobar></div>

<div class="row">
    <div class="large-24 columns hide-for-small">
        <venda_block label=979,pageref!=home>
        <venda_block label=980,rtype=invt,rtype=icat,rtype=page,rtype=pcat,stryref=notnull,scatref=notnull,operator=or>
        <p class="crumbtrail">
            <a href="<venda_ebizurl>" class="crumbtrail-home"><venda_text id=desktop.button.home></a>
            <venda_cattree class=crumbtrail-anchor,sep= <venda_block label=981,rtype=invt,rtype=page,stryref=notnull,operator=or>,append=<span class="prod-name"><venda_invtname><venda_pagename><venda_stryname></span></venda_block label=981>>
        </p>
        </venda_block label=980>
        </venda_block label=979>
    </div>
</div>

<div id="tags_cattree" style="display: none">
<venda_cattree index=1, value=catref>,
<venda_cattree index=2, value=catref>,
<venda_cattree index=3, value=catref>
</div>