<venda_block label=814,mode=value,<venda_setting type=ebiz,name=tracktagcoremetrics>=1>
<venda_block label=869,mode=value,<venda_curstep>=orderreceipt>
<script type="text/javascript">
<!--// coremetrics shopAction9s for Order Receipt
names=new Array("prodId", "prodName", "prodQty", "prodPrice", "custId", "orderId", "orderSubtot", "catId");
values=new Array("<venda_oiivref>", "<venda_oiivname>", "<venda_oiqty>", "<venda_invtsell>", "<venda_ohemail>", "<venda_ohordnum>", "<venda_ohsub>", "<venda_invtcatref0>");
cmCreateShopAction9Tag(values[0], values[1], values[2], values[3], values[4], values[5], values[6], values[7]);
//-->
</script>
<!-- cmCreateShopAction9Tag -->
</venda_block label=869>
</venda_block label=814>