<venda_tpcomment><!-- tag values used for minicart update without reload --></venda_tpcomment>
<div id="tag-addedmsgref" style="display:none;"><venda_addedmsg msg=addedref></div>
<div id="tag-bsref" style="display:none;"><venda_bsref></div>
<div id="tag-addedmsg" style="display:none;"><venda_block label=32,mode=value,<venda_addedmsg msg=addedref>=notnull><venda_addedmsg msg=addedref></venda_block label=32></div>
<div id="tag-headertext" style="display:none;"><span><venda_text id=desktop.heading.your_cart></span></div>
<venda_tpcomment><!-- shown for tablet portrait and larger --></venda_tpcomment>

<div class="header-row-one show-for-desktop-up">
    <div class="row">
        <div class="large-24 column">
            <div id="basketSection">
                <div class="js-addingtobasket" style="display:none;"><venda_text id=desktop.button.addingtobasket></div>
                <div class="js-addtobasket" style="display:none;"><venda_text id=desktop.button.addtobasket></div>
                <div class="js-preorder" style="display:none;"><venda_text id=desktop.button.preorder></div>
                <div class="js-backorder" style="display:none;"><venda_text id=desktop.button.backorder></div>
                <venda_minicart template=itemsTotal>
                <div id="minicartDetailWrapper" class="minicartDetailWrapper"></div>
            </div>

            <div class="loginSection">
                <ul class="user-login inline-list">
                    <li class="welcome">
                        <venda_block label=1,ustype=R><venda_userinfo><venda_text id=desktop.info.welcome_back> <span class="show-for-desktop-up"><venda_sesfname></span></venda_userinfo>,</venda_block label=1>
                        <venda_tpcomment><!--venda_block label=2,ustype!=R><venda_text id=desktop.info.welcome_to> <venda_setting type=ebiz,name=name></venda_block label=2--></venda_tpcomment>
                    </li>
                    <venda_block label=20,ustype=R>
                    <li class="js-myaccount"><venda_block label=300,mode=value,<venda_setting type=ebiz,name=skipsecondlogin>=1><a href="<venda_codehttps>?ex=co_wizr-myaccount"></venda_block label=300><venda_block label=301,mode=value,<venda_setting type=ebiz,name=skipsecondlogin>!=1><a href="<venda_codehttps>?ex=co_wizr-register"></venda_block label=301><venda_text id=desktop.button.my_account></a></li>
                    <li><span>/</span></li>
                    <li class="js-logout"><a href="<venda_dispview page=home>?log=4"><venda_text id=desktop.button.log_out></a></li>
                    </venda_block label=20>
                    <venda_block label=21,ustype!=R>
                    <li class="js-login"><a href="<venda_codehttps>?ex=co_wizr-register"><venda_text id=desktop.button.log_in_register></a></li>
                    </venda_block label=21>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="header-row-two" id="header-row-two">
    <div class="row">
        <div class="large-24 columns">

            <div class="nav-browse hide-for-desktop-up">
                <a href="#js-canvas-content-left" id="js-canvas-left" class="js-canvas-left" aria-controls="js-canvas-content-left"><i class="icon-hamburger icon-2x"></i><span class="hidescreenreadersafe"><venda_text id=desktop.heading.browse></span></a>
            </div>

            <div class="logo">
                <venda_block label=nothome,pageref!=home>
                <a href="<venda_ebizurl>"><img id="logo" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/logo.png" alt="<venda_ebizname>"></a>
                </venda_block label=nothome>
                <venda_block label=home,pageref=home>
                <h1><img id="logo" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/logo.png" alt="<venda_ebizname>"></h1>
                </venda_block label=home>
            </div>

            <div class="header-right text-right">
                <ul class="header-right-inner inline-list">
                    <li class="hide-for-desktop-up"><a href="#" class="nav-search button" id="show-small-search"><i class="icon-search icon-2x" aria-hidden="true"></i><span class="hide-for-small"><venda_text id=desktop.button.search></span></a></li>
                    <li><a href="<venda_dispview page=storelocator>" class="findstore-button button"><i class="icon-locator icon-3x"></i><span class="hide-for-small"><venda_text id=desktop.button.store_locator></span></a></li>
                    <li class="hide-for-small"><a href="<venda_dispview page=contact>" class="contact-button button"><i class="icon-info icon-2x"></i>&nbsp;&nbsp;<span class="hide-for-small"><venda_text id=desktop.button.contact></span></a></li>
                    <li class="header-cart hide-for-desktop-up"><a href="#js-canvas-content-right" id="js-canvas-right" class="js-canvas-right button" aria-controls="js-aria-minicart"><i class="icon-cart icon-3x"></i><span class="hidescreenreadersafe"><venda_text id=desktop.button.view_shopping_cart></span><venda_minicart template=itemsTotalMini></a></li>
                </ul>
            </div>

            <div class="search">
                <h5 class="search-header hide"><venda_text id=desktop.heading.search></h5>
                <venda_block label=solrsearch,mode=value,<venda_ebxtlocayta>=null>
                <form id="formsolrsearch" name="formsolrsearch" action="<venda_dispview page=search>">
                </venda_block label=solrsearch>
                <venda_block label=locaytasearch,mode=value,<venda_ebxtlocayta>=notnull>
                <form id="formsolrsearch" name="formsolrsearch" action="<venda_dispview page=search>" method="get">
                </venda_block label=locaytasearch>
                    <label class="hidescreenreadersafe" for="q"><venda_text id=desktop.form.keyword>:</label>
                    <input type="search" size="20" id="q" name="q" placeholder="<venda_text id=desktop.form.enter_keyword>" class="search-input">
                    <div class="search-submit">
                        <button type="submit" class="button search-button" id="searchsubmit"><i class="icon-search icon-2x" aria-hidden="true"></i><span class="hidescreenreadersafe"><venda_text id=desktop.button.search></span></button>
                    </div>
                    <div class="js-searchMessage"></div>
                </form>
            </div>
        </div>

        <venda_tpcomment><!--
        <div class="columns minicart-button show-for-desktop-up">
            <venda_block label=11,mode=value,<venda_shopcart mode=getqty>!=0>
            <venda_block label=140,ustype=R>
            <venda_block label=142,mode=value,<venda_setting type=ebiz,name=skipsecondlogin>=1>
            <a id="goToCheckout" class="button" href="<venda_codehttps>?ex=co_wizr-checkout&step=ordersummary">
            </venda_block label=142>

            <venda_block label=143,mode=value,<venda_setting type=ebiz,name=skipsecondlogin>!=1>
            <a id="goToCheckout" class="button" href="<venda_codehttps>?ex=co_wizr-checkout&step=login">
            </venda_block label=143>
            </venda_block label=140>

            <venda_block label=141,ustype!=R>
            <a id="goToCheckout" class="button" href="<venda_codehttps>?ex=co_wizr-checkout&step=login">
            </venda_block label=141>
            </venda_block label=11>

            <venda_block label=12,mode=value,<venda_shopcart mode=getqty>=0>
            <a id="goToCheckout" class="button minicart-button-empty" href="<venda_codehttp>?ex=co_wizr-shopcart&log=22">
            </venda_block label=12>
            <venda_text id=desktop.button.checkout> <i class="icon-double-angle-right"></i>
            </a>
        </div>
        --></venda_tpcomment>
    </div>
</div>
