



<venda_block label=notemptybasket,mode=value,<venda_ohinvtqty>&gt;0>
<venda_detblock_item><venda_oiivref>,<venda_invtparef>,</venda_detblock_item>


//create string of all prods
var venda_attributesku= "<venda_detail_attr>";
//alert(venda_attributesku);

//create string of all prods
var venda_invtparef = "<venda_detail_item>";
// create array to hold skus
var venda_invtparefArray = new Array();
// put skus into array
venda_invtparefArray = venda_invtparef.split(",");
//remove final item from array caused by trailing ","
venda_invtparefArray.pop();


//
//Create array to take venda_oiivref
    venda_oiivref = [],
//Create array to take venda_invtparef
    venda_invtparef = [];

//extract venda_oiivrefm & venda_invtparef from venda_invtparefArray
for (var i=0;i< venda_invtparefArray.length;i++){
    if ((i+2)%2==0) {
        venda_invtparef.push(venda_invtparefArray[i]);
    }
    else {
        venda_oiivref.push(venda_invtparefArray[i]);
    }
}

//create array to take both types
var invtArray =[];

for (var i=0;i< venda_oiivref.length;i++){
    if (venda_oiivref[i]!='') {
        invtArray.push(venda_oiivref[i]);
    }
    else {
        invtArray.push(venda_invtparef[i]);
    }
}

//


//remove any duplicate skus
var venda_invtparefArrayUnique = [];
$.each(invtArray, function(i, el){
    if($.inArray(el, venda_invtparefArrayUnique) === -1) venda_invtparefArrayUnique.push(el);
});

//alert(venda_invtparefArrayUnique);


	//Shopcart items
	_a1as.push(["setvar","productid_cart",venda_invtparefArrayUnique]);
</venda_block label=notemptybasket>