<div id="minicart_totals" class="<venda_block label=50,mode=value,<venda_shopcart mode=getqty>!=0>minicart-items-added</venda_block label=50><venda_block label=51,mode=value,<venda_cartitemtotal>=0> minicart-items-empty</venda_block label=51>">
    <div class="minicart_totals-inner row">
        <div class="small-10 columns">
            <span class="minicart-items"><a href="<venda_codehttp>?ex=co_wizr-shopcart&log=22"><span class="js-updateItems"><venda_cartitemtotal></span> <span class="js-updateItemsText"><venda_block label=19,mode=value,<venda_shopcart mode=getqty>=1><venda_text id=desktop.info.item></venda_block label=19><venda_block label=20,mode=value,<venda_shopcart mode=getqty>!=1><venda_text id=desktop.info.items></venda_block label=20></span></a></span>
        </div>
        <div class="small-14 columns text-right">
            <span class="minicart-total"><a href="<venda_codehttp>?ex=co_wizr-shopcart&log=22"><venda_text id=desktop.info.subtotal> <span class="js-updateTotal"><venda_total></span></a></span>
            <venda_block label=105,totaldisc&gt;0.00,totaldisc!=null><span class="minicart-discount right">(<venda_text id=desktop.info.discount>: <venda_currsym><venda_totaldisc>)</span></venda_block label=105>
        </div>
    </div>
</div>
