<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-<venda_block mode=value,<venda_islive>=1><venda_setting type=ebiz,name=tracktaggoogleanalyticsid>-<venda_setting type=ebiz,name=tracktaggooglesuffix></venda_block><venda_block mode=value,<venda_islive>!=1><venda_setting type=ebiz,name=tracktaggoogleanalyticstestid>-<venda_setting type=ebiz,name=tracktaggooglesuffixtest></venda_block>']);


    if(typeof Venda.Widget.Tracking != 'undefined'){
    <venda_tpcomment>/*Check resources/js/Venda/Widget/Tracking.js is loaded*/</venda_tpcomment>

        var step = Venda.Widget.Tracking.Step(),
        ord = Venda.Widget.Tracking.orderJSON,
        items = Venda.Widget.Tracking.orditemsArray,
        user = new Venda.Widget.Tracking.Ses();


        <venda_tpcomment>/*Set session custom variables in slots 2-4. N.B. Slot 1 is reserved for mobile site detection*/</venda_tpcomment>
        _gaq.push(['_setCustomVar',2,'Visitor Type',user.ustype,2]);
        _gaq.push(['_setCustomVar',3,'Language',user.lang,2]);
        _gaq.push(['_setCustomVar',4,'Region', user.locn,2]);


        if(step){
        <venda_tpcomment>/*Track workflow steps as Virtual Pageviews*/</venda_tpcomment>
            _gaq.push(['_trackPageview', step]);
        } else {
        <venda_tpcomment>/*Track standard Pageviews if not on a workflow step*/</venda_tpcomment>
            _gaq.push(['_trackPageview']);
        }


        jQuery('body').bind('minicart-items-added', function() {
        <venda_tpcomment>/*Track Add to Cart as Event*/</venda_tpcomment>
            _gaq.push(['_trackEvent','Shopping','Add to Cart',jQuery('#tag-invtname').text()]);
        });

        if(step==='shopcart/shopcart/empty'){
        <venda_tpcomment>/*Track Empty Cart as Event*/</venda_tpcomment>
            _gaq.push(['_trackEvent','Shopping','Empty Cart','Cart Emptied']);
        }

        if(typeof ord !== 'undefined'){
        <venda_tpcomment>/*If an order has been placed*/</venda_tpcomment>

            <venda_tpcomment>/*Track order currency*/</venda_tpcomment>
            _gaq.push(['_set', 'currencyCode', ord.currency]);

            <venda_tpcomment>/*Track order*/</venda_tpcomment>
            _gaq.push(['_addTrans',ord.ref,ord.store,ord.total,ord.tax,ord.shipping,ord.city,ord.state,ord.country]);

            for (var i=0; i < items.length; i++){
            <venda_tpcomment>/*Loop through order items*/</venda_tpcomment>

            <venda_tpcomment>/*
            * Google Analytics has a single column for product variant data
            * Send as categoryref: attribute values brand product type giftwrap
            */</venda_tpcomment>
            var atts = items[i].attributes,
            cat = items[i].category += ':';

            <venda_tpcomment>/* Append attributes to category name */</venda_tpcomment>
            if(atts.att1!==''){cat += ' ' + atts.att1;}
            if(atts.att2!==''){cat += ' ' + atts.att2;}
            if(atts.att3!==''){cat += ' ' + atts.att3;}
            if(atts.att4!==''){cat += ' ' + atts.att4;}

            <venda_tpcomment>/* Add brand to category name */</venda_tpcomment>
            if(items[i].brand){cat += ' ' + items[i].brand;}

            <venda_tpcomment>/* Add product type to category name */</venda_tpcomment>
            cat += ' ' + items[i].type;

            <venda_tpcomment>/* Add giftwrap info to category name */</venda_tpcomment>
            if(items[i].giftwrap!==''){cat += ' Gift Wrapped (' + items[i].giftwrap + ')';}

                <venda_tpcomment>/*Track order item*/</venda_tpcomment>
                _gaq.push(['_addItem',ord.ref,items[i].sku,items[i].name,cat,items[i].price,items[i].qty]);
            }
            _gaq.push(['_trackTrans']);

        }
    }
    else {
    <venda_tpcomment>/*Track standard Pageviews - fallback in case resources/js/Venda/Widget/Tracking.js is not present*/</venda_tpcomment>
        _gaq.push(['_trackPageview']);
    }

    (function ($) {
    <venda_tpcomment>/* Log all jQuery AJAX requests to Google Analytics. See www.alfajango.com/blog/track-jquery-ajax-requests-in-google-analytics*/</venda_tpcomment>
    $(document).ajaxSend(function(event, xhr, settings){
    if (typeof _gaq !== "undefined" && _gaq !== null) {
    _gaq.push(['_trackPageview', settings.url]);
    }
    });
    })(jQuery);

     /* Track all links within a container as Events - used for Google Analytics event tracking */
    jQuery('[data-trackNav] a').on( "click", function(ev) {
        var nav = $(ev.target).closest('[data-trackNav]'), // Find the parent
        category = nav.attr('data-trackNav'), // Get the value of the data- param
        label;
        if (this.host !== window.location.host) {
            label = this.href; // For an external link record the absolute url
        } else {
            label = this.pathname; // For an internal link record the relative path
        }
        _gaq.push(['_trackEvent', category, 'Navigation', label]);
    });

    /* Track click on any element as Event - used for Google Analytics event tracking  */
    jQuery('[data-trackEvent]').on( "click", function(ev) {
        var btn = $(ev.target),
            category = btn.attr('data-trackEvent'),
            tag = btn.prop('tagName'),
            label,
            action;
        switch (tag) {
        case 'IMG':
            label = btn.attr('src');
            action = 'Image';
            break;
        case 'A':
            label = btn.text();
            action = 'Link';
            break;
        case 'INPUT':
            label = btn.val();
            action = 'Input';
            break;
        default:
            label = btn.attr('id');
            action = tag;
        }
        _gaq.push(['_trackEvent', category, action, label]);
    });


    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
