<venda_block label=desktop,workflow!=checkoutmobile>
<venda_tpcomment><!-- content for desktop site version of 3dsecure --></venda_tpcomment>
<venda_block label=40,11,paymentredirect=notnull>
<!--
This block serves as a workaround to Ogone's multiple redirect submissions to the Venda site.
The process step is invoked via the display step to avoid getting 'Multiple Hit' errors.
-->
		<p><venda_text id=daca-interstitialwait></p>
		<script type="text/javascript">
			jQuery(function(){
				jQuery('#wizard_confirm_button').hide() ;
				document.paymentform.submit();
			});
		</script>

		<noscript>
			<h2><venda_text id=adm_2227></h2>
			<h3><venda_text id=adm_2228></h3>
			<input type="submit" value="<venda_text id=adm_3>" id="3dsubmit">
		</noscript>
</venda_block label=40>

<venda_block label=1,paymentinterstitial=null>
<venda_block label=11,paymentredirect=null>
<venda_tpcomment><!-- Submitting this form loads 3D secure in the iFrame --></venda_tpcomment>
<div id="content-3dsecure">
	<div id="secure" class="secure">
		<a name="content" id="content"></a>


	<div class="row">
		<div class="large-17 columns pad-right">

				<div class="secure-col-one hide-for-small marg-bottom">
					<a name="content" id="content"></a>
					<venda_block label=22,payment3dsecureframe=notnull>
					<h1><venda_text id=desktop.heading.payment_3dsecure></h1>
					<p><venda_text id=desktop.info.payment_3dsecure1></p>
					<p><venda_text id=desktop.info.payment_3dsecure2></p>
					<p><venda_text id=desktop.info.payment_3dsecure3></p>
					<p><venda_setting type=ebiz,name=area><venda_setting type=ebiz,name=phone></p>
					<p><a href="mailto:<venda_setting type=ebiz,name=email>"><venda_setting type=ebiz,name=email></a></p>
					</venda_block label=22>
					<venda_block label=23,payment3dsecureframe=null>
						<h1><venda_text id=3dsecure_redirecting></h1>
					</venda_block label=23>
				</div>
				<div class="secure-col-two nopad secureframe marg-bottom">
				<div class="table-overflow">
				<venda_block label=24,paymenthtml=null>
					<form name="downloadForm" action="<venda_paymentbankurl>" method="POST" <venda_block payment3dsecureframe=notnull>target="bank" </venda_block>>
					<input type="hidden" name="PaReq" value="<venda_paymentpareq>">
					<!-- NEED TO CREATE NEW LAYOUT FOR RETURN URL, OR HIDE CLOSE WINDOW BUTTON WITH CSS-->
					<input type="hidden" name="TermUrl" value="<venda_paymentreturnurl>&layout=child">
					<input type="hidden" name="MD" value="<venda_paymentohrfnbr>">

					<script type="text/javascript">
						//hide paypal confirm button
						jQuery(function(){
							jQuery('#wizard_confirm_button').hide() ;
							document.downloadForm.submit();
						});
					</script>

					<noscript>
						<h2><venda_text id=adm_2227></h2>
						<h3><venda_text id=adm_2228></h3>
					</noscript>
                  <p>The Verified by Visa or SecureCode form should appear below. If it does not please click the 'Load Form' button:
					<input type="submit" class="button" value="Load Form" id="3dsubmit"></p>
					</form>
				</venda_block label=24>

				<venda_block label=25,paymenthtml=notnull>
					<venda_paymenthtml>
				</venda_block label=25>

				<venda_block label=21,payment3dsecureframe=notnull>
					<iframe src="/page/3dsecure" frameborder="0" width="99%" height="515" name="bank" id="bank" title="3D Secure Authentication"></iframe>
				</venda_block label=21>
				</div>
				</div>
		</div>

		<div class="large-7 columns">
			 <venda_inctemplate name=orderitem_detail,type=includes>
		</div>
	</div>

	</div>
</div>
<venda_tpcomment><!-- Tracking --></venda_tpcomment>
<venda_tpxt mode=set,name=curstep,value=step4>
<venda_inctemplate name=workflowSteps,type=tracking/shared>
<venda_tpcomment><!-- Used for checkout step indicators --></venda_tpcomment>
<venda_tpxt mode=set,name=trackingstep,value=3dsecure>
</venda_block label=11>
</venda_block label=1>

<venda_block label=2,paymentinterstitial=notnull>
<venda_tpcomment><!-- This loads in the iframe after 3d secure authentication. Form submits to break out of iframe --></venda_tpcomment>
<div id="authenticated">
	<form name="interstitial" action="<venda_paymentinterstitial>" method="POST" target="_top">
	<p style="font-family: Arial,sans-serif;color: #444;font-size: 14px;"><venda_text id=daca-interstitialwait></p>
	<script type="text/javascript">
		document.getElementById('wizard_confirm_button').style.display = "none";
		document.interstitial.submit();
	</script>

	<noscript>
	<h2><venda_text id=adm_2227></h2>
	<h3><venda_text id=adm_2228></h3>
		<input type="submit" value="<venda_text id=adm_3>" id="3dsubmit">
	</noscript>

	</form>
</div>
</venda_block label=2>
</venda_block label=desktop>