<venda_detblock>
    <div id="<venda_stryref1>" class="storeAddressBox hide pad marg-bottom">
        <venda_block label=checkname,stxtname1=notnull><span class="name"><venda_stxtname1></span><br></venda_block label=checkname>
        <venda_block label=checkaddnum,stxtaddnum1=notnull><br><span><span class="num"><venda_stxtaddnum1></span></span></venda_block label=checkaddnum>
        <venda_block label=checkaddr1,stxtadd11=notnull><br><span class="addr1"><venda_stxtadd11></span></venda_block label=checkaddr1><venda_block label=checkaddr2,stxtadd21=notnull>&nbsp;<span class="addr2"><venda_stxtadd21></span></venda_block label=checkaddr2><venda_block label=checkaddr3,stxtadd31=notnull>&nbsp;<span class="addr3"><venda_stxtadd31></span></venda_block label=checkaddr3>
        <venda_block label=checkpostcode,stxtpcode1=notnull><br><span class="pcode"><venda_stxtpcode1></span><br></venda_block label=checkpostcode>
        <venda_block label=checkcounty,stxtaddcounty1=notnull><br><span class="county"><venda_stxtaddcounty1></span></venda_block label=checkcounty>
        <venda_block label=checkcountry,stxtaddcountry1=notnull><br><span class="country"><venda_stxtaddcountry1></span><br></venda_block label=checkcountry>
        <venda_block label=checkphone,stxttelephone1=notnull><br><span>Tel: </span><span class="phone"><venda_stxttelephone1></span><br></venda_block label=checkphone>
        <venda_block label=checkgetdirection,stxtgetdirection1=notnull><br><span class="link"><a class="directlink" href="<venda_stxtgetdirection1>" target="_blank">Click here</a> to get directions and the opening hours of this store. (Opens in new window).</span></venda_block label=checkgetdirection>
    </div>
</venda_detblock>
<venda_detail>