<venda_block label=fax,faxpayment=notnull>
<div class="box large-18">
<p class="nomarg thickpad"><venda_text id=desktop.info.order_lookup_fax_payment></p>
</div>
</venda_block label=fax>

<venda_block label=freeorder,freeorder=notnull>
<input type="hidden" name="profile_id" value=<venda_freeeorderprofileid>>
<div class="box large-18">
<p class="nomarg thickpad"><venda_text id=desktop.form.freeorder></p>
</div>
</venda_block label=freeorder>

<venda_block label=freereplace,freereplace=notnull>
<input type="hidden" name="profile_id" value=<venda_freereplaceprofileid>>
<venda_tpcomment><!-- free replacement used in VCP only --></venda_tpcomment>
</venda_block label=freereplace>

<venda_block label=manual,manual=notnull>
<div class="box large-18">
<p class="nomarg thickpad"><venda_text id=desktop.info.order_lookup_manual_payment</p>
</div>
</venda_block label=manual>

<venda_block label=purchaseorder,purchaseorder=notnull><venda_hashtags>
<div class="box large-18 thickpad">
<p class="nomarg"><venda_text id=desktop.info.order_lookup_purchase_order></p> <venda_ohponum>
<venda_block label=14,ohponum=notnull><p><venda_text id=desktop.info.order_lookup_purchase_order_num></p></venda_block label=14>
</div>
</venda_block label=purchaseorder>

<venda_block label=sendpay,sendinpayment=notnull>
<div class="box large-18">
<p class="nomarg thickpad"><venda_text id=desktop.info.order_lookup_send_in_payment></p>
<venda_block label=39,ohoverpaid&gt;0,ohoverpaid=notnull><p class="nomarg thickpad"><venda_text id=desktop.info.order_receipt.sendinpayment_overpaid></p></venda_block label=39>
</div>
</venda_block label=sendpay>

<venda_block label=storecredit,storecredit=notnull>
<input type="hidden" name="profile_id" value="<venda_storecreditprofileid>">
<div class="box large-18">
    <p class="nomarg thickpad"><venda_text id=desktop.info.order_lookup_store_credit></p>
</div>
</venda_block label=storecredit>