<venda_block label=814,mode=value,<venda_setting type=ebiz,name=tracktagcoremetrics>=1>
<script type="text/javascript">
<!--// set var for coremetrics
stepName="<venda_curstep>";
cmDisplayShop9s();

names=new Array("orderId", "orderSubtot", "orderShipping", "custId", "custCity", "custState", "custZip","custCntry");
values=new Array("<venda_ohordnum>", "<venda_ohsub>", "<venda_ohship>", "<venda_ohemail>", "<venda_ohcity>", "<venda_ohstate>", "<venda_ohzipc>", "<venda_ohcntry>");
cmCreateOrderTag(values[0], values[1], values[2], values[3], values[4], values[5], values[6], values[7]);
// -->
</script>
<!-- cmDisplayShop9s cmCreateOrderTag -->
</venda_block label=814>