<script src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/external/jquery.paging.min.js"></script>
<script type="text/javascript">
$( document ).ready(function() {

//adjust modal layout
//var marg = jQuery("#vModal").width()/2;
//jQuery("#vModal").css("margin-left","-="+marg);

var page_element = jQuery(".review-element li");
var total_elements = page_element.length;

//Init custom select
Venda.Ebiz.customSelect();

//review config
var itemperpage =  5;

//Show pagination only when over one pages
if(total_elements > itemperpage){
    $("#review-pagination").paging(total_elements, { // make 1337 elements navigatable
        format: '[< cnn! >]', // define how the navigation should look like and in which order onFormat() get's called
        perpage: itemperpage, // show 10 elements per page
        lapping: 0, // don't overlap pages for the moment
        page: 1, // start at page, can also be "null" or negative

        onSelect: function (page) {
            // add code which gets executed when user selects a page, how about $.ajax() or $(...).slice()?
            page_element.css("display","none");
            for(var i=this.slice[0]; i < this.slice[1]; i++) {
            	$('.review-element li:eq('+i+')').css("display","block");
            }
        },
        onFormat: function (type) {
            var total_page = Math.ceil(total_elements/itemperpage);
            switch (type) {
            case 'block': // n and c
                if (!this['active'])
                    return '';
                if (this["page"] !== this["value"])
                    return '<li><a href="#" class="page-button">' + this.value + '</a></li>';
                return '<li class="current"><p class="page-button">' + this.value + '</p></li>';
            case 'next': // >
                if(this["page"]==total_page)
                    return '<li class="pagn-next"><span class="page-button no-link"><i class="icon-right-marker"></i></span></li>';
                else
                    return '<li class="pagn-next"><a><span class="page-button"><i class="icon-right-marker"></i></span></a></li>';
            case 'prev': // <
                if(this["page"]==1)
                    return '<li class="pagn-prev"><span class="page-button no-link"><i class="icon-left-marker"></i></span></li>';
                else
                    return '<li class="pagn-prev"><a><span class="page-button"><i class="icon-left-marker"></i></span></a></li>';
            case 'first': // [
                return '';
            case 'last': // ]
                return '';
            }
        }
    });


}else{
    // hide last border for single page
    jQuery("ul.review-element").css("border-bottom","none");
}
    /*show average stars*/
    var avgstars = 0;
    var total_star = 0;
    jQuery(".star-count").each(function(){
        total_star += parseInt($(this).text());
    });
    avgstars = Math.ceil(total_star/total_elements);
    //show star image
    jQuery("#total-star").html("<img src=<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/rating"+avgstars+".gif>");
});

//sorting
function sortingReview(){
    ul = $('.review-element'); // your parent ul element
    ul.children().each(function(i,li){ul.prepend(li)})
}
</script>

<venda_detblock>
		<li>
			<p class="review-stars"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/rating<venda_strykey11>.gif" alt="<venda_text id=desktop.info.reviews_rating>"></p>
			<p><venda_strydesc11></p>
			<venda_block strydesc21=notnull><p><venda_strydesc21></p></venda_block>
			<p class="review-author"><venda_text id=desktop.info.author>: (<venda_stryauthname1>)</p>
			<venda_block strydesc31=notnull><p><venda_text id=desktop.info.date>: <venda_strydesc31></p></venda_block>
			<div class="star-count" style="display:none;"><venda_strykey11></div>
		</li>
</venda_detblock>

<venda_block rectot=null><p><venda_text id=desktop.info.product_reviews_1> <a href="<venda_dispview invt=<venda_scatref>>?temp=writereview" class="js-doDialog button" data-size="medium" rel="nofollow"><venda_text id=desktop.button.write_own_review></a></p></venda_block>

<venda_block rectot=notnull>
<div id="productreviews" class="row">
<div class="column">
<h2><span></span><venda_scatname></h2>
<div class="row">
	<div class="large-5 column hide-for-small"><div id="total-star"></div></div>
	<div class="large-6 column small-7 reviewtot"><venda_rectot> review<venda_block label=checktotal,rectot&gt;1>s</venda_block label=checktotal></div>
	<div class="large-6 column small-8 nopad"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/write_review.png">
		<a href="<venda_dispview invt=<venda_scatref>>?temp=writereview" class="js-doDialog" rel="nofollow" data-size="medium">
			<venda_text id=desktop.button.write_own_review>
		</a>
	</div>
	<div class="large-7 column js-custom small-9">
        <select name="sorting" onchange="sortingReview();">
            <option><venda_text id=desktop.form.newest></option>
            <option><venda_text id=desktop.form.oldest></option>
        </select>
    </div>
</div>
<ul class="review-element">
<venda_detail>
</ul>
<div class="review-pagination-centered">
	<ul id="review-pagination" class="pagn-pages button-group right">

        </ul>
</div>

</div>
</div>
</venda_block>
<venda_tpxt mode=set,name=track,value=productreviews>


