<div id="changeprofile">
    <input type="hidden" name="page" value="myaccount">
    <input type="hidden" name="blkpost" value="<venda_blkpost>">
    <input type="hidden" name="blkemail" value="<venda_blkemail>">
    <input type="hidden" name="blksms" value="<venda_blksms>">
    <input type="hidden" name="blktrdcomm" value="<venda_blktrdcomm>">
    <input type="hidden" name="usmailform" value="<venda_usmailform>">
    <input type="hidden" name="title" value="<venda_title>">
    <input type="hidden" name="fname" value="<venda_fname>">
    <input type="hidden" name="mname" value="<venda_mname>">
    <input type="hidden" name="lname" value="<venda_lname>">
    <input type="hidden" name="zipc" value="<venda_zipc>">
    <h1><venda_text id=desktop.heading.change_profile></h1>
    <fieldset>
        <div class="row">
            <div class="large-6 columns">
                <label for="usxtgender" class="inline right"><venda_text id=desktop.form.usxtgender></label>
            </div>
            <div class="large-18 columns">
                <select name="usxtgender" id="usxtgender"><venda_usxselectusxtgender></select>
            </div>
        </div>
    </fieldset>
    <div id="buttons" class="row thickpad-bottom">
        <div class="large-12 columns right text-right marg-bottom"><input type="submit" value="<venda_text id=desktop.button.save_changes>" class="button"></div>
        <div class="large-12 columns "><a href="<venda_codehttps>?ex=co_wizr-myaccount" class="button secondary"><venda_text id=desktop.button.my_account></a></div>
    </div>
</div>