<venda_block label=45,invtpublish=1>
    <venda_tpcomment><!-- ONE PRODUCT --></venda_tpcomment>
    <div class="js-oneProduct js-prodMulti js-prod<venda_invtref>" id="oneProduct_<venda_invtuuid>">
        <div class="js-oneProductContent prod-detail-content prod-set-content">
            <div class="box-header">
                <p id="name" class="product-name"><venda_invtname></p>
                <venda_block label=multiskudesc,invtdesc2=notnull><p class="product-description"><venda_invtdesc2></p></venda_block label=multiskudesc>
            </div>

            <div class="row collapse">
                <venda_tpcomment><!-- start: price - if product doesn't have attributes --></venda_tpcomment>
                <venda_block label=16,chkatt=null>
                <div class="prod-pricedetails large-18 small-24 columns" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                    <meta itemprop="priceCurrency" content="<venda_currencycode>">
                    <venda_block label=onhand,invtonhand&gt;0><venda_block label=instock,invtpreorder!=1><link itemprop="availability" href="http://schema.org/InStock"></venda_block label=instock><venda_block label=preorder,invtpreorder=1><link itemprop="availability" href="http://schema.org/PreOrder"></venda_block label=preorder></venda_block label=onhand><venda_block label=outofstock,invtonhand&lt;1><link itemprop="availability" href="http://schema.org/OutOfStock"></venda_block label=outofstock>

                    <venda_inctemplate type=includes,name=priceFormat2>
                </div>
                <venda_inctemplate type=includes,name=multibuy>
                </venda_block label=16>
                <venda_tpcomment><!-- end: price - if product doesn't have attributes --></venda_tpcomment>

                <venda_block label=17,chkatt=notnull>
                <venda_tpcomment><!-- start: price - if product does have attributes --></venda_tpcomment>
                <div class="prod-pricedetails js-attrFeedback js-attributesPrice large-24 small-24 columns" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                    <meta itemprop="priceCurrency" content="<venda_currencycode>">
                    <venda_block label=instock,invtatrinstock&gt;0><link itemprop="availability" href="http://schema.org/InStock"></venda_block label=instock><venda_block label=outofstock,invtatrinstock&lt;1><link itemprop="availability" href="http://schema.org/OutOfStock"></venda_block label=outofstock>

                    <venda_inctemplate type=includes,name=priceFormat2>
                </div>
                <venda_block label=showmultibuy,invtatrminsubsell=0.00,invtatrmaxsubsell=0.00><venda_inctemplate type=includes,name=multibuy></venda_block label=showmultibuy>
                <venda_tpcomment><!-- end: price - if product does have attributes --></venda_tpcomment>
                </venda_block label=17>
            </div>

            <venda_tpcomment>
            <!--venda_block label=52,mode=value,<venda_setting type=ebiz,name=powerreviews>=1,<venda_setting type=ebiz,name=powerreviewsproddetail>=1>
            <script type="text/javascript" src="<venda_serveradd>/partners/pwr/engine/js/full.js"></script>
            <!-- power reviews snippet for product reviews ->
            <script type="text/javascript">snippet(document);</script>
            </venda_block label=52-->
            </venda_tpcomment>

            <venda_block label=200,chkatt=notnull>
            <div class="box box-section">
                <div class="box-body">
                    <venda_tpcomment><!-- start: attributes dropdown --></venda_tpcomment>
                    <div id="attributeInputs" class="attribute-inputs">
                        <venda_block label=21,selatt1=notnull>
                        <div class="buttonSizeGuide"><a href="<venda_dispview page=sizeguide>" class="secondary tiny button" target="_blank"><venda_text id=desktop.button.sizeguide></a></div>
                        <div class="row">
                            <div class="small-24 large-4 columns"><label for="att1_<venda_invtuuid>"><venda_att1>:</label></div>
                            <div class="small-24 large-16 columns end"><select name="att1" id="att1_<venda_invtuuid>"><option value=""><venda_text id=desktop.info.please_select> <venda_att1></option><venda_selatt1></select></div>
                        </div>
                        </venda_block label=21>
                        <venda_block label=22,selatt2=notnull>
                        <div class="row thinpad-top">
                            <div class="small-24 large-4 columns"><label for="att2_<venda_invtuuid>"><venda_att2>:</label></div>
                            <div class="small-24 large-20 columns end"><select name="att2" id="att2_<venda_invtuuid>"><option value=""><venda_text id=desktop.info.please_select> <venda_att2></option><venda_selatt2></select></div>
                        </div>
                        </venda_block label=22>
                        <venda_block label=23,selatt3=notnull>
                        <div class="row thinpad-top">
                            <div class="small-24 large-4 columns"><label for="att3_<venda_invtuuid>"><venda_att3>:</label></div>
                            <div class="small-24 large-20 columns"><select name="att3" id="att3_<venda_invtuuid>"><option value=""><venda_text id=desktop.info.please_select> <venda_att3></option><venda_selatt3></select></div>
                        </div>
                        </venda_block label=23>
                        <venda_block label=24,selatt4=notnull>
                        <div class="row thinpad-top">
                            <div class="small-24 large-4 columns"><label for="att4_<venda_invtuuid>"><venda_att4>:</label></div>
                            <div class="small-24 large-20 columns"><select name="att4" id="att4_<venda_invtuuid>"><option value=""><venda_text id=desktop.info.please_select> <venda_att4></option><venda_selatt4></select></div>
                        </div>
                        </venda_block label=24>
                    </div>
                    <venda_tpcomment><!-- end: attributes dropdown --></venda_tpcomment>

                    <venda_inctemplate name=attributeData,type=invt>

                    <venda_block label=25,pdxtatrtype=grid>
                    <div id="key">
                        <h3><venda_text id=desktop.info.key></h3>
                        <ul class="small-block-grid-2 large-block-grid-4">
                            <li><div class="icon"><i class="icon-ok"></i></div> <venda_text id=desktop.info.in_stock></li>
                            <li><div class="icon"><i class="icon-remove"></i></div> <venda_text id=desktop.info.out_of_stock></li>
                            <li><div class="icon"><i>LS</i></div> <venda_text id=desktop.info.low_stock></li>
                            <li><div class="icon"><i>P</i></div> <venda_text id=desktop.info.item_preorder></li>
                            <li><div class="icon"><i>B</i></div> <venda_text id=desktop.info.no_of_weeks></li>
                            <li><div class="icon"><i class="icon-envelope"></i></div> <venda_text id=desktop.info.email_me_when_back_in_stock></li>
                        </ul>
                    </div>
                    </venda_block label=25>
                </div>
            </div><!-- end box -->
            </venda_block label=200>

            <venda_extflds exfldtype=orderitem,group=1,template=oixtSet,type=exfields/orderItem,ref=<venda_invtref>>
            <venda_extflds exfldtype=orderitem,group=2,template=oixtSet,type=exfields/orderItem,ref=<venda_invtref>>

            <venda_tpcomment><!-- start: buyControl div --></venda_tpcomment>
            <venda_block label=att,chkatt=notnull>
            <venda_tpcomment><!-- ATTRIBUTE --></venda_tpcomment>
            <venda_block label=attstock,invtatrinstock&gt;0>
            <venda_tpcomment><!-- ATTRIBUTE IN STOCK --></venda_tpcomment>
            <!-- if in stock -->
            <div class="box box-section prod-detail-buttons marg-top">
                <div class="box-body">
                    <venda_block label=att30,invtpreorder=notnull>
                    <venda_tpcomment><!-- if future release date --></venda_tpcomment>
                    <p class="nomarg"><venda_text id=desktop.info.not_yet_released></p>
                    <p><venda_text id=desktop.info.release_date></p>
                    </venda_block label=att30>

                    <div id="addproductbox">
                        <div id="qtybox" class="prod-quantity js-custom">
                            <div class="row">
                                <div class="small-24 large-4 columns lblqty"><label for="qty"><venda_text id=desktop.info.qty>: </label></div>
                                <div class="small-24 large-20 columns selqty">
                                    <select name="qty" id="qty" data-sku="<venda_invtref>" class="js-qty">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="js-attrFeedback js-stockFeedbackBox">
                            <p><span id="productselected"></span></p>
                            <p><span><venda_text id=desktop.info.availability></span> <span id="productstatus"><venda_text id=desktop.info.please_make_selection></span>
                            <span id="stockstatus"></span> <span id="atrononhandholder" style="display:none"><venda_text id=desktop.info.only><span id="atronhand"></span><venda_text id=desktop.info.left></span></p>
                        </div>

                        <div class="row">
                            <venda_tpcomment><!-- Add to basket, PreOrder - change js-addproduct to js-buynow for buy now button--> </venda_tpcomment>
                            <div class="small-24 large-10 columns prod-add"><button type="button" id="<venda_invtuuid>" class="success medium button expand js-addproduct" data-invtref="<venda_invtref>"><venda_text id=desktop.button.addtobasket></button></div>
                            <venda_block label=freedeliverytext,invtsell&gt;49.99,invtsell=49.99,operator=or>
                            <div class="small-24 large-14 columns freedelivery"><span><venda_text id=desktop.info.free_delivery></span></div>
                            </venda_block label=freedeliverytext>
                        </div>
                        <venda_tpcomment><!-- EMWBIS --></venda_tpcomment>
                        <a id="emwbis_link" href="<venda_dispview invt=<venda_invtref>>?temp=emailinstock" title="<venda_text id=desktop.button.email_when_in_stock>" class="button radius expand js-doDialog" data-size="medium" style="display:none" rel="nofollow"><venda_text id=desktop.button.email_when_in_stock></a>
                    </div>
                </div>
            </div>
            <venda_tpcomment><!-- end: button link image --></venda_tpcomment>
            </venda_block label=attstock>


            <venda_block label=attnostock,invtatrinstock&lt;1>
            <venda_tpcomment><!-- ATTRIBUTE OUT OF STOCK --></venda_tpcomment>
            <venda_block label=167,etadyleft&gt;0>
            <div class="box box-section prod-detail-buttons">
                <div class="box-body">
                    <p><venda_text id=desktop.info.eta_date></p>
                </div>
            </div>
            </venda_block label=167>
            <venda_block label=168,etadyleft=null>
            <div class="box box-section">
                <div class="box-header out-of-stock">
                    <p><venda_text id=desktop.info.out_of_stock></p>
                </div>
                <div class="box-body">
                    <a href="<venda_dispview invt=<venda_invtref>>?temp=emailinstock" title="<venda_text id=desktop.button.email_when_in_stock>" id="emwbis_link" class="button radius expand js-doDialog" data-size="medium" rel="nofollow"><venda_text id=desktop.button.email_when_in_stock></a>
                </div>
            </div>
            </venda_block label=168>
            </venda_block label=attnostock>
            </venda_block label=att>

            <venda_block label=nonatt,chkatt=null>
            <venda_tpcomment><!-- NON-ATTRIBUTE --></venda_tpcomment>
            <venda_block label=25,invtavail&gt;0>
            <venda_tpcomment><!-- NON-ATTRIBUTE IN STOCK --></venda_tpcomment>
            <venda_tpcomment><!-- start: button link image --></venda_tpcomment>
            <div class="box box-section no-attribute prod-detail-buttons marg-top">
                <div class="box-body">
                    <venda_block label=31,invtpreorder=notnull>
                    <venda_tpcomment><!-- if future release date --></venda_tpcomment>
                    <p class="nomarg"><venda_text id=desktop.info.not_yet_released></p>
                    <p><venda_text id=desktop.info.release_date></p>
                    </venda_block label=31>

                    <div id="addproductbox">
                        <div id="qtybox" class="prod-quantity js-custom">
                            <div class="row">
                                <div class="small-24 large-4 columns lblqty"><label for="qty"><venda_text id=desktop.info.qty>: </label></div>
                                <div class="small-24 large-20 columns selqty">
                                    <select name="qty" id="qty" class="js-qty" data-sku="<venda_invtref>">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row pad-top">
                            <!-- if product doesn't have attributes -->
                            <venda_block label=34,invtpreorder!=1>
                            <venda_tpcomment><!-- Add to basket, PreOrder - change js-addproduct to js-buynow for buy now button--> </venda_tpcomment>
                            <div class="small-24 large-10 columns prod-add"><button type="button" id="<venda_invtuuid>" class="success medium button expand js-addproduct" data-invtref="<venda_invtref>"><venda_text id=desktop.button.addtobasket></button></div>
                            <venda_block label=freedeliverytext,invtsell&gt;49.99,invtsell=49.99,operator=or>
                            <div class="small-24 large-14 columns freedelivery"><span><venda_text id=desktop.info.free_delivery></span></div>
                            </venda_block label=freedeliverytext>
                            </venda_block label=34>

                            <venda_block label=35,invtpreorder=1>
                            <div class="large-24 columns prod-preorder">
                                <!-- pre-order with add to basket functionality (stay on the same page) -->
                                <button type="button" id="<venda_invtuuid>" class="success radius button expand js-addproduct" data-invtref="<venda_invtref>"><venda_text id=desktop.button.preorder></button>
                                <!-- use this instead if you want pre-order with buy now functionality (go to basket page)
                                <input type="button" value="<venda_text id=desktop.button.preorder>" class="button radius expand js-preorder"> -->
                            </div>
                            </venda_block label=35>
                        </div>
                    </div>
                </div>
            </div>
            </venda_block label=25>

            <venda_block label=26,invtavail&lt;1>
            <venda_tpcomment><!-- NON-ATTRIBUTE OUT OF STOCK --></venda_tpcomment>
            <div class="box box-section">
                <div class="box-header out-of-stock">
                    <p><venda_text id=desktop.info.out_of_stock></p>
                </div>
                <div class="box-body">
                    <a href="<venda_dispview invt=<venda_invtref>>?temp=emailinstock" title="<venda_text id=desktop.button.email_when_in_stock>" id="emwbis_link" class="button radius expand js-doDialog hide" data-size="medium" rel="nofollow"><venda_text id=desktop.button.email_when_in_stock></a>
                </div>
            </div>
            </venda_block label=26>
            </venda_block label=nonatt>
            <venda_tpcomment><!-- end: buyControl div --></venda_tpcomment>


            <div id="invtref" style="display: none;"><venda_invtref></div>
            <venda_tpcomment><!-- ATTRIBUTES SETTINGS --></venda_tpcomment>
            <venda_block label=1000,chkatt=notnull>
            <div id="attributeNames" style="display: none">
                <div id="att1"><venda_att1></div>
                <div id="att2"><venda_att2></div>
                <div id="att3"><venda_att3></div>
                <div id="att4"><venda_att4></div>
            </div>
            <div id="invtrelease" style="display: none;"><venda_invtrelease></div>
            </venda_block label=1000>
            <venda_tpcomment><!-- eo ATTRIBUTES SETTINGS --></venda_tpcomment>

            <venda_tpcomment><!-- eo ONE PRODUCT --></venda_tpcomment>
        </div><venda_tpcomment><!-- end box-body --></venda_tpcomment>
    </div><venda_tpcomment><!-- end box --></venda_tpcomment>
</venda_block label=45>