<!-- Use this template to add custom checkout wide tracking tags for a site -->
<!-- ESP global script tags START -->
    <script type="text/javascript" src="<venda_protocol>://<venda_ebxtlocaytaurl>/zones/8b266746-a5bc-4218-b82f-b683d870caf2.min.js"></script>
    <script type="text/javascript" src="<venda_protocol>://<venda_ebxtlocaytaurl>/venda.min.js"></script>
 
 
<script>
	var step = Venda.Widget.Tracking.Step();
	if(step==='/shopcart/shopcart'){

	LM.complete(function() {
		Venda.jqSlider.itemNumber=2;
		Venda.jqSlider.sliderObj = jQuery('.product-slider .js-slider');

		if(jQuery('html').hasClass('lt-ie9')) {
			Venda.jqSlider.sliderObj.jqSlider({isTouch: Modernizr.touch});
		}else {
			
			
			if(Modernizr.mq('only screen and (max-width: 767px)') ){
			
				Venda.jqSlider.sliderObj.addClass('js-small');
			}else {
				Venda.jqSlider.sliderObj.removeClass('js-small');
			
			}
			Venda.jqSlider.loadSlider();
		}

		jQuery('.product-slider').each(function() {
		if (jQuery(this).find('ul li').length > 0) {
		jQuery(this).parent().show();
		}
		});
	});
			
}			
</script>
 
 
 <!-- ESP global script tags END -->
 
  
 <!--lm complete code for recomendations on pdp-->
 <venda_block label=isproduct,invtref=notnull>
 <script>
 LM.complete(function() {
		Venda.jqSlider.itemNumber=2;
		Venda.jqSlider.sliderObj = jQuery('.product-slider .js-slider');

		if(jQuery('html').hasClass('lt-ie9')) {
			Venda.jqSlider.sliderObj.jqSlider({isTouch: Modernizr.touch});
		}else {
			
			
			if(Modernizr.mq('only screen and (max-width: 767px)') ){
			
				Venda.jqSlider.sliderObj.addClass('js-small');
			}else {
				Venda.jqSlider.sliderObj.removeClass('js-small');
			
			}
			Venda.jqSlider.loadSlider();
		}

		jQuery('.product-slider').each(function() {
		if (jQuery(this).find('ul li').length > 0) {
		jQuery(this).parent().show();
		}
		});
	});
 </script>
</venda_block label=isproduct>
 <!-- ESP global script tags END -->
 

<!-- ESP core variables START -->
<venda_block label=1,mode=value,<venda_cattree index=1,value=catref>=shop>
        <input type="hidden" data-esp-category-tree="true" value="<venda_cattree index=1,value=catref>|<venda_cattree index=2,value=catref>|<venda_cattree index=3,value=catref>|<venda_cattree index=4,value=catref>|<venda_cattree index=5,value=catref>" />
    </venda_block label=1>

    <venda_block label=2,mode=value,<venda_cattree index=1,value=catref>!=shop>
        <input type="hidden" data-esp-category-tree="true" value="shop|<venda_cattree index=1,value=catref>|<venda_cattree index=2,value=catref>|<venda_cattree index=3,value=catref>|<venda_cattree index=4,value=catref>" />
    </venda_block label=2>
<!-- ESP core variables END -->