<!-- Use this template to add custom checkout wide tracking tags for a site -->
<!-- ESP global script tags START -->
    <script type="text/javascript" src="<venda_protocol>://<venda_ebxtlocaytaurl>/zones/8b266746-a5bc-4218-b82f-b683d870caf2.min.js"></script>
    <script type="text/javascript" src="<venda_protocol>://<venda_ebxtlocaytaurl>/venda.min.js"></script>
 <!-- ESP global script tags END -->

<!-- ESP core variables START -->
<venda_block label=1,mode=value,<venda_cattree index=1,value=catref>=shop>
        <input type="hidden" data-esp-category-tree="true" value="<venda_cattree index=1,value=catref>|<venda_cattree index=2,value=catref>|<venda_cattree index=3,value=catref>|<venda_cattree index=4,value=catref>|<venda_cattree index=5,value=catref>" />
    </venda_block label=1>

    <venda_block label=2,mode=value,<venda_cattree index=1,value=catref>!=shop>
        <input type="hidden" data-esp-category-tree="true" value="shop|<venda_cattree index=1,value=catref>|<venda_cattree index=2,value=catref>|<venda_cattree index=3,value=catref>|<venda_cattree index=4,value=catref>" />
    </venda_block label=2>
<!-- ESP core variables END -->