<venda_tpcomment><!-- set page to 'no index' used in metag.html --></venda_tpcomment>
<venda_tpxt mode=set,name=privatesaletrigger,value=privatesale>

<venda_block label=notLogin,ustype!=R><venda_page page=privatesale_landing></venda_block label=notLogin><venda_tpcomment><!-- if not login, display private sale --></venda_tpcomment>

<venda_block label=login,ustype=R>

<venda_tpcomment><!-- only need to call cloudzoom here, not sitewide --></venda_tpcomment>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/external/cloudzoom.js"></script>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/Venda/Widget/handleCloudzoom.js"></script>
<venda_tpcomment><!-- tag values used for tell a friend, emwbis, write and read a review popups --></venda_tpcomment>
<div id="tag-qtymsg" style="display:none;"><venda_text id=desktop.validation.please_enter_quantity></div>
<div id="tag-ebizref" style="display:none;"><venda_setting type=ebiz,name=ref></div>
<div id="tag-ebizurl" style="display:none;"><venda_ebizurl></div>
<div id="tag-invtref" style="display:none;"><venda_invtref></div>
<div id="tag-invtname" style="display:none;"><venda_invtname></div>
<div id="tag-currsym" style="display:none;"><venda_currsym></div>

<venda_tpcomment><!-- Dictionary translations required for attributes JS --></venda_tpcomment>
<div id="attributes-stockNA" style="display:none;"><venda_text id=desktop.validation.selection_not_available></div>
<div id="attributes-stockOut" style="display:none;"><venda_text id=desktop.validation.selection_out_of_stock></div>
<div id="attributes-productselected" style="display:none;"><venda_text id=desktop.validation.you_have_selected></div>
<div id="attributes-productstatus" style="display:none;"><venda_text id=desktop.validation.please_select_colon></div>
<div id="attributes-only" style="display:none;"><venda_text id=desktop.validation.only></div>
<div id="attributes-left" style="display:none;"><venda_text id=desktop.validation.left></div>
<div id="attributes-optionDefault" style="display:none;"><venda_text id=desktop.validation.please_select_multi_dot></div>
<div id="attributes-tooltip" style="display:none;"><venda_text id=desktop.validation.is_out_of_stock></div>
<div id="attributes-backorder" style="display:none;"><venda_text id=desktop.validation.backorder_text></div>
<div id="attributes-preorder" style="display:none;"><venda_text id=desktop.validation.preorder_text></div>
<div id="attributes-quantity" style="display:none;"><venda_text id=desktop.validation.enter_quantity></div>
<div id="attributes-chooseVariant" style="display:none;"><venda_text id=desktop.validation.choose_variant></div>
<div id="attributes-addThisProduct" style="display:none;"><venda_text id=desktop.validation.add_this_product></div>
<div id="attributes-addAllProduct" style="display:none;"><venda_text id=desktop.validation.add_all_product></div>
<div id="attributes-noneChecked" style="display:none;"><venda_text id=desktop.validation.none_checked></div>

<venda_tpcomment><!-- VCP switch settings required for attributes JS --></venda_tpcomment>
<div id="OutOfStockThreshold" style="display: none;"><venda_setting type=ebiz,name=emailmebackthreshold></div><venda_tpcomment><!-- Out of Stock Threshold --></venda_tpcomment>
<div id="DoNotBackorder" style="display: none;"><venda_setting type=ebiz,name=nobackorderedinclude></div><venda_tpcomment><!-- Do not dispatch backordered items (checked == no backorder)--></venda_tpcomment>
<div id="emwbisType" style="display: none;"><venda_setting type=ebiz,name=emailmebackcriteria></div><venda_tpcomment><!-- Email me when back in stock criteria (ETA / Release Dates): 4 options: none, eta, release, eta and etarelease --></venda_tpcomment>
<div id="stockchecking_basket" style="display: none;"><venda_setting type=ebiz,name=stockchecking_basket></div><venda_tpcomment><!-- Confirm Stock Availability at basket --></venda_tpcomment>
<div id="stockchecking_orderconfirm" style="display: none;"><venda_setting type=ebiz,name=stockchecking_orderconfirm></div><venda_tpcomment><!-- Confirm Stock Availability at Confirm screen --></venda_tpcomment>

<div itemscope itemtype="http://schema.org/Product" class="row productdetail productdetailset multiadd">

    <venda_tpcomment><!-- start: left hand side (picture) --></venda_tpcomment>
    <div class="large-11 small-24 columns image-column">
        <div class="prod-image-altview">
            <div id="image_<venda_invtuuid>" class="prod-detail-image">
                <div class="js-productdetail-swipe" style="display:none;"><div class="swipetext"><venda_text id=desktop.info.swipetext></div></div>
                <div id="productdetail-image">
                    <venda_block label=10,med-medium=notnull>
                    <img class="cloudzoom" id ="zoom1" src="<venda_media rec=invt,type=pict,key=medium,img=no>" alt="<venda_invtname>" data-cloudzoom="zoomImage: '<venda_media rec=invt,type=pict,key=large,img=no>', disableZoom : 'auto'">
                    </venda_block label=10>
                    <venda_block label=11,med-medium=null>
                    <img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/no_image_medium.gif" alt="<venda_text id=desktop.info.no_product_image>">
                    </venda_block label=11>
                </div>
                <div class="viewlarge-box hide-for-small">
                    <div class="rollover"><venda_text id=desktop.info.rollover_image></div>
                    <venda_block label=displayViewLargeLink,med-large=notnull>
                    <div id="productdetail-viewlarge" class="viewlarge"></div>
                    </venda_block label=displayViewLargeLink>
                </div>
            </div>

            <div class="productdetail-altview"><ul id="productdetail-altview"></ul></div>
        </div>
        <venda_inctemplate name=alternateviewScript,type=invt>
        <div class="productdetail-banner hide-for-small">
            <a href="http://www.feefo.com/reviews/TK-Maxx/?logon=www.tkmaxx.com" target="_blank"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/feefo.jpg" alt="Feefo logo" /></a>
        </div>
    </div>
    <venda_tpcomment><!-- end: left hand side (picture) --></venda_tpcomment>

    <div class="large-12 small-24 columns right detail-column">
        <h2 class="product-brand"><venda_invtbrand></h2>
        <h2 itemprop="name" class="product-name" id="comp-name<venda_invtref>"><venda_invtname></h2>
        <venda_block errors=notnull><h2 class="alert-box alert radius" data-alert=""><venda_errors></h2></venda_block>
        <span class="prod-sku" itemprop="productID"><venda_text id=desktop.info.sku>: <venda_invtref></span>

        <div class="priceBox thickpad-bottom">
            <div class="priceField">
                <div class="priceLine1">
                    <span class="product-price"><venda_pdxtourprice></span>
                </div>
                <venda_block label=wasprice,pdxtwasprice=notnull><span class="product-pricewas"><venda_text id=site.was><span class="price"><venda_pdxtwasprice></span></span></venda_block label=wasprice>
                <venda_block label=rrpprice,pdxtrrp=notnull><p class="product-pricemsrp pricemsrp" id="atrmsrp"><venda_text id=site.msrp><venda_pdxtrrp></p></venda_block label=rrpprice>
            </div>

             
        </div>

        <venda_tpcomment><!-- start: product detail tabs --></venda_tpcomment>
        <div id="infotab" class="section-container">
            <div class="section">
                <div class="title js-slidetoggle active" data-slidetoggle="descriptionTab" data-slidetoggle-icon="icon-up-marker"><venda_text id=desktop.info.description><i class="icon-down-marker icon-up-marker"></i></div>
                <div class="descriptionTab content" style="display:block;">
                    <venda_block label=12,invtdesc1=notnull><div class="tab-invtdesc1" itemprop="description"><venda_invtdesc1><venda_block label=12a,invtdesc2=notnull> <span class="tab-invtdesc2" itemprop="description"><venda_invtdesc2></span></venda_block label=12a></div></venda_block label=12>
                </div>
            </div>
            <div class="section">
                <div class="title js-slidetoggle" data-slidetoggle="deliveryTab" data-slidetoggle-icon="icon-up-marker"><venda_text id=desktop.info.delivery><i class="icon-down-marker"></i></div>
                <div class="deliveryTab content hide">
                    <venda_page page=deliveryinfotab>
                </div>
            </div>
            <div class="section">
                <div class="title js-slidetoggle" data-slidetoggle="returnsTab" data-slidetoggle-icon="icon-up-marker"><venda_text id=desktop.info.returns><i class="icon-down-marker"></i></div>
                <div class="returnsTab content hide">
                    <venda_block label=jewellery,invtivtype=76><venda_page page=returnspolicyinfotabjewel></venda_block label=jewellery><venda_block label=nonjewellery,invtivtype!=76><venda_page page=returnspolicyinfotab></venda_block label=nonjewellery>
                </div>
            </div>
            <!--div class="section">
                <div class="title js-slidetoggle" data-slidetoggle="specificationTab" data-slidetoggle-icon="icon-up-marker"><venda_text id=desktop.info.specification><i class="icon-down-marker"></i></div>
                <div class="specificationTab content hide">
                    <table class="marg-top" summary="<venda_text id=desktop.info.product_spec_summary>" title="<venda_text id=desktop.info.product_spec_summary>">
                        <tbody>
                        <venda_extflds hideempty=0,realseq=0,template=pdxtDisplay,group=1,ref=<venda_invtref>,ivtype=<venda_invtivtype>>
                        <venda_extflds hideempty=0,realseq=0,template=pdxtDisplay,group=2,ref=<venda_invtref>,ivtype=<venda_invtivtype>>
                        <venda_extflds hideempty=0,realseq=0,template=pdxtDisplay,group=3,ref=<venda_invtref>,ivtype=<venda_invtivtype>>
                        <venda_extflds hideempty=0,realseq=0,template=pdxtDisplay,group=4,ref=<venda_invtref>,ivtype=<venda_invtivtype>>
                        <venda_extflds hideempty=0,realseq=0,template=pdxtDisplay,group=5,ref=<venda_invtref>,ivtype=<venda_invtivtype>>
                        </tbody>
                    </table>
                </div>
            </div-->
        </div>
        <venda_tpcomment><!-- end: product details tab --></venda_tpcomment>

        <venda_inctemplate name=socialBookMarks,type=widgets>

        <form action="<venda_codehttp>" method="post" name="addproductform" id="addproductform">

            <input type="hidden" name="bsref" value="<venda_bsref>">
            <input type="hidden" name="log" value="22">
            <input type="hidden" name="mode" value="add">
            <input type="hidden" name="curpage" value="">
            <input type="hidden" name="next" value="">
            <input type="hidden" name="layout">
            <!-- "ex" sends user to basket if "co_wizr-shopcart" - or leaves on current page if "co_disp-shopc" -->
            <!-- will sends user to basket by default - "Add to Basket" button changes "ex" value and leaves on current page (unless js disabled) -->
            <input type="hidden" name="ex" value="co_disp-shopc">
            <input type="hidden" name="icat" value="<venda_icatref>">
            <!-- "buy" defines sku to add if "ex" is "co_disp-shopc" -->
            <input type="hidden" name="buy" value="<venda_invtref>">
            <!-- "invt" defines next step if "ex" is "co_disp-shopc" (sends to home page without this field) - could be set to send to any icat or page instead -->
            <input type="hidden" name="invt" value="<venda_invtref>">
            <!-- "ivref" defines sku to add if "ex" is "co_wizr-shopcart" -->
            <input type="hidden" name="ivref" value="<venda_invtref>">
            <input type="hidden" name="param1" value="bulk">
            <input type="hidden" name="param2" value="invt">

            <venda_invtacc template=accMultiSku>
            <div style="clear: both;"></div>

            <div class="js-attributesForm" id="productdetailSet2" style="display: none;">swatch</div> <!-- dropdown, halfswatch, swatch, grid, multiAdd1? -->


            <div class="addAllBox">
                <div><div class="js-buyControlsMulti large-24 columns"></div></div>
                <div class="row">
                    <div class="large-24 columns prod-add">
                        <button type="button" id="<venda_invtuuid>" data-sku="<venda_invtref>" class="success medium button js-addproduct js-addproduct-multi right"><venda_text id=desktop.button.addalltobasket></button>
                    </div>
                </div>
                <venda_block label=freedeliverytext,invtsell&gt;49.99,invtsell=49.99,operator=or>
                <div class="row"><div class="small-24 large-14 columns freedelivery"><span><venda_text id=desktop.info.free_delivery></span></div></div>
                </venda_block label=freedeliverytext>
            </div>
        </form>

    </div>

    <venda_tpxt mode=set,name=parent,value=<venda_invtcatref0>>
    <!-- tpxt used for crumbtrail -->
    <venda_tpxt mode=set,name=invtname,value=<venda_invtname>>
    <!-- tpxt used for recently viewed items -->
    <venda_tpxt mode=set,name=invtref,value=<venda_invtref>>
    <venda_extflds template=extflds,group=1,ref=<venda_invtref>,ivtype=<venda_invtivtype>>
    <venda_inctemplate name=cmDisplayShop5s,type=tracking/coremetrics>
    <venda_tpcomment><!-- end: right hand side --></venda_tpcomment>

</div>

<venda_inctemplate type=includes,name=addedProductNotify>

<venda_tpcomment><!-- start: bottom section, one wide column --></venda_tpcomment>
<div class="row">
    <div class="bottom-section">
        <div class="section youMayLikeBox" >
            <!-- Attraqt Product suggestions -->
 
  <!-- Call page from VCP  -->
                <venda_page page=pdp-productsuggestion>
 <!-- End Call page from VCP -->

     <input type="hidden" data-esp-var="brand" value="<venda_invtbrand>" />
    <input type="hidden" data-esp-var="pdxtcolour" id="pdxtcolour" value="<venda_invtpdxtcolour>" />
    <input type="hidden" data-esp-var="ivtype" id="ivtype" value="<venda_invtivtype>" />
    <input type="hidden" data-esp-var="pdxtstyle" id="pdxtstyle" value="<venda_invtatrpdxtstyle1>" />
            
            <!-- End Product suggestions -->
         </div>

        <div class="section moreProductBox" style="display:none;">
            <!-- Products Slider Box -->
            <p class="titleline"><span><venda_text id=desktop.heading.more_products></span></p>
            <div class="product-slider">
                <venda_search template=morethiscategory,parentCategoryRef=<venda_invtcatref0>,perpage=12,sort=release,order=desc>
            </div>
        </div>

        <div class="section recentlyViewBox" style="display:none;">
            <!-- RVI -->
            <p class="titleline"><span><venda_text id=desktop.heading.recently_viewed_items></span></p>
            <venda_inctemplate name=recentlyViewedProductDetailSlider,type=widgets>
        </div>
    </div>
</div>
<venda_tpcomment><!-- end: Section bottom --></venda_tpcomment>

</venda_block label=login>