<venda_detblock><venda_inventory ref=<venda_ref>,temp=irecssearch,displayunpublished=1></venda_detblock>
<div class="vbm-recs">
    <p class="titleline"><span><venda_text id=desktop.heading.you_may_like></span></p>
    <ul id="vbmSlider" class="slider js-slider small-block-grid-2" data-display="4" data-direction="horizontal" data-slidenum="4" data-duration="0.5" data-viewmore="<venda_text id=desktop.button.view_more_products>" data-viewless="<venda_text id=desktop.button.view_less_products>">
        <venda_detail>
    </ul>
</div>

<script>
jQuery(document).ready(function() {
    var paramsearch=jQuery('#tag-searchkeyword').text();
    var items = jQuery('.vbmproduct a'),
        toAttach = 'VBMST=' + paramsearch;
    for (var i = 0, l = items.length; i < l; i++) {
        items[i].href = ( (items[i].href).indexOf('?') < 0 ) ? ( items[i].href + '?' + toAttach ) : ( items[i].href + '&' + toAttach );
    }
});
</script>