<venda_tpcomment><!-- only need to call cloudzoom here, not sitewide --></venda_tpcomment>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/external/cloudzoom.js"></script>
<script type="text/javascript" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/js/Venda/Widget/handleCloudzoom.js"></script>

<venda_tpcomment><!-- tag values used for tell a friend, emwbis, write and read a review popups --></venda_tpcomment>
<div id="tempLightbox" style="display:none;"><venda_tpcomment><!-- NEEDED for temporary storage of lightbox content --></venda_tpcomment></div>
<venda_tpcomment><!-- tag values used for tell a friend, emwbis, write and read a review popups --></venda_tpcomment>
<div id="tag-qtymsg" style="display:none;"><venda_text id=desktop.validation.qty></div>
<div id="tag-ebizref" style="display:none;"><venda_setting type=ebiz,name=ref></div>
<div id="tag-ebizurl" style="display:none;"><venda_ebizurl></div>
<div id="tag-invtref" style="display:none;"><venda_invtref></div>
<div id="tag-invtname" style="display:none;"><venda_invtname></div>
<div id="tag-currsym" style="display:none;"><venda_currsym></div>

<venda_tpcomment><!-- Dictionary translations required for attributes JS --></venda_tpcomment>
<div id="attributes-stockNA" style="display:none;"><venda_text id=desktop.validation.selection_not_available></div>
<div id="attributes-stockOut" style="display:none;"><venda_text id=desktop.validation.selection_out_of_stock></div>
<div id="attributes-productselected" style="display:none;"><venda_text id=desktop.validation.you_have_selected></div>
<div id="attributes-productstatus" style="display:none;"><venda_text id=desktop.validation.please_select_colon></div>
<div id="attributes-only" style="display:none;"><venda_text id=desktop.validation.only></div>
<div id="attributes-left" style="display:none;"><venda_text id=desktop.validation.left></div>
<div id="attributes-optionDefault" style="display:none;"><venda_text id=desktop.validation.please_select_multi_dot></div>
<div id="attributes-tooltip" style="display:none;"><venda_text id=desktop.validation.is_out_of_stock></div>
<div id="attributes-backorder" style="display:none;"><venda_text id=desktop.validation.backorder_text></div>
<div id="attributes-preorder" style="display:none;"><venda_text id=desktop.validation.preorder_text></div>
<div id="attributes-quantity" style="display:none;"><venda_text id=desktop.validation.enter_quantity></div>
<div id="attributes-chooseVariant" style="display:none;"><venda_text id=desktop.validation.choose_variant></div>
<div id="attributes-addThisProduct" style="display:none;"><venda_text id=desktop.validation.add_this_product></div>
<div id="attributes-addAllProduct" style="display:none;"><venda_text id=desktop.validation.add_all_product></div>
<div id="attributes-noneChecked" style="display:none;"><venda_text id=desktop.validation.none_checked></div>

<venda_tpcomment><!-- VCP switch settings required for attributes JS --></venda_tpcomment>
<div id="OutOfStockThreshold" style="display: none;"><venda_setting type=ebiz,name=emailmebackthreshold></div><venda_tpcomment><!-- Out of Stock Threshold --></venda_tpcomment>
<div id="DoNotBackorder" style="display: none;"><venda_setting type=ebiz,name=nobackorderedinclude></div><venda_tpcomment><!-- Do not dispatch backordered items (checked == no backorder)--></venda_tpcomment>
<div id="emwbisType" style="display: none;"><venda_setting type=ebiz,name=emailmebackcriteria></div><venda_tpcomment><!-- Email me when back in stock criteria (ETA / Release Dates): 4 options: none, eta, release, eta and etarelease --></venda_tpcomment>
<div id="stockchecking_basket" style="display: none;"><venda_setting type=ebiz,name=stockchecking_basket></div><venda_tpcomment><!-- Confirm Stock Availability at basket --></venda_tpcomment>
<div id="stockchecking_orderconfirm" style="display: none;"><venda_setting type=ebiz,name=stockchecking_orderconfirm></div><venda_tpcomment><!-- Confirm Stock Availability at Confirm screen --></venda_tpcomment>

<venda_tpcomment><!-- div id 'invt_popup' is used to show the Tell A Friend, Write A Review, Read A Review and Email Me When Back In Stock features in a popup div --></venda_tpcomment>
<div id="invt_popup"></div>

<venda_block label=50,mode=value,<venda_setting type=ebiz,name=powerreviews>=1,<venda_setting type=ebiz,name=powerreviewsproddetail>=1>
<venda_tpcomment><!-- Required for PowerReviews --></venda_tpcomment>
<script type="text/javascript">
<venda_inctemplate type=includes,name=powerreviewscripts>
var pr_page_id = '<venda_invtref>';
var pr_write_review='<venda_dispview invt=<venda_invtref>>?temp=submitpowerreview&pageId=<venda_invtref>&layout=2column';
var pr_read_review='javascript:readReview()';
function readReview(){
    jQuery("#readreviewdisplay").toggle();
    location.hash = '#readreview';
}
</script>
</venda_block label=50>

<div class="row">

    <venda_tpcomment><!-- start: left hand side (picture) --></venda_tpcomment>
    <div class="large-11 columns">
        <div id="image_<venda_invtuuid>" class="prod-detail-image">
            <div id="productdetail-image">
                <venda_block label=10,med-medium=notnull>
                <img class="cloudzoom" id ="zoom1" src="<venda_media rec=invt,type=pict,key=medium,img=no>" data-cloudzoom="zoomImage: '<venda_media rec=invt,type=pict,key=large,img=no>',zoomPosition: 'inside'">
                </venda_block label=10>
                <venda_block label=11,med-medium=null>
                <img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/no_image_medium.gif" alt="<venda_text id=desktop.info.no_product_image>">
                </venda_block label=11>
            </div>
            <div id="productdetail-swap" style="display:none;"></div>
            <div id="productdetail-viewlarge" class="hide-for-small"></div>
        </div>
        <div id="productdetail-altview" class="prod-detail-slider js-slider" data-display="4" data-direction="horizontal" data-slidenum="1" data-duration="0.5" data-equalheight=""></div>
        <venda_inctemplate name=alternateviewScript,type=invt>
        <venda_tpcomment><!-- start: productCycling V2 --></venda_tpcomment>
        <venda_category temp=productCycling,rec=icat,ref=<venda_curcatref>,center_on=<venda_invtref>,itemsperpage=3>
        <venda_tpcomment><!-- end: productCycling --></venda_tpcomment>
    </div>
    <venda_tpcomment><!-- end: left hand side (picture) --></venda_tpcomment>

    <div class="large-12 end columns">
        <h1 id="comp-name<venda_invtref>" itemprop="name"><venda_invtname></h1>
        <venda_block errors=notnull><h2 class="alert-box alert radius" data-alert=""><venda_errors></h2></venda_block>

        <div class="prod-detail-content js-oneProduct" id="oneProduct_<venda_invtuuid>">
            <div class="js-oneProductContent">
                <form action="<venda_codehttp>" method="get" name="addproductform" id="addproductform">
                <input type="hidden" name="bsref" value="<venda_bsref>">
                <input type="hidden" name="log" value="22">
                <input type="hidden" name="mode" value="add">
                <input type="hidden" name="curpage" value="">
                <input type="hidden" name="next" value="">
                <input type="hidden" name="ex" value="co_wizr-shopcart">
                <input type="hidden" name="buy" value="<venda_invtref>">
                <input type="hidden" name="invt" value="<venda_invtref>">
                <input type="hidden" name="ivref" value="<venda_invtref>">
                <input type="hidden" name="layout">
                <venda_inctemplate type=includes,name=priceFormat>

                <venda_block label=52,mode=value,<venda_setting type=ebiz,name=powerreviews>=1,<venda_setting type=ebiz,name=powerreviewsproddetail>=1>
                <script type="text/javascript" src="<venda_serveradd>/partners/pwr/engine/js/full.js"></script>
                <!-- power reviews snippet for product reviews -->
                <script type="text/javascript">snippet(document);</script>
                </venda_block label=52>

                <venda_invtsku template=subsku>

                <venda_block label=81,invtavail&gt;0>
                <venda_tpcomment><!-- if in stock --></venda_tpcomment>
                <div class="box box-section prod-detail-buttons">
                    <div class="box-header in-stock">
                        <venda_text id=desktop.info.in_stock>
                    </div>
                    <div class="box-body">
                        <venda_block label=31,invtpreorder=notnull>
                        <venda_tpcomment><!-- if future release date --></venda_tpcomment>
                        <p class="nomarg"><venda_text id=desktop.info.not_yet_released></p>
                        <p><venda_text id=desktop.info.release_date></p>
                        </venda_block label=31>
                        <div class="row">
                            <div class="large-8 columns prod-quantity">
                                <div class="row nomarg thinpad-top">
                                    <div class="small-8 large-14 columns"><label for="qty"><venda_text id=desktop.info.qty>: </label></div>
                                    <div class="small-16 large-10 columns"><input name="qty" id="qty" type="number" value="1" size="3" maxlength="3" class="js-qty" ></div>
                                </div>
                            </div>
                            <venda_block label=34,invtpreorder!=1>
                            <div class="large-9 columns prod-add">
                                <venda_tpcomment><!-- Add to basket - change js-addproduct to js-buynow for buy now button --></venda_tpcomment>
                                <button type="submit" class="success radius button expand js-addproduct"><venda_text id=desktop.button.addtobasket></button>
                            </div>
                            </venda_block label=34>
                            <venda_block label=35,invtpreorder=1>
                            <div class="large-16 columns prod-preorder">
                                <venda_tpcomment><!-- pre-order with add to basket functionality (stay on the same page) - remove js-addproduct for buy now button --></venda_tpcomment>
                                <button type="submit" class="success radius button expandjs-preorder js-addproduct"><venda_text id=desktop.button.preorder></button>
                            </div>
                            </venda_block label=35>
                        </div>
                    </div>
                </div>
                </venda_block label=81>
                <venda_block label=26,invtavail&lt;1>
                <venda_tpcomment><!-- if out of stock --></venda_tpcomment>
                <div class="box box-section">
                    <div class="box-header out-of-stock">
                        <venda_text id=desktop.info.out_of_stock>
                    </div>
                    <div class="box-body">
                        <a href="<venda_dispview invt=<venda_invtref>>?temp=emailinstock" title="<venda_text id=desktop.button.email_when_in_stock>" id="emwbis_link" class="button radius expand js-doDialog" rel="nofollow"><venda_text id=desktop.button.email_when_in_stock></a>
                    </div>
                </div>
                </venda_block label=26>
                </form>
            </div>
        </div>

        <venda_block label=219,chkatt=notnull>
            <venda_inctemplate name=attributeData,type=invt>    <venda_tpcomment><!-- Used to load attribute product data--></venda_tpcomment>
            <venda_mediagrid template=alternateviewGrid>        <venda_tpcomment><!-- Used to load attribute media image and image data --></venda_tpcomment>
        </venda_block label=219>

        <venda_inctemplate name=socialBookMarks,type=widgets>

        <venda_tpcomment><!-- start: product detail tabs --></venda_tpcomment>
        <div id="infotab" class="section-container auto" data-section="auto">
            <div class="section active">
                <p class="title" data-section-title><a href="#" title="<venda_text id=desktop.info.description>"><venda_text id=desktop.info.description></a></p>
                <div class="content">
                    <venda_block label=12,invtdesc1=notnull><p class="tab-invtdesc1" itemprop="description"><venda_invtdesc1></p></venda_block label=12>
                    <venda_block label=13,invtdesc2=notnull><p class="tab-invtdesc2"><venda_invtdesc2></p></venda_block label=13>
                    <venda_block label=14,invtdesc3=notnull><p class="tab-invtdesc3"><venda_invtdesc3></p></venda_block label=14>
                    <venda_block label=15,invtdesc4=notnull><p class="tab-invtdesc4"><venda_invtdesc4></p></venda_block label=15>
                </div>
            </div>
            <div class="section">
                <p class="title" data-section-title><a href="#" title="<venda_text id=desktop.info.specification>"><venda_text id=desktop.info.specification></a></p>
                <div class="content">
                    <table class="marg-top" summary="<venda_text id=desktop.info.product_spec_summary>" title="<venda_text id=desktop.info.product_spec_summary>">
                        <tbody>
                        <venda_extflds hideempty=0,realseq=0,template=pdxtDisplay,group=1,ref=<venda_invtref>,ivtype=<venda_invtivtype>>
                        <venda_extflds hideempty=0,realseq=0,template=pdxtDisplay,group=2,ref=<venda_invtref>,ivtype=<venda_invtivtype>>
                        <venda_extflds hideempty=0,realseq=0,template=pdxtDisplay,group=3,ref=<venda_invtref>,ivtype=<venda_invtivtype>>
                        <venda_extflds hideempty=0,realseq=0,template=pdxtDisplay,group=4,ref=<venda_invtref>,ivtype=<venda_invtivtype>>
                        <venda_extflds hideempty=0,realseq=0,template=pdxtDisplay,group=5,ref=<venda_invtref>,ivtype=<venda_invtivtype>>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="section">
                <p class="title" data-section-title><a href="#" title="<venda_text id=desktop.info.delivery>"><venda_text id=desktop.info.delivery></a></p>
                <div class="content"><venda_page page=deliveryproduct></div>
            </div>
            <div class="section">
                <p class="title" data-section-title><a href="#" title="<venda_text id=desktop.info.returns>"><venda_text id=desktop.info.returns></a></p>
                <div class="content"><venda_page page=returnsproduct></div>
            </div>
        </div>
        <venda_tpcomment><!-- end: product details tab --></venda_tpcomment>

        <venda_inctemplate name=alternateviewScript,type=invt>

    <venda_tpxt mode=set,name=parent,value=<venda_invtcatref0>>
    <!-- tpxt used for crumbtrail -->
    <venda_tpxt mode=set,name=invtname,value=<venda_invtname>>
    <!-- tpxt used for recently viewed items -->
    <venda_tpxt mode=set,name=invtref,value=<venda_invtref>>
    <venda_extflds template=extflds,group=1,ref=<venda_invtref>,ivtype=<venda_invtivtype>>
    </div>
</div>

<venda_tpcomment><!-- start: bottom tab, one wide column --></venda_tpcomment>
<div class="row">
    <div id="bottomtab" class="section-container auto" data-section="auto">
        <div class="section active">
            <p class="title" data-section-title><a href="#" title="<venda_text id=desktop.heading.related_products>"><venda_text id=desktop.heading.related_products></a></p>
            <div class="content">
                <!-- related products (predictor or VBM) -->
                <venda_invtrelated limit=4,threshold=2,template=related>
            </div>
        </div>
        <div class="section">
            <p class="title" data-section-title><venda_block label=27,invtacctot&gt;0><a href="#" title="<venda_text id=desktop.heading.accessory_products>"><venda_text id=desktop.heading.accessory_products></a></venda_block label=27></p>
            <div class="content">
                <!-- related products (predictor or VBM) -->
                <venda_block label=27,invtacctot&gt;0><venda_invtacc template=accessories></venda_block label=27>
            </div>
        </div>
        <div class="section">
            <p class="title" data-section-title><venda_block label=29,invtsubtot&gt;0><a href="#" title="<venda_text id=desktop.heading.substitute_products>"><venda_text id=desktop.heading.substitute_products></a></venda_block label=29></p>
            <div class="content">
                <!-- substitutes -->
                <venda_block label=29,invtsubtot&gt;0><venda_invtsub template=substitutes></venda_block label=29>
            </div>
        </div>
        <div class="section">
            <p class="title" data-section-title><a href="#" title="<venda_text id=desktop.heading.recently_viewed_items>"><venda_text id=desktop.heading.recently_viewed_items></a></p>
            <div class="content">
                 <!-- RVI -->
                <venda_inctemplate name=recentlyViewedProductDetailSlider,type=widgets>
            </div>
        </div>
    </div>
</div>
<venda_tpcomment><!-- end: Tab bottom --></venda_tpcomment>
<venda_inctemplate type=includes,name=addedProductNotify>

<venda_block label=568,mode=value,<venda_setting type=ebiz,name=powerreviews>=1,<venda_setting type=ebiz,name=powerreviewsproddetail>=1>
<script type="text/javascript" src="<venda_serveradd>/partners/pwr/engine/js/full.js"></script>
<!-- power review engine function call to read reviews -->
<div class="row">
    <div id="readreviewdisplay" class="large-24 columns" style="display:none;"><a name="readreview"></a>
    <script type="text/javascript">engine(document);</script>
    <div id="#readReview"></div>
    </div>
</div>
</venda_block label=568>