<header id="header" role="banner" class="checkout-header">
    <div class="checkout-header-row-one">
        <div class="row">
            <div class="large-24 columns">
                <div class="logo">
                    <venda_block label=nothome,pageref!=home>
                    <a href="<venda_ebizurl>"><h1><img id="logo" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/logo.png" alt="<venda_ebizname>"></h1></a>
                    </venda_block label=nothome>
                    <venda_block label=home,pageref=home>
                    <h1><img id="logo" src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/logo.png" alt="<venda_ebizname>"></h1>
                    </venda_block label=home>
                </div>

                <div class="pcilogo right">
                    <div class="right">
                        <a href="http://www.venda.com/pci-compliance-certificate?referer=<venda_serveradd>" class="pcilink js-windowOpen" rel="console,590,660" target="_blank" title="<venda_text id=pcilogotitle>"><img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/pcilogo.png" alt="<venda_text id=pcilogoalt>" /></a>
                    </div>
                    <p class="secure-text hide-for-small"><span><venda_text id=desktop.info.secure_checkout></span></p>
                    <p class="help-text hide-for-small"><span><venda_text id=desktop.info.header_help></span></p>
                    <p class="help-text show-for-small"><span><a href="<venda_dispview pcat=help>" data-layout="staticpopup" class="js-doDialog" target="_blank"><venda_text id=desktop.button.help_and_info></a></span></p>
                </div>
            </div>
        </div>
    </div>
</header>
<nav class="row collapse checkout-nav">
    <div class="small-12 columns">
        <venda_block label=111,pageref!=home><a href="<venda_dispview page=home>" title="<venda_ebizname>"></venda_block label=111><span><venda_text id=desktop.button.home></span><venda_block label=112,pageref!=home></a></venda_block label=112>
    </div>
    <div class="small-12 columns text-right">
        <a href="<venda_dispview pcat=help>" data-layout="staticpopup" class="js-doDialog" target="_blank"><venda_text id=desktop.button.help_and_info></a>
    </div>
</nav>
<div class="step-indicator-wrapper row"><venda_inctemplate name=checkoutStepIndicators,type=mainIncludes></div>
