<div id="tag-invtatrminsubsell" style="display:none;"><venda_invtatrminsubsell></div>
<div id="tag-invtatrmaxsubsell" style="display:none;"><venda_invtatrmaxsubsell></div>
<div id="tag-msg_giftcert_greater_than" style="display:none;"><venda_text id=mobile.validation.giftcert_greater_than></div>
<div id="tag-msg_giftcert_less_than" style="display:none;"><venda_text id=mobile.validation.giftcert_less_than></div>

<div itemscope itemtype="http://schema.org/Product" class="row productdetail">

    <venda_tpcomment><!-- start: left hand side (picture) --></venda_tpcomment>
    <div class="large-11 columns">
        <div class="prod-image-altview">
            <div id="image_<venda_invtuuid>" class="prod-detail-image">
                <div class="js-productdetail-swipe" style="display:none;"><div class="swipetext"><venda_text id=desktop.info.swipetext></div></div>
                <div id="productdetail-image" class="large-24">
                    <venda_block label=10,med-medium=notnull>
                    <img class="cloudzoom" id ="zoom1" src="<venda_media rec=invt,type=movie-swf-pict,key=medium,img=no>" alt="<venda_invtname>" data-cloudzoom="zoomImage: '<venda_media rec=invt,type=movie-swf-pict,key=large,img=no>', disableZoom : 'auto'">
                    </venda_block label=10>
                    <venda_block label=11,med-medium=null>
                    <img src="<venda_entmediaadd>/ebiz/<venda_bsref>/resources/images/no_image_medium.gif" alt="<venda_text id=desktop.info.no_product_image>">
                    </venda_block label=11>
                </div>
                <div id="productdetail-viewlarge" class="viewlarge marg-top hide-for-small"></div>
            </div>
        </div>
    </div>
   <div class="large-13 end columns thickpad">
		<h1><venda_text id=desktop.heading.gift_certificates></h1>
		<venda_block label=1,errors=notnull><h2 class="alert-box alert radius" data-alert=""><venda_errors></h2></venda_block label=1>
        <p><venda_text id=desktop.info.gift_certificates_1></p>
        <p><venda_text id=desktop.info.gift_certificates_2></p>

		<form method="post" enctype="multipart/form-data" name="giftcertificatesform" action="#" id="giftcertificatesform">
		<input type="hidden" name="ex" value="co_wizr-giftcertificates" />
		<input type="hidden" name="step" value="next" />
		<input type="hidden" name="mode" value="process" />
		<input type="hidden" name="param1" value="" />
		<input type="hidden" name="param2" value="" />
		<input type="hidden" name="param3" value="" />
		<input type="hidden" name="check" value="" />
		<input type="hidden" name="trrfnbr" value="" />
		<input type="hidden" name="wizard" value="shopcart" />
		<input type="hidden" name="trrfext" value="<venda_block label=15,mode=value,<venda_protocol>=https>1</venda_block label=15>" />
		<input type="hidden" name="curstep" value="giftcertificate" />
		<input type="hidden" name="workflowid" value="<venda_workflowid>" />
		<input type="hidden" name="textcount" value="" />

		<venda_tpcomment><!-- Start: Recipient Details --></venda_tpcomment>
		<fieldset>
			<div class="row">
				<div class="large-10 columns"><label class="inline right" for="to"><venda_text id=desktop.form.recipient_name>: <venda_text id=desktop.form.required></label></div>
				<div class="large-14 columns"><input type="text" autocorrect="off" name="to" id="to" value="<venda_to>"></div>
			</div>
			<div class="row">
				<div class="large-10 columns"><label class="inline right" for="email"><venda_text id=desktop.form.recipient_email>: <venda_text id=desktop.form.required></label></div>
				<div class="large-14 columns"><input type="email" name="email" id="email" value="<venda_email>"></div>
			</div>
			<div class="row">
				<div class="large-10 columns"><label class="inline right" for="amount"><venda_text id=desktop.form.giftcert_amount>: <venda_text id=desktop.form.required></label></div>
				<div class="large-14 columns">
                    <input type="text" maxlength="3" size="3" name="amount" id="amount" value="<venda_amount>">
                    <p class="helptext"><venda_text id=site.gift_certificates.amount_instructions></p>
                </div>
			</div>
		</fieldset>
		<div class="large-14 push-10 pad-side">
		</div>
        <p><venda_text id=desktop.info.gift_certificates_3></p>
		<venda_tpcomment><!-- End: Recipient Details --></venda_tpcomment>

		<venda_tpcomment><!-- Start: Your Details --></venda_tpcomment>
		<fieldset>
			<div class="row">
				<div class="large-10 columns">
                    <label class="inline right" for="comment"><venda_text id=desktop.form.your_message>: <venda_text id=desktop.form.required></label>
                </div>
				<div class="large-14 columns">
                    <textarea data-textmsg="giftcert" name="comment" id="comment" cols="25" rows="5"><venda_comment></textarea>
				    <p class="helptext"><venda_text id=desktop.info.characters_remaining> [ <span class="js-textMsgCount-giftcert js-textCount">250</span> ]</p>
                </div>
			</div>

			<div class="row">
				<div class="large-10 columns"><label class="inline right" for="from"><venda_text id=desktop.form.your_name>: <venda_text id=desktop.form.required></label></div>
				<div class="large-14 columns"><input type="text" autocorrect="off" name="from" id="from" value="<venda_block ustype=R><venda_userinfo><venda_sesfname> <venda_seslname></venda_userinfo></venda_block><venda_block ustype!=R,from=notnull><venda_from></venda_block>"></div>
			</div>
		</fieldset>
		<venda_tpcomment><!-- End: Your Details --></venda_tpcomment>

		<div class="box box-section prod-detail-buttons">
			<div class="box-body">
                <venda_tpcomment><!-- Start: Terms and Conditions --></venda_tpcomment>
                <input type="hidden" name="giftcerttandc" id="giftcerttandc" value="1">
                <p><venda_text id=desktop.info.gift_certificates_agree_terms> <a href="<venda_dispview page=terms>" class="js-doDialog" target="_blank" title="<venda_text id=desktop.button.terms_and_conditions>"><venda_text id=desktop.button.terms_and_conditions></a>.</p>
                <venda_tpcomment><!-- End: Terms and Conditions --></venda_tpcomment>
            </div>
            <div class="box-body text-right"><input type="submit" value="<venda_text id=desktop.button.continue>" class="success button"></div>
		</div>
		</form>
   </div>

</div><!-- end: div class=row productdetail -->

<!--
template: templates/invt/productdetailGiftcert/productdetailGiftcert.html
-->