<table summary="<venda_text id=desktop.info.payment_info_summary>" title="<venda_text id=desktop.info.payment_info_title>" class="small-24 large-20 text-left">
<tr>
    <th scope="row"><div><venda_text id=desktop.form.card_number></div></th>
    <td class="text-right"><div><venda_ohccnum></div></td>
</tr>
<tr>
    <th scope="row"><div><venda_text id=desktop.info.card_name></div></th>
    <td class="text-right"><div><venda_ohccname></div></td>
</tr>
<venda_block label=212,expires=notnull>
<tr>
    <th scope="row"><div><venda_text id=desktop.info.expiry_date></div></th>
    <td class="text-right"><div><venda_expires></div></td>
</tr>
</venda_block label=212>
<venda_block label=211,ohccissue=notnull>
<tr>
    <th scope="row"><div><venda_text id=desktop.info.card_issue></div></th>
    <td class="text-right"><div><venda_ohccissue></div></td>
</tr>
</venda_block label=211>
</table>