<venda_detblock_pageslist>
	<venda_block label=1111,mode=value,<venda_currentpage>=<venda_number>>
		<li class="current"><p class="page-button js-pagn-<venda_number>"><venda_number></p></li>
	</venda_block label=1111>
	<venda_block label=1112,mode=value,<venda_currentpage>!=<venda_number>>
		<li class="notcurrent"><a href="<venda_baseurl>&setpagenum=<venda_number><venda_block label=1128,mode=value,<venda_pgn_isviewall>=1>&isviewall=1</venda_block label=1128>&perpage=<venda_perpage>" class="page-button js-updatesearch js-pagn-<venda_number>" title="<venda_text id=desktop.info.pagn_go_to_page_y>"><venda_number></a></li>
	</venda_block label=1112>
</venda_detblock_pageslist>

<div class="row  js-scroll-hide view-sort-pagn">
    <div class="small-9 large-9 columns view">
        <div class="large-15 small-8 columns"><label class="inline"><span class="pagn-text-products-found"><venda_text id=desktop.info.total_products_found></span><span class="pagn-text-view"><venda_text id=desktop.form.view></span></label></div>
        <div class="large-9 small-16 columns js-custom">
            <select name="perpagedpd" id="perpagedpd">

            <venda_block label=30,mode=value,<venda_setting type=ebiz,name=setitemsperpage1dropdownsearch>=notnull><option value="<venda_pgn_baseurl>&setpagenum=1&perpage=<venda_setting type=ebiz,name=setitemsperpage1dropdownsearch>" <venda_block label=71,mode=value,<venda_pgn_perpage>=<venda_setting type=ebiz,name=setitemsperpage1dropdownsearch>> selected</venda_block label=71>><venda_setting type=ebiz,name=setitemsperpage1dropdownsearch></option></venda_block label=30>
            <venda_block label=31,mode=value,<venda_setting type=ebiz,name=setitemsperpage2dropdownsearch>=notnull><option value="<venda_pgn_baseurl>&setpagenum=1&perpage=<venda_setting type=ebiz,name=setitemsperpage2dropdownsearch>" <venda_block label=72,mode=value,<venda_pgn_perpage>=<venda_setting type=ebiz,name=setitemsperpage2dropdownsearch>> selected</venda_block label=72>><venda_setting type=ebiz,name=setitemsperpage2dropdownsearch></option></venda_block label=31>
            <venda_block label=32,mode=value,<venda_setting type=ebiz,name=setitemsperpage3dropdownsearch>=notnull><option value="<venda_pgn_baseurl>&setpagenum=1&perpage=<venda_setting type=ebiz,name=setitemsperpage3dropdownsearch>" <venda_block label=73,mode=value,<venda_pgn_perpage>=<venda_setting type=ebiz,name=setitemsperpage3dropdownsearch>> selected</venda_block label=73>><venda_setting type=ebiz,name=setitemsperpage3dropdownsearch></option></venda_block label=32>
            <venda_block label=33,mode=value,<venda_setting type=ebiz,name=setitemsperpage4dropdownsearch>=notnull><option value="<venda_pgn_baseurl>&setpagenum=1&perpage=<venda_setting type=ebiz,name=setitemsperpage4dropdownsearch>" <venda_block label=74,mode=value,<venda_pgn_perpage>=<venda_setting type=ebiz,name=setitemsperpage4dropdownsearch>> selected</venda_block label=74>><venda_setting type=ebiz,name=setitemsperpage4dropdownsearch></option></venda_block label=33>
            <venda_block label=34,mode=value,<venda_setting type=ebiz,name=setitemsperpage5dropdownsearch>=notnull><option value="<venda_pgn_baseurl>&setpagenum=1&perpage=<venda_setting type=ebiz,name=setitemsperpage5dropdownsearch>" <venda_block label=75,mode=value,<venda_pgn_perpage>=<venda_setting type=ebiz,name=setitemsperpage5dropdownsearch>> selected</venda_block label=75>><venda_setting type=ebiz,name=setitemsperpage5dropdownsearch></option></venda_block label=34>
            <venda_block label=35,mode=value,<venda_setting type=ebiz,name=setitemsperpage6dropdownsearch>=notnull><option value="<venda_pgn_baseurl>&setpagenum=1&perpage=<venda_setting type=ebiz,name=setitemsperpage6dropdownsearch>" <venda_block label=76,mode=value,<venda_pgn_perpage>=<venda_setting type=ebiz,name=setitemsperpage6dropdownsearch>> selected</venda_block label=76>><venda_setting type=ebiz,name=setitemsperpage6dropdownsearch></option></venda_block label=35>
            </select>
        </div>
    </div>
    <div class="small-6 large-8 columns sort">
        <form>
            <div class="row collapse search-sort">
                <div class="large-7 columns hide-for-small"><label for="sortby" class="inline"><!--venda_text id=desktop.info.sortby>:--></label></div>
                <div class="large-17 columns js-custom">
                    <select name="sortby" id="sortby">
                        <!--venda_block label=12,mode=value,<venda_setting type=ebiz,name=sortrelevantfirst>=1>
                            <option value="<venda_searchurl sort=,setpagenum=1>"><venda_text id=desktop.info.sortby_relevance></option>
                        </venda_block label=12-->
                        <option value="<venda_searchurl sort=,setpagenum=1>"><venda_text id=desktop.info.sortby></option>
                        <venda_detail_sortedby options=release~desc;price~desc:asc;brand~asc:desc>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <venda_block label=4,mode=value,<venda_pgn_totalpages>&gt;1>
	<div class="large-7 small-9 columns nopad pagn">
		<ul class="pagn-pages button-group">
			<!-- show the previous link-->
            <venda_block label=firstpageshowprev,mode=value,<venda_pgn_currentpage>=1>
                <li class="pagn-prev"><span class="page-button no-link"><i class="icon-left-marker"></i></span></li>
            </venda_block label=firstpageshowprev>
			<venda_block label=1117,mode=value,<venda_pgn_currentpage>&gt;1>
				<li class="pagn-prev"><a class="page-button js-updatesearch" href="<venda_pgn_baseurl>&setpagenum=<venda_pgn_previouspage><venda_block label=1129,mode=value,<venda_pgn_isviewall>=1>&isviewall=1</venda_block label=1129>&perpage=<venda_pgn_perpage>" title="<venda_text id=desktop.info.pagn_page_go_previous>"><i class="icon-left-marker"></i></a></li>
			</venda_block label=1117>

			<venda_tpcomment><!--
            As per design that using the different window size number but ...
            we can't put two <venda_detail_pageslist> here (although having a condition around its)
            workaround solution: split the templates as below.
            --></venda_tpcomment>

            <venda_block label=firstlastpage,mode=value,<venda_pgn_currentpage>=1,<venda_pgn_currentpage>=<venda_pgn_totalpages>,operator=or>
                <venda_pagination template=firstlastpage>
            </venda_block label=firstlastpage>

            <venda_block label=otherpages,mode=value,<venda_pgn_currentpage>&gt;1,<venda_pgn_currentpage>!=<venda_pgn_totalpages>>
                <venda_pagination template=otherpages>
            </venda_block label=otherpages>

			<venda_block label=999,mode=value,<venda_pgn_isviewall>!=1>
				<venda_block label=1122,mode=value,<venda_setting type=ebiz,name=showsearchviewall>=1,<venda_pgn_totalpages>&gt;1>
					<venda_tpcomment><!-- show 'view all' link --></venda_tpcomment>
					<li>
						<venda_block label=1125,mode=value,<venda_setting type=ebiz,name=setsearchviewallvalue>=notnull>
							<venda_block label=1123,mode=value,<venda_pgn_totalitems>&lt;<venda_setting type=ebiz,name=setsearchviewallvalue>,<venda_pgn_totalitems>=<venda_setting type=ebiz,name=setsearchviewallvalue>,operator=or>
								<a class="js-updatesearch" href="<venda_pgn_baseurl>&setpagenum=1&isviewall=1&perpage=<venda_pgn_totalitems>" title="<venda_text id=desktop.button.viewall>"><venda_text id=desktop.button.viewall></a>
							</venda_block label=1123>
							<venda_block label=1124,mode=value,<venda_pgn_totalitems>&gt;<venda_setting type=ebiz,name=setsearchviewallvalue>>
								<a class="js-updatesearch" href="<venda_pgn_baseurl>&setpagenum=1&isviewall=1&perpage=<venda_setting type=ebiz,name=setsearchviewallvalue>" title="<venda_text id=desktop.button.viewallmax>"><venda_text id=desktop.button.viewallmax></a>
							</venda_block label=1124>
						</venda_block label=1125>
					</li>
				</venda_block label=1122>
			</venda_block label=999>

			<!--show the next page -->
			<venda_block label=1116,mode=value,<venda_pgn_currentpage>&lt;<venda_pgn_totalpages>>
				<li class="pagn-next"><a class="page-button js-updatesearch" href="<venda_pgn_baseurl>&setpagenum=<venda_pgn_nextpage><venda_block label=1132,mode=value,<venda_pgn_isviewall>=1>&isviewall=1</venda_block label=1132>&perpage=<venda_pgn_perpage>" title="<venda_text id=desktop.info.pagn_page_go_next>"><i class="icon-right-marker"></i></a></li>
			</venda_block label=1116>
            <venda_block label=lastpageshownext,mode=value,<venda_pgn_currentpage>=<venda_pgn_totalpages>>
                <li class="pagn-next"><span class="page-button no-link"><i class="icon-right-marker"></i></span></li>
            </venda_block label=lastpageshownext>
		</ul>
	</div>
    </venda_block label=4>
    <venda_block label=5,mode=value,<venda_pgn_totalpages>=1>
    <div class="large-7 small-9 columns"></div>
    </venda_block label=5>

</div>

<venda_tpcomment><!-- the following glxt is needed for Recent Search History, please do not remove --></venda_tpcomment>
<!-- <venda_glxt mode=set,name=currentpage,value=<venda_pgn_currentpage>> -->
<venda_tpcomment><!-- the following tpxt is needed for Search Results page, please do not remove --></venda_tpcomment>
<venda_block label=6,pgn_totalpages=1,pgn_currentpage=1,operator=or><venda_tpxt mode=set,name=currentpage,value=1></venda_block label=6>
<!--
	windowstartpage - <venda_pgn_windowstartpage>
	windowendpage   - <venda_pgn_windowendpage>
-->
