<venda_detblock>
  <!--  <li><venda_pageref1></li> -->
    <li><a href="<venda_dispview page=<venda_pageref1>>"><venda_pagename1></a></li>
   
</venda_detblock>
 
 
<h2><venda_pcatname></h2>
<ul>
<venda_detail>
 
</ul>
