<div id="passwordreset" class="row">

    <div class="small-24 columns large-16 push-2">
        <div>
            <h1><venda_text id=desktop.heading.password_reset></h1>
            <venda_block errors=notnull><h2 class="alert-box alert radius" data-alert=""><venda_errors></h2></venda_block>
            <p><venda_text id=desktop.info.password_reset></p>
        </div>
        <form action="<venda_form_target>" method="post" id="passwordresetform">
            <venda_token field=hidden>
            <fieldset>
                <div class="row">
                    <div class="large-6 columns"><label for="uspswd" class="inline right hide-for-small"><venda_text id=desktop.form.password> <span class="hidescreenreadersafe"><venda_text id=desktop.form.required></span></label></div>
                    <div class="large-18 columns pword"><input type="password" name="password" id="password" value="" maxlength="25" required="required" /></div>
                </div>
                <div class="row">
                    <div class="large-6 columns"><label for="uspswd2" class="inline right hide-for-small"><venda_text id=desktop.form.verify_password> <span class="hidescreenreadersafe"><venda_text id=desktop.form.required></span></label></div>
                    <div class="large-18 columns pword"><input type="password" name="password2" id="password2" value=""></div>
                </div>
            </fieldset>
            <div><venda_tpcomment><!-- Cancel link needs to go to correct workflow - there is no way of determining this right now --></venda_tpcomment>
                <a href="<venda_codehttps>?ex=co_wizr-register&bsref=<venda_bsref>&step=login" class="button" id="cancelreminder"><venda_text id=desktop.button.cancel></a>
                <input type="submit" value="<venda_text id=desktop.button.password_reset>" id="passwordsent" class="button right" />
            </div>
        </form>
    </div>

<venda_tpxt mode=set,name=trackingstep,value=passwordreset>
<venda_inctemplate name=workflowSteps,type=tracking/shared>
<venda_tpcomment><!-- Used for html title --></venda_tpcomment>
<venda_tpxt mode=set,name=title,value=<venda_text id=desktop.heading.password_reset>>
</div>
