<div class="js-custom">
    <h1><venda_text id=desktop.heading.newsletter_signup></h1>
    <p><venda_text id=desktop.info.newsletter_signup></p>
    <venda_block errors=notnull><h2 class="alert-box alert radius" data-alert=""><venda_errors></h2></venda_block>
    <form method="post" name="<venda_workflow>" action="<venda_codehttp>" id="<venda_workflow>form">
        <input type="hidden" name="ex" value="co_wizr-<venda_workflow>" />
        <input type="hidden" name="step" value="confirm" />
        <input type="hidden" name="mode" value="process" />
        <input type="hidden" name="workflowid" value="<venda_workflowid>" />
        <input type="hidden" name="trrfnbr" value="<venda_trrfnbr>" />
        <input type="hidden" name="curstep" value="details" />
        <input type="hidden" name="bsref" value="<venda_bsref>">
        <input type="hidden" name="PrimaryForm">
        <input type="hidden" name="ustype" value="P">

        <input type="hidden" name="param1" value="comingsoon">
        <input type="hidden" name="curlayout" value="comingsoon">
        <input type="hidden" name="layout" value="default">
        <input type="hidden" value="1" name="blkpostform" id="blkpost">
        <input type="hidden" value="1" name="blksmsform" id="blksms">
        <input type="hidden" value="4" name="log">

        <label for="usxthotarrivals"><input type="checkbox" name="usxthotarrivals" id="usxthotarrivals" class="require-one" value="1"> <venda_text id=desktop.info.agree.get_news></label>

        <label for="usxthomesense"><input type="checkbox" name="usxthomesense" id="usxthomesense" class="require-one" value="1"> <venda_text id=desktop.info.agree.friend_of_homesense></label>

        <div class="panel">
            <div class="row">
                <div class="large-6 columns"><label for="usemail" class="inline"><venda_text id=desktop.form.email_label>:<span class="star">*</span></label></div>
                <div class="large-18 columns"><input type="email" name="usemail" id="usemail" value="" maxlength="150" required="required" /></div>
            </div>

            <div class="row">
                <div class="large-6 columns"><label for="confirmmail" class="inline"><venda_text id=desktop.form.email_confirmation>:<span class="star">*</span></label></div>
                <div class="large-18 columns"><input type="email" name="confirmmail" id="confirmmail" maxlength="150" required="required" /></div>
            </div>

            <div class="row">
                <div class="large-6 columns"><label for="fname" class="inline"><venda_text id=desktop.form.fname>:<span class="star">*</span></label></div>
                <div class="large-18 columns"><input type="text" autocorrect="off" name="fname" id="fname" value="" maxlength="30" required="required" autofocus="autofocus" /></div>
            </div>

            <div class="row">
                <div class="large-6 columns"><label for="lname" class="inline"><venda_text id=desktop.form.lname>:<span class="star">*</span></label></div>
                <div class="large-18 columns"><input type="text" autocorrect="off" name="lname" id="lname" value="" maxlength="30" required="required" /></div>
            </div>

            <div class="row">
                <div class="large-6 columns"><label for="usxtgender" class="inline"><venda_text id=desktop.form.usxtgender>:</label></div>
                <div class="large-18 columns">
                    <select id="usxtgender" name="usxtgender">
                        <option value="" selected><venda_text id=desktop.form.please_select_multi_dot></option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="large-6 columns">
                    <label for="remday1" class="inline"><venda_text id=desktop.form.date_of_birth>:</label></div>
                    <div class="large-18 columns">
                        <div class="row">
                            <div class="columns large-5 small-12">
                                <select id="remday1" name="remday1">
                                    <option value="" selected>---</option>
                                    <option value="1">01</option>
                                    <option value="2">02</option>
                                    <option value="3">03</option>
                                    <option value="4">04</option>
                                    <option value="5">05</option>
                                    <option value="6">06</option>
                                    <option value="7">07</option>
                                    <option value="8">08</option>
                                    <option value="9">09</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                    <option value="18">18</option>
                                    <option value="19">19</option>
                                    <option value="20">20</option>
                                    <option value="21">21</option>
                                    <option value="22">22</option>
                                    <option value="23">23</option>
                                    <option value="24">24</option>
                                    <option value="25">25</option>
                                    <option value="26">26</option>
                                    <option value="27">27</option>
                                    <option value="28">28</option>
                                    <option value="29">29</option>
                                    <option value="30">30</option>
                                    <option value="31">31</option>
                                </select>
                            </div>
                            <div class="columns large-5 small-12">
                                <select id="remmonth1" name="remmonth1">
                                    <option value="" selected>---</option>
                                    <option value="January">January</option>
                                    <option value="February">February</option>
                                    <option value="March">March</option>
                                    <option value="April">April</option>
                                    <option value="May">May</option>
                                    <option value="June">June</option>
                                    <option value="July">July</option>
                                    <option value="August">August</option>
                                    <option value="September">September</option>
                                    <option value="October">October</option>
                                    <option value="November">November</option>
                                    <option value="December">December</option>
                                </select>
                            </div>
                        <div class="columns large-14 nopad"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="large-6 columns"><label for="remday1" class="inline"><venda_text id=desktop.form.country>:<span class="star">*</span></label></div>
                <div class="large-18 columns">
                    <select name="cntry" class="admn_fieldsLarge" id="cntrylist">
                        <option value="">Please Select...</option>
                        <option value="Ireland">Ireland</option>
                        <option value="United Kingdom" selected>United Kingdom</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="large-6 columns"><label for="zipc" class="inline"><venda_text id=desktop.form.postcode>:<span class="star">*</span></label></div>
                <div class="large-18 columns"><input type="text" autocorrect="off" name="zipc" id="zipc" value="" maxlength="20" required="required" autofocus="autofocus" /></div>
            </div>

            <div class="row">
                <div class="large-6 columns"></div>
                <div class="large-18 columns"><venda_text id=desktop.info.newsletter_privacylink></div>
            </div>
        </div>

        <div class="row">
            <div class="large-24 columns text-right marg-bottom">
                <button type="submit" class="button submit success"><venda_text id=desktop.button.email_sign_up></button>
            </div>
        </div>
    </form>
    <script type="text/javascript">
        var phoneOther = /^(\d|\)|\(|\-)*$/;
        jQuery(document).ready(function(){
            var email = Venda.Platform.getUrlParam(location.href, 'email');
            //document.wizformcomform.action = (document.location.protocol == "http:")?"<venda_codehttp>":"<venda_codehttps>";
           // document.wizformcomform.ex.value = (document.location.protocol == "http:")?"co_wizr-comingsoon":"co_wizr-comingsoonhttps";
           // document.wizformcomform.step.value = "confirm";
           // document.wizformcomform.mode.value = "process";
           // document.wizformcomform.trrfext.value = "";
          //  document.wizformcomform.check.value = "";
          //  document.wizformcomform.wizard.value = (document.location.protocol == "http:")?"":"comingsoonhttps";
            if(email) {
                jQuery("input[name=usemail]").val(email);
                jQuery("span#email").html(email);
            }
        });
        cmCreateConversionEventTag();
    </script>
</div>

<venda_tpxt mode=set,name=cstrack,value=yourdetails>