<venda_block label=fax,faxpayment=notnull>
  <fieldset class="f-faxpayment thickmarg-topbottom">
  <legend><venda_text id=desktop.form.faxpayment></legend>
  <div class="fax row">
    <div class="large-24 columns">
      <div class="small-24 large-24 left">
        <label for="faxpayment"><input type="radio" name="payment_id" value="<venda_payment_id>" id="faxpayment"<venda_block label=78,payment_selected=1> checked="checked"</venda_block label=78><venda_block label=24,payment_hide_choice=1> style="display:none"</venda_block label=24>><span class="thinpad-side"><venda_text id=desktop.form.faxpayment></span></label>
      </div>
    </div>
  </div>
  </fieldset>
  <hr>
</venda_block label=fax>

<venda_block label=freeorder,freeorder=notnull>
    <input type="hidden" name="payment_id" value="<venda_payment_id>">
    <div class="freeorder row">
        <div class="large-24 columns">
            <div class="small-24 large-24 box thickpad">
                <p class="freeorder nomarg"><venda_text id=desktop.form.freeorder></p>
            </div>
        </div>
    </div>
    <hr>
</venda_block label=freeorder>

<venda_block label=freereplace,freereplace=notnull>
<input type="hidden" name="payment_id" value="<venda_payment_id>">
<venda_tpcomment><!-- free replacement used in VCP only --></venda_tpcomment>
</venda_block label=freereplace>

<venda_block label=manual,manual=notnull>
    <fieldset class="f-manualpayment thickmarg-topbottom">
    <legend><venda_text id=desktop.info.manualpayment></legend>
    <div class="manual row">
        <div class="large-24 columns">
          <label for="manualpayment"><input type="radio" name="payment_id" value="<venda_payment_id>" id="manualpayment"<venda_block label=45,payment_selected=1> checked="checked"</venda_block label=45><venda_block label=24,payment_hide_choice=1> style="display:none"</venda_block label=24>><span class="thinpad-side"><venda_text id=desktop.form.manualpayment></span></label>
        </div>
    </div>
    </fieldset>
    <hr>
</venda_block label=manual>

<venda_block label=purchaseorder,purchaseorder=notnull>
    <fieldset class="f-purchaseorder thickmarg-topbottom">
    <legend><venda_text id=desktop.info.purchaseorder></legend>
    <div class="po row">
        <div class="large-24 columns">
          <label for="purchaseorder"><input type="radio" name="payment_id" value="<venda_payment_id>" id="purchaseorder"<venda_block label=45,payment_selected=1> checked="checked"</venda_block label=45><venda_block label=24,payment_hide_choice=1> style="display:none"</venda_block label=24>><span class="thinpad-side"><venda_text id=desktop.form.purchaseorder></span></label>
        </div>
    </div>

  <div class="row">
    <div class="large-6 columns">
      <label for="ohponum" class="inline right"><venda_text id=desktop.form.ohponum></label>
    </div>
    <div class="large-18 columns">
      <venda_ohponum field=text,maxlength=15,onfocus="document.getElementById('purchaseorder').checked=true">
    </div>
  </div>

    </fieldset>
    <hr>
</venda_block label=purchaseorder>

<venda_block label=sendpay,sendinpayment=notnull>
    <fieldset class="f-sendinpayment thickmarg-topbottom">
    <legend><venda_text id=desktop.info.sendinpayment></legend>
    <div class="send row">
        <div class="large-24 columns">
          <label for="sendinpayment"><input type="radio" name="payment_id" value="<venda_payment_id>" id="sendinpayment"<venda_block label=65,payment_selected=1> checked="checked"</venda_block label=65><venda_block label=24,payment_hide_choice=1> style="display:none"</venda_block label=24>><span class="thinpad-side"><venda_text id=desktop.form.sendinpayment></span></label>
          <input type="hidden" name="sendpaypaid" id="sendpaypaid" maxlength="6" value="<venda_paymenttotal>">
        </div>
    </div>
    </fieldset>
    <hr>
</venda_block label=sendpay>

<venda_block label=storecredit,storecredit=notnull>
  <input type="hidden" name="scredit_payment_id" value="<venda_payment_id>">
</venda_block label=storecredit>