<venda_detblock>
<li id="nav<venda_icatref1>" class="nav-<venda_icatref1>">
    <a href="<venda_dispview icat=<venda_icatref1>>" id="mm_icat<venda_icatref1>" class="js-mm_icat"><venda_icatname1></a>
    <div class="js-mm-sub">
        <venda_category rec=icat,ref=<venda_icatref1>,temp=catnavSubcategories,itemsperpage=100>
    </div>
</li>
</venda_detblock>

<venda_block label=50,cattot!=>
<ul id="mm_ul" class="mm_ul">
    <venda_detail>
</ul>
</venda_block label=50>