<div id="emailaddresspassword">
<input type="hidden" name="page" value="signin">
<!-- Hit Ext fields need be passed again, if errors are not null -->
<input type="hidden" name="htxt" value="<venda_htxt mode=make,pass=change>">
<!-- pass communication values otherwise these will be reset when the password is changed -->
<input type="hidden" name="blkpost" value="<venda_blkpost>">
<input type="hidden" name="blkemail" value="<venda_blkemail>">
<input type="hidden" name="blksms" value="<venda_blksms>">
<input type="hidden" name="blktrdcomm" value="<venda_blktrdcomm>">
<input type="hidden" name="usmailform" value="<venda_usmailform>">
<input type="hidden" name="title" value="<venda_title>">
<input type="hidden" name="fname" value="<venda_fname>">
<input type="hidden" name="mname" value="<venda_mname>">
<input type="hidden" name="lname" value="<venda_lname>">
<input type="hidden" name="zipc" value="<venda_zipc>">

<div><h1><venda_text id=desktop.heading.edit_email_password></h1></div>
<venda_block label=1,errors=notnull><h2 class="alert-box alert radius" data-alert=""><venda_errors></h2></venda_block label=1>

<venda_tpcomment><!-- Start: Email Address and Password  --></venda_tpcomment>
<fieldset>
	<div class="row">
		<div class="large-6 columns"><label for="usemail" class="inline right"><venda_text id=desktop.form.email></label></div>
		<div class="large-18 columns"><input type="email" name="usemail" id="usemail" value="<venda_usemail>" required="required" /></div>
	</div>
	<hr>
	<venda_block label=5,mode=value,<venda_setting type=ebiz,name=securechangepw>=1>
	<div class="row">
		<div class="large-6 columns"><label for="uspswd0" class="inline right"><venda_text id=desktop.form.current_password></label></div>
		<div class="large-18 columns"><input type="password" name="uspswd0" id="uspswd0" value="" maxlength="16" required="required" /></div>
	</div>
	</venda_block label=5>
	<div class="row">
		<div class="large-6 columns"><label for="uspswd" class="inline right"><venda_text id=desktop.form.enter_new_password></label></div>
		<div class="large-18 columns"><input type="password" name="uspswd" id="uspswd" value="" maxlength="16" required="required" /></div>
	</div>
	<div class="row">
		<div class="large-6 columns"><label for="uspswd2" class="inline right"><venda_text id=desktop.form.verify_new_password> </label></div>
		<div class="large-18 columns"><input type="password" name="uspswd2" id="uspswd2" maxlength="16" value="" /></div>
	</div>
</fieldset>
<venda_tpcomment><!-- End: Email Address and Password  --></venda_tpcomment>
<div id="buttons" class="row thickpad-bottom">
<div class="large-12 columns right text-right marg-bottom"><input type="submit" value="<venda_text id=desktop.button.save_changes>" class="button"></div>
<div class="large-12 columns "><a href="<venda_codehttps>?ex=co_wizr-myaccount" class="button secondary"><venda_text id=desktop.button.my_account></a></div>
</div>
</div>