<table summary="<venda_text id=desktop.info.payment_info_summary>" title="<venda_text id=desktop.info.payment_info_title>" class="small-24 large-20 text-left">
<tr>
    <th scope="row"><div><venda_text id=site.order_receipt.giftcard_number></div></th>
    <td class="text-right"><div><venda_cardnumber></div></td>
</tr>
</table>